<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="/android/css/base.css" rel="stylesheet" type="text/css" />
	<title>{% block title %}{% endblock %}</title>
    <meta name = "viewport" content = "initial-scale = 1, user-scalable = no, width = device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    {% block head_additional %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>