{% extends "android/base.html" %}
{% block title %}{% trans %}Privacy Policy{% endtrans %}{% endblock %}
{% block content %}
<div id="page_wrapper">
    <a href="javascript:history.back()">Back</a>
	{% include "shared/privacy.html" %}
</div>
{% endblock %}