{% extends "android/base.html" %}
{% block title %}Recommend a Venue{% endblock %}
{% block content %}
<div id="page_wrapper">
	<div id="zerved_logo_01"></div>
    <div class="row center recommendavenue">
        <form action="{{ uri_for('recommend') }}" method="post" id="recommendform">
            <p>{% trans %}Tell us where you'd like to get Zerved{% endtrans %}</p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="email" id="customer_email" name="customer_email" placeholder="{% trans %}Your email address{% endtrans %}" required><br />
            <input type="text" id="venue_name" name="venue_name" placeholder="{% trans %}Venue name{% endtrans %}" required><br />
            <input type="text" id="venue_city" name="venue_city" placeholder="{% trans %}Venue city{% endtrans %}" required><br />
            <textarea name="comment" placeholder="{% trans %}A comment if you like...{% endtrans %}" required></textarea>
            <button type="button" class="btn btn-primary pull-right" onclick="submitForm()">{% trans %}Recommend{% endtrans %}</button>
        </form>
    </div>
</div>
<script type="text/javascript">
function submitForm(input) {
    $("#customer_email").toggleClass("input-error", !$("#customer_email").val());
    $("#venue_name").toggleClass("input-error", !$("#venue_name").val());
    $("#venue_city").toggleClass("input-error", !$("#venue_city").val());
    if (!$("#customer_email").val() || !$("#venue_name").val() || !$("#venue_city").val()) {
        return;
    }
    $("#recommendform").submit();
}

$("#customer_email, #venue_name, #venue_city").keyup(function() {
    $(this).toggleClass("input-error", !$(this).val());
});
</script>
{% endblock %}