{% extends "android/base.html" %}
{% block title %}{% trans %}Error{% endtrans %}{% endblock %}
{% block content %}
<div id="errormsg">
	<div id="zerved_logo_01"></div>
	<p>{% trans %}A new version of Zerved is available. Please update and try again.{% endtrans %}</p>
</div>
{% endblock %}