{% extends "merchants/base.html" %}
{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Dashboard{% endtrans %}
        <small>
            {{ format_date(now) }}
        </small>
        <div class="pull-right">
            
            <div class="btn-group">
                <a class="btn btn-success btn-large dropdown-toggle{% if not user_merchant.has_bars %} disabled{% endif %}" data-toggle="dropdown" href="#">
                    {% trans %}Process Orders{% endtrans %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% set multiple_locations = user_merchant.get_locations()|length > 1 %}
                    {% for location in user_merchant.get_locations() %}
                        {% for bar in location.get_bars() %}
                        <li>
                            <a href="{{ uri_for('serve', bar_id=bar.key().id()) }}">{{ bar.name_with_location if multiple_locations else bar.name }}</a>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </h1>
</div>
<div class="row-fluid">
    <div class="span9">
        {% include "merchants/dashboard/news.html" %}
    </div>
    <div class="span3">
        {% include "merchants/dashboard/gettingstarted.html" %}
        {% include "merchants/dashboard/support.html" %}
    </div>
</div>

{% endblock %}