<div class="well">
    <h3>{%trans %}Getting started{% endtrans %}</h3>
    {% if achievements['locations'] == True %}
       <p class="text-success" style="text-decoration:line-through"><i class="icon icon-ok"></i> {% trans %}Create a location{% endtrans %} </p>
    {% else %}
        <p><i class="icon icon-hand-right"></i> <a href="{{ uri_for('location-new') }}">{% trans %}Create a location{% endtrans %}</a> </p>
    {% endif %}
    {% if achievements['bars'] == True %}
       <p class="text-success" style="text-decoration:line-through"><i class="icon icon-ok"></i> {% trans %}Create a bar{% endtrans %} </p>
    {% else %}
        <p><i class="icon icon-hand-right"></i> <a href="{{ uri_for('location-list') }}">{% trans %}Create a bar{% endtrans %}</a> </p>
    {% endif %}
    {% if achievements['menus'] == True %}
       <p class="text-success" style="text-decoration:line-through"><i class="icon icon-ok"></i> {% trans %}Create a menu card{% endtrans %} </p>
    {% else %}
        <p><i class="icon icon-hand-right"></i> <a href="{{ uri_for('menu-new') }}">{% trans %}Create a menu card{% endtrans %}</a> </p>
    {% endif %}
    {% if achievements['categories'] == True %}
       <p class="text-success" style="text-decoration:line-through"><i class="icon icon-ok"></i> {% trans %}Create a menu category{% endtrans %} </p>
    {% else %}
        <p><i class="icon icon-hand-right"></i> <a href="{{ uri_for('category-new', group='menu') }}">{% trans %}Create a menu category{% endtrans %}</a> </p>
    {% endif %}
    {% if achievements['products'] == True %}
       <p class="text-success" style="text-decoration:line-through"><i class="icon icon-ok"></i> {% trans %}Create a menu item{% endtrans %} </p>
    {% else %}
        <p><i class="icon icon-hand-right"></i> <a href="{{ uri_for('product-new', group='menu') }}">{% trans %}Create a menu item{% endtrans %}</a> </p>
    {% endif %}
    {#
    <p><a class="btn btn-block" href="{{ uri_for('menu-new', tutorial='true', cont='true')}}">{% trans %}Start Tutorial{% endtrans %}</a></p>
    #}
</div>
