<div class="row-fluid">
    <div class="span6">
        <h3>
            {% trans %}Latest News{% endtrans %}
        </h3>
        <table class="table dashboard-news">
            <tbody>
                {% if news|length > 0 %}
                    {% for n in news %}
                    <tr class="{% if n.key() in user_prefs.news_read %}read{% else %}unread{% endif %}{% if loop.index == 1 %} active{% endif %}" name="{{ n.slug }}" id="{{ n.key() }}">
                        <td>{{ format_date(n.date) }}</td>
                        <td>
                            {% if n.important %}<span class="label label-important">{% trans %}Important{% endtrans %}</span>{% endif %}
                            <span class="title">{{ n.title|e }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <p class="lead center">{% trans %}No news{% endtrans %}</p>
                {% endif %}
            </tbody>
        </table>
        {% if news|length > 0 %}
            {{ pager }}
        {% endif %}
    </div>
    <div class="span6 dashboard-news">
        {% for n in news %}
            <div id="{{ n.slug }}" {% if loop.index != 1 %}style="display:none"{% endif %}>
                <h3>{{ n.title|e }}</h3>
                {{ n.content }}
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        function markAsRead(news_tr) {
            if(news_tr.length == 0)
                return;

            $.ajax({
                type: "POST",
                url: "{{ uri_for('read-news') }}",
                data: {news_key : news_tr.attr("id"), _csrf_token : '{{ csrf_token }}'},
                success: function() { 
                    news_tr.removeClass('unread');
                    news_tr.addClass('read');
                }, 
            });    
        }
        markAsRead($("table.dashboard-news tr.active"));

        $("table.dashboard-news tr").click(function(){
            var $this = $(this);
            if($this.hasClass("active"))
                return;

            $("table.dashboard-news tr").removeClass("active");
            $this.addClass("active");
            markAsRead($this);
            $("div.dashboard-news>div").hide();
            $("#" + $this.attr("name")).show();
        });
   
    });
    </script>
</div>