<div class="well">
    <h3>Support</h3>
    <p>{% trans %}If you have any questions, feel free to contact us at {% endtrans %}</p>
    <p class="lead text-center"><a href="mailto:info@zervedapp.com">info@zervedapp.com</a></p>
</div>