{% extends "iphone/base.html" %}
{% block title %}Error{% endblock %}
{% block content %}
<div id="background">
	{#<p>{% trans %}Error: We could not connect your phone with your Zerved account{% endtrans %}<br/>
	<button class="btn-error" onclick="app('resetLogin')">{% trans %}Reset account{% endtrans %}</button></p>#}
	<p>{% trans %}Zerved account required{% endtrans %}<br/>
	<button class="btn-error" onclick="app('login')">{% trans %}Log in or create account{% endtrans %}</button></p>
</div>
<script type="text/javascript">
app('autoOpenLogin');
</script>
{% endblock %}