{% extends "iphone/base.html" %}
{% block title %}Info{% endblock %}
{% block content %}
<div id="page_wrapper">
    <div class="row center">
    	<div id="zerved_logo_02"></div>
        <p style="margin-top:-20px;">&copy; 2016</p>
        <p><span id="mastercard-logo"></span> <span id="maestro-logo"></span></p>
        <p><span id="visa-logo"></span> <span id="visa-electron-logo"></span> <span id="mobilepay-logo"></span></p>
        <p>Zerved DK ApS &middot; VAT-no. DK35484639</p>
        <p>Zerved UK Ltd &middot; VAT-no. GB165 9468 61</p>
        <p>consumers@zervedapp.com</p>
        <a href="https://www.facebook.com/Zerved" id="facebook-btn"></a>
        <p><a href="#" onclick="app('showTerms'); return false;">{% trans %}Terms &amp; Conditions{% endtrans %}</a> &middot; <a href="#" onclick="app('showLicenses'); return false;">{% trans %}Software Licenses{% endtrans %}</a></p>
        <p><strong>{% trans %}Drink responsibly{% endtrans %}</strong></p>
    </div>
</div>
{% endblock %}