{% extends "iphone/base.html" %}
{% block content %}
{% if open_orders.count() or closed_orders.count() %}
<ul>
    {% if open_orders.count() %}
        <li class="entry headline green">{% trans %}Open{% endtrans %}</li>
        {% for order in open_orders %}
        <li class="entry tab">
            <a href="#" onclick="app('showOrder', {'merchant_id': '{{ order.merchant.key().id() if order.merchant }}', 'order': '{{ order.key().id() }}' });" class="wrapper">
                <div class="arrow_wrapper">
                    <div class="arrow-right shadow"></div>
                    <div class="arrow-right"></div>
                </div>
                {% if order.merchant and order.merchant.image %}
            	<div class="logo" style="background-image:url({{ uri_for('image', entity_key=order.merchant.key(), width=120, height=120) }});"></div>
            	{% endif %}
                <h1 class="no_text_overflow">{{ order.location_name|e if order.location_name else order.merchant_name|e }}</h1>
                <p class="subtitle">{{ order.format_datetime(order.date_created, 'short') }}</p>
            </a>
        </li>
        {% endfor %}
    {% endif %}
    {% if closed_orders.count() %}
    <li class="entry headline red">{% trans %}Closed{% endtrans %}</li>
        {% for order in closed_orders %}
        <li class="entry tab">
            <a href="#" onclick="app('showOrder', {'merchant_id': '{{ order.merchant.key().id() if order.merchant else 0 }}', 'order': '{{ order.key().id() }}' });" class="wrapper">
                <div class="arrow_wrapper">
                    <div class="arrow-right shadow"></div>
                    <div class="arrow-right"></div>
                </div>
                {% if order.merchant and order.merchant.image %}
            	<div class="logo" style="background-image:url({{ uri_for('image', entity_key=order.merchant.key(), width=120, height=120) }});"></div>
            	{% endif %}
                <h1 class="no_text_overflow">{{ order.location_name|e if order.location_name else order.merchant_name|e }}</h1>
                <p class="subtitle">{{ order.format_datetime(order.date_created, 'short') }}</p>
            </a>
        </li>
        {% endfor %}
    {% endif %}
</ul>
{% else %}
<div id="background" class="transparent">
	<p>{% trans %}You have no orders.{% endtrans %}<br />
    {% trans %}Place an order under "Menu".{% endtrans %}</p>
</div>
{% endif %}
{% endblock %}