{% extends "iphone/base.html" %}
{% block head_additional %}
<!--<meta http-equiv="refresh" content="2"/>-->
{% endblock %}
{% block content %}
<div id="order_wrapper">
    {#
    {% if order.status in ['pending', 'preparing'] %}
    <div class="clearfix msg error-msg" id="push_permission_error" style="display: none">
        <h1>{% trans %}Please enable push notifications{% endtrans %}</h1>
        {% trans %}We are unable to notify you about your order status.{% endtrans %}<br/>{% trans %}Please go to the phone's Settings > Notifications > Zerved and allow alerts and sounds.{% endtrans %}
    </div>
    {% endif %}
    #}
    
    {% if order.status_title_for_consumer or order.status_description_for_consumer %}
    <div class="clearfix msg success-msg">
        {% if order.status_title_for_consumer %}
        <h1>{{ order.status_title_for_consumer }}</h1>
        {% endif %}
        {% if order.status_description_for_consumer %}
        {{ order.status_description_for_consumer }}
        {% endif %}
    </div>
    {% endif %}
    
    <div class="order-queue-number">
        <span class="order-nr">#{{ order.get_queue_number() }}</span>
    </div>

    <div class="subnav small">
        <ul class="nav nav-pills">
            <li>
                {% if order.status == 'complete' %}
                <div class="progress progress-success">
                {% elif order.status == 'cancelled' %}
                <div class="progress progress-danger">
                {% else %}
                <div class="progress progress-success progress-striped active">
                {% endif %}
                    <span><p {% if order.status == 'cancelled' %}class="no-shadow"{% endif %}>{{ order.get_status_label() }}</p></span>
                    <div class="bar" style="width: {% if order.status == 'pending' %}0%{% elif order.status == 'preparing' %}75%{% else %}100%{% endif %};"></div>
                </div>
            </li>
        </ul>
    </div>
    
	{% if order.comment %}
    <div class="comment subnav"><p>{% trans %}Comment{% endtrans %}: {{ order.comment|e }}</p></div>
    {% endif %}
    
    {% if order.estimated_waiting_time > 0 %}
    <div class="waitingtime subnav">{% trans %}Average waiting time:{% endtrans %} <b>{% trans min=order.estimated_waiting_time %}{{ min }} min.{% endtrans %}</b></div>
    {% endif %}
    
    {% if order.service == 'entrance' and order.status == 'pending' %}
    <p class="warning">{% trans %}This button is for staff only:{% endtrans %}</p>
    <button class="btn" onclick="app('completeOrder', {'order_key': '{{ order.key() }}', 'pincode': '{{ order.merchant.entrance_pincode }}'});">{% trans %}Staff: Accept Order{% endtrans %}</button>
    {% endif %}
    {% if order.status == 'preparing' and order.merchant and order.merchant.serve_with_consumer_device %}
    <p class="warning">{% trans %}This button is for staff only:{% endtrans %}</p>
    <button class="btn" onclick="app('completeOrder', {'order_key': '{{ order.key() }}', 'pincode': '{{ order.merchant.entrance_pincode }}'});">{% trans %}Staff: Serve & Complete{% endtrans %}</button>
    {% endif %}
    
    <div id="tab" class="clearfix">
    	<div id="tab_top"></div>
        <div id="tab_middle">
        	<table id="merchant_name">
            	<tr>
                	<td class="place_name"><span>{{ order.company_name }}<br/>{% trans %}VAT no.{% endtrans %} {{ order.company_vat }}</span></td>
                    <td class="right order_date">
                        <div>{{ order.location_name|e if order.location_name else order.merchant_name|e }}</div>
                        <div>{% if order.status == 'complete' %}{{ order.format_datetime(order.date_completed, 'short') }}{% else %}{{ order.format_datetime(order.date_created, 'short') }}{% endif %}</div>
                        <div>{% trans %}Order no.{% endtrans %} {{ order.order_number}}</div>
                    </td>
                </tr>
            </table>
            <table id="orderlines">
                {% for item in order.items %}
                <tr{% if order.status != 'complete' %} class="not_served"{% endif %}>
                	<td>{{ item.quantity }}</td>
                    <td>x</td>
                    <td>{{ item.name|e }}
                        <ul class="unstyled item-options">
                        {% for option in item.get_options() %}
                            <li>{{ option['option_name']|e }}: {{ option['values']|join(' + ', 'value_label')|e }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="right">{{ format_currency(item.total_incl_tax, order.currency) }}</td>
                </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                		<td colspan="4" class="right">{% trans %}Total excl. Tax:{% endtrans %} {{ format_currency(order.get_total(incl_tax=False), order.currency) }}</td>
                	</tr>
                	{% for key, tax_total in order.get_total_tax_grouped().items() %}
                	<tr>
                		<td colspan="4" class="right">{{ tax_total['name']|e }} {{ tax_total['rate'] }}%: {{ format_currency(tax_total['total'], order.currency) }}</td>
                	</tr>
                	{% endfor %}
                	<tr>
                		<td colspan="4" class="right">{% trans %}Total incl. Tax:{% endtrans %} {{ format_currency(order.get_total(incl_tax=True), order.currency) }}</td>
                	</tr>
                </tfoot>
			</table>
        </div>
        <div id="tab_bottom"></div>
    </div>
    {% if order.status == 'complete' %}
        <button class="btn"{% if not order.consumer.email %} disabled{% endif %} onclick="app('sendReceipt', {'order_key': '{{ order.key() }}' });">{% trans %}Send receipt by email{% endtrans %}</button>
        {% if not order.consumer.email %}
        <p class="secure_note">{% trans %}Go to "Profile" to add your email address{% endtrans %}</p>
        {% endif %}
    {% endif %}

	{% if order.status == 'pending' %} <button class="btn cancel" onclick="app('cancelOrder', {'order_key': '{{ order.key() }}' });">{% trans %}Cancel{% endtrans %}</button>{% endif %}    

    <div class="secure_note topline">
    	{% if order.status == 'complete' %}<p>{% trans %}The money has been withdrawn from your credit card.{% endtrans %}</p>{% elif order.status != 'cancelled' %}<p>{% trans %}The money will be withdrawn once your order is delivered.{% endtrans %}</p>{% endif %}
    </div>
</div>
<input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token }}"/>
{% endblock %}