{% extends "iphone/base.html" %}
{% block content %}
<div id="background">
	<p>{% trans %}Waiting for 4T payment{% endtrans %}<br/>
	<button class="btn-error" onclick="app('reload')">{% trans %}Reload{% endtrans %}</button></p>
</div>
{% endblock %}