{% extends "iphone/base.html" %}
{% block content %}
<ul class="clearfix menu">
    {% for product in products %}
    <li class="entry menuitem">
        <div class="product_header clearfix">
        	{% if product.image %}
        	<div class="logo" style="background-image:url({{ uri_for('image', entity_key=product.key(), width=120, height=120) }});">{% if product.get_tiered_price_descriptions() or product.get_price(quantity=1) < product.get_base_price() %}<div class="discount-logo"></div>{% endif %}</div>
        	{% endif %}
            <div class="wrapper">
            	<ul class="tiered-price">
            	{% for tiered_price in product.get_tiered_price_descriptions() %}
                	<li>{{ tiered_price }}</li>
                {% endfor %}
                </ul>
                
                <p class="price">{% if product.get_price(quantity=1) < product.get_base_price() %}<span class="old-price">{{ format_currency(product.get_base_price(), merchant.currency) }}</span> {% endif %}{{ format_currency(product.get_price(quantity=1), merchant.currency) }}</p>
                <h1>{{ product.name|e }}</h1>
                <p>{{ product.description|e|replace("\n","<br/>") }}</p>
            </div>
        </div>
        <div class="options">
            <form id="addtocart-{{ product.key().id() }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="cart_id" value="{{ cart_id }}"/>
                <input type="hidden" name="product" value="{{ product.key().id() }}"/>
                <input type="hidden" name="product_key" value="{{ product.key() }}"/>
                <input type="hidden" name="qty" value="1"/>
                <input type="hidden" name="product_name" value="{{ product.name|e }}"/>
                
                <div class="right">
                    <div class="number"><p>1</p></div>
                    <div class="number_selector_wrapper">
                        <a href="#" class="minus" onclick="return false"><p>-</p></a>
                        <a href="#" class="plus" onclick="return false"><p>+</p></a>
                    </div>
                    <button type="button" class="btn"{% if not is_open %} disabled="disabled"{% endif %} onclick="if (validateOptions($('#addtocart-{{ product.key().id() }}'))) app('addToCart', $.extend({{ {'product_name': product.name|e }|quoted_json }}, {'addData': $('#addtocart-{{ product.key().id() }}').serialize(), 'addDataJson': $('#addtocart-{{ product.key().id() }}').serializeArray()}));">{% trans %}Add to Cart{% endtrans %}</button>
                    {% if not is_open %}
                    <p class="closed_msg">{{ message_when_closed }}</p>
                    {% endif %}
                </div>
                
                <div class="left">
                    {% if product.get_options() %}
                    <ul class="product-options">
                    {% for option in product.get_options() %}
                        <li class="product-option{% if option.required %} required{% endif %}">
                        {% if option.selection_type == 'single' %}
                            <!--<label class="option-title" for="option-{{ option.key().id() }}" onclick="">{{ option.name }}</label>-->
                            <select id="option-{{ option.key().id() }}" name="option">
                                {% if not option.required %}
                                <option value="">{% trans title=option.name %}Select {{title}}{% endtrans %}</option>
                                {% endif %}
                                {% for option_value in option.get_option_values() %}
                                    <option value="{{ option.key().id() }}-{{ option_value.index }}">{{ option_value.label|e }} {{ option_value.price_label }}</option>
                                {% endfor %}
                            </select>
                            <div class="error-msg msg option-failed-validation" style="display: none">{% trans %}One or more of the above options are required{% endtrans %}</div>
                        {% elif option.selection_type == 'multiple' %}
                            <!--<label class="option-title">{{ option.name }}</label>-->
                            {% for option_value in option.get_option_values() %}
                            <div><input type="checkbox" id="option-{{ option.key().id() }}-{{ option_value.index }}" name="option" value="{{ option.key().id() }}-{{ option_value.index }}"> <label for="option-{{ option.key().id() }}-{{ option_value.index }}" onclick="">{{ option_value.label|e }} {{ option_value.price_label }}</label></div>
                            {% endfor %}
                            <div class="error-msg msg option-failed-validation" style="display: none">{% trans %}One or more of the above options are required{% endtrans %}</div>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
<script type="text/javascript">
$(document).ready(function() {
    app('updateCart', {'items': '{{ count_items }}' });
});
</script>
{% endblock %}