{% extends "iphone/base.html" %}
{% block title %}{% trans %}Terms &amp; Conditions{% endtrans %}{% endblock %}
{% block content %}
<div id="page_wrapper">
	<h1>{% trans %}Terms &amp; Conditions{% endtrans %}</h1>
	{% include "shared/tac.html" %}
</div>
<input type="hidden" name="_csrf_token" id="csrf_token" value="{{ csrf_token }}"/>
{% endblock %}