{% extends "iphone/base.html" %}
{% block title %}Error{% endblock %}
{% block content %}
<div id="background">
	<p>{% trans %}A new version of Zerved is available. Please update and try again.{% endtrans %}<br/><br/><a href="itms://itunes.com/apps/Zerved/Zerved" class="btn-error">{% trans %}Update{% endtrans %}</a></p>
</div>
{% endblock %}