html, body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size:15px;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ze-content-container {
    position: absolute;
    top: 45px; /* size of nav bar */
    bottom: 49px; /* size of tab bar */
    left: 0;
    right: 0;
    overflow-y: scroll;
    /* background-color is set in base.html to allow for a template block override */
}

.ze-empty-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #929292;
}

.ze-empty-view span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.ze-nav-bar {
    position: relative;
    background-color: #f8f8f8;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    border-bottom: solid 1px #b2b2b2;
    box-sizing: border-box;
}

.ze-nav-bar .ze-nav-bar-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 76px;
    right: 25px;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-nav-bar.ze-has-no-left-button .ze-nav-bar-title {
    left: 25px;
}

.ze-nav-bar.ze-has-right-button .ze-nav-bar-title {
    right: 76px;
}

.ze-nav-bar .ze-nav-bar-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #0088cc;
    text-decoration: none;
    cursor: pointer;
}

.ze-nav-bar .ze-nav-bar-right-button {
    right: 0;
    padding: 14px 8px 14px 20px;
}

.ze-nav-bar .ze-nav-bar-left-button {
    left: 0;
    padding: 14px 20px 14px 8px;
}

.ze-nav-bar .ze-nav-bar-cart-button {
    background-color: #dee1e0;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: 5px;
    color: white;
    font-weight: 300;
    cursor: default;
}

.ze-nav-bar .ze-nav-bar-cart-button.ze-has-content {
    background-color: #48d974;
    cursor: pointer;
}

.ze-nav-bar .ze-nav-bar-refresh-button {
    font-size: 18px;
    color: #0088cc;
    cursor: pointer;
}

.ze-tab-bar {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #b2b2b2;
    background: linear-gradient(#f8f8f8, #dfdfdf);
}

.ze-tab-bar .ze-tab-bar-item {
    width: 35px;
    height: 14px;
    display: inline-block;
    text-decoration: none;
    color: #929292;
	background: transparent url('/embedded/img/tab-bar-sprites.png') no-repeat;
    background-size: 350px 26px;
    background-position-y: 0;
    padding-top: 28px;
    margin: 4px 0 2px 0;
    text-align: center;
    font-size: 10px;
}

.ze-tab-bar .ze-tab-bar-item.ze-selected {
    color: #0088cc;
}

/* Makes text align center work even when overflowing */
.ze-tab-bar .ze-tab-bar-item:before {
    content: "";
    margin-left: -100%;
}
.ze-tab-bar .ze-tab-bar-item:after {
    content: "";
    margin-right: -100%;
}

.ze-tab-bar .ze-tab-bar-item.ze-shop {
	background-position-x: 0;
}

.ze-tab-bar .ze-tab-bar-item.ze-shop.ze-selected {
	background-position-x: -35px;
}

.ze-tab-bar .ze-tab-bar-item.ze-orders {
	background-position-x: -70px;
}

.ze-tab-bar .ze-tab-bar-item.ze-orders.ze-selected {
	background-position-x: -105px;
}

.ze-tab-bar .ze-tab-bar-item.ze-favorites {
	background-position-x: -140px;
}

.ze-tab-bar .ze-tab-bar-item.ze-favorites.ze-selected {
	background-position-x: -175px;
}

.ze-tab-bar .ze-tab-bar-item.ze-profile {
	background-position-x: -210px;
}

.ze-tab-bar .ze-tab-bar-item.ze-profile.ze-selected {
	background-position-x: -245px;
}

.ze-tab-bar .ze-tab-bar-item.ze-info {
	background-position-x: -280px;
}

.ze-tab-bar .ze-tab-bar-item.ze-info.ze-selected {
	background-position-x: -315px;
}

.ze-progress-hud {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

.ze-progress-hud .ze-progress-box {
    background-color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    min-width: 50px;
    min-height: 24px;
    border-radius: 8px;
    text-align: center;
    padding: 0 12px 12px 12px;
}

.ze-progress-hud .ze-progress-spinner {
    background: black url('/embedded/img/ajax-loader.gif') no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin: 12px auto 0 auto;
}

.ze-progress-hud.ze-progress-error .ze-progress-spinner {
    background-image: url('/embedded/img/progress-hud-error.png');
}

.ze-progress-hud.ze-progress-success:not(.ze-progress-error) .ze-progress-spinner {
    background-image: url('/embedded/img/progress-hud-success.png');
}

.ze-progress-hud .ze-progress-text {
    color: #eee;
    display: inline-block;
    margin-top: 8px;
}

.ze-location-header {
    width: 100%;
    height: 56.25vw;
    max-height: 300px;
    background-color: white;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ze-table-view-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ze-table-view-cell {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 48px;
    background-color: white;
}

.ze-table-view-cell.ze-no-interaction {
    cursor: default;
}

.ze-table-view-empty-cell {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.ze-table-view-cell.ze-location-cell,
.ze-table-view-cell.ze-order-cell,
.ze-table-view-cell.ze-event-cell,
.ze-table-view-cell.ze-now-and-event-cell {
    height: 68px;
}

.ze-table-view-cell img {
    position: relative;
    left: 8px;
    top: 4px;
    width: 60px;
    height: 60px;
}

.ze-table-view-cell .ze-selection-indicator,
.ze-table-view-cell .ze-disclosure {
    color: #929292;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.ze-table-view-cell .ze-selection-indicator {
    color: #0088cc;
}

.ze-table-view-cell:not(.ze-selected) .ze-selection-indicator {
    display: none;
}

.ze-table-view-cell .ze-delete-button {
    color: red;
    position: absolute;
    left: 8px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

.ze-table-view-cell .ze-title {
    position: absolute;
    left: 8px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-table-view-cell .ze-multiline-title {
    position: absolute;
    left: 8px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #000000;
    font-size: 15px;
    font-weight: 300;
}

.ze-table-view-cell.ze-pincode-cell .ze-multiline-title {
    right: 35%;
}

.ze-table-view-cell.ze-label-value-cell .ze-title {
    float: left;
    position: initial;
    transform: initial;
    -ms-transform: initial;
    -webkit-transform: initial;
    padding-left: 8px;
    margin-top: 14px;
    max-width: 70%;
}

.ze-table-view-cell.ze-label-value-cell .ze-value {
    padding: 14px 26px 0 2px;
    color: #8e8e93;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-secure-text {
    -webkit-text-security:disc;
    text-security:circle;
}

.ze-table-view-cell.ze-label-value-cell input[type="password"].ze-value,
.ze-table-view-cell.ze-label-value-cell input[type="number"].ze-value {
    left: auto;
    width: 80px;
    border: none;
}

.ze-table-view-cell.ze-label-value-cell.ze-pincode-cell input[type="tel"].ze-value {
    padding-right: 36px;
    float: right;
    margin-top: 2px;
}

.ze-table-view-cell.ze-order-cell .ze-title,
.ze-table-view-cell.ze-location-cell .ze-title {
    left: 76px;
    top: 14px;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

.ze-table-view-cell.ze-location-cell .ze-title {
    /* Temporary move until distance subtitle is implmeneted */
    top: 22px;
}

.ze-table-view-cell.ze-event-cell .ze-title {
    top: 14px;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

.ze-table-view-cell.ze-now-and-event-cell .ze-title {
    top: 14px;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    color: #ff8000;
    text-align: center;
}

.ze-table-view-cell.ze-now-and-event-cell.ze-now-type .ze-title {
    color: #009900;
}

.ze-table-view-cell.ze-label-value-cell.ze-waiting-cell .ze-value {
    color: red;
}

.ze-table-view-cell .ze-subtitle {
    position: absolute;
    left: 8px;
    right: 16px;
    bottom: 12px;
    color: #929292;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-table-view-cell.ze-event-cell .ze-subtitle span.ze-subsubtitle,
.ze-event-summary .ze-subtitle span.ze-subsubtitle {
    color: #ff8000;
    padding-left: 8px;
}

.ze-table-view-cell.ze-order-cell .ze-subtitle,
.ze-table-view-cell.ze-location-cell .ze-subtitle {
    left: 76px;
}

.ze-table-view-cell.ze-now-and-event-cell .ze-subtitle {
    text-align: center;
}

.ze-table-view-cell hr {
    background-color: #d9d9d9;
    position: absolute;
    left: 8px;
    right: 0;
    bottom: 0;
    border-width: 0;
    height: 1px;
    margin: 0;
}

.ze-table-view-cell.ze-order-cell hr,
.ze-table-view-cell.ze-location-cell hr {
    left: 76px;
}

.ze-table-view-cell.ze-product-cell {
    height: auto;
}

.ze-table-view-cell.ze-product-cell .ze-name {
    position: relative;
    float: left;
    width: 60%;
    padding: 12px 4px 4px 12px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    min-height: 1.2em;
}

.ze-table-view-cell.ze-product-cell .ze-price {
    position: absolute;
    top: 12px;
    right: 35px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
}

.ze-table-view-cell.ze-product-cell .ze-plus-button {
    position: absolute;
    top: 12px;
    right: 8px;
    color: #48d974;
    font-size: 22px;
}

.ze-table-view-cell.ze-product-cell .ze-disclosure {
    top: 40px;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
}

.ze-table-view-cell.ze-product-cell .ze-description {
    position: relative;
    clear: both;
    left: 0;
    right: 0;
    line-height: 1.2em;
    max-height: 2.4em;
    border-bottom: solid 8px transparent; /* instead of padding, which breaks the ellipsis/fade out trick */
    padding: 0 16px 0 12px;
    color: #929292;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
}

.ze-tiered-price-description {
    position: relative;
    display: table;
    margin: 2px 12px;
    padding: 3px;
    background-color: #ff8000;
    color: white;
}

.ze-tiered-price-descriptions-container {
    padding-bottom: 8px;
}

.ze-table-view-cell.ze-product-cell .ze-cart-items {
    background-color: #fcfcdd;
    margin-left: 12px;
}

.ze-table-view-cell.ze-product-cell hr {
    left: 12px;
}

.ze-table-view-cell.ze-product-cell .ze-description:after {
    /* Alternative to an ellipsis, which is hard to create for multilines */
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}

.ze-table-view-container.ze-closed .ze-product-cell .ze-plus-button {
    color: #a6edb2;
}

.ze-event-summary-container {
    position: relative;
}

.ze-event-summary {
    position: relative;
    background-color: #ebebec;
    padding: 4px 8px 6px 8px;
    margin: 0;
}

.ze-cart-container .ze-event-summary {
    background-color: white;
}

.ze-event-summary .ze-title {
    position: relative;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.ze-event-summary .ze-subtitle {
    position: relative;
    color: #929292;
}

.ze-event-summary .ze-ordering-label {
    position: relative;
    font-weight: 600;
}

.ze-event-summary-container .ze-arrow-down {
    position: relative;
    margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ebebec;
}

.ze-cart-container .ze-event-summary-container .ze-arrow-down {
    border-top-color: white;
}

.ze-table-view-container.ze-location-table .ze-table-view-section-header {
    position: relative;
    left: 0;
    right: 0;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    background-color: #d9d9d9;
    padding: 1px 8px;
}

.ze-products-open-closed {
    position: relative;
    left: 0;
    right: 0;
    height: 19px;
    padding: 0;
    background-color: #cccccc;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 300;
}

.ze-products-open-closed.ze-closed {
    background-color: red;
}

.ze-products-open-closed.ze-open {
    background-color: #48d974;
}

.ze-more-events-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #ebebec;
    border-bottom: solid 1px #cccccc;
    text-align: center;
    line-height: 50px;
}

.ze-more-events-date-picker-container {
    text-align: center;
    padding: 4px;
}

.ze-cart-container,
.ze-product-container {
}

.ze-product-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.ze-product-header .ze-product-header-top {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 64px;
    font-weight: 300;
}

.ze-product-header img.ze-product-image {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    border-top: none;
    border-left: none;
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    object-fit: cover;
}

.ze-product-header .ze-name {
    position: relative;
    top: 0;
    vertical-align: top;
    padding: 8px;
    margin-right: 84px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.ze-product-header .ze-price-and-quantity-container {
    position: absolute;
    display: inline-block;
    bottom: 6px;
    right: 8px;
    font-size: 18px;
}

.ze-product-header .ze-price-and-quantity-container .ze-price {
    position: absolute;
    bottom: 26px;
    right: 0;
}

.ze-product-header .ze-price-and-quantity-container .ze-quantity-container {
}

.ze-cart-items .ze-quantity-container {
    position: relative;
    padding: 6px;
}

.ze-cart-items .ze-quantity-container .ze-check-mark {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #0088cc;
}

.ze-cart-items .ze-quantity-container .ze-price-label {
    position: absolute;
    right: 35px;
    top: 8px;
    font-weight: 500;
}

.ze-cart-items .ze-quantity-container .ze-options-summary {
    padding: 4px 0;
    color: #555555;
}

.ze-cart-items .ze-quantity-container .ze-quantity-controls,
.ze-product-header .ze-quantity-container .ze-quantity-controls {
    display: inline-block;
}

.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button,
.ze-product-header .ze-quantity-container .ze-quantity-controls button {
    height: 26px;
    padding: 0 18px;
    font-family: Courier, monospace;
    background-color: white;
    color: #0088cc;
    border-color: #0088cc;
    border-width: 1px;
    border-style: solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button.ze-minus,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button.ze-minus,
.ze-product-header .ze-quantity-container .ze-quantity-controls button.ze-minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button.ze-plus,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button.ze-plus,
.ze-product-header .ze-quantity-container .ze-quantity-controls button.ze-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button:disabled,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button:disabled,
.ze-product-header .ze-quantity-container .ze-quantity-controls button:disabled {
    cursor: default;
    color: #80c4e6;
}

.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button:focus,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button:focus,
.ze-product-header .ze-quantity-container .ze-quantity-controls button:focus {
    outline: none;
}
.ze-cart-item-cell .ze-quantity-container .ze-quantity-controls button:active,
.ze-cart-items .ze-quantity-container .ze-quantity-controls button:active,
.ze-product-header .ze-quantity-container .ze-quantity-controls button:active {
    outline: none;
    background-color: #d9eef8;
}

.ze-cart-items .ze-quantity-label {
    margin-right: 6px;
    font-weight: 500;
}

.ze-product-header .ze-price-and-quantity-container .ze-quantity-label {
    position: absolute;
    bottom: 2px;
    right: 96px;
}

.ze-product-header .ze-product-description {
    color: #929292;
    padding: 18px 12px 8px 12px;
}

.ze-orders-container .ze-table-view-section-header {
    background-color: #ebebec;
    font-weight: 500;
    padding: 2px 0 2px 76px;
}

.ze-profile-container .ze-table-view-section-header,
.ze-pin-saver-container .ze-table-view-section-header,
.ze-cart-container .ze-table-view-section-header,
.ze-product-container .ze-table-view-section-header,
.ze-modal-view .ze-table-view-section-header {
    position: relative;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    color: #6d6d72;
    background-color: transparent;
    border-bottom: solid 1px #d9d9d9;
    padding: 30px 12px 4px 12px;
}

.ze-save-card-info {
    padding: 10px 0 0 8px
}

.ze-cart-container .ze-table-view-section-header,
.ze-product-container .ze-table-view-section-header,
.ze-modal-view .ze-table-view-section-header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.ze-table-view-section-header.ze-with-sub-header {
    padding-top: 4px;
}

.ze-table-view-section-header.ze-with-sub-header div {
    font-size: 14px;
    padding-bottom: 12px;
}

.ze-modal-view .ze-table-view-section-header {
    padding-left: 8px;
}

.ze-product-container .ze-table-view-cell:last-child hr {
    display: none;
}

.ze-primary-action-button {
    position: relative;
    line-height: 36px;
    text-align: center;
    background-color: #48d974;
    color: white;
    margin: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.ze-primary-action-button.ze-disabled {
    background-color: #9be4b4;
    cursor: default;
}

.ze-primary-action-button.ze-danger {
    background-color: red;
}

.ze-modal-view {
    display: none;
    position: fixed;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #efeff4;
    z-index: 90000;
    /* hack: http://stackoverflow.com/questions/19254146/position-fixed-not-working-in-mobile-browser/19254147#19254147 */
    -webkit-backface-visibility: hidden;
}

.ze-modal-view .ze-content-container {
    bottom: 0;
}

.ze-profile-container .ze-table-view-section .ze-table-view-cell:last-child hr,
.ze-pin-saver-container .ze-table-view-section .ze-table-view-cell:last-child hr,
.ze-cart-container .ze-table-view-section .ze-table-view-cell:last-child hr,
.ze-modal-view .ze-table-view-cell:last-child hr {
    left: 0;
}

.ze-table-view-cell.ze-cart-item-cell .ze-title,
.ze-table-view-cell.ze-tip-cell .ze-title {
    top: 12px;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

.ze-cart-item-cell {
    overflow: hidden;
}

.ze-cart-item-cell .ze-title.ze-has-favourite {
    left: 36px;
}

.ze-cart-item-cell .ze-favourite-button {
    position: absolute;
    top: 12px;
    left: 8px;
    color: #0088cc;
    font-size: 26px;
}

.ze-cart-item-cell .ze-disclosure {
    position: absolute;
    top: 17px;
    right: 8px;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

.ze-cart-item-cell .ze-title {
    right: 40%;
}

.ze-cart-item-cell .ze-price-label,
.ze-tip-cell .ze-price-label {
    position: absolute;
    top: 12px;
    left: 60%;
    right: 26px;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}

.ze-cart-item-cell .ze-options-summary {
    position: absolute;
    top: 48px;
    left: 8px;
    right: 40%;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-cart-item-cell .ze-edit-button {
    position: absolute;
    top: 48px;
    left: 60%;
    right: 8px;
    text-align: right;
    color: #0088cc;
    overflow: hidden;
    white-space: nowrap;
}

.ze-cart-item-cell .ze-quantity-container {
    position: absolute;
    top: 74px;
    left: 8px;
}

.ze-table-view-cell.ze-tip-cell.ze-expanded {
    height: 80px;
}

.ze-table-view-cell.ze-tip-cell .ze-plus-button {
    position: absolute;
    top: 12px;
    right: 8px;
    color: #0088cc;
    font-size: 22px;
}

.ze-rangeslider,
.ze-rangeslider-fill {
    background-color: #b6b6b6;
    display: block;
    height: 2px;
    border-radius: 2px;
}

.ze-table-view-cell.ze-tip-cell .ze-rangeslider,
.ze-table-view-cell.ze-tip-cell .ze-rangeslider-fill {
    width: 60%;
}

.ze-table-view-cell.ze-tip-cell .ze-rangeslider {
    position: absolute;
    top: 55px;
    left: 15%;
}

.ze-rangeslider-fill {
    background: #0088cc;
}

.ze-rangeslider-handle {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    top: -14px;
    background-color: white;
    border: solid 1px #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.ze-table-view-cell.ze-tip-cell .ze-tip-slider-value {
    position: absolute;
    top: 45px;
    right: 0;
    width: 22%;
    font-weight: 300;
    color: #b6b6b6;
}

.ze-table-view-cell.ze-label-value-cell.ze-total-price-cell .ze-title,
.ze-table-view-cell.ze-label-value-cell.ze-total-price-cell .ze-value {
    font-weight: 500;
    color: black;
}

.ze-table-view-cell.ze-label-value-cell.ze-total-price-cell .ze-value {
    padding-right: 8px;
}

.ze-clickable {
    cursor: pointer;
}

.ze-table-view-cell.ze-terms-cell .ze-dummy-checkbox,
.ze-table-view-cell.ze-switch-cell .ze-dummy-checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: solid 1px black;
}

.ze-table-view-cell.ze-terms-cell .ze-dummy-checkbox {
    left: 8px;
    border-color: #0088cc;
}

.ze-table-view-cell.ze-switch-cell .ze-dummy-checkbox {
    right: 8px;
}

.ze-table-view-cell.ze-terms-cell .ze-dummy-checkbox .ze-check-mark,
.ze-table-view-cell.ze-switch-cell .ze-dummy-checkbox .ze-check-mark {
    padding: 2px 3px;
}

.ze-table-view-cell.ze-terms-cell .ze-dummy-checkbox .ze-check-mark {
    color: #0088cc;
}

.ze-table-view-cell.ze-switch-cell .ze-dummy-checkbox .ze-check-mark {
    color: #4cd964;
}

.ze-table-view-cell.ze-terms-cell:not(.ze-selected) .ze-dummy-checkbox .ze-check-mark,
.ze-table-view-cell.ze-switch-cell:not(.ze-selected) .ze-dummy-checkbox .ze-check-mark {
    display: none;
}

.ze-table-view-cell .ze-info-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 8px;
    width: 21px;
    height: 21px;
    border: solid 1px #0088cc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.ze-table-view-cell .ze-info-button span {
    padding: 3px 8px;
    color: #0088cc;
}

.ze-table-view-cell.ze-terms-cell .ze-title {
    left: 36px;
    color: #0088cc;
}

.ze-login-info-wrapper,
.ze-licenses-wrapper,
.ze-terms-wrapper {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:15px;
	font-weight:300;
	margin:0;
    background-color: white;
	color:#474747;
	text-shadow: 0 1px 0 white;
	-webkit-text-size-adjust:none;
    padding: 8px;
}

.ze-login-info-wrapper h1 {
    font-size: 22px;
}

.ze-epay-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ze-secure-payment-message {
	background: transparent url('/embedded/img/padlock.png') no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    padding-left: 20px;
    margin: 10px 8px 20px;
    color: #888;
}

.ze-pincode-payment-message {
    margin: 10px 8px 40px;
    font-size: 12px;
    color: #888;
}

.ze-content-container.ze-pincode-content {
    text-align: center;
}

.ze-content-container.ze-pincode-content h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 4px;
}

.ze-content-container.ze-pincode-content h3 {
    font-size: 17px;
    font-weight: 300;
    margin-top: 0;
}

.ze-content-container.ze-pincode-content .ze-pincode-circles-container {
    display: inline-block;
    width: 270px;
    height: 85px;
}

.ze-content-container.ze-pincode-content .ze-pincode-cicle {
    position: relative;
    top: 0;
    display: inline-block;
    width:14px;
    height:14px;
    margin: 4px 6px;
    background-color: white;
    border: solid 18px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 2px #08c;
    -moz-box-shadow: 0 0 0 2px #08c;
    box-shadow: 0 0 0 2px #08c;
    cursor:text;
}

.ze-content-container.ze-pincode-content .ze-pincode-cicle.ze-contains-input {
    background-color: black;
}

.ze-content-container.ze-pincode-content input.ze-pincode-hidden-input {
    position: fixed;
    font-size: 0;
    opacity: 0;
}

.ze-content-container.ze-pincode-content textarea.ze-pincode-hidden-input {
    position: fixed;
    opacity: 0;
    width: 270px;
    height: 65px;
    z-index: 91000;
}

.ze-content-container.ze-pincode-content textarea.ze-pincode-hidden-input.ios {
    font-size: 1px;
}

.ze-content-container.ze-pincode-content .ze-forgot-text {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
}

.ze-content-container.ze-pincode-content .ze-forgot-button {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #406497;
    cursor: pointer;
}

.ze-table-view-cell.ze-profile-input-cell label.ze-title {
    font-size: 14px;
    font-weight: 300;
}

.ze-table-view-cell.ze-profile-input-cell .ze-value-input {
    border: none;
    position: absolute;
    width: 60%;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #406497;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    outline: none;
}

.ze-table-view-cell.ze-credit-card-cell .ze-title {
    left: 32px;
}

.ze-profile-container .ze-delete-account-button {
    display: table;
    margin: 8px auto 0 auto;
    color: red;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.ze-profile-container .ze-add-card-button {
    cursor: pointer;
}

.ze-info-content {
    margin-bottom: 10px;
	text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #474747;
}

.ze-info-content a {
    color: darkblue;
}

#zerved_logo_02 {
	background:transparent url(/android/img/zerved_logo_02.png) no-repeat 0 0;
	width:129px;
	height:30px;
	margin:20px auto 20px auto;
	background-size:100%;
}

#visa-logo, #mastercard-logo, #dankort-logo, #visa-electron-logo, #maestro-logo, #mobilepay-logo {
	width:55px;
	height:33px;
	display:inline-block;
}

#visa-electron-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -55px 0;
	background-size:500%;
}

#mastercard-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -110px 0;
	background-size:500%;
}

#visa-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat 0 0;
	background-size:500%;
}

#maestro-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -165px 0;
	background-size:500%;
}

#mobilepay-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -220px 0;
	background-size:500%;
}

#facebook-btn {
	display:block;
	background:transparent url(/iphone/img/facebook_btn.png) no-repeat 0 0;
	width:209px;
	height:56px;
	margin:0 auto;
	background-size:100%;
}

.ze-licenses-wrapper pre {
    font-size: 12px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ze-orders-container .ze-is-followed-by-other-section .ze-table-view-cell:last-child hr {
    display: none;
}

.ze-order-container {
    text-align: center;
    font-weight: 300;
}

.ze-order-container .ze-message-view {
    color: white;
    text-align: center;
    padding: 6px;
}

.ze-order-container .ze-message-view.ze-message-view-pending-payment {
    background-color: #011300;
}

.ze-order-container .ze-message-view.ze-message-view-realtime {
    background-color: #48d974;
}

.ze-order-container .ze-message-view.ze-message-view-event {
    background-color: #ff7f00;
}

.ze-order-container .ze-message-view .ze-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.ze-order-container .ze-message-view .ze-content {
    font-size: 14px;
}

.ze-order-container .ze-order-number {
    font-size: 56px;
    padding: 8px;
}

.ze-order-container .ze-order-service-type,
.ze-order-container .ze-order-status,
.ze-order-container .ze-order-estimated-waiting-time,
.ze-order-container .ze-order-event-name,
.ze-order-container .ze-order-event-time,
.ze-order-container .ze-order-external-button-label,
.ze-order-container .ze-attention {
    color: #545454;
    padding: 1px;
}

.ze-order-container .ze-order-event-name {
    margin-top: 8px;
}

.ze-order-container .ze-order-event-time {
    font-size: 12px;
}

.ze-order-container .ze-order-external-button-label {
    margin: 12px 0 4px 0;
    font-size: 12px;
}

.ze-order-container .ze-receipt-wrapper {
    left: 6px;
    right: 6px;
    margin-top: 10px;
}

.ze-order-container .ze-receipt-top {
    background: url('/embedded/img/tab_bg_top.png');
    background-repeat: no-repeat;
    background-size: 100% 18px;
    height: 18px;
    width: 100%;
}

.ze-order-container .ze-receipt-middle {
    background: transparent url('/embedded/img/tab_bg_middle.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
}

.ze-order-container .ze-receipt-bottom {
    background: url('/embedded/img/tab_bg_bottom.png');
    background-repeat: no-repeat;
    background-size: 100% 38px;
    height: 38px;
    width: 100%;
}

.ze-order-container .ze-receipt-content {
    padding: 10px 5% 15px;
    font-family: courier, monospace;
}

.ze-order-container .ze-attention {
    color: #a44040;
    font-size: 12px;
}

.ze-order-container .ze-receipt-content .ze-receipt-header {
    position: relative;
    font-size: 10px;
    color: #545454;
}

.ze-order-container .ze-receipt-content .ze-receipt-line {
    position: relative;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ze-order-container .ze-receipt-content .ze-receipt-line .ze-right+.ze-left {
    display: block;
    margin-right: 80px;
	white-space: normal;
}

.ze-order-container .ze-receipt-content .ze-receipt-line .ze-right {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-left: 6px;
}

.ze-order-container .ze-receipt-content .ze-receipt-items {
    margin-top: 12px;
}

.ze-order-container .ze-receipt-content hr {
    margin: 8px 0;
}

.ze-pincode-content .ze-staff-notice {
    color: #545454;
}