{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/menuform.html' as menuform %}
{% block title %}Getting started{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Well done!
        <div class="pull-right">
            <a href="{{ uri_for('menu-new', tutorial='true', continue='true') }}" class="btn"><i class="icon icon-repeat"></i> Restart tutorial</a>
            <a href="{{ uri_for('dashboard') }}" class="btn btn-primary"><i class="icon icon-white icon-th-large"></i> Dashboard</a>
        </div>
    </h1>
</div>

<div class="row" style="margin-bottom:80px">
    <div class="span4">
        <h3>Menu Cards</h3>
        <p class="lead">
            You have created your first menu card... 
        </p>
        <p>{%trans%}Note that you can assign several menu cards to the same bar, and choose a different effective time for each of them. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="{{ uri_for('menu-new') }}" class="btn btn-success"><i class="icon icon-white icon-book"></i> Create a Menu Card</a>
    </div>
    <div class="span8"> <img src="https://placehold.it/800x300"> </div>
</div>

<div class="row" style="margin-bottom:80px">
    <div class="span8"> <img src="https://placehold.it/800x300"> </div>
    <div class="span4">
        <h3>Categories</h3>
        <p class="lead">
            ... And your first product category. 
        </p>
        <p>{%trans%}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a href="{{ uri_for('category-new', group='menu') }}" class="btn btn-success"><i class="icon icon-white icon-tags"></i> Create a Category</a>
    </div>
</div>

<div class="row" style="margin-bottom:80px">
    <div class="span4">
        <h3>Menu Items</h3>
        <p class="lead">
            Your first menu item is ready to be ordered. 
        </p>
        <p>{%trans%}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a href="{{ uri_for('product-new', group='menu') }}" class="btn btn-success"><i class="icon icon-white icon-tag"></i> Create a Menu Item</a>
    </div>
    <div class="span8"> <img src="https://placehold.it/800x300"> </div>
</div>


{% endblock %}