<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Zerved Mobile Order and Pay{% endblock %}</title>
    <meta name="description" content="{% block description %}Order Drinks, Food & Tickets on Your Phone with the Zerved (available for iOS and Android){% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/front/css/bootstrap.css?v=1" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/flags.css?v=1" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/base.css?v=2" type="text/css" media="screen" charset="utf-8"/>
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="/front/css/ie8-and-down.css" />
    <![endif]-->
    {% block stylesheet %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 8]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    {% include "front/analytics.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/front/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/front/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="/front/js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/front/js/unslider.js"></script>
    <script type="text/javascript" src="/front/js/respond.min.js"></script>
    <script type="text/javascript">
    function animatedScrollTo(position) {
        $("html, body").animate({ scrollTop: position }, "slow");
    }
    </script>
    {% block js %}{% endblock %}
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
	{% include "front/navbar.html" %}
    {% block content %}{% endblock %}
	{% include "front/footer.html" %}
</body>
</html>