{% extends "front/base.html" %}
{% block title %}{% trans %}Contact Zerved{% endtrans %}{% endblock %}
{% block description %}{% trans %}Here you can contact Zerved and download Zerved press kit / media kit{% endtrans %}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-sm-12 col-md-2  nav-menu">
                <ul class="menu" id="tabs">
                    <li id="li-menu-contact" class="active"><a href="#contact-form" data-toggle="tab">{% trans %}Contact{% endtrans %}</a></li>
                    <li id="li-menu-countries"><a href="#row-countries" data-toggle="tab">{% trans %}Countries{% endtrans %}</a></li>
                    <li id="li-menu-team"><a href="#row-team" data-toggle="tab">{% trans %}Team{% endtrans %}</a></li>
                    <li id="li-menu-team"><a href="#row-mediakit" data-toggle="tab">{% trans %}Media Kit{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-10 subpage-content pull-right">
                <div class="section tab-content">
                    <div class="row tab-pane active" id="contact-form">
                        <div class="col-xs-12" id="contactform">  
                            {% if path.startswith('contact/sent') %}
                                <div class="row">
                                    <div class="text-center">
                                        <h1>{% trans %}Thank you for your inquiry.{% endtrans %}</h1>
                                        <p class="lead">{% trans %}We will answer as soon as possible.{% endtrans %}</p>
                                    </div>
                                </div>
                            {% else %}
                            <div class="row" style="margin: 0">
                                <div class="text-center">
                                    <h1>{% trans %}Contact Us{% endtrans %}</h1>
                                    <p class="lead">{% trans %}We would love to hear from you.{% endtrans %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <form class="form-horizontal" action="{{ uri_for('contactform') }}" method="post" role="form">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                    <h4>{% trans %}I contact you regarding:{% endtrans %}</h4>
                                    <select style="width:100%;" name="subject" class="form-control">
                                        <option value="General Inquiries">{% trans %}General inquiry{% endtrans %}</option>
                                        <option value="Sales Inquiries" selected="selected">{% trans %}Sales{% endtrans %}</option>
                                        <option value="Support Inquiries">{% trans %}Support{% endtrans %}</option>
                                        <option value="Media Inquiries">{% trans %}PR{% endtrans %}</option>
                                    </select>
                                    <br />
                                    <h4>{% trans %}I am:{% endtrans %}</h4> 
                                    <div class="form-group">
                                        <label class="radio-inline" for="sender_segment_merchant"><input type="radio" name="sender_segment" id="sender_segment_merchant" value="Merchant" checked />{% trans %}Merchant{% endtrans %}</label>
                                        <label class="radio-inline" for="sender_segment_consumer"><input type="radio" name="sender_segment" id="sender_segment_consumer" value="Consumer" />{% trans %}User{% endtrans %}</label>
                                        <label class="radio-inline" for="sender_segment_other"><input type="radio" name="sender_segment" id="sender_segment_other" value="Other" />{% trans %}Other{% endtrans %}</label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text"  name="name"    placeholder="{% trans %}Name{% endtrans %}" required>
                                    </div>
                                     <div class="form-group">
                                        <input class="form-control" type="text"  name="company" placeholder="{% trans %}Company/venue{% endtrans %}" required>
                                    </div>
                                     <div class="form-group">
                                        <input class="form-control" type="email" name="email"   placeholder="{% trans %}Email{% endtrans %}" required>
                                    </div>
                                     <div class="form-group">
                                        <input class="form-control" type="text"  name="phone"   placeholder="{% trans %}Phone{% endtrans %}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="comment" placeholder="{% trans %}What can we do for you?{% endtrans %}" required></textarea>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary pull-right">{% trans %}Submit{% endtrans %}</button>
                                </form>
                               
                            </div>

                            {% endif %}
                        </div>
                    </div>
                    <div class="row tab-pane" id="row-countries">
                        <div class="col-md-12">
                            <h1 class="blue text-center">{% trans %}Countries{% endtrans %}</h1>
                            <div class="col-md-3">
                                <h3>Zerved DK ApS</h3>
                                <p>Nordtoftevej 33<br />DK-2860 Søborg<br />{% trans %}Denmark{% endtrans %}</p>
                                <p>{% trans %}VAT-no.{% endtrans %}: DK35484639</p>
                                <p>{% trans %}Phone{% endtrans %}: (+45) 6060 6106</p>
                            </div>
                            <div class="col-md-3">
                                <h3>Zerved UK ltd.</h3>
                                <p>4.22 The Beaux-Arts Building<br />10-18 Manor Gardens<br />London<br />N7 6 JS
                                <br />{% trans %}United Kingdom{% endtrans %}</p>
                                <p>{% trans %}VAT-no.{% endtrans %}: GB165 9468 61</p>
                                <p>{% trans %}Phone{% endtrans %}: (+44) 7752 692 054</p>
                            </div>
                            <div class="col-md-3">
                                <h3>Zerved Espa&ntilde;a</h3>
                                <p>Urbanizacion La Torrecilla<br />49 Adosada Lomas Bellas<br />Marbella<br />{% trans %}Spain{% endtrans %}</p>
                                <p>{% trans %}VAT-no.{% endtrans %}: ESN0082201E</p>
                                <p>{% trans %}Phone{% endtrans %}: (+34) 693 242 326</p>
                            </div>
                            <div class="col-md-3">
                                <h3>Zerved South Africa</h3>
                                <p>4 Wildenplace Place<br />La Lucia<br />Durban<br />4051<br />{% trans %}South Africa{% endtrans %}</p>
                                <p>{% trans %}Phone{% endtrans %}: (+27) 744340296</p>
                            </div>
                        </div>
                    </div>
                    <div class="row tab-pane" id="row-team">
                        <div class="col-md-12">
                            <h1 class="blue text-center">{% trans %}Team{% endtrans %}</h1>
                            <div class="row">
                                <div class="col-md-3">  
                                    <h4>Lee Bartlett</h4>
                                    <p><em>Head of Sales, {% trans %}United Kingdom{% endtrans %}</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+44) 7752 692 054<br/>
                                    {% trans %}Email{% endtrans %}: <a href="mailto:lee.bartlett@zervedapp.com">lee.bartlett@zervedapp.com</a></p>
                                </div>
                                <div class="col-md-3">
                                    <h4>Michael Rude Moncur</h4>
                                    <p><em>Head of Sales, {% trans %}Denmark{% endtrans %}</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+45) 6060 6106<br/>
                                    {% trans %}Email{% endtrans %}: <a href="mailto:michael@zervedapp.com">michael@zervedapp.com</a></p>
                                </div>
                                <div class="col-md-3">
                                    <h4>Martin Willer Tychsen</h4>
                                    <p><em>Head of Development</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+45) 2320 9950<br />
                                    {% trans %}Email{% endtrans %}: <a href="mailto:martin@zervedapp.com">martin@zervedapp.com</a></p>
                                </div>
                                <div class="col-md-3">
                                    <h4>Christian Wilkins</h4>
                                    <p><em>Sales Director, {% trans %}Spain{% endtrans %}</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+34) 693 242 326<br />
                                    {% trans %}Email{% endtrans %}: <a href="mailto:christian@zervedapp.com">christian@zervedapp.com</a></p>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-md-3">
                                    <h4>Shirley O&rsquo;Neill</h4>
                                    <p><em>Sales Director, {% trans %}Spain{% endtrans %}</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+34) 648 616 680<br />
                                    {% trans %}Email{% endtrans %}: <a href="mailto:shirley@zervedapp.com">shirley@zervedapp.com</a></p>
                                </div>
                                <div class="col-md-3">
                                    <h4>Richard Tyler</h4>
                                    <p><em>Sales Director, {% trans %}South Africa{% endtrans %}</em></p>
                                    <p>{% trans %}Phone{% endtrans %}: (+27) 744340296<br />
                                    {% trans %}Email{% endtrans %}: <a href="mailto:richard.tyler@zervedapp.com">richard.tyler@zervedapp.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    		
                    <div class="row tab-pane" id="row-mediakit">
                        <div class="col-md-12">
                            <div class="row" style="margin: 0">
                                <div class="text-center">
                                    <h1>{% trans %}Media Kit{% endtrans %}</h1>
                                    <p class="lead">{% trans %}Download our complete media kit or parts thereof.{% endtrans %}</p>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-sm-3"><h3>{% trans %}Logos{% endtrans %}</h3><p>{% trans %}Zerved logo in vector format (eps).{% endtrans %}</p></div>
                            	<div class="col-sm-9">
                                    <h4>RGB</h4>
                                	<a href="/front/img/mediakit/zerved-logo-01-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-01.jpg"></a><a href="/front/img/mediakit/zerved-logo-02-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-02.jpg"></a><a href="/front/img/mediakit/zerved-logo-03-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-03.jpg"></a><a href="/front/img/mediakit/zerved-logo-04-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-04.jpg"></a><a href="/front/img/mediakit/zerved-logo-05-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-05.jpg"></a><a href="/front/img/mediakit/zerved-logo-06-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-06.jpg"></a><a href="/front/img/mediakit/zerved-logo-07-rgb.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-07.jpg"></a>
									<h4>CMYK (for print use only)</h4>
                                	<a href="/front/img/mediakit/zerved-logo-01-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-01.jpg"></a><a href="/front/img/mediakit/zerved-logo-02-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-02.jpg"></a><a href="/front/img/mediakit/zerved-logo-03-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-03.jpg"></a><a href="/front/img/mediakit/zerved-logo-04-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-04.jpg"></a><a href="/front/img/mediakit/zerved-logo-05-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-05.jpg"></a><a href="/front/img/mediakit/zerved-logo-06-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-06.jpg"></a><a href="/front/img/mediakit/zerved-logo-07-cmyk.eps"><img class="img-thumbnail" src="/front/img/mediakit/zerved-logo-07.jpg"></a>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-sm-3"><h3>{% trans %}Photos{% endtrans %}</h3><p>{% trans %}Different photos for editorial use (jpg).{% endtrans %}</p></div>
                            	<div class="col-sm-9">
                                <h4>RGB</h4>
                                	<a href="/front/img/mediakit/behind-bar-coffee-shop_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/behind-bar-coffee-shop_rgb_thumb.jpg"></a><a href="/front/img/mediakit/amusement-park-entrance_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/amusement-park-entrance_rgb_thumb.jpg"></a><a href="/front/img/mediakit/amusement-park-table-flyer_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/amusement-park-table-flyer_rgb_thumb.jpg"></a><a href="/front/img/mediakit/ordering-drinks_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/ordering-drinks_rgb_thumb.jpg"></a><a href="/front/img/mediakit/fast-track-stadium_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/fast-track-stadium_rgb_thumb.jpg"></a><a href="/front/img/mediakit/zerved-drink-receipt_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/zerved-drink-receipt_rgb_thumb.jpg"></a><a href="/front/img/mediakit/zerved-pos_rgb.jpg"><img class="img-thumbnail" src="/front/img/mediakit/zerved-pos_rgb_thumb.jpg"></a>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-sm-3"><h3>{% trans %}Screen Shots{% endtrans %}</h3><p>{% trans %}Different high res stock photos for editorial use (tiff).{% endtrans %}</div>
                            	<div class="col-sm-9">
                                <h4>RGB</h4>
                                	<a href="/front/img/mediakit/iphone-productpage_rgb.tif"><img class="img-thumbnail" src="/front/img/mediakit/iphone-productpage_rgb_thumb.jpg"></a><a href="/front/img/mediakit/iphone-receipt_rgb.tif"><img class="img-thumbnail" src="/front/img/mediakit/iphone-receipt_rgb_thumb.jpg"></a><a href="/front/img/mediakit/iphone-push_rgb.tif"><img class="img-thumbnail" src="/front/img/mediakit/iphone-push_rgb_thumb.jpg"></a><a href="/front/img/mediakit/iphone-push_drink_rgb.tif"><img class="img-thumbnail" src="/front/img/mediakit/iphone-push_drink_rgb_thumb.jpg"></a><a href="/front/img/mediakit/iphone-push_lockscreen_rgb.tif"><img class="img-thumbnail" src="/front/img/mediakit/iphone-push_lockscreen_rgb_thumb.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="row">
                                    <a href="/front/img/mediakit/zerved_mediakit.zip" class="btn btn-primary btn-large btn-block">{% trans %}Download Total Kit{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#tabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    });
</script>
{% endblock %}