{% extends "front/base.html" %}
{% block title %}{% trans %}Download Zerved{% endtrans %}{% endblock %}
{% block description %}{% trans %}Order food drinks and tickets on your phone with Zerved (for iOS and Android){% endtrans %}{% endblock %}
{% block content %}

    <div class="section download download-page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h3>{%trans%}Download{%endtrans%} Zerved</h3>
                    <p class="lead">{% trans %}Order &amp; Pay With Your Phone{% endtrans %}</p>
                    <a href="http://itunes.com/Apps/Zerved/Zerved" class="btn btn-primary btn-large btn-block"><i class="icon-apple icon-white"></i> iPhone</a>
                    <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved" class="btn btn-success btn-large btn-block"><i class="icon-android icon-white"></i> Android</a>
                </div>
            </div>
        </div>
    </div>
 

  
{% endblock %}