{% extends "front/base.html" %}
{% block title %}{% trans %}Zerved FAQ{% endtrans %}{% endblock %}
{% block description %}{% trans %}Frequently asked questions about Zerved smartphone ordering app{% endtrans %}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-sm-12 col-md-2 nav-menu">
                <ul class="menu" id="tabs">
                    <li class="active"><a href="#merchants"  data-toggle="tab">{% trans %}Merchants{% endtrans %}</a></li>
                    <li><a href="#users" data-toggle="tab">{% trans %}Users{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-10 subpage-content pull-right">
                <div class="section">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>{% trans %}FAQ{% endtrans %}</h1>
                            <p class="lead">{% trans %}Let's try to answer your questions...{% endtrans %}</p>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="tab-content">


                                <div class="accordion tab-pane fade active in" id="merchants">

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_1">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}How does Zerved work?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="m_collapse_1" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>{% trans %}Zerved enbales you to receive mobile orders and payments - in other words: allowing customers to self serve themselves.{% endtrans %}</p>
                                                    <p>{% trans %}Once your venue is signed up and configured on Zerved your menu and ticket products are instantly available in the free Zerved smartphone app.{% endtrans %}</p>
                                                    <p>{% trans %}Read more about the system in details <a href="/for-merchants/overview">here</a>.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_2">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Why would I want to use Zerved?{% endtrans %}
                                                    </a>
                                                 </div>
                                            </div>
                                            <div id="m_collapse_2" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Because you can earn more money!{% endtrans %}</p>
                                                    <p>{% trans %}Don't let the physical environment be a bottleneck for sales - let customers self serve themselves. They will not only have a better experience (no queueing, no payment hassle, no wasting of time), but the merchant will experience great advantages too:{% endtrans %}</p>
                                                    <ul>
                                                        <li>{% trans %}More buying customers.{% endtrans %}</li>
                                                        <li>{% trans %}Improved employee capacity.{% endtrans %}</li>
                                                        <li>{% trans %}Optimized order management.{% endtrans %}</li>
                                                        <li>{% trans %}Improved customer service (traditionel customers gets faster serving as well).{% endtrans %}</li>
                                                        <li>{% trans %}Better understanding of the customers (buying patterns etc).{% endtrans %}</li>
                                                    </ul>
                                                    <p>{% trans %}All this and side effects thereof will result in direct and indirect benefits, more sales and a better business!{% endtrans %}</p>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_3">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Is it possible to integrate Zerved into my already existing system?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="m_collapse_3" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - we do support a large range of ethernet POS printers, and can even be integrated directly into your existing POS system.{% endtrans %}</p>
                                                    <p>{% trans %}Read more about POS integration <a href="/for-merchants/pos-integration">here</a>.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                            	<div class="panel-title">
                                            		<a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_4">
                                                	<span class="glyphicon glyphicon-plus"></span> {% trans %}How long does it take to get set up?{% endtrans %}
                                            		</a>
                                            	</div>
                                        	</div>
                                        	<div id="m_collapse_4" class="panel-body collapse">
                                            	<div class="accordion-inner">
                                                	<p>{% trans %}If you provide us with the name of your venue and some other vital information (address, bank account etc.) we can establish your venue on Zerrved within 5 min. - it's that easy!{% endtrans %}</p>
                                                	<p>{% trans %}From there you will have to set up your products and menu via our very easy to use webbased admin interface - and off you go!{% endtrans %}</p>
                                                	<p>{% trans %}We will of course help and assist you if you encounter any problems.{% endtrans %}</p>
                                                	<p>{% trans %}Contact us already now <a href="/contact">here</a>.{% endtrans %}</p>
                                            	</div>
                                        	</div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                	<a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_5">
                                                    <span class="glyphicon glyphicon-plus"></span> {% trans %}Is Zerved secure?{% endtrans %}
                                                	</a>
                                                </div>
                                        	</div>
                                            <div id="m_collapse_5" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - Zerved is just as secure as using a traditional payment terminal or online purchase.{% endtrans %}</p>
                                                    <p>{% trans %}Our system is accepted and approved by international payment authorities, VISA, MasterCard and our acquirer.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_6">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}What are the payment fees?{% endtrans %}
                                                    </a>
                                                </div>
                                        	</div>
                                        	<div id="m_collapse_6" class="panel-body collapse">
                                            	<div class="accordion-inner">
                                                	<p>{% trans %}None - you only pay a small negotiated fee based on transactions and volume.{% endtrans %}</p>
                                                	<p>{% trans %}And we always give you a free trial period to show you how Zerved will impact your business. If you don't earn money, we will neither.{% endtrans %}</p>
                                            	</div>
                                        	</div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_7">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Would my employees still be able to earn tips?{% endtrans %}
                                                    </a>
                                                </div>
                                        	</div>
                                            <div id="m_collapse_7" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - of course. With Zerved you can both receive tips and collect mandatory service charges.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                            	<div class="panel-title">
                                            		<a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_8">
                                                	<span class="glyphicon glyphicon-plus"></span> {% trans %}Would my customers be able to choose where to get served (table/counter service and take-away)?{% endtrans %}
                                            		</a>
                                            	</div>
                                        	</div>
                                        	<div id="m_collapse_8" class="panel-body collapse">
                                            	<div class="accordion-inner">
                                                	<p>{% trans %} Yes - in your webbased admin interface you can set up which optional features you want to provide for the customers. Either table service, counter service, take-away or a mix of these.{% endtrans %}</p>
                                            	</div>
                                        	</div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_9">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Would I be able to edit my product list at anytime?{% endtrans %}
                                                    </a>
                                                </div>
                                        	</div>
                                            <div id="m_collapse_9" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - you can edit your products in our webbased admin interface at any time - even live.{% endtrans %}</p>
                                                    <p>{% trans %}Changes will take affect instantly.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_10">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I show waiting time and pause/resume incoming orders from customers using Zerved when I want?{% endtrans %}
                                                    </a>
                                            	</div>
                                       		</div>
                                            <div id="m_collapse_10" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - if you hit a peak period, or just are behind in general, you can always manage customers expectations by showing an editable estimated waiting time directly in the app.{% endtrans %}</p>
                                                    <p>{% trans %}You can even close down for incoming orders for a desired period without affecting already placed orders.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_11">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I manage orders easily?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="m_collapse_11" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - if you have choosen POS integration Zerved will be deeply integrated into your existing work flow.{% endtrans %}</p>
                                                    <p>{% trans %}If you use our webbased serving interface - or iPad serving app - you will have a very easy-to-use interface. Developed with and tested by staff people (bartenders and waiters) for maximum easyness in a busy working environment.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_12">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I choose to print order receipts?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="m_collapse_12" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - by default we support a large range of POS ethernet printers - and it is optional when you want the printers to print. Either when the order is received or when a staff member has acknowledged it.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#merchants" href="#m_collapse_13">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Does Zerved support several locations and bars for the same merchant?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="m_collapse_13" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Yes - you can set up as many venues as you want, and with as many bars on each venue as you want - all without additional charge.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                                <div class="accordion tab-pane fade" id="users">

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_1">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}What is Zerved?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="u_collapse_1" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}Zerved is a completely free smartphone app that enables you to securely order and pay for beverages, food and tickets directly from you own phone.{% endtrans %}</p>
                                                    <p>{% trans %}This way you avoid standing in line, having payment hassle and wasting your time.{% endtrans %}</p>
                                                    <p>{% trans %}Depending on the venue or event, you can choose between table service, counter service, takeaway and/or pre-order.{% endtrans %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_2">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Does Zerved require any registration or personal information?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="u_collapse_2" class="panel-body collapse">
                                                <div class="accordion-inner">
                                                    <p>{% trans %}No - absolutely not!{% endtrans %}</p>
                                                    <p>{% trans %}Zerved is the only app on the market allowing you to order and securely pay without giving any personal information what so ever.{% endtrans %}</p>
                                                    <p>{% trans %}No registration, no sign up, no nothing. Carry through your first order within 20 seconds from download - it's that easy and fast!{% endtrans %}</p>
                                                </div>
                                        	</div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_3">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Is Zerved free?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_3" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Yes - Zerved is totally free to download for endusers.{% endtrans %}</p>
                                                <p>{% trans %}Look at Zerved as an advanced webshop - it costs nothing to visit a webshop, it is first when you actually order something, you credit or debit card will be charged. And never without you confirming the order.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_4">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Is Zerved secure?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_4" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Yes - Zerved is just as secure as using a traditional payment terminal or online purchase.{% endtrans %}</p>
                                                <p>{% trans %}Our system is accepted and approved by international payment authorities, VISA, MasterCard and our acquirer.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_5">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}How does Zerved work?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_5" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}When you open the app a list of venues is presented with the nearest on top. From there you can browser the different venues menu cards and tickets.{% endtrans %}</p>
                                                <p>{% trans %}If a venue is open for orders you can place items in your cart - order and securely pay for it with debit or credit card - exactly as on a regular webshop (just without providing any personal information!).{% endtrans %}</p>
                                                <p>{% trans %}The app offers you to remember your payment details for later use - safely stored on an external PCI-certified server behind a PIN of your choice.{% endtrans %}</p>
                                                <p>{% trans %}When your order is accepted, you will receive a push notification telling you what to do (go to collection point or waiter will come down).{% endtrans %}</p>
                                                <p>{% trans %}The app will also show you a list of pending and closed orders, and give you the opportunity to send receipts to yourself per email and add/remove debit and credit cards.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_6">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}What happens with my credit or debit card information?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_6" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}If you choose to save your credit or debit card details behind a PIN of your choice for future ordering all data will be saved on an external PCI-certified served.{% endtrans %}</p>
                                                <p>{% trans %}Neither the phone itself nor Zerveds servers knows anything to your card details, and all data between the device and the payment servers are encrypted to industrial standards.{% endtrans %}</p>
                                                <p>{% trans %}It is virtually impossible for anybody else than you and the payment processors to see your card information. That we call security!{% endtrans %}</p>
                                                <p>{% trans %}You can always delete your card from the PCI-certified server directly from within the app.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_7">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I get special offers with Zerved?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_7" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Yes, you sure can.{% endtrans %}</p>
                                                <p>{% trans %}Venues can sell whatever they want in their digital menu card. And more and more merchants are choosing to place special offers that can only be purchased through Zerved.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_8">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Where can I use Zerved?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_8" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Simply download the app and open it. Then it will load near by venues.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_9">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I recommend a venue?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_9" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Yes - either email us at <a href="mailto:sales@zervedapp.com">sales@zervedapp.com</a> or simply use the recommend feature in the Zerved app.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_10">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Can I cancel a order?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_10" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}Yes - if the venue has not started processing your order, you can always hit the cancel-button on your receipt in the Zerved app.{% endtrans %}</p>
                                                <p>{% trans %}Your money will be refunded automatically.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_11">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Zerved seems to be slow - why?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_11" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}As any other app contacting a server on the internet it relies on a good connection.{% endtrans %}</p>
                                                <p>{% trans %}If you are in a busy area with many users on the local wifi-connection or many users on the 3G phone network it may seem a little slow to use Zerved.{% endtrans %}</p>
                                                <p>{% trans %}Please be patient in such cases.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#users" href="#u_collapse_12">
                                                        <span class="glyphicon glyphicon-plus"></span> {% trans %}What happens if I loose data connection after I have ordered successfully?{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        <div id="u_collapse_12" class="panel-body collapse">
                                            <div class="accordion-inner">
                                                <p>{% trans %}You will still have offline access to all your receipts in the app - still making it possible to go and collect what you have ordered.{% endtrans %}</p>
                                                <p>{% trans %}New orders can not be carried through though, as it requires data connection.{% endtrans %}</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>   

                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <h3>{% trans %}Do you still have questions?{% endtrans %}</h3>
                            <p>{% trans %}Feel free to <a href="/contact">contact us</a>.{% endtrans %}</p>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                $(document).ready(function(){
                    $('#tabs a').click(function (e) {
                      e.preventDefault();
                      $(this).tab('show');
                    })
                });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}