<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% trans %}Download Zerved{% endtrans %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/front/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/flags.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/base.css" type="text/css" media="screen" charset="utf-8"/>
    {% block stylesheet %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 8]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    {% include "front/analytics.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/front/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/front/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="/front/js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/front/js/unslider.js"></script>
    <script type="text/javascript" src="/front/js/respond.min.js"></script>
    <style type="text/css">
    html, body { background: #fff; }
    </style>
</head>
<body>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>{% trans %}Download Zerved{% endtrans %}</h1>
                    <p class="lead">{% trans %}Here you can download Zerved for your smartphone.{% endtrans %}</p>
               </div>
            </div>
            <div class="row" style="margin-top:100px;">
            	<div class="fb_download text-center">
                    <a href="http://itunes.com/Apps/Zerved/Zerved" class="btn btn-primary btn-large"><i class="icon-apple icon-white"></i> iPhone</a>
                    <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved" class="btn btn-success btn-large"><i class="icon-android icon-white"></i> Android</a>
                </div>
            	</div>
            </div>
        </div>
    </div>
    
</body>
</html>