<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% trans %}Recommend a Venue{% endtrans %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/front/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/flags.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/base.css?v=3" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/front/css/bootstrap-responsive.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/front/css/zerved-responsive.css?v=2" type="text/css" media="screen" charset="utf-8"/>
    <!--[if IE]>
	<link rel="stylesheet" href="/front/css/ie.css?v=10" type="text/css" media="screen" charset="utf-8"/>
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 8]>
      <script src="{{ scheme }}://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='{{ scheme }}://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    {% include "front/analytics.html" %}
    <script src="{{ scheme }}://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/front/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <div class="section">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="text-center">
                    <h1>{% trans %}Recommend a venue{% endtrans %}</h1>
                    <p class="lead">{% trans %}...where you would like <span class="zerved">Zerved</span>.{% endtrans %}</p>
                </div>
                <form class="well clearfix" action="{{ uri_for('recommendform') }}?lang={{ current_locale }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <input class="form-control" type="email" name="customer_email" placeholder="{% trans %}Your email{% endtrans %}" required/>
                    <input class="form-control" type="text" name="venue_name" placeholder="{% trans %}Venue name{% endtrans %}" required/>
                    <input class="form-control" type="text" name="venue_city" placeholder="{% trans %}Venue city{% endtrans %}" required/>
                    <textarea class="form-control" name="comment" placeholder="{% trans %}A comment if you like...{% endtrans %}" ></textarea>
                    <input type="submit" class="btn btn-primary pull-right btn-block" value="{% trans %}Recommend{% endtrans %}" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>