<div class="section footer">
    <div class="container">
    	<div class="partners text-center">
    		<h4>{% trans %}PARTNERS{% endtrans %}</h4>
	    	<a href="https://www.paii.dk/" target="new"><img src="/front/img/partner_logo_paii.jpg" /></a>
	    	<a href="http://aworldbeyondcash.tumblr.com/" target="new"><img src="/front/img/partner_logo_mastercard.jpg" /></a>
	    	<a href="http://www.ibm.com/" target="new"><img src="/front/img/partner_logo_ibm.jpg" /></a>
	    	<a href="http://pernod-ricard.com/" target="new"><img src="/front/img/partner_logo_pernord.jpg" /></a>
	    	<a href="http://www.onlinepos.dk/" target="new"><img src="/front/img/partner_logo_onlinepos.jpg" /></a>
            <a href="http://amero.dk/" target="new"><img src="/front/img/partner_logo_amero.jpg" /></a>
            <a href="http://www.drinksmeister.dk/" target="new"><img src="/front/img/partner_logo_drinksmeister.jpg" /></a>
    	</div>

        <div class="separator"></div>
        <p class="pull-left">
            Zerved &copy; 2013 <a href="mailto:info@zervedapp.com"> &middot; info@zervedapp.com</a>
            <a href="/terms"> &middot; {% trans %}Terms &amp; Conditions{% endtrans %}</a>
            <a href="/privacy"> &middot; {% trans %}Privacy Policy{% endtrans %}</a>
            <a href="http://itunes.com/Apps/Zerved/Zerved"> &middot; {% trans %}Zerved for iOS{% endtrans %}</a>
            <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved"> &middot; {% trans %}Zerved for Android{% endtrans %}</a>
        </p>
        <div class="pull-right right-icons">
            <img src="/front/img/payment_logos_sprite.png" height="24" class="payment-logos">   
            <a href="{{ fb_link }}" target="_blank" class="social-icon facebook"></a>
            <a href="{{ tw_link }}" target="_blank" class="social-icon twitter"></a>
        </div>
    </div>
</div>


