{% extends "front/base.html" %}
{% block title %}{% trans %}Order & Pay With Your Smartphone{% endtrans %}{% endblock %}
{% block description %}{% trans %}Order food drinks and tickets on your phone with Zerved (for iOS and Android){% endtrans %}{% endblock %}
{% block content %}

    <div class="section download">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h3>{%trans%}Download{%endtrans%} Zerved</h3>
                    <p class="lead">{% trans %}Order &amp; Pay With Your Phone{% endtrans %}</p>
                    <a href="http://itunes.com/Apps/Zerved/Zerved" class="btn btn-primary btn-large btn-block"><i class="icon-apple icon-white"></i> iPhone</a>
                    <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved" class="btn btn-success btn-large btn-block"><i class="icon-android icon-white"></i> Android</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section landing white">
        
        <div class="container">
        	{% if current_locale == 'en_GB' %}
        	<img id="frontpage-slogan" src="/front/img/frontpage_slogan_en.png" alt="Don't wait, get Zerved!">
    		{% endif %}
            {% if current_locale == 'da_DK' %}
        	<img id="frontpage-slogan" src="/front/img/frontpage_slogan_dk.png" alt="Don't wait, get Zerved!">
    		{% endif %}
            {% if current_locale == 'es_ES' %}
        	<img id="frontpage-slogan" src="/front/img/frontpage_slogan_en.png" alt="Don't wait, get Zerved!">
    		{% endif %}
            <div id="slogan"><p>{% trans %}Order directly from your smartphone and be alerted when ready.{% endtrans %}</p></div>
			<!--<img id="feature-pic" src="/front/img/feature_pic.png">-->
            <div id="feature-pic5"></div>
            <div class="market-logos">
                <a class="market-logo app-store"  href="http://itunes.com/Apps/Zerved/Zerved"></a>
                <a class="market-logo play-store" href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved"></a>
            </div>
			<a id="btn-video" href="#"></a>

        </div>
    </div>
    {% if current_locale == 'da_DK' %}
	<div class="section featured-venues white">
        <div class="container">
            <div class="venues-container">
                <h4>{% trans %}FEATURED VENUES ON ZERVED{% endtrans %}</h4>
                <div class="venues-shadow left"></div>
                <div class="venues-images visible-lg">
                    <ul>
                    	<li>
                        	<img src="/front/img/feature-carousel-fck.jpg" width="120px" height="120px" alt="Bestil med Zerved ved PARKEN"/>
                        	<img src="/front/img/feature-carousel-brondby.jpg" width="120px" height="120px" alt="OBestil med Zerved ved Brøndby Stadion"/>
                        	<img src="/front/img/feature-carousel-kaffekvaernen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Kaffekværnen"/>
                        	<img src="/front/img/feature-carousel-soupanatural.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Soupanatural"/>
                        	<img src="/front/img/feature-carousel-betty-nansen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Betty Nansen Teatret"/>
                        	<img src="/front/img/feature-carousel-cpa.jpg" width="120px" height="120px" alt="Bestil med Zerved ved CPH Business Academy"/>
                        	<img src="/front/img/feature-carousel-sdu.jpg" width="120px" height="120px" alt="Bestil med Zerved ved SDU"/>
                        	<img src="/front/img/feature-carousel-dr.jpg" width="120px" height="120px" alt="Bestil med Zerved ved DR Koncerthuset"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-images visible-md">
                    <ul>
                        <li>
                        	<img src="/front/img/feature-carousel-fck.jpg" width="120px" height="120px" alt="Bestil med Zerved ved PARKEN"/>
                        	<img src="/front/img/feature-carousel-brondby.jpg" width="120px" height="120px" alt="OBestil med Zerved ved Brøndby Stadion"/>
                        	<img src="/front/img/feature-carousel-kaffekvaernen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Kaffekværnen"/>
                        	<img src="/front/img/feature-carousel-betty-nansen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Betty Nansen Teatret"/>
                        	<img src="/front/img/feature-carousel-cpa.jpg" width="120px" height="120px" alt="Bestil med Zerved ved CPH Business Academy"/>
                        	<img src="/front/img/feature-carousel-dr.jpg" width="120px" height="120px" alt="Bestil med Zerved ved DR Koncerthuset"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-images visible-sm">
                    <ul>
                    	<li>
                        	<img src="/front/img/feature-carousel-fck.jpg" width="120px" height="120px" alt="Bestil med Zerved ved PARKEN"/>
                        	<img src="/front/img/feature-carousel-brondby.jpg" width="120px" height="120px" alt="OBestil med Zerved ved Brøndby Stadion"/>
                        	<img src="/front/img/feature-carousel-kaffekvaernen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Kaffekværnen"/>
                        	<img src="/front/img/feature-carousel-betty-nansen.jpg" width="120px" height="120px" alt="Bestil med Zerved ved Betty Nansen Teatret"/>
                        	<img src="/front/img/feature-carousel-dr.jpg" width="120px" height="120px" alt="Bestil med Zerved ved DR Koncerthuset"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-shadow right"></div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if current_locale == 'en_GB' %}
	<div class="section featured-venues white">
        <div class="container">
            <div class="venues-container">
                <h4>{% trans %}FEATURED VENUES ON ZERVED{% endtrans %}</h4>
                <div class="venues-shadow left"></div>
                <div class="venues-images visible-lg">
                    <ul>
                    	<li>
                        	<img src="/front/img/feature-carousel-tsuru.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at Tsuru Sushi"/>
                        	<img src="/front/img/feature-carousel-sg.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at Shoreditch Grind"/>
                        	<img src="/front/img/feature-carousel-melove.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at MeLove Sushi"/>
                        	<img src="/front/img/feature-carousel-fck-uk.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at Scandinavia&acute;s largest stadium"/>
                        	<img src="/front/img/feature-carousel-dr-uk.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at Scandinavia&acute;s largest concert hall"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-images visible-md">
                    <ul>
                        <li>
                        	<img src="/front/img/feature-carousel-tsuru.jpg" style="margin: 0px 25px;" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-sg.jpg" style="margin: 0px 25px;" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-melove.jpg" style="margin: 0px 25px;" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-fck-uk.jpg" style="margin: 0px 25px;" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-dr-uk.jpg" width="120px" height="120px" style="margin: 0px 45px;" alt="Order with Zerved at Scandinavia&acute;s largest concert hall"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-images visible-sm">
                    <ul>
                    	<li>
                        	<img src="/front/img/feature-carousel-tsuru.jpg" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-sg.jpg" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-melove.jpg" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-fck-uk.jpg" width="120px" height="120px"/>
                        	<img src="/front/img/feature-carousel-dr-uk.jpg" width="120px" height="120px"/>
                        </li>
                    </ul>
                </div>
                <div class="venues-shadow right"></div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if current_locale == '' %}
    <div class="section featured-venues white">
        <div class="container">
            <div class="venues-container">
                <h4>{% trans %}FEATURED VENUES ON ZERVED{% endtrans %}</h4>
                <div class="venues-shadow left"></div>
                <div class="venues-images visible-lg">
                    <ul>
                        {% set i = 0 %}
                        {% for image in images %} 
                            {% if i == 0 %}<li>{% endif %}    
                            <img src="{{ image }}" width="120" height="120">
                            {% set i = i + 1 %}
                            {% if i == 8 %}
                                </li>
                                {% set i = 0 %}
                            {% endif %}    
                        {% endfor %}
                    </ul>
                </div>
                <div class="venues-images visible-md">
                    <ul>
                        {% set i = 0 %}
                        {% for image in images %} 
                            {% if i == 0 %}<li>{% endif %}    
                            <img src="{{ image }}" width="120" height="120">
                            {% set i = i + 1 %}
                            {% if i == 6 %}
                                </li>
                                {% set i = 0 %}
                            {% endif %}    
                        {% endfor %}
                    </ul>
                </div>
                <div class="venues-images visible-sm">
                    <ul>
                        {% set i = 0 %}
                        {% for image in images %} 
                            {% if i == 0 %}<li>{% endif %}    
                            <img src="{{ image }}" width="120" height="120">
                            {% set i = i + 1 %}
                            {% if i == 4 %}
                                </li>
                                {% set i = 0 %}
                            {% endif %}    
                        {% endfor %}
                    </ul>
                </div>
                <div class="venues-shadow right"></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="section how-it-works white">
        <div class="container">
            <h1>{% trans %}How it Works{% endtrans %}</h1>
            <div class="row">
              <div class="col-xs-4 text-center">
              	<div class="col-sm-10 col-sm-offset-1">
                    <h3 style="text-transform:uppercase">{% trans %}Order{% endtrans %}</h3>
                    <img src="/front/img/howitworks_feature01.png" style="width:100%; margin-bottom:10px;">
				</div>
                    <p class="lead">{% trans %}The app detects your location and shows the relevant menu.{% endtrans %}</p>
              </div>
              <div class="col-xs-4 text-center">
              	<div class="col-sm-10 col-sm-offset-1">
                    <h3 style="text-transform:uppercase">{% trans %}Pay{% endtrans %}</h3>
                    <img src="/front/img/howitworks_feature02.png" style="width:100%; margin-bottom:10px;">
				</div>
                    <p class="lead">{% trans %}You pay by credit card, which the app saves on a secure server for later use.{% endtrans %}</p>
              </div>
              <div class="col-xs-4 text-center">
              	<div class="col-sm-10 col-sm-offset-1">
                    <h3 style="text-transform:uppercase">{% trans %}Get Zerved{% endtrans %}</h3>
                    <img src="/front/img/howitworks_feature03.png" style="width:100%; margin-bottom:10px;">
				</div>
                    <p class="lead">{% trans %}Be served or pickup your order at the bar.{% endtrans %}</p>
              </div>
            </div>
        </div>
    </div>


    <div class="section why-zerved white">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-3">
                        <div class="icon no-queue"></div>
                    </div>
                    <div class="col-xs-9">
                        <h1>{% trans %}Skip The Queue{% endtrans %}</h1>
                        <p class="lead">{% trans %}No more standing in line or waiting for the waiter/bartender. Your order directly on your phone without leaving your seat.{% endtrans %}</p>
                        <p class="lead">{% trans %}You can also buy VIP entrance and tickets through the app.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <img src="/front/img/feature01.png" style="width:100%; max-height:500px; max-width: 473px">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="/front/img/feature02.png" style="width:100%; max-height:516px; max-width: 613px">
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="col-xs-3">
                        <div class="icon easy-payment"></div>
                    </div>
                    <div class="col-xs-9">
                        <h1>{% trans %}No Payment Hassle{% endtrans %}</h1>
                        <p class="lead">{% trans %}You pay through the app by using your credit card.{% endtrans %}</p>
                        <p class="lead">{% trans %}Protected by a PIN of your choice the app saves your card information on a PCI-certified server - making future ordering secure and hassle free.{% endtrans %}</p>
                        <p class="lead">{% trans %}You never have to worry about losing your card or wallet again.{% endtrans %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-3">
                        <div class="icon fast-delivery"></div>
                    </div>
                    <div class="col-xs-9">
                        <h1>{% trans %}Don't Waste Your Time{% endtrans %}</h1>
                        <p class="lead">{% trans %}Do not miss out on anything.{% endtrans %}</p>
                        <p class="lead">{% trans %}You choose between table service or pick-up (self service) at the bar's "quick lane".{% endtrans %}</p>
                        <p class="lead">{% trans %}You receive a message when the order is ready.{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <img src="/front/img/feature03.png" style="width:100%; max-height:509px; max-width: 448px">
                </div>
            </div>
        </div>
    </div>

    <div class="section download-btns">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row">
                        <h3>{% trans %}Download Zerved{% endtrans %}</h3>
                        <a href="http://itunes.com/Apps/Zerved/Zerved" class="btn btn-primary btn-lg btn-block"><i class="icon-apple icon-white"></i> {% trans %}iPhone{% endtrans %}</a>
                        <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved" class="btn btn-success btn-lg btn-block"><i class="icon-android icon-white"></i> {% trans %}Android{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" style="display:none; text-align:center">
        <div class="iframe-container">
            <div class="close-btn">&times;</div>
            <iframe width="640" height="480" src="" frameborder="0" allowfullscreen style="border: solid 16px #fff; background-color:black; border-radius: 3px" controls="0"></iframe>
        </div>
    </div>
    <!--<script type="text/javascript">

    $(document).ready(function(){

        // Disables image dragging to improve swipe gestures
        $('.venues-images img').on('dragstart', function(event) { event.preventDefault(); });

        // Venues images slider
       $(".venues-images").unslider({
            speed: 500,               //  The speed to animate each slide (in milliseconds)
            delay: 5000,              //  The delay between slide animations (in milliseconds)
            complete: function() {},  //  A function that gets called after every slide animation
            keys: false,               //  Enable keyboard (left, right) arrow shortcuts
            dots: true,               //  Display dot navigation
            fluid: false              //  Support responsive design. May break non-responsive designs
        });

        // Swipe gestures
        var slides = jQuery('.venues-images li'),
        i = 0;
        slides.on('swipeleft', function(e) {
            slides.eq(i + 1).addClass('active');
        });
        slides.on('swiperight', function(e) {
          slides.eq(i - 1).addClass('active');
        });


        $("a#btn-video").click(function(event){
            event.preventDefault();
            $("#overlay").fadeTo(200, 1);
            $("iframe").attr("src", "//www.youtube.com/embed/srQXcHl_oQ4?autoplay=1&rel=0&controls=0&showinfo=0");
        });
        $("#overlay, .close-btn").click(function(){
            $("iframe").attr("src", "");
            $("#overlay").fadeTo(200, 0, function(){
                $(this).css("display", "none");
            });
        });

        $("#li-howitworks").click(function(event){
            event.preventDefault();
            animatedScrollTo($(".section.how-it-works").position().top - 70);
        });


    });

    </script>-->
    
    <script type="text/javascript">

    $(document).ready(function(){


        $("a#btn-video").click(function(event){
            event.preventDefault();
            $("#overlay").fadeTo(200, 1);
            $("iframe").attr("src", "//www.youtube.com/embed/srQXcHl_oQ4?autoplay=1&rel=0&controls=0&showinfo=0");
        });
        $("#overlay, .close-btn").click(function(){
            $("iframe").attr("src", "");
            $("#overlay").fadeTo(200, 0, function(){
                $(this).css("display", "none");
            });
        });

    });

    </script>

{% endblock %}