<script type="text/javascript">
// Fix for bootstrap dropdown in Mobile Safari
// https://github.com/twitter/bootstrap/issues/4550#issuecomment-8525357
$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
</script>

<nav class="navbar navbar-default navbar-fixed-top navbar-zerved" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/front/img/zerved_blue.png" /></a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <form class="navbar-form navbar-right">
    <ul class="nav navbar-nav navbar-right">
	  <li class="dropdown download" style="padding-right:9px;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}DOWNLOAD{% endtrans %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://itunes.com/Apps/Zerved/Zerved">{% trans %}Zerved for iOS{% endtrans %} </a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved">{% trans %}Zerved for Android{% endtrans %} </a></li>
        </ul>
      </li>
	  <li class="dropdown merchant-admin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}ADMIN{% endtrans %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/sign-up/sign-up">{% trans %}Merchant Sign Up{% endtrans %}</a></li>
          <li><a href="/merchants">{% trans %}Merchant Sign In{% endtrans %}</a></li>
        </ul>
      </li>
    </ul>
    <!--
      <a href="/sign-up/sign-up" class="btn btn-success btn-default">{% trans %}SIGN UP{% endtrans %}</a><a href="/merchants" class="btn btn-primary btn-default" style="margin-left:10px;">{% trans %}SIGN IN{% endtrans %}</a>
    --></form>
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="flag flag-{{ current_language }}"></div> {{ available_languages[current_language] }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for locale_code, locale_name in available_languages.items() %}
                <li{% if locale_code == current_locale %} class="active"{% endif %}><a href="http://{{ hostname|replace_subdomain(locale_code)|replace('da.', 'www.') }} "><div class="flag flag-{{ locale_code }}"></div> {{ locale_name }}</a></li>
            {% endfor %}
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li {% if path.startswith('index') %} class="active"{% endif %}><a href="/" id="li-howitworks">{% trans %}How it works{% endtrans %}</a></li>
      <li {% if path.startswith('for-merchants') %} class="active"{% endif %}><a href="/for-merchants/overview">{% trans %}For merchants{% endtrans %}</a></li>
      <li {% if path.startswith('faq') %} class="active"{% endif %}><a href="/faq">{% trans %}FAQ{% endtrans %}</a></li>
      <li {% if path.startswith('news') %} class="active"{% endif %}><a href="/news">{% trans %}News{% endtrans %}</a></li>
      <li {% if path.startswith('contact') %} class="active"{% endif %}><a href="/contact">{% trans %}Contact{% endtrans %}</a></li>
	  <!--<li class="dropdown download" style="padding-right:9px;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}DOWNLOAD{% endtrans %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://itunes.com/Apps/Zerved/Zerved">{% trans %}Zerved for iOS{% endtrans %} </a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved">{% trans %}Zerved for Android{% endtrans %} </a></li>
        </ul>
      </li>
	  <li class="dropdown merchant-admin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}ADMIN{% endtrans %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/sign-up/sign-up">{% trans %}Sign Up{% endtrans %}</a></li>
          <li><a href="/merchants">{% trans %}Sign In{% endtrans %}</a></li>
        </ul>
      </li>-->
    </ul>
  </div>
  </div>
</nav>
