{% extends "front/base.html" %}
{% block title %}{{ news.title }}{% endblock %}
{% block description %}{{ news.description|e }}{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-md-12 subpage-content pull-right">
                <div class="row" >
                    <div class="col-md-8 col-md-offset-2">
                        <!--<p class="lead">{% trans %}If you don't come around so often, like us on <a href="{{ fb_link }}">facebook</a> to stay tuned.{% endtrans %}</p>-->
                        <a class="btn btn-primary" href="/news">&larr;&nbsp;{% trans %}See all news{% endtrans %}</a>
                    </div>
                </div>    
                <div class="row">
                    <div id="{{ news.slug }}">
                        <div class="col-md-8 col-md-offset-2 news-entry">
                            <span class="news-date">{{ news.date }}</span>
                            <h1>{{ news.title }}</h1>
                            {% if news.image %}
                                <img style="float:right; margin:0 0 10px 10px; width:250px;" src="{{ uri_for('imageviewer', news_id=news.key().id()) }}" class="img-polaroid">
                            {% endif %}
                            {% if news.precontent %}
                                {{ news.precontent }}
                            {% endif %}
                            {{ news.content }}
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}