{% extends "front/base.html" %}
{% block title %}{% trans %}Zerved News{% endtrans %}{% endblock %}
{% block description %}{% trans %}Read news about Zerved mobile ordering system{% endtrans %}{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-md-12 subpage-content pull-right">
            			<div class="row" >
		    <div class="col-md-12 text-center">
		        <h1>{% trans %}News{% endtrans %}</h1>
		        <p class="lead">{% trans %}If you don't come around so often, like us on <a href="{{ fb_link }}">facebook</a> to stay tuned.{% endtrans %}</p>
		    </div>
		</div>
            {% for news in news_list %}
        	<div id="{{ news.slug }}" class="col-md-8 col-md-offset-2 news-entry ">
                <div class="clearfix">
                	<span class="news-date">{{ news.date }}</span>
                    <h1><a href="{{ uri_for('news-view', slug=news.slug)  }}">{{ news.title }}</a></h1>
                    {% if news.image %}
                        <img style="float:right; margin:0 0 10px 10px; width:250px;" src="{{ uri_for('imageviewer', news_id=news.key().id()) }}" class="img-polaroid">
                    {% endif %}
                    {% if news.precontent %}
                        {{ news.precontent }}
                        <p><a href="{{ uri_for('news-view', slug=news.slug) }}">{% trans %}Read more...{% endtrans %}</a></p>
                    {% else %}                           
                        {{ news.content }}
                    {% endif %}
                </div>
            </div>  
            {% endfor %}     
            </div>
        </div>
    </div>
</div>
{% endblock %}