{% extends "front/base.html" %}
{% block title %}{% trans %}Order & Pay With Your Smartphone{% endtrans %}{% endblock %}
{% block description %}{% trans %}Order food drinks and tickets on your phone with Zerved (for iOS and Android){% endtrans %}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-sm-12 col-md-2 nav-menu">
                <ul class="menu">
                    <li {% if path.startswith('for-merchants/overview') %} class="active"{% endif %}><a href="/for-merchants/overview">{% trans %}Overview{% endtrans %}</a></li>
                    <li {% if path.startswith('for-merchants/pos-integration') %} class="active"{% endif %}><a href="/for-merchants/pos-integration">{% trans %}POS Integration{% endtrans %}</a></li>
                    <li {% if path.startswith('for-merchants/customer-cases') %} class="active"{% endif %}><a href="/for-merchants/customer-cases">{% trans %}Customer Cases{% endtrans %}</a></li>
                    <li {% if path.startswith('for-merchants/industries') %} class="active"{% endif %}><a href="/for-merchants/industries">{% trans %}Industries{% endtrans %}</a></li>
					{% if current_locale == 'da_DK' %}
					<li {% if path.startswith('for-merchants/paii') %} class="active"{% endif %}><a href="/for-merchants/paii-betalingsmiddel">Paii</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-12 col-md-10 subpage-content pull-right">
                {% block subpage_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}