{% extends "front/base.html" %}
{% block title %}{% trans %}Order & Pay With Your Smartphone{% endtrans %}{% endblock %}
{% block description %}{% trans %}Order food drinks and tickets on your phone with Zerved (for iOS and Android){% endtrans %}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row row-subpage">
            <div class="col-sm-12 col-md-2 nav-menu">
                <ul class="menu">
                    <li class="active"><a href="/terms">{% trans %}Terms & Conditions{% endtrans %}</a></li>
                    <li><a href="/privacy">{% trans %}Privacy Policy{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-10 subpage-content pull-right">
            	{% include "shared/tac.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}