{% extends "merchants/base.html" %}
{% block title %}{% trans %}Price Tiers{% endtrans %}{% endblock %}

{% block content %}	

<form action="{{ uri_for('pricetiers-update') }}" method="POST">

	<div class="page-header">
	    <h1>{% trans %}Default Prices{% endtrans %}</h1>
	</div>
	<p class="lead">{% trans %}Price tiers used for merchants unless they have individually negotiated prices.{% endtrans %}</p>
	<div class="row">
		<div class="span3">
			<select id="currency_select" class="span3" onChange="window.location='?currency='+$(this).val()">
				{% for currency in currencies %}				
					<option {% if currency == current_currency: %} selected {% endif %} value="{{ currency }}">{{ currency }}</option>
				{% endfor %}			
			</select>	
		</div>
		<div class="span9">	
			<legend>{% trans %}Fixed fee{% endtrans %}</legend>
			<div class="well">
				<div class="input input-prepend">
					<span class="add-on">{{ current_currency }}</span>
					<input name="fixed_fee" class="span2" type="text" value="{{ "%.2f"|format(pricetier.fixed_fee) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required />
				</div>
			</div>
		    <legend>{% trans %}Fee{% endtrans %}</legend>
			<div class="well">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>			
				<input type="hidden" name="currency" value="{{ current_currency }}"/>			
				<table class="table">
				    <thead>
					    <tr>
					        <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
					        <th width="40%">{% trans %}Fee{% endtrans %}</th>
					        <th> </th>
					    </tr>
				    <thead>
				    <tbody>
				    	{% if pricetier %}
				    		{% set i = 0 %}
					    	{% for min_value in pricetier.get_list('min_value') %}  
					    		<tr>			    
					    			<td>
					    				<div class="input input-prepend">
					    					<span class="add-on">{{ current_currency }}</span>
					    					<input name="min_values[]" class="span2" type="text" value="{{ "%.2f"|format(min_value) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required />
					    				</div>
					    			</td>
					    			<td>
					    				<div class="input input-prepend">
					    					<span class="add-on">%</span>
					    					<input name="fees[]" class="span1" type="text" value="{{ "%.2f"|format(pricetier.get_list('fee')[i]) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required/>
					    				</div>
					    			</td>
					    			<td>
					    				{% if loop.index != 1 %}
					    				<button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button>
					    				{% endif %}
					    			</td>
					    		</tr>
					    	{% set i = i + 1 %}
					    	{% endfor %}
				    	{% endif %}
				   	<tr>					
						<td colspan="3">
							<button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_price_tier('{{ current_currency }}', '0.00', '0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
						</td>
				   	</tr>	
				    </tbody>
				</table>
			</div>
			<legend>{% trans %}Flat Fee{% endtrans %}</legend>
			<div class="well">
				<table class="table">
				    <thead>
					    <tr>
					        <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
					        <th width="40%">{% trans %}Flat Fee{% endtrans %}</th>
					        <th> </th>
					    </tr>
				    <thead>
				    <tbody>
				    	{% if pricetier %}
				    		{% set i = 0 %}
					    	{% for flat_fee_min_value in pricetier.get_list('flat_fee_min_value') %}
					    		<tr>
					    			<td>
					    				<div class="input input-prepend">
					    					<span class="add-on">{{ current_currency }}</span>
					    					<input name="flat_fee_min_values[]" class="span2" type="text" value="{{ "%.2f"|format(flat_fee_min_value) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required />
					    				</div>
					    			</td>
					    			<td>
					    				<div class="input input-prepend">
					    					<span class="add-on">%</span>
																			<input name="flat_fees[]" class="span1" type="text" value="{{ "%.2f"|format(pricetier.get_list('flat_fee')[i]) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required/>
					    				</div>
					    			</td>
					    			<td>
					    				{% if loop.index != 1 %}
					    				<button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button>
					    				{% endif %}
					    			</td>
					    		</tr>
					    	{% set i = i + 1 %}
					    	{% endfor %}
				    	{% endif %}
				   	<tr>
						<td colspan="3">
							<button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_price_tier_flat_fee('{{ current_currency }}', '0.00', '0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
						</td>
				   	</tr>
				    </tbody>
				</table>
			</div>
            <legend>{% trans %}Discount{% endtrans %}</legend>
			<div class="well">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>		
				<table class="table">
				    <thead>
					    <tr>
					        <th width="50%">{% trans %}Minimum number of weekly transactions{% endtrans %}</th>
					        <th width="40%">{% trans %}Discount{% endtrans %}</th>
					        <th> </th>
					    </tr>
				    <thead>
				    <tbody>
				    	{% if pricetier %}
				    		{% set d = 0 %}
					    	{% for mv in pricetier.get_list('discount_min_value') %}  
					    		<tr>			    
					    			<td>		    				

					    				<input name="discount_min_values[]" class="span2" type="text" value="{{ mv }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required/>

					    			</td>
					    			<td>
					    				<div class="input input-prepend">
					    					<span class="add-on">%</span>

					    					<input name="discount_percentages[]" class="span1" type="text" value="{{ "%.2f"|format(pricetier.get_list('discount_percentage')[d]) }}" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required/>

					    				</div>
					    			</td>
					    			<td>
					    				{% if loop.index != 1 %}
					    				<button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button>
					    				{% endif %}
					    			</td>
					    		</tr>
					    	{% set d = d + 1 %}
					    	{% endfor %}
				    	{% endif %}
				   	<tr>							
						<td colspan="3">
							<button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_discount('0','0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
						</td>
				   	</tr>	
				    </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
	        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save{% endtrans %}</button>
	        <button type="button" class="btn" onclick="if(confirm('{% trans %}Are you sure ? Changes will be lost.{% endtrans %}')) window.location.reload()"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
	    </div>	
	</div>	
</form>
<script type="text/javascript" src="/merchants/js/pricetiers.js"></script>
{% endblock %}