{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% block title %}{% trans %}Edit News{% endtrans %}{% endblock %}
{% block content %}
<div class="row">  
    <div class="span12">
        <div class="page-header">
            <h1>{% trans %}Write an article{% endtrans %}</h1>
        </div>
        <form action="#" method="post" class="form-horizontal" id="newsform" enctype="multipart/form-data" onsubmit="$('#slug').removeAttr('disabled');">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" id="CSRF"/>
            <input type="hidden" name="draft" value="0" id="draft">
            <input type="hidden" name="continue_edit" value="0" id="continue_edit">
            {% if news %}
            <input type="hidden" name="news_id" value="{{ news.key().id() }}">
            {% endif %}

            <div class="control-group">
                <label class="control-label" for="type">{% trans %}Type{% endtrans %}</label>
                <div class="controls">
                    <div class="input ">
                        <select name="type" id="type">
                            <option value="news" {% if news and news.type == 'news' %} selected {% endif %}>{% trans %}News (Front page){% endtrans %}</option>
                            <option value="merchantnews" {% if news and news.type == 'merchantnews' %} selected {% endif %}>{% trans %}Merchant news{% endtrans %}</option>
                        </select>
                    </div>
                </div>
            </div>

            {{ forms.control(form.title, autofocus="autofocus", maxlength="60", required="true", append="<span id='title_len'>60</span>", class='input-xxlarge') }}
            {{ forms.control(form.date, help="Format : YYYY-MM-DD", pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])", required="true", class='input-xxlarge') }}

            {{ forms.control(form.author, class='input-xxlarge', value=username) }}      

            <div class="front-news-field">      
                {{ forms.control(form.description, maxlength="160", append="<span id='desc_len'>160</span>", class='input-xxlarge') }} 
            </div>

            <div class="control-group front-news-field">
                <label class="control-label" for="image">{% trans %}Image{% endtrans %}</label>
                <div class="controls">
                    <div class="input " style="postion:relative">
                        <input type="file" id="image" name="image" style="opacity:0;z-index:2;position:relative;width:80px;"/>             
                        <a href="#" class="btn" style="position:absolute;z-index:1; margin-top: -30px;">
                            {% trans %}Upload{% endtrans %}
                        </a>
                    </div>
                    {% if news and news.image %}
                    <span class="help-inline" id="filename">{% trans %}Uploading a new image would replace the current one.{% endtrans %}</span>
                    {% endif %}
                </div>
            </div>  

            {% if news and news.image %}
            <div class="control-group front-news-field">
                <label class="control-label" for="image">{% trans %}Current Image{% endtrans %}</label>
                <div class="controls">
                    <div class="input">
                        <img src="{{ uri_for('news-image', news_id=news.key().id())}}" width="50" height="50" />                        
                    </div>
                </div>
            </div>  
            <div class="control-group front-news-field">
                <label class="control-label" for="delete-image">{% trans %}Delete current image?{% endtrans %}</label>
                <div class="controls">
                    <div class="input">
                        <input type="checkbox" id="delete-image" name="delete-image"/>                
                    </div>
                </div>
            </div>  
            {% endif %}
            
            <div class="front-news-field">
                {{ forms.control(form.precontent, rows="8", class='input-xxlarge', id="area1") }}
            </div>

            {{ forms.control(form.content, rows="15", class='input-xxlarge', id="area2") }}
            
            <div class="control-group merchant-news-field">
                <label class="control-label" for="category">{% trans %}Important news{% endtrans %}</label>
                <div class="controls">
                    <div class="input">
                        <input type="checkbox" name="important"{% if news and news.important == True %} checked{% endif %}/>
                    </div>
                </div>
            </div>         
            <div class="control-group merchant-news-field send-email">
                <label class="control-label" for="send-email">{% trans %}Send to merchants{% endtrans %}</label>
                <div class="controls">
                    <div class="input">
                        <input type="checkbox" name="send-email"{% if news and news.send_to_merchants == True %} checked{% endif %}/>
                    </div>
                    <span class="help-inline">{% trans %}Check this to also send the news to the merchants who have enabled emails.{% endtrans %}</span>
                </div>
            </div>
            <div class="control-group front-news-field">
                <label class="control-label" for="language">{% trans %}Language{% endtrans %}</label>
                <div class="controls">
                    <div class="input ">
                        <select name="language" id="language">
                            {% for locale_code, locale_name in available_languages.items() %}
                            <option value="{{ locale_code }}"{% if news and news.language == locale_code %} selected {% endif %}>{{ locale_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slug">{% trans %}Unique identifier <span class="front-news-field">(URL)</span>{% endtrans %}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" id="slug" name="slug" disabled="true" value="{% if news %}{{ news.slug }}{% endif %}" pattern="^[a-zA-Z0-9-]+$"/>     
                        <button type='button'class='btn' id='slug_edit'>{% trans %}Edit{% endtrans %}</button>           
                    </div>
                </div>
            </div>  
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" onclick="$('#continue_edit').prop('disabled', true);"><i class="icon-white icon-ok"></i> {% trans %}Publish{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Publish and continue editing{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#draft').val('1');"><i class="icon-ok"></i> {% trans %}Save as draft{% endtrans %}</button>
                <button type="button" class="btn" onclick="if(confirm('Are you sure?')) window.location='{{ uri_for('news-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/merchants/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    tinymce.init({
        selector: "textarea",
        plugins: ["code", "image"]
    });   

    var date = new Date();

    $("#title_len").html((60 - $('#title').val().length));
    $("#desc_len").html((160 - $('#description').val().length));

    {% if not news %}
    $("#date").val(date.getFullYear() + "-" + format_date(date.getMonth()+1) + "-" + format_date(date.getDate()));
    {% endif %}

    $("#description").keyup(function(){
        $("#desc_len").html((160 - $('#description').val().length));
    });
    $("#title").keyup(function(){
        var $this = $(this);
        {% if not news %}
        $("#slug").val(""+ ($this.val().toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'')));   
        {% endif %}
        $("#title_len").html((60 - $this.val().length));
    });
    $("#slug_edit").click(function(){
        $("#slug").removeAttr("disabled");
        $("#slug").focus();
    });
    $("#slug").blur(function(){
        $("#slug").attr("disabled", true);
    });

    // Select news type
    $("#type").change(function(){
        if($(this).val() == "merchantnews") {
            $(".front-news-field").hide();
            $(".merchant-news-field").show();
        }
        else {
            $(".front-news-field").show();
            $(".merchant-news-field").hide();
        }
    });
    $("#type").trigger('change');

    // Important / Send to merchants checkboxes
    $("input[name='send-email']").change(function(){
        var s;
        if(!$(this).prop('checked')) 
            s = "{% trans %}This news will not be sent via email.{% endtrans %}";
        else if($("input[name='important']").prop("checked")) 
            s = "{% trans %}This news will be sent to every merchant.{% endtrans %}";
        else s = "{% trans %}This news will be sent to the merchants who accepted to get news via emails.{% endtrans %}";

        $(".send-email").find(".controls span.help-inline").html(s);
    });

    $("input[name='send-email']").trigger('change');    

    $("input[name='important']").change(function(){
        $("input[name='send-email']").trigger('change');    
    });

    $("#image").change(function(e){
        var fullPath = $(this).val();
        if (fullPath) {
            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                filename = filename.substring(1);
            }
            $("#filename").html(filename);
        }
    });

});  

function format_date(d) {
    return (d < 10) ? ("0" + d) : d; 
}

</script>

{% endblock %}