{% extends "merchants/base.html" %}
{% block title %}{% trans %}News{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}News{% endtrans %}
        <a class="btn btn-primary pull-right" href="{{ uri_for('news-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Write an article{% endtrans %}</a>
    </h1>
</div>

{{ pager }}

<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans %}Title{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
        <th>{% trans %}Author{% endtrans %}</th>
        <th>{% trans %}Language{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Published{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>       
    <tbody>
    {% for n in news %}
        <tr>
            <td>
                <a href="{{ uri_for('news-edit', news_id=n.key().id()) }}"><i class="icon-pencil"></i> {{ n.title|e }}</a>
            </td>
            <td>{{ n.date }}</td>
            <td>{{ n.author|e }}</td>
            <td>
                {% if n.language in available_languages %}
                    {{ available_languages[n.language] }}
                {% endif %}
            </td>            
            <td>
                {% if n.type == "news" %}
                    <span class="label label-info">{% trans %}news{% endtrans %}</span>
                {% else %}
                      <span class="label label-warning">{% trans %}merchant news{% endtrans %}</span>                  
                {% endif %}     
            </td>
            <td>
                {% if n.published %}
                    <span class="label label-success">{% trans %}published{% endtrans %}</span>
                {% else %}
                      <span class="label label-important">{% trans %}draft{% endtrans %}</span>                  
                {% endif %}     
            </td>   
            <td>
             <form action="{{ uri_for('news-delete', news_id=n.key().id() )}}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Warning: You are about to delete a news. This action cannot be undone! Are you sure you want to delete it?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form>
            </td>     
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ pager }}
{% endblock %}