{% extends "merchants/base.html" %}
{% block title %}{% trans %}Price Tiers{% endtrans %}{% endblock %}

{% block content %}	
	<div class="page-header">
	    <h1>{% trans %}Price List{% endtrans %}</h1>
	</div>
	<div class="row">
		<div class="span12">
			<p class="lead">{% trans %}These are the fees charged on your weekly invoice. The fees depend on the transaction value of the orders and the number of orders per week.{% endtrans %}</p>
		</div>

		<div class="{% if pricetier.has_discounts %}span6{% else %}span12{% endif %}">	
			<legend>{% trans %}Fee - Fixed{% endtrans %}</legend>
			{% trans %}Fixed fee value for each order{% endtrans %}
			<strong style="margin-bottom:20px;display:block;">{{ format_currency(pricetier.fixed_fee , currency ) }}</strong>

			<legend>{% trans %}Fee depending on the transaction size - Percentage{% endtrans %}</legend>
			<table class="table table-striped table-bordered">
			    <thead>
				    <tr>
				        <th>{% trans %}Transaction value{% endtrans %}</th>
				        <th>{% trans %}Fee{% endtrans %}</th>
				    </tr>
			    <thead>
			    <tbody>
			    	{% if pricetier %}
			    		{% set i = 0 %}
				    	{% for min_value in pricetier.get_list('min_value') %}  
				    		<tr>			    
				    			{% if not loop.last %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ format_currency(min_value, currency) }}</strong> {% trans %}to{% endtrans %} <strong>{{ format_currency(pricetier.get_list('min_value')[i+1]|float - (0.01|float), currency) }}</strong></td>
				    			{% else %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ format_currency(min_value, currency) }}</strong> +</td>
				    			{% endif%}
				    			<td><strong>{{ "%.2f"|format(pricetier.get_list('fee')[i]) }} %</strong></td>
				    		</tr>
				    	{% set i = i + 1 %}
				    	{% endfor %}
			    	{% endif %}
			    </tbody>
			</table>
			<legend>{% trans %}Fee depending on the transaction size - Fixed amount{% endtrans %}</legend>
			<table class="table table-striped table-bordered">
			    <thead>
				    <tr>
				        <th>{% trans %}Transaction value{% endtrans %}</th>
				        <th>{% trans %}Flat fee{% endtrans %}</th>
				    </tr>
			    <thead>
			    <tbody>
			    	{% if pricetier %}
			    		{% set i = 0 %}
				    	{% for flat_fee_min_value in pricetier.get_list('flat_fee_min_value') %}
				    		<tr>
				    			{% if not loop.last %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ format_currency(flat_fee_min_value, currency) }}</strong> {% trans %}to{% endtrans %} <strong>{{ format_currency(pricetier.get_list('flat_fee_min_value')[i+1]|float - (0.01|float), currency) }}</strong></td>
				    			{% else %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ format_currency(flat_fee_min_value, currency) }}</strong> +</td>
				    			{% endif%}
				    			<td><strong>{{ format_currency(pricetier.get_list('flat_fee')[i], currency) }}</strong></td>
				    		</tr>
				    	{% set i = i + 1 %}
				    	{% endfor %}
			    	{% endif %}
			    </tbody>
			</table>
		</div>		
		{% if pricetier.has_discounts %}
		<div class="span6">
			<legend>{% trans %}Discount{% endtrans %}</legend>
			<table class="table table-striped table-bordered">
			    <thead>
				    <tr>
				        <th>{% trans %}Number of weekly transactions{% endtrans %}</th>
				        <th>{% trans %}Discount{% endtrans %}</th>
				    </tr>
			    <thead>
			    <tbody>
			    	{% if pricetier %}
			    		{% set d = 0 %}
				    	{% for mv in pricetier.get_list('discount_min_value') %}  
				    		<tr>			    
				    			{% if not loop.last %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ "%d"|format(mv) }}</strong> {% trans %}to{% endtrans %} <strong>{{ "%d"|format(pricetier.get_list('discount_min_value')[d+1] - 1) }}</strong></td>
				    			{% else %}
				    			<td>{% trans %}From{% endtrans %} <strong>{{ "%d"|format(mv) }}</strong> +</td>
				    			{% endif%}
				    			<td><strong>{{ "%.2f"|format(pricetier.get_list('discount_percentage')[d]) }}</strong> %</td>
				    		</tr>
				    	{% set d = d + 1 %}
				    	{% endfor %}
			    	{% endif %}
			    </tbody>
			</table>
		</div>
		{% endif %}
	</div>	
{% endblock %}