<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% trans %}Select Account{% endtrans %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/merchants/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/styles.css" type="text/css" media="screen" charset="utf-8"/>
	<link href="//fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/admin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container">
    <div class="row span4 offset4" style="text-align: center">
        <h2>{% trans %}Select Account{% endtrans %}</h2>
        {% for merchant in merchants %}
            <form action="{{ uri_for('user-merchants') }}" method="post" class="form-inline"><input type="hidden" name="merchant_key" value="{{ merchant.key() }}"/><button type="submit" class="btn btn-large btn-block">{{ merchant.name }}</button></form>
        {% endfor %}
        <p><a href="{{ logout_link }}">{% trans %}Log Out{% endtrans %}</a></p>
    </div>
</div>

</body>
</html>
