{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/merchants/locationforms.html' as locationforms %}
{% block title %}{% trans %}Edit Location{% endtrans %}{% endblock %}
{% block head_additional %}
<script type="text/javascript" src='//maps.google.com/maps/api/js?sensor=false'></script>
<script src="/merchants/js/locationpicker.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}

<div class="row tabbededitor">
    <div class="span2">
        <div class="well" style="padding: 8px 0">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans %}Location Data{% endtrans %}</li>
            <li class="active"><a href="#general" onclick="return false;"><i class="icon-home"></i> {% trans %}General{% endtrans %}</a></li>
            <li><a href="#additional" onclick="return false;"><i class="icon-info-sign"></i> {% trans %}Additional Information{% endtrans %}</a></li>
            <li><a href="#products" onclick="return false;"><i class="icon-tags"></i> {% trans %}Entrance Tickets{% endtrans %}</a></li>
        </ul>
        </div>
    </div>
    <div class="span10">
        {% if location and location.images|count > 0 %}
            <div class="page-header" style="margin:0"> 
                <div class="location-cover" style="background-image:url('/merchants/locations/cover/serve/{{ location.images|random|str }}')">
                    <div class="location-cover-footer">
                        <h1>{% if location %}{{ location.name|e }}{% else %}{% trans %}New Location{% endtrans %}{% endif %} <small>{% trans name=user_merchant.name %}at {{ name }}{% endtrans %}</small>
                        </h1>     
                    </div>   
                </div>
            </div>
        {% else %}
            <div class="page-header"> 
                <h1>{% if location %}{{ location.name|e }}{% else %}{% trans %}New Location{% endtrans %}{% endif %} <small>{% trans name=user_merchant.name %}at {{ name }}{% endtrans %}</small>
                </h1>     
            </div>
        {% endif %}
        <form action="{{ uri_for('location-save') }}" method="post" enctype="multipart/form-data" class="form-horizontal" id="locationform">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
            {% if location %}
            <input type="hidden" name="_id" value="{{ location.key().id() }}"/>
            {% endif %}
            <fieldset id="general">
			<legend>{% trans %}Location Details{% endtrans %}</legend>
				{{ locationforms.locationform(form) }}
            {% if not location %}
                <h4>{% trans %}Bar at this place{% endtrans %}</h4>
                {{ locationforms.barform(barform) }}
            {% endif %}
            </fieldset>
            <fieldset id="additional" style="display: none">
                <legend>{% trans %}Additional Information{% endtrans %}</legend>
                {{ forms.control(form.info_panel_enabled, help=_('Check this to show an information panel with the below information on the location screen in the app.')) }}
                <legend>{% trans %}Address{% endtrans %}</legend>
                {{ forms.control(form.address, help=_('The address formatted exactly as users should read it.')) }}
                <legend>{% trans %}Web and phone{% endtrans %}</legend>
                {{ forms.control(form.website_url, help=_('The web page URL formatted exactly as users should read it.')) }}
                {{ forms.control(form.phone, help=_('The phone number formatted exactly as users should read it.')) }}
                {{ forms.control(form.phone2, help=_('Additional phone number.')) }}
                <legend>{% trans %}Social Media{% endtrans %}</legend>
                {{ forms.control(form.facebook, prepend='facebook.com/') }}
                {{ forms.control(form.twitter, prepend='@') }}
                {{ forms.control(form.google_plus, prepend='plus.google.com/') }}
                {{ forms.control(form.linked_in, prepend='linkedin.com/company/') }}
                {{ forms.control(form.instagram, prepend='instagram.com/') }}
                {{ forms.control(form.pinterest, prepend='pinterest.com/') }}
                {{ forms.control(form.flickr, prepend='flickr.com/people/') }}
                <legend>{% trans %}Opening Hours{% endtrans %}</legend>
                {{ forms.control(form.opening_hours_monday) }}
                {{ forms.control(form.opening_hours_tuesday) }}
                {{ forms.control(form.opening_hours_wednesday) }}
                {{ forms.control(form.opening_hours_thursday) }}
                {{ forms.control(form.opening_hours_friday) }}
                {{ forms.control(form.opening_hours_saturday) }}
                {{ forms.control(form.opening_hours_sunday) }}
            </fieldset>
            <fieldset id="products" style="display: none">
                <legend>{% trans %}Tickets for sale at this location{% endtrans %}</legend>
                {% for category in allcategories %}
                <ul class="unstyled span2 enabled-products">
                    <li><h4>{{ category.name }}</h4></li>
                    {% for product in category.products %}
                    <li><label class="checkbox"><input type="checkbox" name="products" value="{{ product.key() }}"{% if product.key().__str__() in product_keys %} checked{% endif %}/> {{ product }}</label></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{% trans %}There are no ticket products in your product catalog. To sell tickets, create a product and put it in an entrance category.{% endtrans %}</p>
                {% endfor %}
                <script type="text/javascript">
                // Click categories to select/deselect all products
                $(".enabled-products h4").click(function() {
                    var checkboxes = $(this).closest('ul').find('input');
                    var checkboxes_checked = checkboxes.filter(":checked");
                    var col_checked = (checkboxes_checked.length < checkboxes.length);
                    checkboxes.prop('checked', col_checked);
                });
                </script>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Location{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
                <button type="button" class="btn" onclick="window.location='{{ uri_for('location-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    if(window.location.href.indexOf("tutorial=true") > 0) {
        loadAndStartTutorial("{{ uri_for('tutorial-json', page='bar-new') }}");
        intro.oncomplete(function(){
      //      window.location.href = "{{ uri_for('dashboard') }}";
        });
    }
});
</script>
{% endblock %}