{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% block title %}{% trans %}Edit Merchant{% endtrans %}{% endblock %}
{% block content %}
<div class="row tabbededitor">
    <div class="span2">
        <div class="well" style="padding: 8px 0">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans %}Merchant Details{% endtrans %}</li>
            <li class="active"><a href="#general" onclick="return false;"><i class="icon-home"></i> {% trans %}General{% endtrans %}</a></li>
            <li><a href="#preferences" onclick="return false;"><i class="icon-cog"></i> {% trans %}Preferences{% endtrans %}</a></li>
            <li><a href="#loyaltyprogram" onclick="return false;"><i class="icon-cog"></i> {% trans %}Loyalty Program{% endtrans %}</a></li>
            {% if display_admin_fields %}
            <li><a href="#adminsettings" onclick="return false;"><i class="icon-lock"></i> {% trans %}Admin Settings{% endtrans %}</a></li>
            <li><a href="#pricessettings" onclick="return false;"><i class="icon-tag"></i> {% trans %}Fees{% endtrans %}</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    <div class="span10">
        <div class="page-header">
            <h1>{% if merchant %}{{ merchant.name|e }}{% else %}{% trans %}New Merchant{% endtrans %}{% endif %}</h1>
            {% if merchant %}
            <p class="muted">{% trans %}Merchant ID{% endtrans %}: {{ merchant.key().id() }}</p>
            {% endif %}
        </div>
        <form action="{{ action }}" method="post" class="form-horizontal" id="merchantform" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
            {% if merchant %}
            <input type="hidden" name="_id" value="{{ merchant.key().id() }}"/>
            {% endif %}
            <fieldset id="general">
                <legend>{% trans %}Merchant Details{% endtrans %}</legend>
                {{ forms.control(form.name, prepend='<i class="icon-tag"></i>', autofocus="autofocus") }}
                <div class="control-group{% if form.image.errors %} error{% endif %}">
                    <label class="control-label" for="image">{% trans %}Image{% endtrans %}</label>
                    <div class="controls">
                        {% if merchant and merchant.image %}
                        <p>
                        <img src="{{ uri_for('image', entity_key=merchant.key(), width=60, height=60) }}" width="60" height="60"/>
                        <input type="checkbox" name="image-delete" value="1"> {% trans %}Delete{% endtrans %}
                        </p>
                        {% endif %}
                        {% trans %}New image:{% endtrans %} {{ form.image() }}
                    </div>
                    {% if form.image.errors %}
                    <span class="errors help-inline">{% for error in form.image.errors %}{{ error }}{% endfor %}</span>
                    {% endif %}
                </div>
                {{ forms.control(form.address) }}
                {{ forms.control(form.email, help=_("Solely used for important news. It has nothing to do with the merchant account login.")) }}
                {{ forms.control(form.receive_news, help=_("Check this to receive emails regarding new features and updates.")) }}
                {{ forms.control(form.phonenr) }}
                {{ forms.control(form.vat_number) }}
                {{ forms.control(form.bank_account) }}
            </fieldset>
            <fieldset id="preferences" style="display: none">
                <legend>{% trans %}Preferences{% endtrans %}</legend>
                {{ forms.control(form.users, help=_('List e-mails that can access this account. Seperate by line-break.')) }}
                {{ forms.control(form.prices_include_tax) }}
                {{ forms.control(form.service_charge, class='span1', pattern=form.service_charge.get_pattern(), append='%', help=_('Enter a percentage to charge a mandatory fee, or enter 0 to allow optional tips.')) }}     

                <legend>{% trans %}Order Processing{% endtrans %}</legend>
                {{ forms.control(form.entrance_pincode, pattern="\d{4,4}", help=_('If you sell entrance tickets or require PIN for menu orders, your staff must use this four digit code to confirm the orders.')) }}
                {{ forms.control(form.serve_with_consumer_device, class="unstyled") }}
                {{ forms.control(form.auto_prepare, help=_("Check this to start processing orders immediately when they come in. Customers ordering for pickup at the counter will be asked to go the counter immediately.")) }}
            </fieldset>
            <fieldset id="loyaltyprogram" style="display: none">
                <legend>{% trans %}Loyalty Program{% endtrans %}</legend>
                {{ forms.control(form.has_loyalty_program, help=_("Check this to let customers enter a loyalty number when ordering.")) }}           
                {{ forms.control(form.loyalty_program_name, placeholder=_('Loyalty number'), help=_('Will be shown in the app where the user enters the loyalty code. Leave blank for the default "Loyalty Number".')) }}
                <legend>{% trans %}Loyalty Discounts{% endtrans %}</legend>
                {{ forms.control(form.loyalty_program_rate, class='span1', pattern=form.loyalty_program_rate.get_pattern(), append='%', help=_('Enter a percentage to give a discount for white-listed loyalty numbers.')) }}     

                <div class="control-group{% if form.loyalty_csv.errors %} error{% endif %}">
                    <label class="control-label" for="loyalty_csv">{% trans %}White-list (CSV-file){% endtrans %}</label>
                    <div class="controls">
                        {{ form.loyalty_csv() }}
						<span class="help-inline">{% trans %}Upload a CSV-file with no header and loyalty numbers in first column.{% endtrans %}</span>
                        {% if merchant and loyalty_code_count %}
                        <p>
							<em>{{ loyalty_code_count }} loyaltycodes exist</em>
                        <input type="checkbox" name="loyalty_code-delete" value="1"> {% trans %}Delete{% endtrans %}
                        </p>
                        {% endif %}
 						<p class="comment"><span class="label label-info">{% trans %}Info{% endtrans %}</span> {% trans %}It may take up to 10 min. before the whitelist is fully updated or fully deleted.{% endtrans %}</p>
                    </div>
                    {% if form.loyalty_csv.errors %}
                    <span class="errors help-inline">{% for error in form.loyalty_csv.errors %}{{ error }}{% endfor %}</span>
                    {% endif %}
                </div>

            </fieldset>
            {% if display_admin_fields %}
            <fieldset id="adminsettings" style="display: none">
                <legend>{% trans %}Account Settings{% endtrans %}</legend>
                {#{ forms.control(form.enabled) }#}
                {{ forms.control(form.currency, help=_("Don't change the currency after the account starts running, or you will mess up the transactions.")) }}
                {{ forms.control(form.timezone) }}
                {{ forms.control(form.country) }}
                <legend>{% trans %}Supported payment methods{% endtrans %}</legend>
                {{ forms.control(form.custom_allowed_payment_methods_enabled, placeholder=_('placeholder text'),help=_('Enable to only support payment methods checked below. Default payment methods will be supported if not enabled.')) }}
                <div style="background-color: lightgoldenrodyellow;">
                    {{ forms.control(form.custom_allowed_payment_method_epay, help=_('Enable to support epay (Credit Card) payments.')) }}
                    {{ forms.control(form.custom_allowed_payment_method_swipp, help=_('Enable to support Swipp payments. (currently not supported in the embedded client)')) }}
                    {{ forms.control(form.custom_allowed_payment_method_epaymobilepay, help=_('DEPRECATED: Enable to support MobilePay payments through epay (currently only supported in the embedded client).')) }}
                    {{ forms.control(form.custom_allowed_payment_method_mobilepay_appswitch, help=_('Enable to support native MobilePay AppSwitch payments.')) }}
                    {{ forms.control(form.custom_allowed_payment_method_mobilepay_appswitch_embedded, help=_('Enable to support native MobilePay AppSwitch payments through the Zerved embedded Client.')) }}
                </div>
            </fieldset>
            <fieldset id="pricessettings" style="display: none">  
                {{ forms.control(form.fee_rate_use_default) }}
                <div class="control-group">
                    <div class="controls">                        
                        {% if pricetiers %} 
                            <div class="pricetier-editor">
                                <!-- FIXED FEE -->
                                <legend>{% trans %}Fixed fee{% endtrans %}</legend>
                                <table class="table fixed-fee">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Fixed fee value for each order{% endtrans %}</th>
                                        </tr>
                                    <thead>
                                    <tbody>           
                                        <tr>     
                                            <td>       
                                                <div class="input input-prepend">
                                                    <span class="add-on"></span>
                                                    <input name="fixed_fee" class="span2" type="text" value="0.00" pattern="\d{1,3}(\,?\d{3})*(\.\d+)?" required />
                                                </div>
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>    
                                <!-- FEE -->
                                <legend>{% trans %}Fee{% endtrans %}</legend>
                                <table class="table fee">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
                                            <th width="40%">{% trans %}Fee{% endtrans %}</th>
                                            <th> </th>
                                        </tr>
                                    <thead>
                                    <tbody>           
                                        <tr class="add">                     
                                            <td colspan="3">
                                                <button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_price_tier('{{ merchant.currency }}', '0.00', '0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                                <!-- FLAT FEE -->
                                <legend>{% trans %}Flat fee{% endtrans %}</legend>
                                <table class="table flatfee">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
                                            <th width="40%">{% trans %}Flat fee{% endtrans %}</th>
                                            <th> </th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                        <tr class="add">
                                            <td colspan="3">
                                                <button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_price_tier_flat_fee('{{ merchant.currency }}', '0.00', '0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- DISCOUNT -->
                                <legend>{% trans %}Discount{% endtrans %}</legend>
                                <table class="table discount">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum number of weekly transactions{% endtrans %}</th>
                                            <th width="40%">{% trans %}Discount{% endtrans %}</th>
                                            <th> </th>
                                        </tr>
                                    <thead>
                                    <tbody>                                           
                                    <tr>              
                                        <td colspan="3">
                                            <button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(add_discount('0', '0.00'));"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
                                        </td>
                                    </tr>   
                                    </tbody>
                                </table>

                            </div>   
                        {% endif %}                     
                        {% if pricetiers %} 
                            <div class="default-pricetiers">
                                <legend>{% trans %}Fixed fee{% endtrans %}</legend>
                                <table class="table default-fixed-fee">
                                    <thead>
                                        <tr>
                                           <th width="50%">{% trans %}Fixed fee value for each order{% endtrans %}</th>
                                            <th width="40%">{% trans %}Fee{% endtrans %}</th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <legend>{% trans %}Fee{% endtrans %}</legend>
                                <table class="table default-fee">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
                                            <th width="40%">{% trans %}Fee{% endtrans %}</th>
                                        </tr>
                                    <thead>
                                    <tbody>      
                                    </tbody>
                                </table>
                                <legend>{% trans %}Flat fee{% endtrans %}</legend>
                                <table class="table default-flatfee">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum transaction value{% endtrans %}</th>
                                            <th width="40%">{% trans %}Flat fee{% endtrans %}</th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <legend>{% trans %}Discount{% endtrans %}</legend>
                                <table class="table default-discount">
                                    <thead>
                                        <tr>
                                            <th width="50%">{% trans %}Minimum number of weekly transactions{% endtrans %}</th>
                                            <th width="40%">{% trans %}Discount{% endtrans %}</th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>   
                        {% endif %}

                                   
                    </div>
                </div>
                <script type="text/javascript" src="/merchants/js/pricetiers.js"></script>
                <script type="text/javascript">
                function toggleDefaultFeeRate() {
                    var messageControlGroup = $(this).closest('.control-group').next('.control-group');
                    messageControlGroup.find('.pricetier-editor').toggle($(this).val()!="y");   
                    messageControlGroup.find('.default-pricetiers').toggle($(this).val()=="y");   
                    if($(this).val() == "y"){
                        $(".table.fee tbody input").removeAttr("required");
                        $(".table.fee tbody input").removeAttr("pattern");   
                    } else {
                        $(".table.fee tbody input").attr("required", true);
                        $(".table.fee tbody input").attr("pattern", "\\d{1,3}(\\,?\\d{3})*(\\.\\d+)?");               
                    }
                }
                $("#pricessettings select").change(toggleDefaultFeeRate).trigger('change');
                {% if pricetiers %}
                var pricetiers = {
                    {% for pricetier in pricetiers %}
                        {% for key, value in pricetier.iteritems() %}
                            '{{ key|e }}' : [
                                [{% for v in value.get_list('min_value') %}'{{ v }}', {% endfor %}], //0
                                [{% for v in value.get_list('fee') %}'{{ v }}', {% endfor %}], //1
                                [{% for v in value.get_list('discount_min_value') %}'{{ v }}', {% endfor %}], //2
                                [{% for v in value.get_list('discount_percentage') %}'{{ v }}', {% endfor %}], //3
                                ['{{ value.fixed_fee }}'], // fixed_fee
                                [{% for v in value.get_list('flat_fee_min_value') %}'{{ v }}', {% endfor %}], //5
                                [{% for v in value.get_list('flat_fee') %}'{{ v }}', {% endfor %}], //6
                            ], 
                        {% endfor %}
                    {% endfor %}
                }
                {% endif %}
                {% if default_pricetiers %}
                var default_pricetiers = {
                    {% for default_pt in default_pricetiers %}
                        {% for key, value in default_pt.iteritems() %}
                            '{{ key|e }}' : [
                                [{% for v in value.get_list('min_value') %}'{{ v }}', {% endfor %}], //0
                                [{% for v in value.get_list('fee') %}'{{ v }}', {% endfor %}], //1
                                [{% for v in value.get_list('discount_min_value') %}'{{ v }}', {% endfor %}], //2
                                [{% for v in value.get_list('discount_percentage') %}'{{ v }}', {% endfor %}], //3 
                                ['{{ value.fixed_fee }}'], //4 fixed_fee
                                 [{% for v in value.get_list('flat_fee_min_value') %}'{{ v }}', {% endfor %}], //5
                                [{% for v in value.get_list('flat_fee') %}'{{ v }}', {% endfor %}], //6
                            ], 
                        {% endfor %}
                    {% endfor %}
                }
                {% endif %}
                $("select#currency").change(function(){
                    var currency = $("select#currency").val();  

                    $(".table.fixed-fee span.add-on").html(currency);
                    $(".table.fixed-fee input").val(Number(pricetiers[currency][4]).toFixed(2));

                    var add_tr = $("table.fee tbody tr:last-child");
                    $(".table.fee tbody tr").remove();  
                    for(var i=0; i < pricetiers[currency][0].length; i++){
                        $(".table.fee tbody").append(add_price_tier(currency, Number(pricetiers[currency][0][i]).toFixed(2), Number(pricetiers[currency][1][i]).toFixed(2) ));
                    }
                    $(".table.fee tbody").append(add_tr);

                    var add_tr = $("table.flatfee tbody tr:last-child");
                    $(".table.flatfee tbody tr").remove();
                    if (pricetiers[currency][5].length == 0) {
                        // Nothing found in database. Add a placeholder 0.00 first item.
                        $(".table.flatfee tbody").append(add_price_tier_flat_fee(currency, Number(0).toFixed(2), Number(0).toFixed(2)));
                    }
                    else {
                        for (var i = 0; i < pricetiers[currency][5].length; i++) {
                            $(".table.flatfee tbody").append(add_price_tier_flat_fee(currency, Number(pricetiers[currency][5][i]).toFixed(2), Number(pricetiers[currency][6][i]).toFixed(2)));
                        }
                    }
                    $(".table.flatfee tbody").append(add_tr);

                    var add_tr = $("table.discount tbody tr:last-child");
                    $(".table.discount tbody tr").remove();  
                    for(var i=0; i < pricetiers[currency][2].length; i++){
                        $(".table.discount tbody").append(add_discount(pricetiers[currency][2][i], Number(pricetiers[currency][3][i]).toFixed(2) ));
                    }
                    $(".table.discount tbody").append(add_tr);


                    $(".table.default-fixed-fee tbody tr").remove();
                    $(".table.default-fixed-fee tbody").append(show_price_tier_fixed_fee(currency, '{% trans %}Fixed fee{% endtrans %}', Number(default_pricetiers[currency][4][0]).toFixed(2) ));

                    $(".table.default-fee tbody tr").remove();
                    for(var i=0; i < default_pricetiers[currency][0].length; i++){
                        $(".table.default-fee tbody").append(show_price_tier(currency, Number(default_pricetiers[currency][0][i]).toFixed(2), Number(default_pricetiers[currency][1][i]).toFixed(2) ));
                    }
                    $(".table.default-flatfee tbody tr").remove();
                    for(var i=0; i < default_pricetiers[currency][5].length; i++){
                        $(".table.default-flatfee tbody").append(show_price_tier_flat_fee(currency, Number(default_pricetiers[currency][5][i]).toFixed(2), Number(default_pricetiers[currency][6][i]).toFixed(2) ));
                    }
                    $(".table.default-discount tbody tr").remove();
                    for(var i=0; i < default_pricetiers[currency][2].length; i++){
                        $(".table.default-discount tbody").append(show_discount(default_pricetiers[currency][2][i], Number(default_pricetiers[currency][3][i]).toFixed(2) ));
                    }

                    // Remove the minus-sign-button (in the last column) on the first item/row.
                    $(".table.fee tbody tr:first-child td:last-child").html("");
                    $(".table.flatfee tbody tr:first-child td:last-child").html("");
                    $(".table.discount tbody tr:first-child td:last-child").html("");

                }).trigger("change");

                </script>
                
            </fieldset>
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> {% trans %}Save Merchant{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
                <button type="button" class="btn" onclick="window.location='{% if display_admin_fields %}{{ uri_for('merchant-list') }}{% else %}{{ uri_for('profile-edit') }}{% endif %}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}