{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/merchants/locationforms.html' as locationforms %}
{% block title %}{% trans %}Edit Bar{% endtrans %}{% endblock %}
{% block content %}
<div class="row tabbededitor">
    <div class="span2">
        <div class="well" style="padding: 8px 0">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans %}Bar Data{% endtrans %}</li>
            <li class="active"><a href="#general" onclick="return false;"><i class="icon-home"></i> {% trans %}General{% endtrans %}</a></li>
            <li><a href="#menus" onclick="return false;"><i class="icon-glass"></i> {% trans %}Menu Cards{% endtrans %}</a></li>
            <li><a href="#notifications" onclick="return false;"><i class="icon-comment"></i> {% trans %}Customer Notifications{% endtrans %}</a></li>
        </ul>
        </div>
    </div>
    <div class="span10">
        <div class="page-header">
            <h1>{% if bar %}{{ bar.name|e }}{% else %}{% trans %}New Bar{% endtrans %}{% endif %} <small>{% trans name=location.name %}at {{ name }}{% endtrans %}</small>
            <!--
            <div class="pull-right" id="tutorial-btn">
                <a href="?tutorial=true" class="btn btn-small btn-primary"><i class="icon icon-question-sign icon-white"></i> {% trans %}Tutorial{% endtrans %}</a>
            </div>
            -->
            </h1>
        </div>
        <form action="{{ uri_for('bar-save') }}" method="post" class="form-horizontal" id="barform" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
            {% if bar %}
            <input type="hidden" name="_id" value="{{ bar.key().id() }}"/>
            {% endif %}
            <input type="hidden" name="location_key" value="{{ location.key() }}"/>
            <fieldset id="general">
                <legend>{% trans %}Bar Details{% endtrans %}</legend>
                {{ locationforms.barform(form) }}
                {{ forms.control(form.delivery_min_order_amount, class='span1', pattern=form.delivery_min_order_amount.get_pattern(), prepend=user_merchant.currency) }}
                {{ forms.control(form.delivery_fee, class='span1', pattern=form.delivery_fee.get_pattern(), prepend=user_merchant.currency) }}
                {{ forms.control(form.select_delivery_fee_tax_class) }}
            </fieldset>
            <fieldset id="menus" style="display: none">
                <legend>{% trans %}Menus available at this bar{% endtrans %}</legend>
                {% if allmenus.count(limit=1) %}
                <ul class="unstyled span2 enabled-products">
                    {% for menu in allmenus %}
                    <li><label class="checkbox"><input type="checkbox" name="menus" value="{{ menu.key() }}"{% if menu.key().__str__() in menu_keys %} checked{% endif %}/> {{ menu.name }}</label></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{% trans %}As there are no menu cards yet, a new one available at any time will be created and attached to this bar.{% endtrans %}</p>
                {% endif %}
                <script type="text/javascript">
                // Click categories to select/deselect all products
                $("#menus legend").click(function() {
                    var checkboxes = $(this).closest('ul').find('input');
                    var checkboxes_checked = checkboxes.filter(":checked");
                    var col_checked = (checkboxes_checked.length < checkboxes.length);
                    checkboxes.prop('checked', col_checked);
                });
                </script>
            </fieldset>
            <fieldset id="notifications" style="display: none">
                <legend>{% trans %}Notifications for Counter Service{% endtrans %}</legend>
                {{ forms.control(form.notif_counter_preparing_use_default) }}
                <div class="control-group">
                    <label class="control-label">{{ form.notif_counter_preparing.label }}</label>
                    <div class="controls">
                        {{ form.notif_counter_preparing(placeholder=_('No message'), class='input-block-level', maxlength=140) }}
                        <em class="default-notification">{{ default_notifications['counter_preparing'] }}</em>
                    </div>
                </div>
                {{ forms.control(form.notif_counter_complete_use_default) }}
                <div class="control-group">
                    <label class="control-label">{{ form.notif_counter_complete.label }}</label>
                    <div class="controls">
                        {{ form.notif_counter_complete(placeholder=_('No message'), class='input-block-level', maxlength=140) }}
                        <em class="default-notification">{{ default_notifications['counter_complete'] }}</em>
                    </div>
                </div>
                <legend>{% trans %}Notifications for Table Service{% endtrans %}</legend>
                {{ forms.control(form.notif_table_preparing_use_default) }}
                <div class="control-group">
                    <label class="control-label">{{ form.notif_table_preparing.label }}</label>
                    <div class="controls">
                        {{ form.notif_table_preparing(placeholder=_('No message'), class='input-block-level', maxlength=140) }}
                        <em class="default-notification">{{ default_notifications['table_preparing'] }}</em>
                    </div>
                </div>
                <legend>{% trans %}Notifications for Address Delivery{% endtrans %}</legend>
                {{ forms.control(form.notif_delivery_preparing_use_default) }}
                <div class="control-group">
                    <label class="control-label">{{ form.notif_delivery_preparing.label }}</label>
                    <div class="controls">
                        {{ form.notif_delivery_preparing(placeholder=_('No message'), class='input-block-level', maxlength=140) }}
                        <em class="default-notification">{{ default_notifications['delivery_preparing'] }}</em>
                    </div>
                </div>
                {{ forms.control(form.notif_delivery_complete_use_default) }}
                <div class="control-group">
                    <label class="control-label">{{ form.notif_delivery_complete.label }}</label>
                    <div class="controls">
                        {{ form.notif_delivery_complete(placeholder=_('No message'), class='input-block-level', maxlength=140) }}
                        <em class="default-notification">{{ default_notifications['delivery_complete'] }}</em>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
            function toggleDefaultNotification() {
                var messageControlGroup = $(this).closest('.control-group').next('.control-group');
                messageControlGroup.find('input').toggle($(this).val()!="y");
                messageControlGroup.find('.default-notification').toggle($(this).val()=="y");
            }
            $("#notifications select").change(toggleDefaultNotification).trigger('change');
            </script>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> {% trans %}Save Bar{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
                <button type="button" class="btn" onclick="window.location='{{ uri_for('location-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    if(window.location.href.indexOf("tutorial=true") > 0) {
        loadAndStartTutorial("{{ uri_for('tutorial-json', page='bar-new') }}");
    }
});
</script>
{% endblock %}