{% extends "merchants/base.html" %}
{% block title %}{% trans %}Locations &amp; Bars{% endtrans %}{% endblock %}
{% block head_additional %}
<script src="/merchants/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery.ui.touch-punch.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% trans %}Locations &amp; Bars{% endtrans %}
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ uri_for('location-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Location{% endtrans %}</a>
        </div>
    </h1>
</div>

<p class="lead">{% trans %}Customers will go to a <strong>location</strong> of yours and order from a <strong>bar</strong> within that location.{% endtrans %}</p>
<p><span class="label label-info">{% trans %}Example{% endtrans %}</span> {% trans %}The Studio 54 night club is located in Copenhagen and Odense. The Copenhagen location has two bars: Upstairs and downstairs.{% endtrans %}</p>

{% if locations.count(limit=1) %}
<table class="table" id="locationlist">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Enabled{% endtrans %}</th>
        <th>{% trans %}Status for Realtime Orders{% endtrans %}</th>
        {% for menu in menus %}
            <th>{{ menu.name|e }}</th>
        {% endfor %}
        <th>{% trans %}Location pictures{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for location in locations %}
    <tr>
        <td><a href="{{ uri_for('location-edit', location_id=location.key().id()) }}"><i class="icon-pencil"></i> {{ location.name|e }}</a></td>
        <td>{% if location.enabled %}{% trans %}Enabled{% endtrans %}{% else %}{% trans %}Disabled{% endtrans %}{% endif %}</td>
        <td></td>
        {% for menu in menus %}
        <td></td>
        {% endfor %}
        <td>
            <a href="#uploadModal" role="button" data-toggle="modal" onclick="setModalData('{{ location.key().id() }}')"><i class="icon-camera"></i> {% trans %}Manage images{% endtrans %}</a>
        </td>
        <td><form action="{{ uri_for('location-delete', location_id=location.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    <tr class="bar"><td colspan="10">{% trans %}Bars:{% endtrans %}</td></tr>
        {% for bar in location.bars %}
            <tr class="bar">
                <td><a href="{{ uri_for('bar-edit', bar_id=bar.key().id()) }}"><i class="icon-pencil"></i> {{ bar.name|e }}</a></td>
                <td>{% if bar.enabled %}{% trans %}Enabled{% endtrans %}{% else %}{% trans %}Disabled{% endtrans %}{% endif %}</td>
                <td>{% if bar.open %}{% trans %}Open for orders{% endtrans %}{% elif bar.paused %}{% trans %}Paused for orders{% endtrans %}{% else %}{% trans %}Closed for orders{% endtrans %}{% endif %}</td>
                {% for menu in menus %}
                    <td>
                    {% if bar.key() in menu.bars %}
                        <span class="badge badge-success badge-fillcell"><i class="icon icon-white icon-ok"></i></span>
                    {% endif %}
                    </td>
                {% endfor %}
                <td><form action="{{ uri_for('bar-delete', bar_id=bar.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
            </tr>
        {% endfor %}
        <tr class="newbar"><td colspan="10"><a class="btn btn-small" href="{{ uri_for('location-newbar', location_id=location.key().id()) }}"><i class="icon-plus"></i> {% trans location_name=location.name %}Add New Bar at {{ location_name }}{% endtrans %}</a></td></tr>
    {% endfor %}
    <tr><td colspan="10"><a class="btn btn-small" href="{{ uri_for('location-new') }}"><i class="icon-plus"></i> {% trans %}Add New Location{% endtrans %}</a></td></tr>
    </tbody>
</table>
{% endif %}

<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <form action="{{ form_action }}" method="post" enctype="multipart/form-data" class="form-horizontal" id="locationform" style="margin-bottom:0">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans %}Location pictures{% endtrans %}</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="location_id" id="location_id_form" value=""/>           
            <div class="control-group">
                <label class="control-label" for="file">{% trans %}Select images{% endtrans %}</label>
                <div class="controls">
                    <div class="input">
                        <input type="file" name="file" id="file" multiple>     
                    </div>
                    <div class="help-inline">
                    {% trans %}For best results, use landscape oriented pictures, at least 1000px wide.{% endtrans %}
                    </div>
                </div>
            </div>           
            <p id="drag-info"><span class="label label-info">{%trans%}INFO{%endtrans%}</span> {% trans %}Drag and drop pictures to sort them. This affects the order in which the pictures appear in Zerved.{% endtrans %}</p>
            <div id="location-images" class="sort-list">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Close{% endtrans %}</button>
            <button class="btn btn-primary" name="submit">{% trans %}Upload{% endtrans %}</button>
        </div>
    </form>
</div>

<script type="text/javascript">

var images_holder = $("#location-images");

function setModalData(id) {
    $("input[name='file']").val("");
    $('#location_id_form').val(id);
    $("#drag-info").css("display", "none");
    images_holder.html("");
    loadImages(id);
}

function loadImages(location_id) {
    images_holder.html('<center><img src="/merchants/img/ajax-loader.gif"><center>');
    $.get('/merchants/locations/cover/all/'+location_id, function(data){
        images_holder.html("");
        $("#drag-info").css("display", (data.length > 1) ? "block" : "none");
        for (var i = 0; i < data.length; i++) {
            var thumbnail = $('<div class="location-thumbnail" id="'+data[i]+'"><a href="/merchants/locations/cover/delete/'+location_id+'/'+data[i]+'" class="location-thumbnail-delete"><i class="icon icon-white icon-trash"></i></a></div>');
            thumbnail.attr('style', 'background-image:url(/merchants/locations/cover/serve/'+data[i]+')');
            images_holder.append(thumbnail);
        }
    });
}

$(document).ready(function() {
    $(".location-thumbnail-delete").live('click',function(e){
        e.preventDefault();
        var l = $(this);
        if(l.attr("href") != "#" && confirm('{% trans %}Delete this picture?{% endtrans %}')){
            var target = l.attr('href');
            l.attr('href', '#');
            l.parent('.location-thumbnail').css("opacity", "0.3");
            $.get(target, function(data) {
                l.parent('.location-thumbnail').animate({height: 'toggle', opacity: 0}, 150, function(){
                    $(this).remove();
                });
            });

        }
    });

    $("input[name='file']").on('change', function(){
        $(".modal-footer .btn.btn-primary").prop("disabled", $("input[name='file']").val() == "");
    }).trigger('change');

    // Sort the images, auto saves on release
    images_holder.sortable({ 
        stop: function(event, ui) { 
            keys = []
            $('.location-thumbnail').each(function(){ keys.push($(this).attr('id')); });
            $.post('/merchants/locations/cover/sort/' + $('#location_id_form').val(), { _csrf_token: '{{ csrf_token }}', keys: keys}, function(data){});
        }
    });

    // Upload images with AJAX, uses jquery form plugin
    $('#locationform').submit(function() { 
        $this = $(this);
        var options = { 
            clearForm: true,
            uploadProgress: function(event, position, total, percentComplete){
                $('[name=submit]').html("{% trans %}Uploading...{% endtrans %} " + percentComplete + "%");
                console.log(position + " of " + total);
            },
            success: function(responseText){
                $this.attr("action", responseText);
                loadImages($('#location_id_form').val());
                $("input[name='file']").trigger('change');
                $('[name=submit]').html("{% trans %}Upload{% endtrans %}");
            }
        }; 
        $(this).ajaxSubmit(options);
        return false; 
    });

    $('[name=submit]').click(function(){
        $('#upload_file').submit();        
    });


});

</script>
{% endblock %}