{% macro locationform(form) -%}
{% import 'merchants/forms.html' as forms %}
{% if form._prefix %}
{{ forms.control(form.name) }}
{% else %}
{{ forms.control(form.name, autofocus="autofocus") }}
{% endif %}
{{ forms.control(form.enabled) }}
<div class="control-group{% if form.location.errors %} error{% endif %}">
    <label class="control-label">{% trans %}Location{% endtrans %}</label>
    <div class="controls">
        <button type="button" class="btn" id="mapButton"><i class="icon icon-map-marker"></i> <span class="location-label"></span></button>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#mapButton').locationPicker({
                locationfield: $("#location"),
                labels: {
                    search: '{% trans %}Search{% endtrans %}',
                    drag_me: '{% trans %}Drag me{% endtrans %}'
                }
            });
        });
        </script>
        {{ form.location() }}
        {% if form.location.errors %}
        <span class="errors help-inline">{% for error in form.location.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro barform(form) -%}
{% import 'merchants/forms.html' as forms %}
{% if form._prefix %}
{{ forms.control(form.name) }}
{% else %}
{{ forms.control(form.name, autofocus="autofocus") }}
{% endif %}
{{ forms.control(form.enabled) }}

{{ forms.control(form.counter_service_to_stay) }}
{{ forms.control(form.counter_service_to_go) }}
{{ forms.control(form.table_service) }}
{{ forms.control(form.delivery_service) }}

{% endmacro %}