{% extends "merchants/base.html" %}
{% block title %}{% trans %}Merchants{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Merchants{% endtrans %}
        <a class="btn btn-primary pull-right" href="{{ uri_for('merchant-new') }}">
            <i class="icon-plus icon-white"></i> {% trans %}Add New Merchant{% endtrans %}
        </a>
    </h1>
</div>

<div class="search">
    <input type="search" placeholder="{% trans %}Search...{% endtrans %}">
    <div class="search-results">
        <ul>
        </ul>
    </div>
</div>

{{ pager }}

<table class="table">
    <thead>
    <tr>
        <th><i class="icon icon-user"></i> {% trans %}Name{% endtrans %}</th>
        <th><i class="icon icon-map-marker"></i> {% trans %}Locations{% endtrans %}</th>
        <th><i class="icon icon-glass"></i> {% trans %}Bars{% endtrans %}</th>
        <th>{% trans %}Manage{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for merchant in merchants %}
    {% for location in merchant.locations %}
        {% if loop.first %}
        {# First row, include merchant data #}
        <tr>
            <td rowspan="{{ loop.length }}"><a href="{{ uri_for('merchant-edit', merchant_id=merchant.key().id()) }}"><i class="icon-pencil"></i> {{ merchant.name|e }}</a></td>
            <td>{{ location.name|e }}</td>
            <td>
                <ul class="unstyled">
                {% for bar in location.bars %}
                    <li>{{ bar.name|e }}</li>
                {% endfor %}
                </ul>
            </td>
            <td rowspan="{{ loop.length }}">
                {% if user_merchant.key() == merchant.key() %}
                {% trans %}Managing{% endtrans %}
                {% else %}
                <form action="{{ uri_for('merchant-list') }}" method="post" class="form-inline"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><input type="hidden" name="merchant_key" value="{{ merchant.key() }}"><button type="submit" class="btn btn-mini">{% trans %}Manage{% endtrans %}</button></form>
                {% endif %}
            </td>
            <td rowspan="{{ loop.length }}">
                <form action="{{ uri_for('merchant-delete', merchant_id=merchant.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Warning: You are about to delete the whole merchant account including all products. This action cannot be undone! Are you sure you want to delete it?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form>
            </td>
        </tr>
        {% else %}
        {# Subsequent location/bar rows #}
        <tr>
            <td>{{ location.name|e }}</td>
            <td>
                <ul class="unstyled">
                {% for bar in location.bars %}
                    <li>{{ bar.name|e }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    {% else %}
    {# Merchant with no locations #}
    <tr>
        <td><a href="{{ uri_for('merchant-edit', merchant_id=merchant.key().id()) }}"><i class="icon-pencil"></i> {{ merchant.name|e }}</a></td>
        <td></td>
        <td></td>
        <td>
            {% if user_merchant.key() == merchant.key() %}
            {% trans %}Managing{% endtrans %}
            {% else %}
            <form action="{{ uri_for('merchant-list') }}" method="post" class="form-inline"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><input type="hidden" name="merchant_key" value="{{ merchant.key() }}"><button type="submit" class="btn btn-mini">{% trans %}Manage{% endtrans %}</button></form>
            {% endif %}
        </td>
        <td>
            <form action="{{ uri_for('merchant-delete', merchant_id=merchant.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Warning: You are about to delete the whole merchant account including all products. This action cannot be undone! Are you sure you want to delete it?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

<script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Search results templates -->
<script id="merchant-result-template" type="text/x-jquery-tmpl">
<li onclick="$(this).find('form').submit()">
    <form action="/merchants/merchants" method="post" style="margin: 0;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="merchant_key" value="${ key }">
        <input type="hidden" name="redirect_url" value="/merchants/merchants/edit/${ id }">
        <h5>
            <span class="label label-info"><i class="icon icon-white icon-user"></i> {% trans %}merchant{% endtrans %}</span> ${ name }
        </h5>
    </form>
</li>  
</script>

<script id="location-result-template" type="text/x-jquery-tmpl">
<li onclick="$(this).find('form').submit()">
    <form action="/merchants/merchants" method="post" style="margin: 0;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="merchant_key" value="${ merchant_key }">
        <input type="hidden" name="redirect_url" value="/merchants/locations/edit/${ id }">
        <h5>
            <span class="label label-info"><i class="icon icon-white icon-map-marker"></i> {% trans %}location{% endtrans %}</span> ${ name }
            <span class="muted"> / ${ merchant_name }</span>
        </h5>
    </form>
</li>
</script>

<script id="bar-result-template" type="text/x-jquery-tmpl">
<li onclick="$(this).find('form').submit()">
    <form action="/merchants/merchants" method="post" style="margin: 0;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="merchant_key" value="${ merchant_key }">
        <input type="hidden" name="redirect_url" value="/merchants/bars/edit/${ id }">
        <h5>
            <span class="label label-info"><i class="icon icon-white icon-glass"></i> {% trans %}bar{% endtrans %}</span> ${ name }
            <span class="muted"> / ${ location_name } / ${ merchant_name }</span>
        </h5>
    </form>
</li>
</script>

<script id="no-results-template" type="text/x-jquery-tmpl">
    <li class="no-actions text-center">
        <p class="muted" style="margin-bottom:4px">
           {% trans %}No results{% endtrans %}
        </p>
    </li>
</script>

<script id="loading-results-template" type="text/x-jquery-tmpl">
    <li class="no-actions text-center">
        <p class="muted" style="margin-bottom:4px">
           <i class="icon icon-refresh"></i> {% trans %}Loading{% endtrans %}
        </p>
    </li>
</script>

<script type="text/javascript">
$(document).ready(function(){

    // Compiles the templates from the markup
    var merchant_result_template = $.template('merchant-result-template', $("#merchant-result-template"));
    var location_result_template = $.template('location-result-template', $("#location-result-template"));
         var bar_result_template = $.template('bar-result-template'     , $("#bar-result-template"));
         var no_results_template = $.template('no-results-template'     , $("#no-results-template"));
    var loading_results_template = $.template('loading-results-template', $("#loading-results-template"));

    var xhr;

    // Ajax request and results management
    function searchMerchant(query){
        if(query.length > 0){
            appendResult(loading_results_template, null);
            if (xhr && xhr.readyState != 4) {
                xhr.abort();
            }
            xhr = $.get("{{ uri_for('merchant-list') }}", {'search' : query}, function(data){
                if(data.merchants || data.locations || data.bars)
                    displayResults(data);
                else appendResult(no_results_template, null);
            });
        }
    }

    // Appends the data to the results list with the given template
    function appendResult(template, data){
        var list = $(".search-results ul");
        if(template == no_results_template || template == loading_results_template)
            list.html("");

        $.tmpl(template, data).appendTo(list);
    }

    // Creates the results list
    function displayResults(data){
        // Clear results
        $(".search-results ul").html("");

        // Add merchants results
        if(data.merchants) {
            for(var i=0; i < data.merchants.length; i++)
                appendResult(merchant_result_template, data.merchants[i]);
        }
        // Add locations results
        if(data.locations) {
            for(var i=0; i < data.locations.length; i++)
                appendResult(location_result_template, data.locations[i]);
        }
        // Add bars results
        if(data.bars) {
            for(var i=0; i < data.bars.length; i++)
                appendResult(bar_result_template, data.bars[i]);
        }
       
    }

    // Search field events
    $(".search input").focus(function(){
        if($(this).val().length > 0){
            $(".search-results").fadeIn(50);
            searchMerchant($(this).val());
        }
    });
    $("html").click(function(){
        $(".search-results").fadeOut(50);
    });
    $(".search input").keyup(function(){
        if($(this).val().length > 0){
            $(".search-results").fadeIn(50);
            searchMerchant($(this).val());
        }
        else $(".search-results").fadeOut(50);
    });

});
</script>
{{ pager }}
{% endblock %}