{% extends "embedded/base.html" %}

{% block content %}
    {% if data|length == 0 %}
        <div class="ze-empty-view">
            <span>{% trans %}No menus at this bar{% endtrans %}</span>
        </div>
    {% else %}
        {% include "embedded/eventsummary.html" %}
        <div id="ze-table-view-container" class="ze-table-view-container">
            {% for entry in data %}
                <div class="ze-table-view-cell" data-row="{{ loop.index0 }}">
                    <div class="ze-title">{{ entry.name }}</div>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/menu.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script type="application/javascript">
        $(function() {
            var event = ZEEvent.getEvent();
            if (event) {
                showEventSummary(event);
            }

            $('.ze-table-view-cell').on('click', function () {
                var cell = $(this);
                var row = cell.data('row');
                var bar = Bar.getBar();
                var menu = bar.menus[row];
                Menu.setMenu(menu);
                navigationManager.openCategoryList('{{ tab }}', bar.key, menu.key, menu.name);
            });
        });
    </script>
{% endblock %}