{% extends "embedded/base.html" %}

{% block content %}
    {% include "embedded/eventsummary.html" %}
    <div id="ze-table-view-container" class="ze-table-view-container">
        {% for entry in data %}
            <div class="ze-table-view-cell" data-row="{{ loop.index0 }}">
                <div class="ze-title">{{ entry.name }}</div>
                <span class="ze-disclosure fa fa-chevron-right"></span>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/menu.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script type="application/javascript">
        $(function() {
            var event = ZEEvent.getEvent();
            var title;
            if (event) {
                title = event.name;
                showEventSummary(event);
            } else {
                title = '{% trans %}Sales points{% endtrans %}';
            }
            $('.ze-nav-bar-title').text(title);
        });

        $('.ze-table-view-cell').on('click', function() {
            var zeLocation = ZELocation.getLocation();
            var cell = $(this);
            var row = cell.data('row');
            var bar = zeLocation.bars[row];
            var numMenus = bar.menus.length;
            if (numMenus == 0) {
                // No menus
                zeProgressHudShow('{% trans %}Event is not taking orders{% endtrans %}', {errorState: true});
            } else if (numMenus > 1) {
                // List menus
                Bar.setBar(bar);
                navigationManager.openMenuList('{{ tab }}', bar.key);
            } else {
                // One menu, list categories
                var menu = bar.menus[0];
                Bar.setBar(bar);
                Menu.setMenu(menu);
                navigationManager.openCategoryList('{{ tab }}', bar.key, menu.key, $(this).find('.ze-title').text());
            }
        });
    </script>
{% endblock %}