<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Zerved Mobile Order and Pay{% endblock %}</title>
    <meta name="description" content="{% block description %}Order Drinks, Food & Tickets on Your Phone with the Zerved (available for iOS and Android){% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link rel="stylesheet" href="/embedded/css/base.css?v=8" type="text/css" media="screen" charset="utf-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 8]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	{% include "embedded/navbar.html" %}
    <div class="ze-content-container" style="background-color: {% block background_color %}#ffffff{% endblock %};">
    {% block content %}{% endblock %}
    </div>
	{% include "embedded/tabbar.html" %}
    <div id="ze-progress-hud" class="ze-progress-hud">
        <div class="ze-progress-box">
            <div class="ze-progress-spinner"></div>
            <span id="ze-progress-text" class="ze-progress-text"></span>
        </div>
    </div>
    {% block modals %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/1.5.1/js.cookie.min.js"></script>
    <script type="text/javascript" src="/embedded/js/fastclick.js"></script>
    <script type="text/javascript" src="/embedded/js/widgets/progress_hud.js"></script>
    <script type="text/javascript" src="/embedded/js/navigation.js?v=10"></script>
    <script type="text/javascript" src="/embedded/js/widgets/cart_button.js"></script>
    <script type="text/javascript">
        {# Set message for generic page changes. Used in navigationManager that does not have trans-tags #}
        globalPageChangingMessage = '{% trans %}Loading{% endtrans %}';

        {# Enable fast click to avoid 300ms click delay on mobile devices #}
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>