{% extends "embedded/base.html" %}
{% import "embedded/macros/product_views.html" as product_views %}

{% block background_color %}#efeff4{% endblock %}

{% block content %}
    <div class="ze-empty-view" style="display: none;">
        <span>{% trans %}No items in cart{% endtrans %}</span>
    </div>
    <div class="ze-cart-container">
        {% include "embedded/eventsummary.html" %}
        <div class="ze-table-view-container ze-cart-table">
            <div class="ze-table-view-section-header">
                {% if bar and event_key %}
                {% elif bar %}
                    {{ bar.name }}
                {% elif location %}
                    {{ location.name }}
                {% endif %}
            </div>
            <div class="ze-table-view-section">
                <div id="ze-cart-items-container"></div>
                <div class="ze-table-view-cell ze-label-value-cell ze-no-interaction" id="ze-discount-cell" style="display: none;">
                    <div class="ze-title">{% trans %}Discount{% endtrans %}</div>
                    <div class="ze-value"></div>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-tip-cell ze-no-interaction" id="ze-tip-cell" style="display: none;">
                    <div class="ze-title">{% trans %}Tip{% endtrans %}</div>
                    <div class="ze-price-label" style="display: none;"></div>
                    <div class="ze-tip-slider-wrapper" style="display: none;">
                        <input type="range" id="ze-tip-slider" min="0" max="25" step="1" value="10">
                    </div>
                    <div class="ze-tip-slider-value" style="display: none;"></div>
                    <span class="ze-plus-button ze-clickable fa fa-plus-circle" style="display: none;"></span>
                    <hr>
                </div>
                <div id="ze-fee-container"></div>
                <div class="ze-table-view-cell ze-label-value-cell ze-total-price-cell ze-no-interaction" id="ze-total-price-cell">
                    <div class="ze-title"></div>
                    <div class="ze-value"></div>
                    <hr>
                </div>
            </div>
            <div class="ze-table-view-section-header">{% trans %}Details{% endtrans %}</div>
            <div class="ze-table-view-section">
                <div class="ze-table-view-cell ze-label-value-cell ze-service-cell" id="ze-service-cell" style="display: none;">
                    <div class="ze-title">{% trans %}Service{% endtrans %}</div>
                    <div class="ze-value"></div>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-label-value-cell ze-waiting-cell ze-no-interaction" id="ze-waiting-cell" style="display: none;">
                    <div class="ze-title">{% trans %}Average waiting time{% endtrans %}</div>
                    <div class="ze-value"></div>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-label-value-cell" id="ze-loyalty-cell" style="display: none;">
                    <div class="ze-title">{% trans %}Loyalty number{% endtrans %}</div>
                    <div class="ze-value"></div>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-terms-cell ze-clickable" id="ze-terms-cell" style="display: none;">
                    <div class="ze-checkbox-label-wrapper">
                        <span class="ze-dummy-checkbox">
                            <span class="ze-check-mark fa fa-check"></span>
                        </span>
                        <div class="ze-title">{% trans %}Accept terms & conditions{% endtrans %}</div>
                    </div>
                    <span class="ze-info-button">
                        <span class="fa fa-info"></span>
                    </span>
                    <hr>
                </div>
            </div>
        </div>
        <div id="ze-place-order-button" class="ze-primary-action-button ze-disabled">{% trans %}Place Order{% endtrans %}</div>
    </div>
{% endblock %}

{% block modals %}
    {# Modal view for edit options #}
    <div id="ze-options-modal-view" class="ze-modal-view ze-options-modal">
        {# Nav bar #}
        <div class="ze-nav-bar ze-has-right-button">
            <h1 class="ze-nav-bar-title"></h1>
            <span class="ze-nav-bar-button ze-nav-bar-right-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            {# Table view #}
            <div class="ze-table-view-container">
            </div>
        </div>
    </div>

    {# Modal view for service choice #}
    <div id="ze-service-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar ze-has-right-button">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Cancel{% endtrans %}</span>
            <h1 class="ze-nav-bar-title">{% trans %}Select service{% endtrans %}</h1>
            <span class="ze-nav-bar-button ze-nav-bar-right-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            {# Table view #}
            <div class="ze-table-view-container">
            </div>
        </div>
    </div>

    {# Modal view for terms #}
    <div id="ze-terms-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            <div class="ze-terms-wrapper">
                <h1>{% trans %}Terms &amp; Conditions{% endtrans %}</h1>
	            {% include "shared/tac.html" %}
            </div>
        </div>
    </div>

    {# Modal view for ePay pincode #}
    <div id="ze-pincode-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Cancel{% endtrans %}</span>
            <h1 class="ze-nav-bar-title">{% trans %}Confirm payment{% endtrans %}</h1>
        </div>

        {# Content #}
        <div class="ze-content-container ze-pincode-content">
            <h2>{% trans %}Enter your payment code{% endtrans %}</h2>
            <h3>{% trans %}for your saved card{% endtrans %}</h3>
            <div class="ze-pincode-circles-container">
                <textarea pattern="[0-9]*" class="ze-pincode-hidden-input" style="display: none"></textarea>
                <input type="text" pattern="[0-9]*" maxlength="4" class="ze-pincode-hidden-input" style="display: none">
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
            </div>
            <div class="ze-forgot-text">{% trans %}Forgot your code or got a new card?{% endtrans %}</div>
            <div class="ze-forgot-button">{% trans %}Enter card details again{% endtrans %}</div>
        </div>
    </div>

    {# Modal view for payment type choice #}
    <div id="ze-payment-type-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Cancel{% endtrans %}</span>
            <h1 class="ze-nav-bar-title">{% trans %}Select payment method{% endtrans %}</h1>
        </div>

        {# Content #}
        <div class="ze-content-container">
            {# Table view #}
            <div class="ze-table-view-container">
                <div class="ze-table-view-cell" id="ze-payment-credit-card-cell">
                    <div class="ze-title">{% trans %}Credit Card{% endtrans %}</div>
                    <hr>
                </div>
                <div class="ze-table-view-cell" id="ze-payment-mobilepay_native_embedded-cell">
                    <div class="ze-title">{% trans %}MobilePay{% endtrans %}</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/cart.js?v=2"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/product.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/widgets/cart_item_cell.js"></script>
    <script src="/embedded/js/widgets/quantity_stepper.js"></script>
    <script src="/embedded/js/widgets/modal_view.js?v=4"></script>
    <script src="/embedded/js/widgets/rangeslider.min.js"></script>
    <script type="application/javascript">
        $(function() {
            var event = ZEEvent.getEvent();
            if (event) {
                showEventSummary(event);
            }

            // Load cart
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = localStorage.group;
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
{#            var locationKey = {% if location %}'{{ location.key }}'{% else %}null{% endif %};#}
{#            var barKey = {% if bar %}'{{ bar.key() }}'{% else %}null{% endif %};#}
{#            var eventKey = {% if event_key %}'{{ event_key }}'{% else %}null{% endif %};#}
{#            console.log(locationKey);#}
{#            console.log(barKey);#}
{#            console.log(eventKey);#}
{#            console.log('{{ group }}');#}
{#            var cart = Cart.getCartForLocation(locationKey, barKey, '{{ group }}', eventKey);#}
            console.log(cart);

            // Place order button
            var placeOrderButonEnabled = false;
            $('#ze-place-order-button').on('click', function () {
                if (placeOrderButonEnabled) {
                    // Validate terms
                    if (!cart.termsAccepted) {
                        zeProgressHudShow('{% trans %}Please accept the Terms & Conditions{% endtrans %}', {errorState: true});
                        return;
                    }

                    // Validate table number
                    if (cart.service === 'table' && cart.tableNumber === '') {
                        zeProgressHudShow('{% trans %}Please enter your table number{% endtrans %}', {errorState: true});
                        return;
                    }

                    // Validate service
                    if (cart.service === '') {
                        zeProgressHudShow('{% trans %}Please choose a service type{% endtrans %}', {errorState: true});
                        return;
                    }

                    // Validate min order amount
                    if (cart.service == 'delivery' && cart.quote.subtotal < cart.bar.delivery_min_order_amount) {
                        zeProgressHudShow('{% trans %}The minimum order amount for delivery is{% endtrans %} ' + bar.delivery_min_order_amount_formatted, {errorState: true});
                        return;
                    }

                    if (typeof cart.quote.custom_allowed_payment_methods !== 'undefined') {
                        // Custom allowed payment methods specified.
                        var allowed_payment_methods_string_array = cart.quote.custom_allowed_payment_methods.split(",");
                        var enabled_payment_methods = [];

                        var epayIsEnabled = jQuery.inArray("epay", allowed_payment_methods_string_array) > -1;
                        if(epayIsEnabled == true) {
                            enabled_payment_methods.push("epay");
                        }

                        var mobilepayAppswitchEmbeddedIsEnabled = jQuery.inArray("mobilepay_appswitch_embedded", allowed_payment_methods_string_array) > -1;
                        if(mobilepayAppswitchEmbeddedIsEnabled) {
                            enabled_payment_methods.push("mobilepay_appswitch_embedded");
                        }

                        if (enabled_payment_methods.length >= 2) {
                            new PaymentTypeModalView($('#ze-payment-type-modal-view'), epayIsEnabled, mobilepayAppswitchEmbeddedIsEnabled, function (choice) {
                                placeOrder(choice);
                            });
                        }
                        else {
                            if(epayIsEnabled) {
                                placeOrder('credit_card');
                            }
                            else if(mobilepayAppswitchEmbeddedIsEnabled) {
                                placeOrder('mobilepay_appswitch_embedded');
                            }
                            else {
                                alert('{% trans %}No valid payment method found.{% endtrans %}');
                            }
                        }
                    }
                    else {
                        placeOrder('credit_card');
                    }
                }
            });

            var quote = null;
            var reload = function() {
                zeProgressHudShow('{% trans %}Loading{% endtrans %}');
                console.log('reload');
                // Disable all favourite buttons until new ones are reloaded
                $('.ze-cart-item-cell .ze-favourite-button')
                        .off('click')
                        .css('opacity', 0.2);

                // Hide cells that might be invalidated
                $('#ze-discount-cell').hide();

                ConsumerManager.getConsumerManager().authenticate(function() {
                    // Load quote
                    var url = '/api/v2/quote';
                    var data = cart.serialize();
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        headers: {'Authorization': consumerManager.authValue},
                        contentType: "application/json",
                        success: function (quoteReceived, textStatus, jqXHR) {
                            zeProgressHudDismiss();
                            // Quote received
                            quote = quoteReceived;
                            cart.attachQuote(quote);
                            if (typeof quote.bar !== 'undefined') {
                                bar = quote.bar;
                            }

                            // Remove invalid items
                            var invalidItems = cart.validateQuoteItems();
{#                          TODO: Replace this temp code with a port of the commented code below#}
                            cart.items.forEach(function(item) {
                                item.isFavourite = false;
                            });
{#                          TODO: Wait porting this until favorites are implemented#}
{#                            // Load consumer's favourites#}
{#                            if (!self.event) {#}
{#                            ZEConsumerManager *consumerManager = ((ZEAppDelegate *)[[UIApplication sharedApplication] delegate]).consumer;#}
{#                            RKObjectManager *objectManager = [RKObjectManager sharedManager];#}
{#                            [objectManager getObjectsAtPath:[NSString stringWithFormat:@"consumers/%@/favourites", consumerManager.consumerKey]#}
{#                                                 parameters:nil#}
{#                                                    success:^(RKObjectRequestOperation *operation, RKMappingResult *mappingResult) {#}
{#                                                        [SVProgressHUD dismiss];#}
{#                                                        NSMutableArray *favourites = [[NSMutableArray alloc] initWithArray:[mappingResult array]];#}
{#                                                      #}
{#                                                        for(int i=0; i < [[self getCart] countRows]; i++){#}
{#                                                            ZECartItem *item = [[self getCart].items objectAtIndex:i];#}
{#                                                            #}
{#                                                            // Creates a fake favourite to compare#}
{#                                                            ZEFavourite *testFavourite = [[ZEFavourite alloc] initWithProduct:[[ZEProduct alloc] initWithKey:item.productKey]#}
{#                                                                                                                   andOptions:item.options];#}
{#                                                            #}
{#                                                            // checks if the current item is a consumer's favorite item#}
{#                                                            ((ZECartItem *)[[self getCart].items objectAtIndex:i]).isFavourite = NO;#}
{#                                                            ((ZECartItem *)[[self getCart].items objectAtIndex:i]).favouriteId = [NSNumber numberWithInt:0];#}
{#                                                            for(int j=0; j < [favourites count]; j++)#}
{#                                                            {#}
{#                                                                if([testFavourite isEqual:[favourites objectAtIndex:j]]){#}
{#                                                                    // Update the cart item if it's a consumer's favourite item#}
{#                                                                    ((ZECartItem *)[[self getCart].items objectAtIndex:i]).isFavourite = YES;#}
{#                                                                    ((ZECartItem *)[[self getCart].items objectAtIndex:i]).favouriteId = ((ZEFavourite *)[favourites objectAtIndex:j]).favouriteId;#}
{#                                                                    ((ZECartItem *)[[self getCart].items objectAtIndex:i]).favourite = [favourites objectAtIndex:j];#}
{#                                                                    break; // No need to go further#}
{#                                                                }#}
{#                                                            }#}
{#                                                        }#}
{#                                                        // Update view#}
{#                                                        [self reloadTableView];#}
{#                                                        return;#}
{#                                                    }#}
{#                                                    failure:^(RKObjectRequestOperation *operation, NSError *error) {#}
{#                                                        [SVProgressHUD dismiss];#}
{#                                                        [SVProgressHUD showErrorWithStatus:NSLocalizedString(@"Error", nil)];#}
{#                                                        return;#}
{#                                                    }];#}
{#                            }#}

                            // Update view
                            reloadTable();

                            // Alert if loyalty code is invalid
                            if (!quote.loyalty_code_valid && quote.loyalty_code.length > 0) {
                                zeProgressHudShow('{% trans %}Loyalty number{% endtrans %} {% trans %}does not exist{% endtrans %}', {errorState: true});
                            }

                            // Alert if invalid items were removed
                            if (invalidItems > 0) {
                                alert(invalidItems + ' {% trans %}item(s) have been removed from your cart because the menu has changed.{% endtrans %}');
                            }
                            // Allow place order
                            enablePlaceOrderButon();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                });
            };

            var enablePlaceOrderButon = function() {
                $('#ze-place-order-button').removeClass('ze-disabled');
                placeOrderButonEnabled = true;
            };

            var reloadTable = function() {
                if (cart.countRows() > 0) {
                    {# Cart items  #}
                    var cartItemsContainer = $('#ze-cart-items-container').empty();
                    cart.items.forEach(function(cartItem, cartItemIndex) {
                        var includeFavouriteButton = event == null;
                        var cartItemCell = new CartItemCell({
                            'cartItem': cartItem,
                                {# favourite buttons are disabled until favourites are implemented #}
{#                            'favouriteHandler': function() {#}
{#                                cartItemCell.cartItem.isFavourite = !cartItemCell.cartItem.isFavourite;#}
{#                                cartItemCell.toggleFavouriteButton(cartItemCell.cartItem.isFavourite);#}
{#                                console.log('Toggle favourite button');#}
{#                            },#}
                            'editButtonHandler': function() {
                                // Load product
                                var url = '/api/v2/products/' + cartItem.productKey;
                                zeProgressHudShow('{% trans %}Loading options{% endtrans %}');
                                $.ajax({
                                    type: 'GET',
                                    url: url,
                                    success: function (product, textStatus, jqXHR) {
                                        zeProgressHudDismiss();
                                        console.log(product);
                                        var modalElement = $('#ze-options-modal-view');
                                        new MultiOptionModalView(
                                                modalElement,
                                                cartItem,
                                                product,
                                                {
                                                    'single_title': '{% trans %}Select one{% endtrans %}',
                                                    'single_optional_title': '{% trans %}Select one (optional){% endtrans %}',
                                                    'multi_title': '{% trans %}Select at least one{% endtrans %}',
                                                    'multi_optional_title': '{% trans %}Select one or more (optional){% endtrans %}',
                                                    'missingSelectionMessage': '{% trans %}Please select{% endtrans %}'
                                                },
                                                function(item) {
                                                    console.log(cartItem);
                                                    console.log(item);
{#                                                    cart.updateItem(item, cartItemIndex);#}
                                                    cart.save();
                                                    reload();
                                                }
                                        );
                                        console.log('edit button handler');
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        zeProgressHudDismiss();
                                        alert(errorThrown);
                                    }
                                });

                            },
                            'quantityStepperHandler': function(value) {
                                if (value == 0) {
                                    // Remove item
                                    cart.removeItem(cartItem);
                                } else {
                                    // Update item
                                    cartItem.quantity = value;
                                }
                                cart.save();
                                reload();
                            },
                            'expansionStateChangeHandler': function() {
                                cart.save();
                            },
                                'editButtonTitle': '{% trans %}Edit options{% endtrans %}'
                            }
                        );
                        cartItemsContainer.append(cartItemCell.view);
                    });

                    {# Discount cell #}
                    var hasDiscount = quote && parseFloat(quote.total_loyalty_discount_incl_tax) != 0;
                    if (hasDiscount) {
                        var discountCell =  $('#ze-discount-cell').show();
                        discountCell.find('.ze-value').text(quote.total_loyalty_discount_incl_tax_formatted);
                    }

                    {# Tips cell #}
                    if (quote && quote.tip_enabled) {
                        var tipCell = $('#ze-tip-cell').show();
                        var tipButton = tipCell.find('.ze-plus-button');
                        var tipValue = tipCell.find('.ze-price-label');
                        var tipSliderWrapper = tipCell.find('.ze-tip-slider-wrapper');
                        var tipSliderValue = tipCell.find('.ze-tip-slider-value');
                        if (cart.tip_percent > 0) {
                            tipCell.toggleClass('ze-expanded', true);
                            tipButton.hide();
                            tipValue.text(quote.tip_formatted).show();
                            tipSliderWrapper.show();
                            tipSliderValue.show();
                            tipSliderWrapper.find('#ze-tip-slider')
                                    .rangeslider({
                                        polyfill: false,
                                        rangeClass: 'ze-rangeslider',
                                        fillClass: 'ze-rangeslider-fill',
                                        handleClass: 'ze-rangeslider-handle',
                                        onSlide: function(position, value) {
                                            tipSliderValue.text(value + ' %');
                                        },
                                        onSlideEnd: function(position, value) {
                                            tipValue.text('--');
                                            cart.tip_percent = value;
                                            cart.save();
                                            reload();
                                        }
                                    })
                                    .val(cart.tip_percent).change();
                        } else {
                            tipCell.toggleClass('ze-expanded', false);
                            tipValue.hide();
                            tipSliderWrapper.hide();
                            tipSliderValue.hide();
                            tipButton
                                    .show()
                                    .off('click')
                                    .on('click', function(e) {
                                        e.stopPropagation();
                                        cart.tip_percent = 10;
                                        cart.save();
                                        reload()
                                    });
                        }
                    }

                    {# fee cells #}
                    var feesContainer = $('#ze-fee-container').empty();
                    quote.fees.forEach(function(fee) {
                        var cell = $('<div class="ze-table-view-cell ze-label-value-cell"></div>').appendTo(feesContainer);
                        var cellTitle = $('<div class="ze-title">' + fee.name + '</div>').appendTo(cell);
                        var cellValue = $('<div class="ze-value">' + fee.price_formatted + '</div>').appendTo(cell);
                        cell.append($('<hr>'));
                    });

                    {# Grand total cell #}
                    var totalPriceCell = $('#ze-total-price-cell');
                    totalPriceCell.find('.ze-title').text('{% trans %}Total{% endtrans %} ' + quote.currency);
                    totalPriceCell.find('.ze-value').text(quote.total_incl_tax_formatted);

                    if (group === 'menu') {
                        {# Service cell #}
                        var serviceCell = $('#ze-service-cell');
                        var serviceValue = '{% trans %}Select{% endtrans %}';
                        if (cart.service === 'table') {
                            serviceValue = '{% trans %}Serve at table no.{% endtrans %} ' + cart.tableNumber;
                        } else if (cart.service === 'counter') {
                            if (Bar.hasToStayAndToGo(cart.bar)) {
                                if (cart.toGo) {
                                    serviceValue = '{% trans %}Pickup at counter to go{% endtrans %}';
                                } else {
                                    serviceValue = '{% trans %}Pickup at counter to stay{% endtrans %}';
                                }
                            } else {
                                serviceValue = '{% trans %}Pickup at counter{% endtrans %}';
                            }
                        } else if (cart.service === 'delivery') {
                            {# TODO: Implement delivery service #}
                        }
                        serviceCell.find('.ze-value').text(serviceValue);
                        serviceCell.off('click').on('click', function () {
                            presentServiceModal(null)
                        });

                        if (Bar.getServiceMethodsCount(cart.bar) > 1) {
                            serviceCell.show();
                        }

                        {# Waiting time cell #}
                        var estimatedWaitingTime = cart.estimatedWaitingTime();
                        if (estimatedWaitingTime > 0) {
                            var waitingTimeCell = $('#ze-waiting-cell');

                            waitingTimeCell.find('.ze-value').text(estimatedWaitingTime + ' {% trans %}min.{% endtrans %}');
                            waitingTimeCell.show();
                        }

                        {# Loyalty cell #}
                        var loyaltyCell = $('#ze-loyalty-cell');
                        var titleDiv = loyaltyCell.find('.ze-title');
                        var title = titleDiv.text();
                        var valueDiv = loyaltyCell.find('.ze-value');
                        var value = '';
                        if (typeof cart.quote.loyalty_program_name !== 'undefined' && cart.quote.loyalty_program_name !== '') {
                            titleDiv.text(cart.quote.loyalty_program_name);
                        }
                        if (typeof cart.loyaltyCode !== 'undefined' && cart.loyaltyCode !== null && cart.loyaltyCode.trim() !== '') {
                            value = decodeHTMLEntities(cart.loyaltyCode);
                            valueDiv.text(value);
                        } else {
                            valueDiv.text('{% trans %}Add{% endtrans %}');
                        }
                        loyaltyCell.off('click').on('click', function () {
                            var code = window.prompt(title, value);
                            if (code != null) {
                                cart.loyaltyCode = encodeHTMLEntities(code.trim());
                                cart.save();
                                reload();
                            }
                        });
                        loyaltyCell.show();
                    }

                    {# Terms cell #}
                    var termsCell = $('#ze-terms-cell');
                    termsCell.show();
                    termsCell.toggleClass('ze-selected', cart.termsAccepted);
                    termsCell.find('.ze-checkbox-label-wrapper')
                            .off('click')
                            .on('click', function() {
                                cart.termsAccepted = !cart.termsAccepted;
                                cart.save();
                                termsCell.toggleClass('ze-selected', cart.termsAccepted);
                                ConsumerManager.getConsumerManager().setTermsAccepted(cart.termsAccepted);
                            }
                    );
                    termsCell.find('.ze-info-button')
                            .off('click')
                            .on('click', function() {
                                console.log('show terms');
                                var termsModal = new ModalView(
                                    $('#ze-terms-modal-view'),
                                    function() { // left button handler
                                        termsModal.dismiss();
                                    },
                                    null
                                );
                                termsModal.present();
                            }
                    );
                } else {
                    $('.ze-empty-view').show();
                    $('.ze-cart-container').hide();
                }
            };

            // Refresh every min
            var timer = setInterval(reload, 60000);

            // Service popup
            var presentServiceModal = function(onCancel) {
                new ServiceModalView(
                        $('#ze-service-modal-view'),
                        bar,
                        cart,
                        {
                            counterTitle: '{% trans %}Pickup at counter{% endtrans %}',
                            counterToStayTitle: '{% trans %}Pickup at counter to stay{% endtrans %}',
                            counterToGoTitle: '{% trans %}Pickup at counter to go{% endtrans %}',
                            tableTitle: '{% trans %}Serve at table no.{% endtrans %}',
                            missingSelectionMessage: '{% trans %}Please select one{% endtrans %}',
                            missingTableMessage: '{% trans %}Please enter your table number{% endtrans %}'
                        },
                        function() {
                            cart.save();
                            reload();
                        },
                        onCancel
                );

            };
            if ((cart.service === '' && group === 'menu') || (cart.service === 'table' && cart.tableNumber === '')) {
                presentServiceModal(function() {
                    window.history.back();
                });
            }

            {# Payment #}
            var placeOrder = function(type) {
		        // Fetch consumer details
                zeProgressHudShow('{% trans %}Loading{% endtrans %}');
                var consumerManager = ConsumerManager.getConsumerManager();
                var url = '/api/v2/consumers/' + consumerManager.getConsumerKey();
                console.log(url);
                $.ajax({
                    type: 'GET',
                    url: url,
                    headers: {'Authorization': consumerManager.authValue},
                    contentType: "application/json",
                    success: function (consumer, textStatus, jqXHR) {
                        zeProgressHudDismiss();
                        console.log(consumer);
                        if (type === 'credit_card') {
                            // Check if consumer has a saved card (payment subscription)
{#                            if (true) {#}
                            if (consumer.current_payment_subscription) {
                                // Card saved, ask for payment code
                                var pincodeModal = new PincodeModalView(
                                        $('#ze-pincode-modal-view'),
                                        function(pincode) { // success callback
                                            pincodeModal.disableInput = true;
                                            cart.card = 'current';
                                            cart.pincode = pincode;
                                            cart.nordpayAuthorization = null;
                                            cart.nordpayRegistration = null;
                                            cart.nordpayMethod = null;
                                            cart.obscuredCardNumber = null;
                                            cart.save();

                                            // Submit
                                            zeProgressHudShow('{% trans %}Placing your order{% endtrans %}');
                                            var consumerManager = ConsumerManager.getConsumerManager();
                                            var url = '/api/v2/placeorder';
                                            var data = cart.serialize();
                                            $.ajax({
                                                type: 'POST',
                                                url: url,
                                                data: data,
                                                headers: {'Authorization': consumerManager.authValue},
                                                contentType: "application/json",
                                                success: function (result, textStatus, jqXHR) {
                                                    zeProgressHudDismiss();
                                                    if (typeof result.payment_needed !== 'undefined' && result.payment_needed) {
                                                        navigationManager.openEPay('{{ tab }}');
                                                    } else {
                                                        cart.clear();
                                                        cart.save();
                                                        navigationManager.popToTypesInTab('shop', ['location', 'category_list'], false);
                                                        navigationManager.openOrderByKey('orders', result.order_key);
                                                    }
                                                },
                                                error: function (jqXHR, textStatus, errorThrown) {
                                                    zeProgressHudDismiss();
                                                    if (jqXHR.status == 403) {
                                                        zeProgressHudShow('{% trans %}Wrong code{% endtrans %}', {errorState: true});
                                                        pincodeModal.reset();
                                                    } else {
                                                        pincodeModal.dismiss();
                                                        if (jqXHR.status == 409) {
                                                            // Validation error - reload cart to get latest quote/bar data
                                                            self.reload();
                                                        }
                                                        zeProgressHudShow(jqXHR.responseText, {errorState: true});
                                                    }
                                                }
                                            });

                                        },
                                        function() { // forgot pincode handler
                                            navigationManager.openEPay('{{ tab }}');
                                        }
                                );
                            } else {
                                // No card saved, go to payment
                                navigationManager.openEPay('{{ tab }}');
                            }
                        } else if (type == 'mobilepay_appswitch_embedded') {
                                // Go to payment with mobilepay
                                navigationManager.openMobilePayNativeEmbedded('{{ tab }}');
                            } else if (type == 'paii') {
                            // 4T
                            if (consumer.phone == null || consumer.phone.length != 8) {
                                // Phone no. needed
                                // TODO: Implement this
{#                                [self performSegueWithIdentifier:@"AddPhone" sender:self];#}
                            } else {
                                // TODO: Implement this
{#                                [self submitOrderWith4T];#}
                            }

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        zeProgressHudDismiss();
                        alert(errorThrown);
                    }
                });
            };

            {# HTML entities #}
            var decodeHTMLEntities = function(string) {
                string = string.split('&Aring;').join('Å');
                string = string.split('&AElig;').join('Æ');
                string = string.split('&Oslash;').join('Ø');
                string = string.split('&aring;').join('å');
                string = string.split('&aelig;').join('æ');
                string = string.split('&oslash;').join('ø');
                return string;
            };

            var encodeHTMLEntities = function(string) {
                string = string.split('Å').join('&Aring;');
                string = string.split('Æ').join('&AElig;');
                string = string.split('Ø').join('&Oslash;');
                string = string.split('å').join('&aring;');
                string = string.split('æ').join('&aelig;');
                string = string.split('ø').join('&oslash;');
                return string;
            };
            reload();
        });
    </script>
{% endblock %}