{% extends "embedded/base.html" %}

{% block background_color %}#efeff4{% endblock %}

{% block content %}
    <div id="ze-save-card-info" class="ze-save-card-info">
        <span>{% trans %}To verify your credit card, 1.00 DKR is reserved on your card. It will be released automatically again.{% endtrans %}</span>
    </div>
    <div class="ze-pin-saver-container" id="ze-pin-saver-container">
        <div class="ze-table-view-container">
            <div class="ze-table-view-section">
                <div class="ze-table-view-section-header"></div>
                <div class="ze-table-view-cell ze-switch-cell ze-selected" id="ze-switch-cell">
                    <div class="ze-multiline-title">{% trans %}Save card{% endtrans %}</div>
                    <span class="ze-dummy-checkbox">
                        <span class="ze-check-mark fa fa-check"></span>
                    </span>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-label-value-cell ze-pincode-cell" id="ze-pincode-cell">
                    <div class="ze-multiline-title">{% trans %}Choose your own code for future payments{% endtrans %}</div>
                        <input type="tel" maxlength="4" size="5" pattern="[0-9]*" class="ze-value ze-secure-text" inputmode="numeric" placeholder="XXXX" style="border-width:0px;border:none;">

                    <span class="ze-info-button">
                        <span class="fa fa-info"></span>
                    </span>
                    <hr>
                </div>
            </div>
        </div>
        <div class="ze-pincode-payment-message">{% trans %}The code is used instead of typing your card details every time.{% endtrans %}</div>
        <div class="ze-secure-payment-message">{% trans %}Secure &amp; encrypted payment{% endtrans %}</div>
        <div id="ze-continue-button" class="ze-primary-action-button ze-disabled">{% trans %}Continue{% endtrans %}</div>
    </div>

    <div class="ze-epay-container" id="ze-epay-container"></div>
{% endblock %}

{% block modals %}
    {# Modal view for terms #}
    <div id="ze-info-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Done{% endtrans %}</span>
            <h1 class="ze-nav-bar-title">{% trans %}Login Information{% endtrans %}</h1>
        </div>

        {# Content #}
        <div class="ze-content-container">
            <div class="ze-login-info-wrapper">
                {% include "shared/logininfocontent.html" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/cart.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/widgets/modal_view.js"></script>
    <script src="/embedded/js/CryptoJS/rollups/md5.js"></script>
    <script charset="UTF-8" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" type="text/javascript"></script>
    <script type="application/javascript">
        $(function() {
            var isSaveCardMode = '{{ save_card_mode }}';

            if (!isSaveCardMode) {
                // Load cart
                var zeLocation = ZELocation.getLocation();
                var bar = Bar.getBar();
                var group = localStorage.group;
                var event = ZEEvent.getEvent();
                var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
            }

            // Abort if it takes more than 5 minutes
            var paymentStartedAt = new Date().getTime();
            var expirationInterval = setInterval(function() {
                var now = new Date().getTime();
                var dt = now - paymentStartedAt;
                if (dt > 5*60*1000) {
                    clearInterval(expirationInterval);
                    zeProgressHudShow('Payment expired', {
                        errorState: true,
                        errorDismissedCallback: function() {
                            navigationManager.popPageInTab('{{ tab }}');
                        }
                    });
                }
            }, 1000);

            if (isSaveCardMode) {
                $('#ze-switch-cell').hide();
            }
            else {
                $('#ze-save-card-info').hide();
            }

            var switchOn = true;
            var pincodeCell = $('#ze-pincode-cell');
            var pincodeInput = pincodeCell.find('.ze-value');
            var continueButton = $('#ze-continue-button');
            $('#ze-switch-cell').on('click', function() {
                switchOn = !switchOn;
                $(this).toggleClass('ze-selected', switchOn);
                if (switchOn) {
                    pincodeCell.slideDown(150);
                } else {
                    pincodeCell.slideUp(150);
                }
                validateInput();
            });

            pincodeInput
                    .on('input', function() {
                        validateInput();
                    })
                    .keypress(function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            $(this).trigger('blur');
                            return false;
                        }
                    });

            pincodeCell.find('.ze-info-button').on('click', function() {
                var infoModal = new ModalView(
                    $('#ze-info-modal-view'),
                    function() { // left button handler
                        infoModal.dismiss();
                    },
                    null
                );
                infoModal.present();
            });

            var validateInput = function() {
                var valid = true;
                if (switchOn && pincodeInput.val().length != 4) {
                    valid = false;
                }

                var reOnlyNumbers = /[^0-9]/g;
                if (reOnlyNumbers.test(pincodeInput.val())) {
                    valid = false;
                }

                continueButton.toggleClass('ze-disabled', !valid);
            };
            validateInput();

            var toggleBackButton = function(on) {
                $('.ze-nav-bar-left-button').toggle(on);
            };

            var doPayment = function(amount, currency, order_key, order_id, description) {
                zeProgressHudDismiss();
                toggleBackButton(true);

                var cancelUrl;

                if (isSaveCardMode) {
                    var saveCardOrderKey = "save_card";
                    localStorage.orderKey = saveCardOrderKey;
                    cancelUrl = '{{ scheme }}://{{ host }}/embedded/epaysavecard/cancelled';
                }
                else {
                    localStorage.orderKey = order_key;
                    cancelUrl = '{{ scheme }}://{{ host }}/embedded/epay/cancelled';
                }

                var subscriptionEnableDisable = '0';
                var callbackPincodeString = '';
                if (switchOn) {
                    subscriptionEnableDisable = '1';
                    callbackPincodeString = '?pincode=' +  pincodeInput.val();
                }

                var ePayParameters = {
                    'windowstate': '3',
                    'mobile': '2',
                    'merchantnumber': '{{ epay_merchant_number }}',     //http://tech.epay.dk/en/specification#258
                    'currency': currency,                               //http://tech.epay.dk/en/specification#259
                    'amount': amount.toString(),                        //http://tech.epay.dk/en/specification#260
                    'orderid': order_id,                          //http://tech.epay.dk/en/specification#261
                    'paymentcollection': '1',                           //http://tech.epay.dk/en/specification#263
                    'lockpaymentcollection': '1',                       //http://tech.epay.dk/en/specification#264
                    'paymenttype': '1,3,4',                             //http://tech.epay.dk/en/specification#265
                    'language': '0',                                    //http://tech.epay.dk/en/specification#266
                    'encoding': 'UTF-8',                                //http://tech.epay.dk/en/specification#267
{#                                mobilecssurl: 'http://dev.zervedapp.appspot.com/embedded/css/epay.css', //http://tech.epay.dk/en/specification#269#}
{#                                'mobilecssurl': 'http://{{ host }}/embedded/css/epay.css', //http://tech.epay.dk/en/specification#269#}
                    'mobilecssurl': '{{ scheme }}://{{ host }}/embedded/css/epay.css', //http://tech.epay.dk/en/specification#269
                    'cancelurl': cancelUrl,
                    'instantcapture': '0',                              //http://tech.epay.dk/en/specification#270
                    'instantcallback': '1',                             //http://tech.epay.dk/en/specification#276
                    'ordertext': 'Zerved',                              //http://tech.epay.dk/en/specification#278
                    'description': description,                     //http://tech.epay.dk/en/specification#280
{#                                callbackurl: 'http://dev.zervedapp.appspot.com/api/v2/orders/epaycallback_v2' + callbackPincodeString, //http://tech.epay.dk/en/specification#275#}
                    'callbackurl': '{{ scheme }}://{{ host }}/api/v2/orders/epaycallback_v2' + callbackPincodeString, //http://tech.epay.dk/en/specification#275
                    'subscription': subscriptionEnableDisable,           //http://tech.epay.dk/en/specification#282
                    'subscriptionname': 'Zerved',                        //http://tech.epay.dk/en/specification#283
                    'ownreceipt': '1',
                    'accepturl': '{{ scheme }}://{{ host }}/embedded/epay/accepted'
                };
                console.log('Payment window parameters');
                var hashInputString = '';
                for (var key in ePayParameters) {
                    console.log(key + ': ' + ePayParameters[key]);
                    hashInputString = hashInputString + ePayParameters[key];
                }

                var hashedParameters = CryptoJS.MD5(hashInputString + '{{ epay_md5_hash_key }}');
                ePayParameters.hash = hashedParameters.toString(); //http://tech.epay.dk/en/specification#281

                // Load the payment window
                var paymentwindow = new PaymentWindow(ePayParameters);
                paymentwindow.append('ze-epay-container');
                paymentwindow.open();
                $('#ze-pin-saver-container').hide();
                $('#ze-epay-container').show();

            };

            continueButton.on('click', function() {
                if (!$(this).hasClass('ze-disabled')) {
                    toggleBackButton(false);

                    var consumerManager = ConsumerManager.getConsumerManager();

                    if (!isSaveCardMode) {
                        // Regular order
                        cart.card = 'epay_new_card';
                        cart.pincode = null;
                        cart.nordpayAuthorization = null;
                        cart.nordpayRegistration = null;
                        cart.nordpayMethod = null;
                        cart.obscuredCardNumber = null;
                        cart.save();


                        // Submit
                        zeProgressHudShow('{% trans %}Placing your order{% endtrans %}');
                        var url = '/api/v2/placeorder';
                        var data = cart.serialize();
                        console.log(data);
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: data,
                            headers: {'Authorization': consumerManager.authValue},
                            contentType: "application/json",
                            success: function (result, textStatus, jqXHR) {
                                doPayment(Math.floor(cart.quote.total_incl_tax*100), cart.quote.currency, result.order_key, result.order_id, result.order_id)
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                zeProgressHudDismiss();
                                toggleBackButton(true);
                                zeProgressHudShow(jqXHR.responseText, {errorState: true});
                            }
                        });
                    }
                    else {
                        // "Save card" order
                        // Important: The save_card_prefix_identifier must be the same on the GAE server (gae/app/api/epay.py).
                        // It is used to distinguish regular orders from "save card" orders.
                        var prefixedOrderId = 'save' + consumerManager.getConsumerId();

                        // An amount must be specified. Keep it small.
                        var fixed_amount = 100;
                        // currency 208 = Danish Krone.
                        var danish_currency = '208';
                        doPayment(fixed_amount, danish_currency, '', prefixedOrderId, 'Zerved: Save credit card (emb)');
                    }
                }
            });
        });
    </script>

{% endblock %}