{% extends "embedded/base.html" %}

{% block content %}
    {% if valid %}
        <div class="ze-empty-view">
            <span>{% trans %}Processing...{% endtrans %}</span>
        </div>
{#        {% for k,v in parameters %}#}
{#            <div>{{ k }} = {{ v }}</div>#}
{#        {% endfor %}#}
    {% else %}
        <div class="ze-empty-view">
            <span>Received epay md5 hash NOT ok</span>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
        <script src="/embedded/js/model/location.js"></script>
        <script src="/embedded/js/model/bar.js"></script>
        <script src="/embedded/js/model/event.js"></script>
        <script src="/embedded/js/model/cart.js"></script>
        <script src="/embedded/js/model/consumer.js"></script>
        <script type="application/javascript">
        {% if valid %}
            $(document).ready(function() {
                // Load cart
                var zeLocation = ZELocation.getLocation();
                if (zeLocation != null) {
                    var bar = Bar.getBar();
                    var group = localStorage.group;
                    var event = ZEEvent.getEvent();
                    var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
                    cart.clear();
                    cart.save();
                    navigationManager.popToTypesInTab('shop', ['location', 'category_list'], false);
                    var orderKey = localStorage.orderKey;
                    console.log(orderKey);
                    localStorage.removeItem('orderKey');
                    console.log('remove from local storage');
                    console.log(orderKey);
                }
                if (orderKey === 'save_card') {
                    // Refresh profile page to show the added card.
                    navigationManager.replacePageInTab('profile', {
                        type: 'profile'
                    });
                } else {
                    navigationManager.popToTabRoot('orders');
                    navigationManager.openOrderByKey('orders', orderKey);
                }

            });
        {% else %}
            $(document).ready(function() {
               navigationManager.replacePageInTab('{{ tab }}', {
                    type: 'epay_failed'
                });
            });
        {% endif %}
    </script>
{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<body>#}
{#    accepted.<br>#}
{#    {{ getItems }}#}
{#    <div>---</div>#}
{#    {% for k,v in getItems %}#}
{#        <div>{{ k }} = {{ v }}</div>#}
{#    {% endfor %}#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
{#    <script src="/embedded/js/navigation.js"></script>#}
{#    <script type="application/javascript">#}
{#    </script>#}
{#</body>#}
{#</html>#}