<!DOCTYPE html>
<html lang="en">
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/embedded/js/widgets/progress_hud.js"></script>
    <script src="/embedded/js/navigation.js"></script>
    <script type="application/javascript">
        globalPageChangingMessage = '{% trans %}Loading{% endtrans %}';
        localStorage.removeItem('orderKey');
        navigationManager.popToTypesInTab('{{ tab }}', ['{{ types }}']);
    </script>
</body>
</html>