<div class="ze-event-summary-container" style="display: none;">
    <div class="ze-event-summary">
        <div class="ze-ordering-label">{% trans %}Ordering for{% endtrans %}:</div>
        <div class="ze-title"></div>
        <div class="ze-subtitle">
            <span class="ze-subsubtitle">
                <span class="fa fa-clock-o">&nbsp;</span>
                {% trans %}Serving{% endtrans %}
            </span>
        </div>
    </div>
    <div class="ze-arrow-down"></div>
</div>
<script type="text/javascript">
    function showEventSummary(event) {
        var rootElement = $('.ze-event-summary-container').show();
        rootElement.find('.ze-title').text(event.name + ' ' + event.date_start_time_formatted);
        var subtitle = rootElement.find('.ze-subtitle');
        subtitle.html(event.date_start_date_formatted + subtitle.html());
        var subsubtitle = rootElement.find('.ze-subsubtitle');
        subsubtitle.html(subsubtitle.html() + ' ' + event.date_delivery_time_formatted + ' (' + event.time_label + ')');
    }
</script>