{% extends "embedded/base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="ze-more-events-header">
        {% trans %}Select your event and serving time...{% endtrans %}
    </div>
    <div class="ze-more-events-date-picker-container">
        <input type="date" id="ze-date-picker">
    </div>
    <div id="ze-table-view-container" class="ze-table-view-container">
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/menu.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script type="application/javascript">
        $(function() {
            dateParts = getDateParts(new Date());
            var dateInput = $('input[type=date]');
            dateInput.val(dateParts.year + '-' + dateParts.fullMonth + '-' + dateParts.fullDayOfMonth);
            if (!Modernizr.touch || !Modernizr.inputtypes.date) {
                dateInput
                    .attr('type', 'text')
                    .datepicker({
                        // Consistent format with the HTML5 picker
                        dateFormat: 'yy-mm-dd'
                    });
            }
            dateInput.on('change', function() {
                var dateStr = $(this).val();
                var date = new Date(dateStr);
                if (isNaN(date.getTime()) || date.getFullYear() > 3000) {
                    return;
                }
                dateParts = getDateParts(date);
                reload(dateParts.year, dateParts.month, dateParts.dayOfMonth);
            });

            reload(dateParts.year, dateParts.month, dateParts.dayOfMonth);
        });

        function getDateParts(date) {
            var parts = {};
            parts.year = date.getFullYear();
            parts.month = date.getMonth() + 1;
            parts.fullMonth = parts.month < 10 ? '0' + parts.month : parts.month;
            parts.dayOfMonth = date.getDate();
            parts.fullDayOfMonth = parts.dayOfMonth < 10 ? '0' + parts.dayOfMonth: parts.dayOfMonth;
            return parts;
        }

        function reload(year, month, dayOfMonth) {
            url = '/api/v2/locations/{{ location_key }}/events/' + year + '/' + month + '/' + dayOfMonth;
            zeProgressHudShow("{% trans %}Loading events{% endtrans %}");
            $.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                success: function (events, textStatus, jqXHR) {
                    var tableView = $('#ze-table-view-container');
                    tableView.empty();
                    if (events.length > 0) {
                        events.forEach(function (event, i) {
                            tableView.append(createCell(event));
                        });
                    } else {
                        tableView.append(createEmptyCell);
                    }
                    zeProgressHudDismiss();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                    zeProgressHudDismiss();
                }
            });
        }

        function createCell(event) {
            var cell = $('<div class="ze-table-view-cell ze-event-cell"></div>')
                .append($('<div class="ze-title">' + event.name + ' ' + event.date_start_time_formatted + '</div>'))
                .append($('<div class="ze-subtitle">' + event.date_start_date_formatted + '<span class="ze-subsubtitle"><span class="fa fa-clock-o">&nbsp;</span>{% trans %}Serving{% endtrans %} ' + event.date_delivery_time_formatted + ' (' +  event.time_label + ')</span></div>'))
                .append($('<span class="ze-disclosure fa fa-chevron-right"></span>'))
                .append($('<hr>'))
                .on('click', function() {
                    navigationManager.loadEventForKey('{{ tab }}', event.key, '{% trans %}Loading event{% endtrans %}', '{% trans %}Event is not taking orders{% endtrans %}');
                });
            return cell;
        }

        function createEmptyCell(event) {
            var cell = $('<div class="ze-table-view-empty-cell">{% trans %}No events open for preordering at this date{% endtrans %}</div>');
            return cell;
        }

    </script>
{% endblock %}