{% extends "embedded/base.html" %}

{% block content %}
<p>Favorites content</p>
{% endblock %}


{% block js %}
    <script type="application/javascript">
        navigationManager.popToTabRoot('{{ tab }}');
    </script>
{% endblock %}