{% extends "embedded/base.html" %}

{% block content %}
    <div class="ze-info-content">
    	<div id="zerved_logo_02"></div>
        <p style="margin-top:-20px;">&copy; 2016</p>
        <p><span id="mastercard-logo"></span> <span id="maestro-logo"></span></p>
        <p><span id="visa-logo"></span> <span id="visa-electron-logo"></span> <span id="mobilepay-logo"></span></p>
        <p>Zerved DK ApS &middot; VAT-no. DK35484639</p>
        <p>Zerved UK Ltd &middot; VAT-no. GB165 9468 61</p>
        <p>consumers@zervedapp.com</p>
        <a href="https://www.facebook.com/Zerved" target="_blank" id="facebook-btn"></a>
        <p><a href="#" onclick="showTerms(); return false;">{% trans %}Terms &amp; Conditions{% endtrans %}</a> &middot; <a href="#" onclick="showLicenses(); return false;">{% trans %}Software Licenses{% endtrans %}</a></p>
        <p><strong>{% trans %}Drink responsibly{% endtrans %}</strong></p>
    </div>
{% endblock %}

{% block modals %}
    {# Modal view for terms #}
    <div id="ze-terms-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            <div class="ze-terms-wrapper">
                <h1>{% trans %}Terms &amp; Conditions{% endtrans %}</h1>
	            {% include "shared/tac.html" %}
            </div>
        </div>
    </div>

    {# Modal view for licenses #}
    <div id="ze-licenses-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            <div class="ze-licenses-wrapper">
                <h1>{% trans %}Software Licenses{% endtrans %}</h1>
                <pre>{% include "embedded/licenses.txt" %}</pre>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/embedded/js/widgets/modal_view.js"></script>
    <script type="application/javascript">
        navigationManager.popToTabRoot('{{ tab }}');

        function showTerms() {
            var termsModal = new ModalView(
                $('#ze-terms-modal-view'),
                function() { // left button handler
                    termsModal.dismiss();
                },
                null
            );
            termsModal.present();
        }

        function showLicenses() {
            var licensesModal = new ModalView(
                $('#ze-licenses-modal-view'),
                function() { // left button handler
                    licensesModal.dismiss();
                },
                null
            );
            licensesModal.present();
        }
    </script>
{% endblock %}