{% extends "embedded/base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/embedded/css/swiper.min.css?v=1" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block content %}
    {% if section_types|length == 0 %}
        <div class="ze-empty-view">
            <span>{% trans %}No products at this location{% endtrans %}</span>
        </div>
    {% else %}
        <div class="ze-location-header">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% if location.cover_urls|length > 0 %}
                        <div class="swiper-slide" style="background-image: url({{ location.cover_urls[0] }})"></div>
                    {% endif %}
                    <div class="swiper-slide" style="background-image: url(http://maps.google.com/maps/api/staticmap?center={{ location.latitude }},{{ location.longitude }}&markers=color:red%7C{{ location.latitude }},{{ location.longitude }}&zoom=17&size=640x360&sensor=false)"></div>
                    {% for cover in location.cover_urls %}
                        {% if loop.index0 > 0 %}
                            <div class="swiper-slide" style="background-image: url({{ location.cover_urls[loop.index0] }})"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        {# TODO: Add the info panel #}
        <div id="ze-table-view-container" class="ze-table-view-container ze-location-table">
            {% for section in section_types %}
                {% if section == 'entrance_categories' %}
                    <div class="ze-table-view-section-header">{% trans %}Tickets{% endtrans %}</div>
                    {% for entry in location.entrance_categories %}
                        <div class="ze-table-view-cell ze-section-type-entrance-categories" data-row="{{ loop.index0 }}">
                            <div class="ze-title">{{ entry.name }}</div>
                            <span class="ze-disclosure fa fa-chevron-right"></span>
                            <hr>
                        </div>
                    {% endfor %}
                {% elif section == 'events' %}
                    <div class="ze-table-view-section-header">{% trans %}Preorder for event{% endtrans %}</div>
                    {% for entry in location.upcoming_events %}
                        {% if loop.index0 == 2 %} {# MAX_EVENTS #}
                            <div class="ze-table-view-cell ze-section-type-events-more">
                                <div class="ze-title">{% trans %}More events{% endtrans %}</div>
                                <span class="ze-disclosure fa fa-chevron-right"></span>
                                <hr>
                            </div>
                        {% elif loop.index0 < 2 %} {# MAX_EVENTS #}
                            <div class="ze-table-view-cell ze-event-cell ze-section-type-events" data-event-key="{{ entry.key }}">
                                <div class="ze-title">{{ entry.name }} {{ entry.date_start_time_formatted }}</div>
                                <div class="ze-subtitle">{{ entry.date_start_date_formatted }}
                                    <span class="ze-subsubtitle">
                                        <span class="fa fa-clock-o">&nbsp;</span>
                                        {% trans %}Serving{% endtrans %} {{ entry.date_delivery_time_formatted }} ({{ entry.time_label }})
                                    </span>
                                </div>
                                <span class="ze-disclosure fa fa-chevron-right"></span>
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% elif section == 'bars' %}
                    <div class="ze-table-view-section-header">{% trans %}Menu{% endtrans %}</div>
                    {% for entry in location.bars %}
                        {% if entry.menus|length == 1 %}
                            <div class="ze-table-view-cell ze-section-type-bar-skip-menu" data-row="{{ loop.index0 }}">
                                <div class="ze-title">{{ entry.name }}</div>
                                <span class="ze-disclosure fa fa-chevron-right"></span>
                                <hr>
                            </div>
                        {% else %}
                            <div class="ze-table-view-cell ze-section-type-bar" data-row="{{ loop.index0 }}">
                                <div class="ze-title">{{ entry.name }}</div>
                                <span class="ze-disclosure fa fa-chevron-right"></span>
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% elif section == 'menus' %}
                    <div class="ze-table-view-section-header">{% trans %}Menu{% endtrans %}</div>
                    {% for entry in location.bars.0.menus %}
                        <div class="ze-table-view-cell ze-section-type-menu" data-row="{{ loop.index0 }}">
                            <div class="ze-title">{{ entry.name }}</div>
                            <span class="ze-disclosure fa fa-chevron-right"></span>
                            <hr>
                        </div>
                    {% endfor %}
                {% elif section == 'menu_categories' %}
                    <div class="ze-table-view-section-header">{% trans %}Menu{% endtrans %}</div>
                    {% for entry in location.bars.0.menus.0.categories %}
                        <div class="ze-table-view-cell ze-section-type-menu-categories" data-row="{{ loop.index0 }}">
                            <div class="ze-title">{{ entry.name }}</div>
                            <span class="ze-disclosure fa fa-chevron-right"></span>
                            <hr>
                        </div>
                    {% endfor %}
                {% elif section == 'now_and_events' %}
                    <div class="ze-table-view-section-header">{% trans %}What would you like to do?{% endtrans %}</div>
                    <div class="ze-table-view-cell ze-now-and-event-cell ze-section-type-now-and-event-now ze-now-type">
                        <div class="ze-title">{% trans %}Order for now{% endtrans %}</div>
                        <div class="ze-subtitle">{% trans %}We'll begin ASAP and tell you when it's ready{% endtrans %}</div>
                        <span class="ze-disclosure fa fa-chevron-right"></span>
                        <hr>
                    </div>
                    <div class="ze-table-view-cell ze-now-and-event-cell ze-section-type-now-and-event-event">
                        <div class="ze-title">{% trans %}Preorder for later{% endtrans %}</div>
                        <div class="ze-subtitle">{% trans %}We'll prepare everything for you in advance{% endtrans %}</div>
                        <span class="ze-disclosure fa fa-chevron-right"></span>
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/embedded/js/widgets/swiper.jquery.min.js"></script>
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/menu.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script type="application/javascript">
        $(function() {
            var zeLocation = {{ json_location }};
            ZELocation.setLocation(zeLocation);
            console.log(zeLocation);

            if ((isEmbeddedIOSApp() && iOSAppOSVersion() < 8) || isEmbeddedAndroidApp() && androidAppOSVersion() < 5.0) {
                // Change broken viewport height of swiper container to px value in old browsers (breaks responsiveness)
                var header = $('.ze-location-header');
                var headerHeight = header.height();
                header.css('height', headerHeight + 'px');
            }
            // Enable swiper
            var mySwiper = new Swiper('.swiper-container', {
                // Optional parameters
                direction: 'horizontal',
                pagination: '.swiper-pagination',
                paginationClickable: true,
                loop: true
            });

            $('.ze-table-view-cell.ze-section-type-entrance-categories').on('click', function() {
                var cell = $(this);
                var row = cell.data('row');
                var category = zeLocation.entrance_categories[row];
                localStorage.group = 'entrance';
                Bar.remove();
                Menu.remove();
                ZEEvent.remove();
                navigationManager.openEntranceProductList('{{ tab }}', zeLocation.key, category.key);
            });
            $('.ze-table-view-cell.ze-section-type-events-more').on('click', function() {
                navigationManager.openMoreEventsList('{{ tab }}', zeLocation.key);
            });
            $('.ze-table-view-cell.ze-section-type-events').on('click', function() {
                var cell = $(this);
                var eventKey = cell.data('event-key');
                navigationManager.loadEventForKey('{{ tab }}', eventKey, '{% trans %}Loading event{% endtrans %}', '{% trans %}Event is not taking orders{% endtrans %}');
            });
            $('.ze-table-view-cell.ze-section-type-bar').on('click', function() {
                var cell = $(this);
                var row = cell.data('row');
                var bar = zeLocation.bars[row];
                Bar.setBar(bar);
                Menu.remove();
                ZEEvent.remove();
                navigationManager.openMenuList('{{ tab }}', bar.key);
            });
            $('.ze-table-view-cell.ze-section-type-bar-skip-menu').on('click', function() {
                var cell = $(this);
                var row = cell.data('row');
                var bar = zeLocation.bars[row];
                var menu = bar.menus[0];
                Bar.setBar(bar);
                Menu.setMenu(menu);
                ZEEvent.remove();
                navigationManager.openCategoryList('{{ tab }}', bar.key, menu.key, $(this).find('.ze-title').text());
            });
            $('.ze-table-view-cell.ze-section-type-menu').on('click', function() {
                var cell = $(this);
                var row = cell.data('row');
                var bar = zeLocation.bars[row];
                var menu = bar.menus[0];
                Bar.setBar(bar);
                Menu.setMenu(menu);
                ZEEvent.remove();
                navigationManager.openCategoryList('{{ tab }}', bar.key, menu.key, $(this).find('.ze-title').text());
            });
            $('.ze-table-view-cell.ze-section-type-menu-categories').on('click', function() {
                var cell = $(this);
                var row = cell.data('row');
                var bar = zeLocation.bars[0];
                var menu = bar.menus[0];
                var category = menu.categories[row];
                localStorage.group = 'menu';
                Bar.setBar(bar);
                Menu.setMenu(menu);
                ZEEvent.remove();
                navigationManager.openProductList('{{ tab }}', bar.key, menu.key, category.key);
            });
            $('.ze-table-view-cell.ze-section-type-now-and-event-now').on('click', function() {
                var numBars = zeLocation.bars.length;
                // Order for now
                if (numBars == 0) {
                    // No bars
                    zeProgressHudShow('{% trans %}Location is not taking orders{% endtrans %}', {errorState: true});
                } else if (numBars > 1) {
                    // List bars
                    Bar.remove();
                    Menu.remove();
                    ZEEvent.remove();
                    navigationManager.openBarList('{{ tab }}', zeLocation.key);
                } else {
                    // One bar
                    var bar = zeLocation.bars[0];
                    var numMenus = bar.menus.length;
                    if (numMenus == 0) {
                        // No menus
                        zeProgressHudShow('{% trans %}Location is not taking orders{% endtrans %}', {errorState: true});
                    } else if (numMenus > 1) {
                        // List menus
                        Bar.setBar(bar);
                        Menu.remove();
                        ZEEvent.remove();
                        navigationManager.openMenuList('{{ tab }}', bar.key)
                    } else {
                        var menu = bar.menus[0];
                        // One menu, list categories
                        Bar.setBar(bar);
                        Menu.setMenu(menu);
                        ZEEvent.remove();
                        navigationManager.openCategoryList('{{ tab }}', bar.key, menu.key, $(this).find('.ze-title').text());
                    }
                }
            });
            $('.ze-table-view-cell.ze-section-type-now-and-event-event').on('click', function() {
                navigationManager.openMoreEventsList('{{ tab }}', zeLocation.key);
            });
        });
    </script>
{% endblock %}