{% extends "embedded/base.html" %}

{% block content %}
    {% if data|length == 0 %}
        <div class="ze-empty-view">
            <span>{% trans %}No categories found{% endtrans %}</span>
        </div>
    {% else %}
        {% include "embedded/eventsummary.html" %}
        <div id="ze-table-view-container" class="ze-table-view-container">
            {% for entry in data %}
                <div class="ze-table-view-cell" data-row="{{ loop.index0 }}">
                    <div class="ze-title">{{ entry.name }}</div>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/menu.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/model/cart.js"></script>
    <script type="application/javascript">
        // Make sure page is reloaded on back button in safari
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        $(function() {
            $('.ze-nav-bar-title').text(localStorage.categoryListTitle);
            var categories = {{ json_data }};
            var event = ZEEvent.getEvent();
            if (event) {
                showEventSummary(event);
            }

            // Update cart button
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = 'menu';
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
            updateCartButton('{{ tab }}', cart, zeLocation, bar, group, event);

            $('.ze-table-view-cell').on('click', function () {
                var cell = $(this);
                var row = cell.data('row');
                var menu = Menu.getMenu();
                var category = categories[row];
                localStorage.group = 'menu';
                navigationManager.openProductList('{{ tab }}', bar.key, menu.key, category.key);
            });
        });
    </script>

{% endblock %}