{% extends "embedded/base.html" %}

{% block background_color %}#efeff4{% endblock %}

{% block content %}
<table style="height: 100%"><tr><td style="vertical-align: middle">
            <div style="font-size: xx-large; font-weight: bold; padding: 30px 0px; line-height: 56px; margin: 50px 16px;" id="ze-continue-button" class="ze-primary-action-button">Gå til betaling</div>
<br><br>
            <div style="color: darkgray; text-align: center; font-size: large; padding-left: 10px; padding-right: 10px; padding-top: 10px;">Hvis din ordre annulleres kan det skyldes, at du ikke har seneste version af MobilePay & VoresKbh/TeliaParken.</div>

</td>
</tr></table>

{% endblock %}

{% block js %}
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/cart.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/widgets/modal_view.js"></script>
    <script src="/embedded/js/CryptoJS/rollups/md5.js"></script>
    <script charset="UTF-8" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" type="text/javascript"></script>
    <script type="application/javascript">
        $(function() {
            // Load cart
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = localStorage.group;
            var event = ZEEvent.getEvent();
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);

            // Abort if it takes more than 5 minutes
            var paymentStartedAt = new Date().getTime();
            var expirationInterval = setInterval(function() {
                var now = new Date().getTime();
                var dt = now - paymentStartedAt;
                if (dt > 5*60*1000) {
                    clearInterval(expirationInterval);
                    zeProgressHudShow('Payment expired', {
                        errorState: true,
                        errorDismissedCallback: function() {
                            navigationManager.popPageInTab('{{ tab }}');
                        }
                    });
                }
            }, 1000);

            var continueButton = $('#ze-continue-button');

            var toggleBackButton = function(on) {
                $('.ze-nav-bar-left-button').toggle(on);
            };

            // Call method in native app
            function app(action, params) {
                var iframe = document.createElement("IFRAME");
                iframe.setAttribute("src", "js-frame:"+action+":0:"+encodeURIComponent(JSON.stringify(params)));
                document.documentElement.appendChild(iframe);
                iframe.parentNode.removeChild(iframe);
                iframe = null;
                return false;
            }

            var doPayment = function(amount, currency, order_key, order_id, description) {
                zeProgressHudDismiss();
                toggleBackButton(true);

                localStorage.orderKey = order_key;

                app('openMobilePay', {'orderId' : order_id, 'amount': amount });
            };

            continueButton.on('click', function() {
                if (!$(this).hasClass('ze-disabled')) {
                    toggleBackButton(false);

                    var consumerManager = ConsumerManager.getConsumerManager();

                    // Regular order
                    cart.card = 'mobilepay_appswitch';
                    cart.pincode = null;
                    cart.nordpayAuthorization = null;
                    cart.nordpayRegistration = null;
                    cart.nordpayMethod = null;
                    cart.obscuredCardNumber = null;
                    cart.save();

                    // Submit
                    zeProgressHudShow('{% trans %}Placing your order{% endtrans %}');
                    var url = '/api/v2/placeorder';
                    var data = cart.serialize();
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        headers: {'Authorization': consumerManager.authValue},
                        contentType: "application/json",
                        success: function (result, textStatus, jqXHR) {
                            doPayment(Math.floor(cart.quote.total_incl_tax*100), cart.quote.currency, result.order_key, result.order_id, result.order_id)
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            zeProgressHudDismiss();
                            toggleBackButton(true);
                            zeProgressHudShow(jqXHR.responseText, {errorState: true});
                        }
                    });
                }
            });
        });

        function paymentSuccess() {
             // Load cart
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = localStorage.group;
            var event = ZEEvent.getEvent();
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
            cart.clear();
            cart.save();
            navigationManager.popToTypesInTab('shop', ['location', 'category_list'], false);
            var orderKey = localStorage.orderKey;
            console.log(orderKey);
            localStorage.removeItem('orderKey');
            console.log('remove from local storage');
            console.log(orderKey);

            navigationManager.popToTabRoot('orders');
            navigationManager.openOrderByKey('orders', orderKey);
        }

        function cancelOrder() {
            zeProgressHudShow('{% trans %}Loading{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            var url = '/api/v2/orders/' + localStorage.orderKey;
            var data = {
                status: 'cancelled'
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (order, textStatus, jqXHR) {
                    zeProgressHudDismiss();
                    navigationManager.popToTabRoot('orders');
                    navigationManager.openOrderByKey('orders', localStorage.orderKey);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudShow(jqXHR.responseText, {errorState: true});
                }
            });
        }

        function handleInterruptedMobilePayPayment() {
            zeProgressHudShow('{% trans %}Loading{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            var url = '/api/v2/orders/' + localStorage.orderKey;
            var data = {
                special_command: 'mobilepay_handle_interrupted_payment'
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (order, textStatus, jqXHR) {
                    zeProgressHudDismiss();
                    navigationManager.popToTabRoot('orders');
                    navigationManager.openOrderByKey('orders', localStorage.orderKey);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudShow(jqXHR.responseText, {errorState: true});
                }
            });
        }
    </script>

{% endblock %}