<div class="ze-nav-bar{% if cart_button or refresh_button %} ze-has-right-button{% endif %}{% if disable_back_button %} ze-has-no-left-button{% endif %}">
    <script type="application/javascript">
        function _navigateBack() {
            navigationManager.popPageInTab('{{ tab }}');
            return false;
        }
    </script>
    <h1 class="ze-nav-bar-title">{{ title }}</h1>
    {% if not disable_back_button %}
        <a class="ze-nav-bar-button ze-nav-bar-left-button" href="javascript:_navigateBack();"><span class="fa fa-chevron-left"></span> {% trans %}Back{% endtrans %}</a>
    {% endif %}
    {% if cart_button %}
        <a class="ze-nav-bar-button ze-nav-bar-right-button ze-nav-bar-cart-button" id="ze-nav-bar-cart-button" href="#">{% trans %}Cart{% endtrans %} (<span id="ze-nav-bar-cart-button-amount">&nbsp;</span>)</a>
    {% endif %}
    {% if refresh_button %}
        <a class="ze-nav-bar-button ze-nav-bar-right-button ze-nav-bar-refresh-button" id="ze-nav-bar-refresh-button" href="#"><span class="fa fa-rotate-right"></span></a>
    {% endif %}
</div>