{% extends "embedded/base.html" %}

{% block content %}
    <div class="ze-empty-view" style="display: none">
        <span>{% trans %}You have no orders{% endtrans %}</span>
    </div>
    <div class="ze-orders-container" id="ze-orders-container" style="display: none;">
        <div class="ze-table-view-container">
            <div class="ze-table-view-section-header" id="ze-open-orders-section-header">
                {% trans %}Open{% endtrans %}
            </div>
            <div class="ze-table-view-section" id="ze-open-orders-section">
            </div>
            <div class="ze-table-view-section-header" id="ze-closed-orders-section-header">
                {% trans %}Closed{% endtrans %}
            </div>
            <div class="ze-table-view-section" id="ze-closed-orders-section">
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/embedded/js/model/consumer.js"></script>
    <script type="application/javascript">

        $(function() {
            navigationManager.popToTabRoot('{{ tab }}');

            function reload() {
                zeProgressHudShow('{% trans %}Loading{% endtrans %}');
                var consumerManager = ConsumerManager.getConsumerManager();
                if (consumerManager.getConsumerKey() == null) {
                    ConsumerManager.getConsumerManager().authenticate(function () {
                        reload();
                    });
                    return;
                }
                var url = '/api/v2/consumers/' + consumerManager.getConsumerKey() + '/orders/open,closed';
                $.ajax({
                    type: 'GET',
                    url: url,
                    headers: {'Authorization': consumerManager.authValue},
                    contentType: "application/json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.length == 0) {
                            $('.ze-empty-view').show();
                            $('#ze-orders-container').hide();
                        } else {
                            $('.ze-empty-view').hide();
                            $('#ze-orders-container').show();
                        }

                        var openOrdersSection = $('#ze-open-orders-section').empty().hide().removeClass('ze-is-followed-by-other-section');
                        var closedOrdersSection = $('#ze-closed-orders-section').empty().hide();
                        var openOrdersSectionHeader = $('#ze-open-orders-section-header').hide();
                        var closedOrdersSectionHeader = $('#ze-closed-orders-section-header').hide();

                        data.forEach(function(order, i) {
                            var section;
                            if (order.status === 'complete') {
                                section = closedOrdersSection.show();
                                closedOrdersSectionHeader.show();
                                openOrdersSection.addClass('ze-is-followed-by-other-section'); {# used to remove the bottom cell delimiter #}
                            } else {
                                section = openOrdersSection.show();
                                openOrdersSectionHeader.show();
                            }
                            // Build cell
                            var cell = $('<div class="ze-table-view-cell ze-order-cell">').appendTo(section);
                            var merchant_image_url = order.merchant_image_url || '/embedded/img/bar_logo_dummy.png';
                            $('<img src="' + merchant_image_url + '" alt="{% trans %}logo missing{% endtrans %}">').appendTo(cell);
                            $('<div class="ze-title">#' + order.queue_number + ' ' + order.location_name + '</div>').appendTo(cell);
                            $('<div class="ze-subtitle">' + order.date_created_formatted + '</div>').appendTo(cell);
                            $('<span class="ze-disclosure fa fa-chevron-right"></span>').appendTo(cell);
                            cell.append($('<hr>'));
                            cell.off('click').on('click', function() {
                                navigationManager.openOrderByKey('{{ tab }}', order.key);
                            });
                        });

                        zeProgressHudDismiss();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        zeProgressHudDismiss();
                        if (jqXHR.status == 401) {
                            ConsumerManager.getConsumerManager().authenticate(function () {
                                reload();
                            });
                        } else {
                            alert(errorThrown);
                        }
                    }
                });
            }

            reload();
        });
    </script>
{% endblock %}