{% extends "embedded/base.html" %}

{% block content %}
    <div class="ze-order-container" id="ze-order-container"></div>
{% endblock %}

{% block modals %}
    {# Modal view for pincode #}
    <div id="ze-pincode-modal-view" class="ze-modal-view">
        {# Nav bar #}
        <div class="ze-nav-bar">
            <span class="ze-nav-bar-button ze-nav-bar-left-button">{% trans %}Cancel{% endtrans %}</span>
            <h1 class="ze-nav-bar-title ze-modal-title">{% trans %}Staff PIN{% endtrans %}</h1>
        </div>

        {# Content #}
        <div class="ze-content-container ze-pincode-content">
            <h2>{% trans %}Enter staff PIN{% endtrans %}</h2>
            <h3>{% trans %}to approve the order{% endtrans %}</h3>
            <div class="ze-pincode-circles-container">
                <textarea pattern="[0-9]*" class="ze-pincode-hidden-input" style="display: none"></textarea>
                <input type="text" pattern="[0-9]*" maxlength="4" class="ze-pincode-hidden-input" style="display: none">
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
                <div class="ze-pincode-cicle"></div>
            </div>
            <div class="ze-staff-notice">{% trans %}Staff only{% endtrans %}</div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/widgets/modal_view.js?v=2"></script>
    <script type="application/javascript">
        $(function() {
            $('#ze-nav-bar-refresh-button').on('click', function() {
                reload();
            });
            reload();
        });

{#
        var tempData = {
            "comment": "This is a comment from the costumer",
            "merchant": {
                "serve_with_consumer_device": true,
                "image_url": "http:\/\/dev.zervedapp.appspot.com\/api\/v2\/image\/agtzfnplcnZlZGFwcHIVCxIITWVyY2hhbnQYgICAoNbyswoMogEDZGV2\/120\/120",
                "entrance_pincode": "",
                "key": "agtzfnplcnZlZGFwcHIVCxIITWVyY2hhbnQYgICAoNbyswoMogEDZGV2"
            },
            "total_loyalty_discount_incl_tax": 0,
            "total_tax_grouped": [
                {
                    "total_formatted": "Dkr2.00",
                    "rate": 25,
                    "name": "VAT"
                }
            ],
            "currency": "DKK",
            "id": "5831881949970432",
            "location_name": "\u00c6dehuset",
            "service": "counter",
            "consumer_has_email": true,
            "status_description_for_consumer": "We will notify you when your order starts being prepared.",
            "status_title_for_consumer": "Thank you for your order",
            "total_incl_tax_formatted": "Dkr10.00",
            "event_time_label": "",
            "company_name": "Zerved DK ApS",
            "table_number": "",
            "merchant_name": "Sunes Madhus",
            "status": "preparing",
            "queue_number": "110",
            "event_name": "",
            "delivery_instructions": "",
            "total_loyalty_discount_incl_tax_formatted": "Dkr0.00",
            "company_vat": "DK35484639",
            "key": "agtzfnplcnZlZGFwcHISCxIFT3JkZXIYgICAoI2CrgoMogEDZGV2",
            "estimated_waiting_time": 0,
            "total_excl_tax_formatted": "Dkr8.00",
            "items": [
                {
                    "total_tax_formatted": "Dkr2.00",
                    "total_excl_tax_formatted": "Dkr8.00",
                    "total_before_loyalty_discount_incl_tax_formatted": "Dkr10.00",
                    "total_incl_tax_formatted": "Dkr10.00",
                    "option_values": [
                        {
                            option_name: 'Tilb.',
                            values: [
                                {
                                    value_label: 'blargh'
                                },
                                {
                                    value_label: 'qwerty'
                                },
                                {
                                    value_label: 'asdfzxcvb'
                                },
                                {
                                    value_label: 'gryf'
                                }
                            ]
                        }
                    ],
                    "key": "agtzfnplcnZlZGFwcHIoCxIFT3JkZXIYgICAoI2CrgoMCxIJT3JkZXJJdGVtGICAgICAgIAKDKIBA2Rldg",
                    "quantity": 1,
                    "name": "Faxe Kondi"
                }
            ],
            "total_tax_formatted": "Dkr2.00",
            "status_label": "Pending",
            "date_created_formatted": "27 Jul 2015 11:26:31",
            "bar_name": "Take Away",
            "date_created": "2015-07-27T09:26:31.242760",
            "order_number": 110,
            "date_delivery_formatted": "27\/07\/2015 11:26"
        };
#}

        function reload() {
            zeProgressHudShow('{% trans %}Loading{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            var url = '/api/v2/orders/{{ order_key_or_id }}';
            $.ajax({
                type: 'GET',
                url: url,
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (order, textStatus, jqXHR) {
                    refreshView(order);
                    zeProgressHudDismiss();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudDismiss();
                    if (jqXHR.status == 401) {
                        ConsumerManager.getConsumerManager().authenticate(function () {
                            reload();
                        });
                    } else {
                        {# Swap the comment of the two lines below to test without a valid order on the server. #}
                        {# Also uncomment the tempData object above #}
{#                        refreshView(tempData);#}
                        alert(errorThrown);
                    }
                }
            });
        }

        function refreshView(order) {
            console.log(order);
            console.log(JSON.stringify(order));
            var container = $('#ze-order-container').empty();
            $('.ze-nav-bar-title:not(.ze-modal-title)').text('#' + order.queue_number);

            // Order status message
            if (order.status_title_for_consumer != null || order.status_description_for_consumer != null) {
                var viewClass;
                if (order.status === 'pending_payment') {
                    viewClass = 'ze-message-view-pending-payment';
                } else if (order.event_name === '') {
                    viewClass = 'ze-message-view-realtime';
                } else {
                    viewClass = 'ze-message-view-event';
                }
                container.append(createMessageView(order.status_title_for_consumer, order.status_description_for_consumer, viewClass));
            }
            // Order number
            container.append($('<div class="ze-order-number">#' + order.queue_number + '</div>'));

            // Order number and status
            container.append($('<div class="ze-order-status">{% trans %}Status{% endtrans %}: ' + order.status_label + '</div>'));

            // Service type
            var serviceSummary = getServiceSummary(order);
            if (serviceSummary) {
                container.append($('<div class="ze-order-service-type">{% trans %}Service type{% endtrans %}: ' + serviceSummary + '</div>'));
            }

            // Estimated waiting time or event
            if ('event_name' in order && order.event_name !== '') {
                container.append($('<div class="ze-order-event-name">' + order.event_name + '</div>'));
                container.append($('<div class="ze-order-event-time">' + order.event_time_label + ' ' + order.date_delivery_formatted + '</div>'));
            } else if(order.estimated_waiting_time > 0) {
                container.append($('<div class="ze-order-estimated-waiting-time">{% trans %}Average waiting time{% endtrans %}: ' + order.estimated_waiting_time + ' {% trans %}min.{% endtrans %}</div>'));
            }

            // Staff button: Accept Order
            if (order.service === 'entrance' && order.status === 'pending') {
                container.append($('<div class="ze-order-external-button-label">{% trans %}This button is for staff only{% endtrans %}:</div>'));
                $('<div class="ze-primary-action-button">{% trans %}Staff: Accept Order{% endtrans %}</div>')
                        .off('click')
                        .on('click', function(e) {
                            console.log('clicked');
                        })
                        .appendTo(container);
            }

            // Staff button: Serve & Complete
            if (order.status === 'preparing' && order.merchant.serve_with_consumer_device) {
                container.append($('<div class="ze-order-external-button-label">{% trans %}This button is for staff only{% endtrans %}:</div>'));
                $('<div class="ze-primary-action-button">{% trans %}Staff: Serve & Complete{% endtrans %}</div>')
                        .off('click')
                        .on('click', function(e) {
                            showPincode(order);
                        })
                        .appendTo(container);
            }

            // Receipt
            container.append(createReceiptView(order));

            // Send by email button
            if (order.status === 'complete') {
                var text = order.consumer_has_email ? '{% trans %}The receipt will be sent to the email address you provided under "Profile"{% endtrans %}' : '{% trans %}Go to "Profile" to add your email address{% endtrans %}';
                container.append($('<div class="ze-order-external-button-label">' + text + '</div>'));
                $('<div class="ze-primary-action-button">{% trans %}Send receipt by email{% endtrans %}</div>')
                        .off('click')
                        .on('click', function(e) {
                            sendReceiptForOrder(order);
                        })
                        .appendTo(container);
            }

            // Cancel button
            if (order.status === 'pending') {
                $('<div class="ze-primary-action-button ze-danger">{% trans %}Cancel{% endtrans %}</div>')
                        .off('click')
                        .on('click', function(e) {
                            if (confirm('{% trans %}Do you want to cancel the order?{% endtrans %}')) {
                                cancelOrder(order);
                            }
                        })
                        .appendTo(container);
            }

            // Text depending on status
            if (order.status !== 'cancelled') {
                if (order.status === 'complete') {
                    container.append($('<div class="ze-attention">{% trans %}The money has been withdrawn from your credit card.{% endtrans %}</div>'));
                } else {
                    container.append($('<div class="ze-attention">{% trans %}The money will be withdrawn once your order is delivered.{% endtrans %}</div>'));
                }
            }
        }

        function createMessageView(title, content, viewClass) {
            return $('<div class="ze-message-view ' + viewClass + '"></div>')
                    .append('<div class="ze-title">' + title + '</div>')
                    .append('<div class="ze-content">' + content + '</div>');
        }

        function getServiceSummary(order) {
            if (order.service === 'counter') {
                return '{% trans %}Pickup at counter{% endtrans %}';
            } else if (order.service === 'table') {
                return '{% trans %}Serve at table{% endtrans %}';
            } else if (order.service === 'delivery') {
                return '{% trans %}Deliver to address{% endtrans %}';
            }
            return null;
        }

        function createReceiptView(order) {
            var htmlStrings = [];
            htmlStrings.push('<div class="ze-receipt-wrapper">');
            htmlStrings.push( '<div class="ze-receipt-top"></div>');
            htmlStrings.push(  '<div class="ze-receipt-middle"><div class="ze-receipt-content" id="ze-reciept-content">');
            // == Content begins ==
            // Header
            htmlStrings.push(   '<div class="ze-receipt-header">');
            htmlStrings.push(    '<div class="ze-receipt-line">');
            htmlStrings.push(     '<span class="ze-left">' + order.company_name + '</span>');
            htmlStrings.push(     '<span class="ze-right">' + order.location_name + '</span>');
            htmlStrings.push(    '</div>');
            htmlStrings.push(    '<div class="ze-receipt-line">');
            htmlStrings.push(     '<span class="ze-left">{% trans %}VAT no.{% endtrans %} ' + order.company_vat + '</span>');
            htmlStrings.push(     '<span class="ze-right">' + order.date_created_formatted + '</span>');
            htmlStrings.push(    '</div>');
            htmlStrings.push(    '<div class="ze-receipt-line">');
            htmlStrings.push(     '<span class="ze-right">{% trans %}Order no.{% endtrans %} ' + order.order_number + '</span>');
            htmlStrings.push(    '</div>');
            htmlStrings.push(   '</div>');
            // Items
            htmlStrings.push(   '<div class="ze-receipt-items">');
            order.items.forEach(function(item) {
                htmlStrings.push('<div class="ze-receipt-line">');
                htmlStrings.push( '<span class="ze-right">' + item.total_before_loyalty_discount_incl_tax_formatted + '</span>');
                htmlStrings.push( '<span class="ze-left">' + item.quantity + ' x ' + item.name + '</span>');
                htmlStrings.push('</div>');
                item.option_values.forEach(function(option) {
                    htmlStrings.push('<div class="ze-receipt-line">');
                    htmlStrings.push( '<span class="ze-left">&nbsp;&nbsp;&nbsp;&nbsp;' + option.option_name + ':</span>');
                    htmlStrings.push('</div>');
                    option.values.forEach(function(value) {
                        htmlStrings.push('<div class="ze-receipt-line">');
                        htmlStrings.push( '<span class="ze-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + value.value_label + '</span>');
                        htmlStrings.push('</div>');
                    });
                });
            });
            if (order.total_loyalty_discount_incl_tax_formatted > 0) {
                htmlStrings.push('<div class="ze-receipt-line">');
                htmlStrings.push('<span class="ze-left">{% trans %}Discount{% endtrans %}</span>');
                htmlStrings.push('<span class="ze-right">' + order.total_loyalty_discount_incl_tax_formatted + '</span>');
                htmlStrings.push('</div>');
            }
            htmlStrings.push(    '<hr>');
            // Totals
            htmlStrings.push(    '<div class="ze-receipt-line">');
            htmlStrings.push(     '<span class="ze-right">{% trans %}Total excl. Tax{% endtrans %} ' + order.total_excl_tax_formatted + '</span>');
            htmlStrings.push(    '</div>');
            order.total_tax_grouped.forEach(function(total) {
                htmlStrings.push(    '<div class="ze-receipt-line">');
                htmlStrings.push(     '<span class="ze-right">' + total.name + ' ' + total.rate + ': ' + total.total_formatted + '</span>');
                htmlStrings.push(    '</div>');
            });
            htmlStrings.push(    '<div class="ze-receipt-line">');
            htmlStrings.push(     '<span class="ze-right">{% trans %}Total incl. Tax{% endtrans %} ' + order.total_incl_tax_formatted + '</span>');
            htmlStrings.push(    '</div>');
            htmlStrings.push(   '</div>');
            // == Content ends ==
            htmlStrings.push(  '</div></div>');
            htmlStrings.push( '<div class="ze-receipt-bottom"></div>');
            htmlStrings.push('</div>');
            return $(htmlStrings.join(''));
        }

        function cancelOrder(order) {
            zeProgressHudShow('{% trans %}Loading{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            var url = '/api/v2/orders/{{ order_key_or_id }}';
            var data = {
                status: 'cancelled'
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (order, textStatus, jqXHR) {
                    zeProgressHudDismiss();
                    refreshView(order);
                    navigationManager.popPageInTab('{{ tab }}');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudShow(jqXHR.responseText, {errorState: true});
                }
            });
        }

        function sendReceiptForOrder(order) {
            if (!order.consumer_has_email) {
                zeProgressHudShow('{% trans %}You need to enter your email address under "Profile"{% endtrans %}', {errorState: true});
                return;
            }
            zeProgressHudShow('{% trans %}Sending{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            var url = '/api/v2/orders/{{ order_key_or_id }}/sendreceipt';
            var data = {
                status: 'cancelled'
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (data, textStatus, jqXHR) {
                    zeProgressHudShow('{% trans %}Receipt sent{% endtrans %}', {
                        errorState: true,
                        ttl: 1000
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudShow(jqXHR.responseText, {errorState: true});
                }
            });
        }

        function showPincode(order) {
            var pincodeModal = new PincodeModalView(
                    $('#ze-pincode-modal-view'),
                    function(pincode) { // success callback
                        pincodeModal.disableInput = true;
                        console.log('callback');

                        if (pincode === order.merchant.entrance_pincode) {
                            // Correct pin entered - complete order
                            zeProgressHudShow('{% trans %}Processing order{% endtrans %}');
                            var consumerManager = ConsumerManager.getConsumerManager();
                            var url = '/api/v2/orders/{{ order_key_or_id }}';
                            var data = {
                                status: 'complete',
                                entrance_pincode: pincode
                            };
                            $.ajax({
                                type: 'POST',
                                url: url,
                                data: JSON.stringify(data),
                                headers: {'Authorization': consumerManager.authValue},
                                contentType: "application/json",
                                success: function (order, textStatus, jqXHR) {
                                    zeProgressHudDismiss();
                                    pincodeModal.dismiss();
                                    refreshView(order);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    zeProgressHudShow(jqXHR.responseText, {errorState: true});
                                }
                            });
                        } else {
                            // Wrong pincode entered
                            zeProgressHudShow('{% trans %}Wrong code{% endtrans %}', {errorState: true});
                            pincodeModal.reset();
                        }
                    },
                    null
            );

        }
    </script>
{% endblock %}