{% extends "embedded/base.html" %}
{% import "embedded/macros/product_views.html" as product_views %}

{% block content %}
    {% if data|length == 0 %}
        <div class="ze-empty-view">
        </div>
    {% else %}
        <div class="ze-products-open-closed">
        </div>
        {% include "embedded/eventsummary.html" %}
        <div id="ze-main-table-view-container" class="ze-table-view-container{% if not open_for_orders %} ze-closed{% endif %}">
            {% for entry in data %}
                <div class="ze-table-view-cell ze-product-cell" data-row="{{ loop.index0 }}">
                    <div class="ze-name">{{ entry.name }}</div>
                    <div class="ze-price">{{ entry.final_price_formatted }}</div>
                    <div class="ze-description">{{ entry.description }}</div>
                    {% if entry.tiered_price_descriptions|length > 0 %}
                        <div class="ze-tiered-price-descriptions-container">
                            {% for p in entry.tiered_price_descriptions %}
                                <div class="ze-tiered-price-description">{{ p }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="ze-cart-items"></div>
                    <span class="ze-plus-button fa fa-plus-circle" data-row="{{ loop.index0 }}"></span>
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    {# Modal views #}
    {% for product in data %}
        {% set outer_loop = loop %}
        {% if product.product_options|length > 0 %}
            {% for entry in product.product_options %}
                {% if loop.index0 > 0 %}
                    {{ product_views.create_options_modal(outer_loop.index0, loop.index0, entry, 'back') }}
                {% else %}
                    {{ product_views.create_options_modal(outer_loop.index0, loop.index0, entry, 'cancel') }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}


{% block js %}
    <script src="/embedded/js/widgets/quantity_stepper.js"></script>
    <script src="/embedded/js/widgets/modal_view.js"></script>
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/product.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/model/cart.js"></script>
    <script type="application/javascript">
        // Make sure page is reloaded on back button in safari
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };

        $(function() {
            var products = Product.productsFromDictionary({{ json_data }});
            var event = ZEEvent.getEvent();

            // Update open/closed state
            var openForOrders = false;
            if (event) {
                openForOrders = event.open_for_orders;
                showEventSummary(event);
            } else if (products.length > 0) {
                var firstProduct = products[0];
                openForOrders = firstProduct.merchant_open && firstProduct.menu_active;
            }

            var openClosedBar = $('.ze-products-open-closed');
            if (openForOrders) {
                openClosedBar.addClass('ze-open');
                openClosedBar.text('{% trans %}Open for orders{% endtrans %}');
            } else {
                openClosedBar.addClass('ze-closed');
                openClosedBar.text(products[0].message_when_closed);
            }

            // Update cart button
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = localStorage.group;
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
            updateCartButton('{{ tab }}', cart, zeLocation, bar, group, event);

            // Update cells
            $('#ze-main-table-view-container')
                    .find('.ze-table-view-cell')
                    .each(function() {
                        var cell = $(this);
                        var row = cell.data('row');
                        var product = products[row];
                        // Update items
                        var items = cart.itemsForProduct(product.key);
                        if (items.length > 0) {
                            items.forEach(function(item) {
                                var itemsContainer = cell.find('.ze-cart-items');
                                var quantityContainer = $('<div class="ze-quantity-container"></div>');
                                $('<span class="ze-quantity-label"></span>').appendTo(quantityContainer);
                                var controls = $('<div class="ze-quantity-controls"><button class="ze-button ze-minus">-</button><button class="ze-button ze-plus">+</button></div>').appendTo(quantityContainer);
                                var priceLabel = $('<span class="ze-price-label"></span>').appendTo(quantityContainer);
                                $('<span class="ze-check-mark fa fa-check"></span>').appendTo(quantityContainer);
                                var optionsSummary = $('<div class="ze-options-summary">' + item.quoteItem.options_summary + '</div>').appendTo(quantityContainer);
                                new QuantityStepper(quantityContainer, 0, item.quantity, function(value) {
                                    if (value == 0) {
                                        cart.removeItem(item);
                                        cart.save();
                                        location.reload();
                                    } else {
                                        item.quantity = value;
                                        priceLabel.text('--');
                                        loadQuoteAndUpdateItems(cart, function() {
                                            priceLabel.text(item.quoteItem.price_formatted);
                                            optionsSummary.text(item.quoteItem.options_summary);
                                        });
                                    }
                                });
                                itemsContainer.append(quantityContainer);
                            });
                        }
                    })
                    .on('click', function() {
                        // Attach click listeners
                        var cell = $(this);
                        var row = cell.data('row');
                        var product = products[row];
                        Product.setProduct(product);
                        navigationManager.openProduct('{{ tab }}', product.key);
                    }
            );

            // Add-to-cart (+) buttons
            if (openForOrders) {
                $('.ze-plus-button').on('click', function(evt) {
                    evt.stopPropagation();
                    var cell = $(this);
                    var row = cell.data('row');
                    var product = products[row];
                    var item = Product.createCartItem(product);
                    item.productName = product.name;
                    item.quantity = 1;
                    if (product.product_options.length > 0) {
                        // Start options selector
                        var optionsIndex = 0;
                        var optionModal = new OptionModalView(row, optionsIndex, true, product, '{% trans %}Please select{% endtrans %}', function(cartItem) {
                            cart.addItem(cartItem);
                            zeProgressHudShow("{% trans %}Adding to cart{% endtrans %}");
                            loadQuoteAndUpdateItems(cart, function() {
                                location.reload();
                            });
                        });
                        optionModal.cartItem = item;
                        optionModal.present();
                    } else {
                        // No options, add to cart immediately
                        cart.addItem(item);
                        zeProgressHudShow("{% trans %}Adding to cart{% endtrans %}");
                        loadQuoteAndUpdateItems(cart, function() {
                            location.reload();
                        });

                    }
                });
            }
        });

        function closeProduct(index) {
            $('#ze-product-' + index).hide();
        }
    </script>
{% endblock %}