{% extends "embedded/base.html" %}
{% import "embedded/macros/product_views.html" as product_views %}

{% block background_color %}#efeff4{% endblock %}

{% block content %}
    <div class="ze-product-container">
        <div class="ze-products-open-closed">
        </div>
        <div class="ze-product-header">
            <div class="ze-product-header-top">
                {% if product.image_url %}
{#                     <img src="/embedded/img/bar_logo_dummy.png" class="ze-product-image"> #}
                       <img src="{{ product.image_url }}" class="ze-product-image">
                {% else %}
                {% endif %}
                <div class="ze-name">{{ product.name }}</div>
                <div class="ze-price-and-quantity-container">
                    <div class="ze-price">{{ product.base_price_formatted }}</div>
                    <div class="ze-quantity-container">
                        <span class="ze-quantity-label">1</span>
                        <div class="ze-quantity-controls"><button class="ze-button ze-minus">-</button><button class="ze-button ze-plus">+</button></div>
                    </div>
                </div>
            </div>
            <div class="ze-product-description">{{ product.description }}</div>
            {% if product.tiered_price_descriptions|length > 0 %}
                <div class="ze-tiered-price-descriptions-container">
                    {% for p in product.tiered_price_descriptions %}
                        <div class="ze-tiered-price-description">{{ p }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if product.product_options|length > 0 %}
            <div class="ze-table-view-container ze-options-table">
                <div class="ze-table-view-section-header">{% trans %}Options{% endtrans %}</div>
                {% for entry in product.product_options %}
                    <div class="ze-table-view-cell ze-label-value-cell" data-row="{{ loop.index0 }}">
                        <div class="ze-title">{{ entry.name }}</div>
                        <div class="ze-value"></div>
                        <span class="ze-disclosure fa fa-chevron-right"></span>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div id="ze-add-to-cart-button" class="ze-primary-action-button">{% trans %}Add to Cart{% endtrans %}</div>
    </div>
{% endblock %}

{% block modals %}
    {# Modal views #}
    {% if product.product_options|length > 0 %}
        {% for entry in product.product_options %}
            {{ product_views.create_options_modal(0, loop.index0, entry, None) }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/consumer.js"></script>
    <script src="/embedded/js/model/cart.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/product.js"></script>
    <script src="/embedded/js/widgets/quantity_stepper.js"></script>
    <script src="/embedded/js/widgets/modal_view.js"></script>
    <script type="application/javascript">
        $(function() {
            var product = Product.getProduct();
            console.log(product);
            if (typeof product.quantity === 'undefined') {
                product.quantity = 1;
            }
            $('.ze-quantity-label').text = product.quantity;
            var event = ZEEvent.getEvent();

            // Update cart button
            var zeLocation = ZELocation.getLocation();
            var bar = Bar.getBar();
            var group = localStorage.group;
            var cart = Cart.getCartForLocation(zeLocation, bar, group, event);
            updateCartButton('{{ tab }}', cart, zeLocation, bar, group, event);

            // Setup the open/closed bar
            var openForOrders = false;
            if (event) {
                openForOrders = event.open_for_orders;
            } else  {
                openForOrders = product.merchant_open && product.menu_active;
            }

            var openClosedBar = $('.ze-products-open-closed');
            if (openForOrders) {
                openClosedBar.addClass('ze-open');
                openClosedBar.text('{% trans %}Open for orders{% endtrans %}');
            } else {
                openClosedBar.addClass('ze-closed');
                openClosedBar.text(product.message_when_closed);
            }

            // Setup the quantity stepper
            new QuantityStepper($('.ze-quantity-container'), 1, 1, function(value) {
                product.quantity = value;
            });

            // Preselect first option value in required options
            product.product_options.forEach(function(option) {
                if (option.required && option.selection_type === 'single' && Product.getSelectedIndexForOption(option) == -1 && option.values.length > 0) {
                    Product.setSelectedIndexForOption(option, 0);
                }
            });

            // Prepare modals of product options
            var optionModals = [];
            $('.ze-options-table .ze-label-value-cell')
                    .each(function() {
                        var cell = $(this);
                        var row = cell.data('row');
                        var productOption = product.product_options[row];
                        refreshOptionValues(cell, productOption);
                        optionModals.push(new OptionModalView(0, row, false, product, '', function() {
                            refreshOptionValues(cell, productOption);
                        }));
                    })
                    .on('click', function() {
                        var cell = $(this);
                        var row = cell.data('row');
                        optionModals[row].present();
            });

            // Add to cart button
            if (openForOrders) {
                $('#ze-add-to-cart-button').on('click', function () {
                    var item = Product.createCartItem(product);
                    item.productName = product.name;
                    cart.addItem(item);
                    zeProgressHudShow("{% trans %}Adding to cart{% endtrans %}");
                    loadQuoteAndUpdateItems(cart, function () {
                        window.history.back();
                    });
                });
            } else {
                $('#ze-add-to-cart-button').addClass('ze-disabled');
            }
        });

        function refreshOptionValues(cell, productOption) {
            if (productOption.selection_type === 'single') {
                // Single selection
                var selectedIndex = Product.getSelectedIndexForOption(productOption);
                if (selectedIndex == -1) {
                    cell.find('.ze-value').text('{% trans %}Choose{% endtrans %}');
                } else {
                    cell.find('.ze-value').text(Product.getLabelWithPriceForOptionValue(productOption.values[selectedIndex]));
                }
            } else if (productOption.selection_type === 'multiple') {
                // Multiple selection
                var labels = [];
                productOption.values.forEach(function (value) {
                    if (value.selected) {
                        labels.push(Product.getLabelWithPriceForOptionValue(value));
                    }
                });
                if (labels.length > 0) {
                    cell.find('.ze-value').text(labels.join(', '));
                } else {
                    cell.find('.ze-value').text('{% trans %}Choose{% endtrans %}');
                }
            }
        }
    </script>
{% endblock %}