{% extends "embedded/base.html" %}

{% block background_color %}#efeff4{% endblock %}

{% block content %}
    <div class="ze-profile-container" id="ze-profile-container" style="display: none;">
        <div class="ze-table-view-container">
            <div class="ze-table-view-section-header">
                {% trans %}Credit cards{% endtrans %}
            </div>
            <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Add Card{% endtrans %}
                        <input type="text" class="ze-value-input ze-add-card-button" placeholder="{% trans %}Click to add{% endtrans %}">
                    </label>
                    <hr>
                </div>
            </div>

            <div class="ze-table-view-section" id="ze-credit-card-section">
            </div>

            <div class="ze-table-view-section-header">
                {% trans %}Profile{% endtrans %}
            </div>
            <div class="ze-table-view-section">
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Email{% endtrans %}
                        <input type="email" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="email">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Name{% endtrans %}
                        <input type="text" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="name">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Address line 1{% endtrans %}
                        <input type="text" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="address1">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Address line 2{% endtrans %}
                        <input type="text" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="address2">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}City/town{% endtrans %}
                        <input type="text" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="city">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Postcode/zip{% endtrans %}
                        <input type="text" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="postcode">
                    </label>
                    <hr>
                </div>
                <div class="ze-table-view-cell ze-profile-input-cell ze-no-interaction">
                    <label class="ze-title">{% trans %}Phone number{% endtrans %}
                        <input type="tel" class="ze-value-input" placeholder="{% trans %}Click to add{% endtrans %}" data-property="phone">
                    </label>
                    <hr>
                </div>
            </div>
            <div class="ze-delete-account-button">{% trans %}Delete Account{% endtrans %}</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/embedded/js/model/cart.js"></script>
    <script src="/embedded/js/model/event.js"></script>
    <script src="/embedded/js/model/location.js"></script>
    <script src="/embedded/js/model/bar.js"></script>
    <script src="/embedded/js/model/product.js"></script>
    <script src="/embedded/js/model/consumer.js"></script>
    <script type="application/javascript">
        navigationManager.popToTabRoot('{{ tab }}');

        function saveConsumer(newConsumer) {
            // save
            zeProgressHudShow('{% trans %}Saving{% endtrans %}');
            var url = '/api/v2/consumers/' + consumerManager.getConsumerKey();
            var data = JSON.stringify(newConsumer);
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (newConsumer, textStatus, jqXHR) {
                    consumer = newConsumer;
                    console.log(consumer);
                    zeProgressHudShow('{% trans %}Saved{% endtrans %}', {
                        errorState: false,
                        ttl: 1000
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    zeProgressHudDismiss();
                    reload();
                    alert(errorThrown);
                }
            });
        }

        function reload() {
            zeProgressHudShow('{% trans %}Loading{% endtrans %}');
            var consumerManager = ConsumerManager.getConsumerManager();
            if (consumerManager.accessToken == '' || consumerManager.authValue == null) {
                ConsumerManager.getConsumerManager().authenticate(function() {
                    reload();
                });
            } else {
                var url = '/api/v2/consumers/' + consumerManager.getConsumerKey();
                $.ajax({
                    type: 'GET',
                    url: url,
                    headers: {'Authorization': consumerManager.authValue},
                    contentType: "application/json",
                    success: function (receivedConsumer, textStatus, jqXHR) {
                        consumer = receivedConsumer;
                        console.log(consumer);

                        // First section
                        var updateInputValue = function(jqInput) {
                            var property = jqInput.data('property');
                            var value = consumer[property] == null ? '' : consumer[property];
                            jqInput.val(value);
                        };
                        $('.ze-value-input')
                                .each(function() {
                                    updateInputValue($(this));
                                })
                                .off('keypress').on('keypress', function(e) {
                                    // Make the enter key trigger blur (unfocus)
                                    if (e.which == 13) {
                                        e.preventDefault();
                                        $(this).trigger('blur');
                                        return false;
                                    }
                                })
                                .off('blur').on('blur', function(e) {
                                    var property = $(this).data('property');
                                    var oldValue = consumer[property] == null ? '' : consumer[property];
                                    var newValue = $(this).val();
                                    if (newValue != oldValue) {
                                        var cloneOfConsumer = JSON.parse(JSON.stringify(consumer));
                                        cloneOfConsumer[property] = newValue;
                                        saveConsumer(cloneOfConsumer);
                                    }
                                });

                        // Second section (credit cards)
                        var creditCardSection = $('#ze-credit-card-section');
                        creditCardSection.empty();
                        consumer.payment_subscriptions.forEach(function(subscription, i) {
                            // Build cell
                            var cell = $('<div class="ze-table-view-cell ze-credit-card-cell">').appendTo(creditCardSection);
                            var deleteButton = $('<span class="ze-delete-button fa fa-minus-circle"></span>').appendTo(cell);
                            var cellTitle = $('<div class="ze-title">' + subscription.description + '</div>').appendTo(cell);
                            var indicator = $('<span class="ze-selection-indicator fa fa-check"></span>').appendTo(cell);
                            cell.append($('<hr>'));
                            if (consumer.current_payment_subscription != 'undefined' && consumer.current_payment_subscription != null && consumer.current_payment_subscription.key === subscription.key) {
                                $(cell).addClass('ze-selected');
                            }

                            // Card selection
                            cell.off('click').on('click', function(e) {
                                console.log('select');
                                // If row already selected, don't do anything
                                if (consumer.current_payment_subscription != 'undefined' && consumer.current_payment_subscription != null && consumer.current_payment_subscription.key === subscription.key) {
                                    return;
                                }

                                // Deselect old row
                                $('.ze-credit-card-cell').removeClass('ze-selected');

                                // Select new row
                                $(cell).addClass('ze-selected');
                                var cloneOfConsumer = JSON.parse(JSON.stringify(consumer));
                                cloneOfConsumer.current_payment_subscription = subscription;
                                saveConsumer(cloneOfConsumer);
                            });

                            // Delete card button
                            deleteButton.off('click').on('click', function(e) {
                                e.stopPropagation();
                                console.log('delete');
                                if (confirm('{% trans %}Are you sure you want to delete the credit card?{% endtrans %}')) {
                                    // Update data model
                                    if (consumer.current_payment_subscription != 'undefined' && consumer.current_payment_subscription != null && consumer.current_payment_subscription.key === subscription.key) {
                                        consumer.current_payment_subscription = null;
                                    }
                                    consumer.payment_subscriptions.splice(i, 1);

                                    // Remove from card list
                                    cell.remove();

                                    // Call server to delete card
                                    zeProgressHudShow('{% trans %}Deleting{% endtrans %}');
                                    var url = '/api/v2/paymentsubscriptions/' + subscription.key;
                                    $.ajax({
                                        type: 'DELETE',
                                        url: url,
                                        headers: {'Authorization': consumerManager.authValue},
                                        contentType: "application/json",
                                        success: function (data, textStatus, jqXHR) {
                                            zeProgressHudDismiss();
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            zeProgressHudDismiss();
                                            reload();
                                            alert(errorThrown);
                                        }
                                    });
                                }
                            });
                        });

                        $('#ze-profile-container').show();
                        zeProgressHudDismiss();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        zeProgressHudDismiss();
                        if (jqXHR.status == 401) {
                            ConsumerManager.getConsumerManager().authenticate(function() {
                                reload();
                            });
                        } else {
                            alert(errorThrown);
                        }
                    }

                });
            }
        }

        var resetApp = function() {
            console.log('Deleting remove consumer');
            var url = '/api/v2/consumers/' + consumerManager.getConsumerKey();
            $.ajax({
                type: 'DELETE',
                url: url,
                headers: {'Authorization': consumerManager.authValue},
                contentType: "application/json",
                success: function (data, textStatus, jqXHR) {
                    console.log('Consumer deleted');
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            console.log('Clearing local storage');
            localStorage.removeItem('consumerManager');
            localStorage.removeItem('consumerKey');
            localStorage.removeItem('consumerPassword');
            localStorage.removeItem('group');
            localStorage.removeItem('zeLocation');
            localStorage.removeItem('bar');
            localStorage.removeItem('menu');
            localStorage.removeItem('carts');
            localStorage.removeItem('orderKey');
            localStorage.removeItem('event');
            localStorage.removeItem('navigationData');
            localStorage.removeItem('product');
            navigationManager = new NavigationManager();
        }

        $(function() {
            reload();

            $('.ze-delete-account-button').on('click', function() {
                if (confirm('{% trans %}Your saved cards will be deleted and you will lose access to your receipts. The app will be reset with an empty Zerved account. Are you sure you want to delete your account?{% endtrans %}')) {
                    resetApp();
                }
            })

            $('.ze-add-card-button').on('click', function() {
                navigationManager.openEPaySaveCard('{{ tab }}');
            })
        });
    </script>
{% endblock %}