{% extends "embedded/base.html" %}

{% block content %}
    {% if data|length == 0 %}
        <div class="ze-empty-view">
            <span>{% trans %}No locations found{% endtrans %}</span>
        </div>
    {% else %}
        <div class="ze-table-view-container">
            {% for entry in data %}
                <div class="ze-table-view-cell ze-location-cell" data-location-key="{{ entry.key }}">
                    <img src="{{ entry.merchant.image_url }}" alt="{% trans %}logo missing{% endtrans %}" onerror="this.src='/embedded/img/bar_logo_dummy.png';">
                    <span class="ze-disclosure fa fa-chevron-right"></span>
                    <div class="ze-title">{{ entry.name }}</div>
{#                    <div class="ze-subtitle">(distance goes here)</div> {# TODO: Fix this #}
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">
        navigationManager.popToTabRoot('{{ tab }}');
        $('.ze-table-view-cell').on('click', function(e) {
            var cell = $(this);
            var locationKey = cell.data('location-key');
            navigationManager.openLocation('{{ tab }}', locationKey);
        });
    </script>
{% endblock %}