<div class="ze-tab-bar">
    <a class="ze-tab-bar-item ze-shop{% if tab == 'shop' %} ze-selected{% endif %}" href="{{ uri_for('embedded-tab', tab='shop') }}" data-tab="shop">{% trans %}Shop{% endtrans %}</a>
    <a class="ze-tab-bar-item ze-orders{% if tab == 'orders' %} ze-selected{% endif %}" href="{{ uri_for('embedded-tab', tab='orders') }}"data-tab="orders">{% trans %}Orders{% endtrans %}</a>
{#    <a class="ze-tab-bar-item ze-favorites{% if tab == 'favorites' %} ze-selected{% endif %}" href="{{ uri_for('embedded-tab', tab='favorites') }}"data-tab="favorites">{% trans %}Favorites{% endtrans %}</a>#}
    <a class="ze-tab-bar-item ze-profile{% if tab == 'profile' %} ze-selected{% endif %}" href="{{ uri_for('embedded-tab', tab='profile') }}"data-tab="profile">{% trans %}Profile{% endtrans %}</a>
    <a class="ze-tab-bar-item ze-info{% if tab == 'info' %} ze-selected{% endif %}" href="{{ uri_for('embedded-tab', tab='info') }}"data-tab="info">{% trans %}Info{% endtrans %}</a>
</div>