<div style="width:100%; height:100%; background-color:#ececec; display:table">
	<div style="background-image:url(http://www.zervedapp.com/iphone/img/zerved_logo_02.png); width:258px; height:58px; margin:50px auto;"></div>
	    <p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px; font-weight: bold">{% trans %}Reset password{% endtrans %}</p>
	    <p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px;">{% trans %}We have received a request to reset the password for your Zerved account. Please confirm by clicking the link below.{% endtrans %}</p>
	    <p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px;"><a href="{{ reset_link}}">{{ reset_link }}</a></p>
	    <p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px; font-style: italic">{% trans %}The link is valid for 2 hours. If you did not ask for a password reset, please ignore this email.{% endtrans %}</p>
	</div>
</div>
