<style type="text/css">
htnl, body {margin:0; padding:0; background:#fafafa;}
p {font-size: 16px; line-height: 26px !important; margin-bottom: 20px; color: #555;}
a {color: rgb(0, 136, 204); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-decoration: none;}
</style>
<div style="width:100%; height:100%; display:table">
	<div style="background-image:url(http://www.zervedapp.com/iphone/img/zerved_logo_02.png); width:258px; height:58px; margin:50px auto 80px auto;"></div>
    <div style="width: 600px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:auto; text-align:justify;">
        <h4 style="font-size: 18px; font-weight: normal; color: #aeaeae; margin:0">{{ news.date }}</h4>
        <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 28px;color: #333;text-shadow: white 0px 1px 0px; margin:0">
            {{ news.title }}
        </h1>
        {{ news.content }}
        <div style="text-align:right;border-top: solid 1px #aeaeae; margin: 50px auto; padding-top: 50px;">
            <a href="">zervedapp.com</a>
        </div>
    </div>
</div>