<div style="width:100%; height:100%; background-color:#ececec; display:table">
	<div style="background-image:url(http://www.zervedapp.com/iphone/img/zerved_logo_02.png); width:258px; height:58px; margin:50px auto;"></div>
	<p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px;">{% trans %}Receipt{% endtrans %} #{{ order.key().id() }}</p>
    <div style="width: 640px;font-family:Courier, monospace; margin:auto;">
        <div style="width: 532px;height:35px;background:transparent url(http://www.zervedapp.com/iphone/img/tab_bg_top.png) no-repeat 0 0;float: left;margin-left: 0px;padding-left: 54px;padding-right: 54px;"></div>
        <div style="width: 532px;background:transparent url(http://www.zervedapp.com/iphone/img/tab_bg_middle.png) repeat-y 0 0;float: left;margin-left: 0px;padding-left: 54px;padding-right: 54px;padding-top: 25px;padding-bottom: 27px;">
            <table style="font-size:18px; width:532px; margin-bottom:40px;">
                <tr>
                    <td style="font-family:Courier, monospace;">{{ order.company_name }}<br/>{% trans %}VAT no.{% endtrans %} {{ order.company_vat }}</td>
                    <td style="text-align:right;font-family:Courier, monospace;">{{ order.location_name|e }}<br/>{{ order.format_datetime(order.date_completed, 'short') }}<br/>{% trans %}Order no.{% endtrans %} {{ order.order_number}}<br/>
                    {% if order.service == 'counter' %}
                    {% trans %}Pickup at counter{% endtrans %}
                    {% elif order.service == 'table' %}
                    {% trans %}Serve at table{% endtrans %}
                    {% elif order.service == 'delivery' %}
                    {% trans %}Deliver to address{% endtrans %}
                    {% endif %}
                    </td>
                </tr>
            </table>
            <table style="font-size:18px; width:532px;">
                {% for item in order.items %}
            	<tr>
                    <td style="vertical-align:top;font-family:Courier, monospace;">{{ item.quantity }}</td>
                    <td style="vertical-align:top;font-family:Courier, monospace;">x</td>
                    <td style="vertical-align:top;font-family:Courier, monospace;">{{ item.name }}
                        <ul style="list-style: none; margin:0; padding:0">
                            {% for option in item.get_options() %}
                            <li style="font-family:Courier, monospace;">{{ option['option_name']|e }}: {{ option['values']|join(' + ', 'value_label')|e }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td style="text-align:right; vertical-align:top;font-family:Courier, monospace;">{{ format_currency(item.total_incl_tax, order.currency) }}</td>
                </tr>
                {% endfor %}
                <tfoot style="text-align:right;">
                    <tr>
                        <td colspan="4" style="border-top:1px solid black; border-bottom:1px solid black;font-family:Courier, monospace;">{% trans %}Total excl. Tax:{% endtrans %} {{ format_currency(order.get_total(incl_tax=False), order.currency) }}</td>
                    </tr>
                    {% for key, tax_total in order.get_total_tax_grouped().items() %}
                    <tr>
                        <td colspan="4" style="border-bottom:1px solid black;font-family:Courier, monospace;">{{ tax_total['name']|e }} {{ tax_total['rate'] }}%: {{ format_currency(tax_total['total'], order.currency) }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" style="border-bottom:1px solid black;font-family:Courier, monospace;">{% trans %}Total incl. Tax:{% endtrans %} {{ format_currency(order.get_total(incl_tax=True), order.currency) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="width: 532px;height:76px;background:transparent url(http://www.zervedapp.com/iphone/img/tab_bg_bottom.png) no-repeat 0 0;float: left;margin-left: 0px;padding-left: 54px;padding-right: 54px;"></div>
    </div>
    <p style="clear:both; text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px;">{% trans %}You are receiving this receipt email because you requested it from the Zerved smartphone app.{% endtrans %}</p>
    <p style="text-align:center;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #333;text-shadow: white 0px 1px 0px;">{% trans %}This is not an automatic service, newsletter, or mailing list.{% endtrans %}</p>
</div>