/*@import url('_cassette/asset/Mobile/Styles/epay.css');*/

@import url('_cassette/stylesheetbundle/Mobile/Styles/epay.css');

body .ui-page {
	border-left: none !important;
	border-right:none !important;
}
body .ui-header,
#ctl00_MainContent_WindowMobileUC1_TestMode,
.cardnumber,
#AmountLine,
#OrderIDLine,
#ctl00_MainContent_WindowMobileUC1_ctl00_ctl00_OrderText,
.ui-li.ui-li-divider.ui-bar-b {
	display:none;
}
/*ul.ui-listview:before {
	content:"Dette trin skal kun foretages én gang...";
	text-align:center;
	margin:10px;
	display:block;
	color:green;
}*/
body .ui-bar-a {
	border: 1px solid #456F9A;
	background: #5E87B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6FACD5), to(#497BAE));
	background-image: -webkit-linear-gradient(#6FACD5, #497BAE);
	background-image: -moz-linear-gradient(#6FACD5, #497BAE);
	background-image: -ms-linear-gradient(#6FACD5, #497BAE);
	background-image: -o-linear-gradient(#6FACD5, #497BAE);
	background-image: linear-gradient(#6FACD5, #497BAE);
	text-shadow: 0 1px 1px #3E6790;
}
body .ui-btn-up-a {
	border: 1px solid #365779;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #111;
	background: #5E87B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5787a8), to(#3a6289));
	background-image: -webkit-linear-gradient(#5787a8, #3a6289);
	background-image: -moz-linear-gradient(#5787a8, #3a6289);
	background-image: -ms-linear-gradient(#5787a8, #3a6289);
	background-image: -o-linear-gradient(#5787a8, #3a6289);
	background-image: linear-gradient(#5787a8, #3a6289);
}
body .ui-btn-up-f,
body .ui-btn-hover-f {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 49%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
	background-color:#00b800;
	border-radius:4px;
	text-shadow:0 -1px 0 #1c4210;
	padding: 7px 0;
	font-weight:bold;
}
body .ui-btn-inner {
	border-top: none;
}
body .ui-btn-hover-f {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 49%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
	background-color:#088808;
	color:#bababa;
}

body .ui-footer {
	display:none;
}

body h1 {
	text-align:center;
}