{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/events/eventform.html' as eventform %}
{% block title %}{% trans %}Edit Event{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
    {% if event %}
        {{ event.name|e }}
    {% else %}
        {% trans %}New Event{% endtrans %}
    {% endif %}
    </h1>
</div>

<p><span class="label label-warning">{% trans %}Overload Protection{% endtrans %}</span> {% trans %}If the max limit of 300 pre-orders per bar is reached the relevant bar will close for orders.{% endtrans %}</p>

<form action="{{ uri_for('event-save') }}" method="post" class="form-horizontal" id="eventform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    {% if event and not clone and not error%}
    <input type="hidden" name="_id" value="{{ event.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Event Details{% endtrans %}</legend>
        {{ eventform.eventform(form, merchant, now, event, bars, bar_keys) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Event{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('event-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>

<script type="text/javascript">
$(document).ready(function(){

    // Repeats
    $("#select_repeats").on('change', function(){
        if($(this).val() == "") {
            $("#repeat_every").closest(".control-group").hide();
            $("#end-date").closest(".control-group").hide();
            $("#excluded-table").closest(".control-group").hide();
        }
        else {
            var d = {
                '' : '',
                'daily' : '{% trans %}day(s){% endtrans %}',
                'weekly' : '{% trans %}week(s){% endtrans %}',
                'monthly' : '{% trans %}month(s){% endtrans %}',
            };
            $("#repeat_every").closest(".control-group").find("span.help-inline").html(d[$("#select_repeats").val()]);
            $("#repeat_every").closest(".control-group").show();   
            $("#end-date").closest(".control-group").show(); 
            $("#excluded-table").closest(".control-group").show();  
        }
    }).trigger('change');

    // Disable buttons when submitting form to avoid multiple clicks
    $("#eventform").submit(function (event) {
        $(".form-actions .btn").html("{% trans %}Please wait...{% endtrans %}").prop("disabled", true);
    });

});
</script>

{% endblock %}