{% extends "merchants/base.html" %}
{% block title %}{% trans %}Events{% endtrans %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% trans %}Events in{% endtrans %} {{ months[month] }} {{ year }}
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ uri_for('event-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Create New Event{% endtrans %}</a>
        </div>
    </h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <center>
            <div class="btn-group">
                <a class="btn" href="{% if month > 1 %}?m={{ (month - 1) }}&y={{ year }}{% else %}?y={{ (year - 1) }}&m=12{% endif %}"><i class="icon icon-chevron-left"></i></a>
                <a class="btn" data-content='<form class="inline-form" method="get"><select name="m" class="input-block-level"><option value="{{ month }}">{% trans %}Month{% endtrans %}</option>{% for i in range(12) %}<option value="{{ (i+1) }}"{%if i+1 == month%} selected{% endif %}>{{ months[(i+1)] }}{% endfor %}</select><select name="y" class="input-block-level"><option value="{{ year }}">{% trans %}Year{% endtrans %}</option>{% for i in range(3) %}<option value="{{ year - (3-i) }}">{{ year - (3-i) }}{% endfor %}{% for i in range(5) %}<option value="{{ year + i }}"{% if i == 0%} selected{% endif %}>{{ year + i }}{% endfor %}</select><input type="submit" value="{% trans %}Go{% endtrans %}" class="btn btn-primary btn-block"></form>' id="select-date">{{ months[month] }} {{ year }}</a>
                {% if today.month != month or today.year != year %}
                    <a class="btn" href="?m={{today.month}}&y={{today.year}}">{% trans %}Today{% endtrans %}</a>
                {% endif %}
                <a class="btn" href="{% if month < 12 %}?m={{ (month + 1) }}&y={{ year }}{% else %}?y={{ (year + 1) }}&m=1{% endif %}"><i class="icon icon-chevron-right"></i></a>     
            </div>
        </center>

        <table class="table calendar-table">
            <thead>
                <tr>
                    <th>{% trans %}Monday{% endtrans %}</th>
                    <th>{% trans %}Tuesday{% endtrans %}</th>
                    <th>{% trans %}Wednesday{% endtrans %}</th>
                    <th>{% trans %}Thursday{% endtrans %}</th>
                    <th>{% trans %}Friday{% endtrans %}</th>
                    <th>{% trans %}Saturday{% endtrans %}</th>
                    <th>{% trans %}Sunday{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                            {% if day > 0 %}
                               <td{% if today.day == day and today.month == month and today.year == year %} class="today"{% endif %} id="{{(year ~ '-' ~ (('0' ~ month) if month < 10 else month) ~ '-' ~ (('0' ~ day) if day < 10 else day))}}"> 
                                   {{ day }}
                                   {% set dayloop = loop %}
                                   {% for event in events if event.local_date_delivery.day == day %}
                                        {% set event_parent = event.parent() %}
                                        <div class="alert {% if event.open_for_orders %}alert-success{% elif event.order_end_date < today %}alert-error{% endif %}" >
                                            <a  href="#delete-modal" class="close" role="button" data-toggle="modal" onclick="setModalData('{{ event_parent.key().id() }}', '{{ event.key().id() }}', {% if event_parent.get_repetitions() > 1 %}true{%else%}false{%endif%})">&times;</a>
                                            <div class="event-box {%if dayloop.index > 5%}left{%else%}right{%endif%}" data-title="{{ event.name|e }} &middot; {{ user_merchant.format_time(event.date_start, 'short') }}" data-content='<p>{{ event.time_label|e}} &middot; {{ user_merchant.format_time(event.date_delivery, 'short') }}<br/><span class="label label-{%if event.open_for_orders%}success{%else%}important{% endif%}">{%if event.open_for_orders%}{% trans %}open for orders{% endtrans %}{%else%}{% trans %}closed for orders{% endtrans %}{% endif%}</span><br/><i class="icon icon-map-marker"></i> <strong>{{ event.location.name|e }}</strong></p><br/><a href="{{ uri_for("event-edit", event_id=event.parent_key().id()) }}" class="btn btn-primary btn-block">{% trans %}Edit event{% endtrans %}</a> <a href="{{ uri_for("event-clone", event_id=event.parent_key().id()) }}" class="btn btn-block">{% trans %}Clone{% endtrans %}</a>'>
                                            {{ user_merchant.format_time(event.date_delivery, 'short') }}<br/>{{ event.name|e }}<br/>{{ event.time_label|e }}<br/>
                                            {{ event.location.name|e }}
                                            </div>
                                        </div>
                                   {% endfor %}
                                </td>
                            {% else %}
                                <td class="disabled"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="calendar-legend">
            <div class="alert alert-success pull-left">{% trans %}Open for orders{% endtrans %}</div>
            <div class="alert alert-error pull-left">{% trans %}Closed for orders{% endtrans %}</div>
        </div>
    </div>
</div>


<div id="delete-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% trans %}Delete{% endtrans %}</h3>
  </div>
  <div class="modal-body">
    <p>{%trans%}Are you sure? This action cannot be undone.{%endtrans%}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <form method="post" class="form-inline parent_event_id recc"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /><button type="submit" class="btn btn-danger">{% trans %}Delete this time only{% endtrans %}</button></form>
    <form method="post" class="form-inline event_id recc"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /><button type="submit" class="btn btn-danger">{% trans %}Delete all event times{% endtrans %}</button></form>
    <form method="post" class="form-inline event_id nonrecc"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /><button type="submit" class="btn btn-danger">{% trans %}Delete event{% endtrans %}</button></form>
  </div>
</div>


<script type="text/javascript">
function setModalData(parent_event_id, event_id, recc) {
    $("#delete-modal form.parent_event_id").attr('action', '/merchants/events/exclude/'+ parent_event_id + '/' + event_id);
    $("#delete-modal form.event_id").attr('action','/merchants/events/delete/'+ parent_event_id);
    $("#delete-modal form.recc").css('display', recc ? 'inline' : 'none');
    $("#delete-modal form.nonrecc").css('display', !recc ? 'inline' : 'none');
    $("#delete-modal form").submit(function (event) {
        $("#delete-modal button[type=submit]").html("{% trans %}Please wait...{% endtrans %}").prop("disabled", true);
    });
}

$('#select-date').popover({
    html: true,
    placement: 'bottom',
    title: "{% trans %}Select a date{% endtrans %}",
});

$('.calendar-table div.event-box.right').popover({
    html: true,
    placement: 'right',
});

$('.calendar-table div.event-box.left').popover({
    html: true,
    placement: 'left',
});

$("td").live("dblclick", function(){
    if(!$(this).hasClass("disabled")) {
        $(this).toggleClass("selected");
        if(confirm("{%trans%}Create an event at this date{%endtrans%} (" + $(this).attr('id') + ") ?"))
            window.location.href = "{{ uri_for('event-new')}}?date=" + $(this).attr('id');
        else $(this).toggleClass("selected");
     }
});
</script>

{% endblock %}