{% macro eventform(form, merchant, now, event, bars, bar_keys) -%}
{% import 'merchants/forms.html' as forms %}
{% if form._prefix %}
{{ forms.control(form.name) }}
{% else %}
{{ forms.control(form.name, autofocus="autofocus") }}
{% endif %}

<div class="control-group">
    <label class="control-label" for="location">{% trans %}Location{% endtrans %}</label>
    <div class="controls">
        <div class="input ">
			<select name="location-key" id="location">
			{% for location in merchant.get_locations() %}
				<option value="{{ location.key() }}"{% if event and event.location.key() == location.key()%} selected{% endif %}>{{ location.name|e }}</option>
			{% endfor %}
			</select>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{% trans %}Bars{% endtrans %}</label>
    <div class="controls">
        <div class="input control-input-label">
            {% for bar in bars %}
            <ul class="unstyled span2 event-bars">
                <li class="{{ bar.location.key() }}">
                    <label class="checkbox">
                        <input type="checkbox" name="bars" value="{{ bar.key() }}"{% if bar.key().__str__() in bar_keys or bars.count() == 1 %} checked{% endif %}/> {{ bar.name }}
                    </label>
                </li>
            </ul>
            {% endfor %}
        </div>
        <span class="help-inline">{% trans %}Note: max limit of 300 pre-orders per bar.{% endtrans %}</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="start-date">{% trans %}Event start{% endtrans %}</label>
    <div class="controls">
        <div class="input ">
			<input type="text" id="start-date" name="start-date" class="input-small input-datepicker" value="{% if event %}{{ event.first_date.strftime('%Y-%m-%d') }}{% else %}{{ now }}{% endif %}" data-date-format="yyyy-mm-dd"/>
			<select name="start-time-hours" class="input-small">
			{% for i in range(0,24) %}
			    {% set hour = "%02d"|format(i) %}
			    <option value="{{ hour }}" {% if event and hour == event.first_date.strftime('%H') %} selected{% endif %}>{{ hour }}</option>
			{% endfor %}
			</select>
			:
			<select name="start-time-minutes" class="input-small">
			{% for i in range(0,12) %}
			    {% set min = "%02d"|format(i * 5) %}
			    <option value="{{ min }}"{% if event and min == event.first_date.strftime('%M') %} selected{% endif %}>{{ min }}</option>
			{% endfor %}
			</select>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label" style="margin-top:6px">{% trans %}Serve orders at{% endtrans %}</label>
    <div class="controls">
        <div class="input">
			<table class="table" id="event-times">
			    <tbody>
				   	<tr>					
						<td colspan="3">
							<button type="button" class="btn input-large" onclick="$(this).closest('tr').before(add_event_time());"><i class="icon-plus-sign"></i> {% trans %}Add a time{% endtrans %}</button>
						</td>
				   	</tr>	
			    </tbody>
			</table>
        </div>
    </div>
</div>

<legend>{% trans %}Recurrence{% endtrans %}</legend>

{{ forms.control(form.select_repeats) }}
{{ forms.control(form.repeat_every, help=" ") }}

<div class="control-group">
    <label class="control-label" for="end-date">{% trans %}Until{% endtrans %}</label>
    <div class="controls">
        <div class="input ">
			<input type="text" id="end-date" name="end-date" class="input-small input-datepicker" value="{% if event %}{{ event.last_date.strftime('%Y-%m-%d') }}{% else %}{{ now }}{% endif %}" data-date-format="yyyy-mm-dd"/>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="end-date">{% trans %}Excluded dates{% endtrans %}</label>
    <div class="controls">
        <div class="input ">
			<table class="table" id="excluded-table">
			    <tbody>
				   	<tr>					
						<td colspan="3">
							<button type="button" class="btn input-block-level" onclick="$(this).closest('tr').before(add_excluded_date({})); $('.input-datepicker').datepicker();"><i class="icon-plus-sign"></i> {% trans %}Exclude a date{% endtrans %}</button>
						</td>
				   	</tr>	
			    </tbody>
			</table>
        </div>
    </div>
</div>

<legend>{% trans %}Order Deadline{% endtrans %}</legend>

<div class="control-group">
    <label class="control-label" for="end-date">{% trans %}Preordering ends{% endtrans %}</label>
    <div class="controls">
        <div class="input ">
			<select name="ordering-end-days" class="input-small">
			{% for i in range(0,8) %}
			    {% set days = "%02d"|format(i) %}
			    <option value="{{ days }}" {% if event and days|int == ((-event.close_offset_minutes / (60*24)) % 7)|round(0, 'floor')|int %} selected {% endif %}>{{ days }}</option>
			{% endfor %}
			</select>
			{% trans %}days{% endtrans %} 
			<select name="ordering-end-hours" class="input-small">
			{% for i in range(0,24) %}
			    {% set hours = "%02d"|format(i) %}
			    <option value="{{ hours }}" {% if event and hours|int == ((-event.close_offset_minutes / 60) % 24)|round(0, 'floor')|int %} selected {% endif %}>{{ hours }}</option>
			{% endfor %}
			</select>
			{% trans %}hours{% endtrans %} 
			<select name="ordering-end-minutes" class="input-small">
			{% for i in range(0,12) %}
			    {% set minutes = "%02d"|format(i * 5) %}
			    <option value="{{ minutes }}" {% if event and minutes|int == -event.close_offset_minutes % 60 %} selected {% endif %}>{{ minutes }}</option>
			{% endfor %}
			</select>
			{% trans %}minutes before the serving time.{% endtrans %}
        </div>
    </div>
</div>

<script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
<script id="excluded-date-template" type="text/x-jquery-tmpl">
<tr>
	<td>
		<div class="input">
			<input name="excluded-dates" type="text" class="input-small input-datepicker" value="${ date }" data-date-format="yyyy-mm-dd"/>
		</div>
	</td>
	<td>
		<select name="excluded-time-hours" class="input-small">
		{% for i in range(0,24) %}
		    {% set hour = "%02d"|format(i) %}
		    <option value="{{ hour }}">{{ hour }}</option>
		{% endfor %}
		</select>
		:
		<select name="excluded-time-minutes" class="input-small">
		{% for i in range(0,12) %}
		    {% set min = "%02d"|format(i * 5) %}
		    <option value="{{ min }}">{{ min }}</option>
		{% endfor %}
		</select>
	</td>
	<td>
		<button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button>
	</td>
</tr>
</script>
<script id="event-time-template" type="text/x-jquery-tmpl">
<tr>
	<td>
		<div class="input">
			<input name="event-labels" type="text" class="input-large" value="${ label }" placeholder="{% trans %}Break, ...{% endtrans %}" required/>
		</div>
	</td>
	<td>
		<select name="event-time-hours" class="input-small">
		{% for i in range(0,24) %}
		    {% set hour = "%02d"|format(i) %}
		    <option value="{{ hour }}">{{ hour }}</option>
		{% endfor %}
		</select>
		:
		<select name="event-time-minutes" class="input-small">
		{% for i in range(0,12) %}
		    {% set min = "%02d"|format(i * 5) %}
		    <option value="{{ min }}">{{ min }}</option>
		{% endfor %}
		</select>
	</td>
	<td>
		<button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button>
	</td>
</tr>
</script>

<script type="text/javascript">
	$.template('excluded-date-template', $("#excluded-date-template"));
    $.template('event-time-template', $("#event-time-template"));	

	function add_excluded_date(opt) {
		options = {
			date : "{{ now }}",
			time: "20:00",
		}
		options = $.extend(options, opt);
		row =  $.tmpl("excluded-date-template", options);
		var hours = options.time.split(":")[0];
		var mins = options.time.split(":")[1];
		row.find("select[name='excluded-time-hours'] option[value='"+hours+"']").prop("selected", true);
		row.find("select[name='excluded-time-minutes'] option[value='"+mins+"']").prop("selected", true);
		return row;
	}
	function add_event_time(opt) {
		var options = {
			label : "",
			time : "20:00",
			removable: true
		};
		options = $.extend(options, opt);
		row = $.tmpl("event-time-template", options);

		var hours = options.time.split(":")[0];
		var mins = options.time.split(":")[1];
		row.find("select[name='event-time-hours'] option[value='"+hours+"']").prop("selected", true);
		row.find("select[name='event-time-minutes'] option[value='"+mins+"']").prop("selected", true);
		if(!options.removable)
			row.find("button").remove();
		
		return row;
	}

	$(document).ready(function(){

		$("#location").on('change', function(){
			$("ul.event-bars").css('display', 'none');
			$("ul.event-bars li." + $(this).val()).parent('ul').css('display', 'block');
		}).trigger('change');

		{% if event %}
			{% for label in event.labels %} 
				$("#event-times").find("tbody").prepend(add_event_time({label : "{{ label }}", time: "{{ event.times[loop.index - 1] }}" }));
			{% endfor %}
			{% for d in event.excluded_dates %}		    
				$("#excluded-table").find("tbody").prepend(add_excluded_date({ date : "{{ d.strftime('%Y-%m-%d') }}", time : "{{ d.strftime('%H:%M') }}"}));
			{% endfor %}
		{% else %}
			$("#event-times").find("tbody").prepend(add_event_time({removable: false}));
		{% endif %}
	});
</script>

{% endmacro %}