* {
    /* Disable long-press callouts. */
    -webkit-touch-callout: none;

    /* Disable highlighting of links. */
    -webkit-tap-highlight-color: rgba(0,0,0,0.5);

    /* Prevent auto-resizing. */
    -webkit-text-size-adjust: none;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:100%/*320px*/;
	height:100%;
	margin:0;
	padding:0;
	color:#474747;
	text-shadow: 0 1px 0 white;
	-webkit-text-size-adjust:none;
}

p, button, body, .recommendavenue input, .recommendavenue textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:15px;
	font-weight:300;
}

#page_wrapper {
	padding:8px;
}

#page_wrapper a {
	color:darkblue;
}

.row {
	margin-bottom:10px;
}

.row.center {
	text-align:center;
}

#zerved_logo_02 {
	background:transparent url(/android/img/zerved_logo_02.png) no-repeat 0 0;
	width:129px;
	height:30px;
	margin:20px auto 20px auto;
	background-size:100%;
}

#visa-logo, #mastercard-logo, #dankort-logo, #visa-electron-logo, #maestro-logo, #mobilepay-logo {
	width:55px;
	height:33px;
	display:inline-block;
}

#visa-electron-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -55px 0;
	background-size:500%;
}

#mastercard-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -110px 0;
	background-size:500%;
}

#visa-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat 0 0;
	background-size:500%;
}

#maestro-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -165px 0;
	background-size:500%;
}

#mobilepay-logo {
	background:transparent url(/iphone/img/payment_logos_sprite.png) no-repeat -220px 0;
	background-size:500%;
}

#facebook-btn {
	display:block;
	background:transparent url(/iphone/img/facebook_btn.png) no-repeat 0 0;
	width:209px;
	height:56px;
	margin:0 auto;
	background-size:100%;		
}

#errormsg {
    position:fixed;
	background-size:100% 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:-5;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	background:-webkit-linear-gradient(top, white, #D1D1D1);
	padding:20px;
}

#errormsg p {
	font-size:200%;
	color:#636363;
	text-shadow:0 1px white;
	text-align:center;
	font-weight:bold;
}

.btn {
	clear:both;
	float:right;
	border:1px solid #62d963;
	background-color:#62d963;
	border-radius:4px;
	margin-top:5px;
	margin-bottom: 5px;
	width:130px;
	color:white;
	text-align:center;
	text-shadow:none;
	padding: 7px 0;
}

.recommendavenue input, .recommendavenue textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 6px 4px;
    border: solid 1px #0088cc;
    margin: 0 auto 5px auto; 
	-webkit-appearance: none;
}

.recommendavenue input:active, .recommendavenue textarea:active,
.recommendavenue input:focus, .recommendavenue textarea:focus {
	border: solid 1px #32B6E6;
}

.recommendavenue textarea {
    height: 80px;
}

.recommendavenue .input-error {
    border-color: red;
}
