<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Zerved{% endblock %}</title>
    <meta name="description" content="{% block description %}Order Drinks, Food & Tickets on Your Phone with the Zerved (available for iOS and Android){% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/front/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/flags.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/front/css/base.css" type="text/css" media="screen" charset="utf-8"/>
    <!--[if IE]>
	<link rel="stylesheet" href="/front/css/ie.css?v=10" type="text/css" media="screen" charset="utf-8"/>
    <![endif]-->
    {% block stylesheet %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 8]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    {% include "front/analytics.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/front/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/front/js/respond.min.js"></script>

    {% block js %}{% endblock %}
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="container sign-up">
    <div class="col-md-4 col-md-offset-4">
        <div style="height:36px;">
        	<span onclick="window.location.href='/';" id="back" class="glyphicon glyphicon-circle-arrow-left large" style="float:left;"></span>
            <img src="/front/img/zerved_blue.png" style="width:138px; height:30px; margin-top:3px;" />
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4 sign-up-box">
    	<p>{% trans %}Do you want to be able to receive orders through Zerved? Sign up your venue here:{% endtrans %}</p>
        <form class="form-horizontal" role="form" action="{{ uri_for('signupform') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="inputName" placeholder="{% trans %}Name{% endtrans %}" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="venue" id="inputVenue" placeholder="{% trans %}The venue you represent{% endtrans %}" required>
            </div> 
            <div class="form-group">
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="{% trans %}Email address{% endtrans %}" required>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="phone" id="inputPhone" placeholder="{% trans %}Phone nr.{% endtrans %}" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">{% trans %}Sign up{% endtrans %}</button>
            </div>
            <p  style="color:red;"><small>{% trans %}This form is NOT for end users. Please download the app for <a href="https://play.google.com/store/apps/details?id=com.zervedapp.zerved">Android</a> or <a href="http://itunes.com/Apps/Zerved/Zerved">iPhone</a> in order to use Zerved as a customer.{% endtrans %}</small></p>
        </form>
    </div>

</div>

</body>
</html>