<p style="color:red">{% trans %}Choose a personal 4 digit PIN code, to be used for future purchases in Zerved{% endtrans %}</p>
<h1>{% trans %}Secure Storage of Card Data{% endtrans %}</h1>
<p>{% trans %}By saving your card you avoid having to enter your card details again for your next purchase.{% endtrans %}</p>
<p>{% trans %}Your card details are NOT stored on the phone or on any server owned by Zerved.{% endtrans %}</p>
<p>{% trans %}The data is ONLY stored at the payment processors highly secure PCI certified server.{% endtrans %}</p>
<h1>{% trans %}PIN Code to Prevent Fraud{% endtrans %}</h1>
<p>{% trans %}To protect against fraud you need to <strong>choose a PIN code</strong>, which must be entered at all future payments.{% endtrans %}</p>
<p style="color:red">{% trans %}This is not your ATM PIN.{% endtrans %}</p>
<h1>{% trans %}Remove Card Data{% endtrans %}</h1>
<p>{% trans %}Saved cards may be deleted at any time from the secure PCI certified server. You do this from the profile screen in the Zerved app.{% endtrans %}</p>
<p>{% trans %}If you forget your PIN code, you can always add the card again under a new PIN.{% endtrans %}</p>
<h1>{% trans %}Questions?{% endtrans %}</h1>
<p>{% trans %}For any questions related to the payment security please contact <a href="mailto:consumers@zervedapp.com">consumers@zervedapp.com</a>.{% endtrans %}</p>
<p>{% trans %}Remember: Saving your card data is a secure optional feature, which enables you to leave your physical payment card at home.{% endtrans %}</p>
