<div style="text-align:center">
	<h2>PRIVACY POLICY</h2>
</div>
<p>Zerved UK Ltd (or such other Zerved entity which You are contracting with under the terms and conditions for use of the Zerved App (as defined below), hereafter known as <strong>“Zerved”</strong>) is committed to protecting the privacy of our users (<strong>“You”</strong>). This Privacy Policy summarises how Zerved protects and uses any personal information it may gather from You or that You may provide Zerved, when You use Zerved’s mobile application (<strong>“Zerved App”</strong>) or the associated website www.zervedapp.com (together with the Zerved App, the <strong>“Service”</strong>). </p>
<p>This Privacy Policy will apply to Your use of the Service in whatever context, whether by mobile digital routes including (but not limited to) mobile, tablet or other devices/technology, or by Your PC or laptop (<strong>“Devices”</strong>).</p>
<p>Please read this Privacy Policy carefully and check for updates, as Zerved may amend this Privacy Policy from time to time.</p>
<h3>1. YOUR PERSONAL INFORMATION</h3>
<p><strong>a.</strong> Although registration is not required to use the Service, You may still supply Zerved with information that could identify You individually. You could provide this information by corresponding with Zerved by telephone, email or otherwise, or by providing Zerved with Your details to receive an order bill via email.  </p>
<h3>2. ZERVED’S USE OF PERSONAL INFORMATION</h3>
<p><strong>a.</strong> Zerved’s authorised personnel may have access to Your personal information, for purposes of providing access to the Service, to make sure the content on the Service is presented in the most effective manner for You and Your Device, and to provide You with technical support. </p>
<p><strong>b.</strong> Zerved may also collect non-personal information relating to Your Device, such as the operating system, browser type or other unique identifiers to improve Zerved’s products and to provide the Service to You.</p>
<p><strong>c.</strong> Where You have indicated Your agreement, Zerved may use Your information to let You know about any of its other products, services, vouchers and offers that may be of interest to You by Zerved contacting You via push notification, where Your Device allows such communication, via offers presented within the Zerved App or via email where You have input Your email address into the Zerved App. </p>
<p><strong>d.</strong> You agree that Zerved may appoint You with a user number for its purposes of tracking user buying patterns. Zerved may use this information and other anonymised and/or aggregated information about Your use of the Service (such as items purchased through the Service and location data about the items purchased) to share with Suppliers (as defined below) to improve the provision of services by both Zerved and the Supplier.  You will not be identified from this anonymised data. </p>
<h3>3. DISCLOSURE OF PERSONAL INFORMATION</h3>
<p><strong>a.</strong> Zerved and its affiliates may share Your personal information collected via the Service with companies that Zerved has hired to perform services for it, where use of the personal information is a necessity to perform such services. These companies are not authorised to keep or use the personal information for any other purpose.</p>
<p><strong>b.</strong> Zerved may also disclose Your personal information to potential business partners and their advisers if Zerved enters into a joint venture with, purchases, is sold to or merged with, another business.</p>
<p><strong>c.</strong> There may be circumstances where Zerved is obliged to disclosure Your personal information, for example where it is under a legal obligation to disclose such information, or to enforce or apply its user terms and conditions, and other agreements. </p>
<p><strong>d.</strong> Notwithstanding the above, Your personal information collected via the Service will not be shared with unrelated third parties, unless You have agreed to this. Where You have given Your consent, You agree that Zerved may also share information with its third party suppliers that You have ordered items from whilst using the Service (“Suppliers”). Suppliers may use Your personal information to let You know about goods and services they offer, which may be of interest to You, via push notification where Your Device allows such communication. If You do not want Zerved to use Your personal information in this way or change Your mind in the future about being contacted in by Suppliers, please let Zerved know by using the “Info” tab on the Zerved App.</p>
<h3>4. TRACKING USER ACTIVITY </h3>
<p><strong>a.</strong> Non-personal information may be collected in respect of Your use of the Service via Zerved’s own tracking mechanisms or via third party tools, including but not limited to Google Analytics. Zerved uses this information to help continue to offer You the Service and enhance it. </p>
<p><strong>b.</strong> You can set Your Device to accept or decline tracking mechanisms by using the settings option on Your Device, but in doing so You might not be able to use certain parts of the Service. </p>
<p><strong>c.</strong> Zerved uses location data sent from Devices which are mobile to maximise Your user experience when using the Service. When this feature applies, You can turn off this functionality at any time by turning off the location services settings for the Service on Your relevant Device. If You use the Service, You consent to Zerved and its affiliates' transmission, collection, and use of Your location data and queries to provide and improve location-based products and/or services. You may withdraw this consent at any time by turning off the location services settings on the Your mobile device.</p>
<h3>5. PAYMENT INFORMATION</h3>
<p><strong>a.</strong> Zerved uses a secure third party PCI-certified server to process Your payment details and Zerved does not receive or process this information. Any third party servers or websites are not under Zerved’s control, and Zerved is not responsible for and does not endorse their content. Third party website operators will have their own privacy policies so please check these policies before You submit any personal information to these websites.</p>
<h3>6. SECURITY</h3>
<p><strong>a.</strong> The information You provide to us may be transferred to and stored on Zerved’s servers operated by third party contractors at a destination outside the European Economic Area.  By submitting information to us You agree to this transfer, storing or processing.  We will take all steps reasonably necessary to ensure that the information You provide to us is treated securely and in accordance with this Privacy Policy.</p>
<p><strong>b.</strong> Zerved uses reasonable steps and uses industry standard security safeguards of electronic and procedural nature to protection personal information from loss and unauthorised access, modification, disclosure, inappropriate alteration or misuse. Access to personal information is restricted to authorised personnel who have a legitimate business purpose for accessing Your personal information.</p>
<p><strong>c.</strong> Unfortunately, transmission of information via the internet is not completely secure and Zerved cannot guarantee that security of Your personal information transmitted to the Service and any transmission is at Your own risk.</p>
<h3>7. YOUR RIGHTS</h3>
<p><strong>a.</strong> Where allowed by law, You may request access to personal information Zerved holds about You by sending an e-mail to consumers@zervedapp.com or making a request via the “info” tab on the Zerved App. Zerved will process that request in line with any local laws and its policies and procedures in place for dealing with such requests.</p>
<h3>8. CONTACT</h3>
<p><strong>a.</strong> For the purposes of the Data Protection Act 1998, the data controller is: Zerved UK Ltd, 3rd Floor, 14 Hanover Street, London, W1S 1YH.</p>
<p><strong>b.</strong> If You would like to contact Zerved regarding this privacy statement, please get in touch via the “Info” tab on the Zerved App.</p>
