<a href="#uk">English</a> &middot; <a href="#dk">Dansk</a><!-- &middot; <a href="#es">Español</a>-->

<a name="uk"></a><h2>English</h2>
<div style="text-align:center">
	<h2>USER TERMS AND CONDITIONS</h2>
	<h3>Terms and Conditions (the “Agreement”)</h3>
</div>
<p>This mobile application (the <strong>“Zerved App”</strong>) allows you (<strong>“You”</strong>) to purchase Items (as defined below) from the Zerved App (the <strong>“Service”</strong>) at particular food and beverage outlets and/or entertainment venues (the <strong>“Venue”</strong>).</p>
<p>If You are using the Zerved App in the UK You are contracting with Zerved UK Ltd; if You are using the Zerved App in Denmark You are contracting with Zerved Denmark; if You are using the Zerved App in Spain You are contracting with Zerved Espana; and if You are using the Zerved App in Zerved South Africa You are contracting with Zerved South Africa, such contracting entity hereafter known as <strong>“Zerved”</strong>.</p>
<p>You wish to purchase certain goods including food, beverages and tickets to events (<strong>“Items”</strong>) from the Zerved App, subject to the terms set out in this Agreement.</p>
<h3>1. TERMS OF PURCHASE</h3>
<p><strong>a.</strong> To use the Zerved App, You must ensure that You: (i) have a functioning Device (as defined below); (ii) configure the settings on Your Device so You can receive push notifications; and (iii) have an internet connection.</p>
<p><strong>b.</strong> Subject to You complying with Section 1a., the Service shall ensure that You can: (i) view Items for sale; (ii) purchase Items using the Service; (iii) track the order of Items; and (iv) receive push notifications which are the subject of communication with the Zerved App.</p>
<p><strong>c.</strong> When You purchase an Item on the Service using the Zerved App, You shall pay for such Item by either using a credit or debit card accepted by the Zerved App via an external PCI-certified server or by using one of Zerved’s payment providers.</p>
<p><strong>d.</strong> You represent, warrant and undertake that: (i) You are legally capable of entering into this binding contract; (ii) You are at least 18 years old; (iii) You will use the Service only for Your personal, non-commercial use and not for any re-distribution of Items; and (iv) You will not infringe the Intellectual Property Rights (as defined below) or other rights of third parties whose work is embodied in Items.</p>
<p><strong>e.</strong> You agree and acknowledge that it is an offence for any person under the age of 18 to buy, or attempt to buy, alcohol or for any person over the age of 18 to buy alcohol on behalf of any person under the age of 18. Orders containing alcohol will therefore not be accepted by the Service from or on behalf of persons under the age of 18 and it is within the Venue staffs' rights to ask for proof of age of anyone on the Venue’s physical premises.</p>
<p><strong>f.</strong> You may use software made available for use in connection with the Service (<strong>“Software”</strong>) only in connection with the Service. You may not separate any individual component of the Software or incorporate it into Your own programs or deal with it in any other way. You may not, and You will not assist, encourage or authorise any third party to modify, reverse engineer, decompile or disassemble Software, whether in whole or in part or create any derivative works from the Software.</p>
<p><strong>g.</strong> You shall pay all VAT and other taxes (<strong>“Taxes”</strong>) associated with Your purchase of Items on the Service. The Service shall ensure that the price stated for any Items includes all such Taxes.</p>
<p><strong>h.</strong> You shall not: (i) manipulate transactions in any way which is unfair to other users of the Service; or (ii) use the Service in contravention of applicable laws nor permit or assist others to do so.</p>
<h3>2. PAYMENT AND DELIVERY PROCESS</h3>
<p><strong>a.</strong> You do not need to register to access the Service but You will be required to either (i) enter Your payment details to pay for Items using Your credit or debit card; or (ii) login and make payment through one of Zerved’s payment providers. If You would like Your payment details saved, which the Zerved App saves on a secure external PCI-certified server, You will be asked by the Zerved App to choose a PIN code to make payments through the Zerved App (<strong>“Zerved PIN”</strong>) which You must keep secure. This feature is only available when paying with a credit card. On collecting or the delivery of Items, You may be required to show Your phone displaying Your order number to the Venue staff at the time of collection or delivery of Items as proof of identification. You are responsible for the safekeeping of Your order number. From time to time there may be delays with the processing of payments which may result in payments taking up to 30 days to be deducted from Your bank account or charged to Your credit card.</p>
<p><strong>b.</strong> Zerved will ensure that any information, such as Your debit or credit card information, which passes between the Zerved App and the server, is encrypted with SSL (Secure Socket Layer). However, You acknowledge that the transmission of information via the internet is not completely secure and Zerved cannot guarantee the security of Your data transmitted through the Zerved App, which is transmitted at Your risk. Zerved shall not be liable for any claims arising from misuse of Your credit or debit card where such misuse is a result of Your failure to keep Your credit or debit card PIN number or Zerved PIN secure.</p>
<p><strong>c.</strong> In the case of Items which are capable of being delivered digitally, such as e-tickets for events, (<strong>“Digital Items”</strong>), upon You paying for such Digital Items in the prescribed manner, the Zerved App shall generate and display a receipt for the Digital Item on the Zerved App (the <strong>“Digital Items Receipt”</strong>). You shall be able to use the Digital Items Receipt to redeem Your Digital Item at the Venue or with third party vendor as per the instructions on the Digital Item Receipt.</p>
<p><strong>d.</strong> In the case of Items which are not capable of delivery in digital format, such as food and beverages, (<strong>“Tangible Items”</strong>) the Service shall procure delivery of any Items to You within reasonable industry times of You paying for such Tangible Items using the Service. The Service may notify You of an estimated time for delivery or collection of Your Tangible Items but these are estimates only and should not be relied upon or treated as guarantees.</p>
<p><strong>e.</strong> The Service shall comply with all applicable laws and regulations related to Your use of the Service, including but not limited to laws and regulations concerning distance selling, refunds and returns, data protection and food safety. </p>
<h3>3. CANCELLATIONS, DISPUTES AND REFUNDS</h3>
<p><strong>a.</strong> Once You have submitted and paid for Your order for Tangible Items, You will be entitled to amend or cancel Your order on the Zerved app until the Service has accepted it. The Service has discretion to reject Your order, for example if the Venue has no longer got Items in stock or if the Venue is too busy to be able to fulfil Your order. When You submit and pay for an order, Your bank or card issuer will ring-fence the payment amount. If You cancel an order or the Service rejects it, Your bank or card issuer will release the payment amount back to Your account (without transferring the amount to Zerved), although You accept  this may take up to [7] days.</p>
<p><strong>b.</strong> When You submit and pay for an order using a credit card, Your bank or card issuer will ring-fence the payment amount. If You cancel an order or the Service rejects it, Your bank or card issuer will release the payment amount back to Your account (without transferring the amount to Zerved), although You accept this may take up to 30 days. This is only relevant if you have chosen paying with a credit card.</p>
<p><strong>c.</strong> Given the nature of Digital Items, once Your Digital Items have been delivered, You will not be entitled to amend or cancel Your order. You expressly consent to the Digital Items being provided in accordance with Section 2c. (shortly after You place Your order) and You acknowledge that this means Your right to cancel the order will not apply. This does not affect Your legal rights if the Digital Items are faulty in any way or not as described.</p>
<p><strong>d.</strong> If You have any dispute with the Service or You think You are entitled to a refund, You should contact the Venue staff in the first instance as this in most cases will result in instantly resolution of the dispute. If the dispute is not resolved to Your satisfaction by the Venue, You are entitled to notify Zerved, within 24 hours of placing Your order, by contacting Zerved through the “info” tab within the Zerved App. Zerved shall use reasonable commercial endeavours to resolve any such dispute.</p>
<h3>4. TERM</h3>
<p>a. The term of this Agreement shall commence upon You commencing use of the Service and shall terminate upon You ceasing use of the Service.</p>
<h3>5. INTELLECTUAL PROPERTY</h3>
<p><strong>a.</strong> You acknowledge that any and all patents, trade marks, service marks, designs, utility models, unregistered trade marks, business or trade names (including Internet domain names and e-mail addresses), designs, copyright (including copyright in broadcasts, computer software and databases), semi-conductor topography rights, database rights and design rights, inventions (including improvements on or additions to inventions), discoveries, know-how and all other intellectual and industrial property and rights of a similar or corresponding nature (<strong>“Intellectual Property Rights”</strong>) on www.zervedapp.com (the <strong>“Website”</strong>), the Zerved App and the Service, including the Zerved brand, logo and get-up, community features, underlying software and technology, and all information, consumer data and other material generated by the operation of the Website, Zerved App and Service belongs to Zerved or its licensors and You shall not acquire or claim any right, title to or interest in the same and nor shall any goodwill inure to You by virtue of this Agreement. </p>
<h3>6. SERVICE ACCESS</h3>
<p><strong>a.</strong> Zerved runs the Service with the aim of providing You with uninterrupted access. However, You acknowledge that Zerved is under no obligation to ensure the Service is continuous and Zerved will not be liable where access to the Service is suspended (whether temporarily or not) without notice. </p>
<p><strong>b.</strong> Zerved will try to ensure that the information on the Website and the Zerved App is correct. However, You acknowledge that Zerved is under no obligation to update material on the Website and the Zerved App and provide that it is error and virus free. The Venue is responsible for providing correct information regarding Item description and price.</p>
<p><strong>c.</strong> You will be assumed to have obtained permission from the owners of the mobile telephone or handheld devices (<strong>Device(s)</strong>) that are controlled, but not owned, by You and to download a copy of Zerved App onto the Devices. You and they may be charged by Your and their service providers for internet access on the Devices. You accept responsibility in accordance with this Agreement for the use of Zerved or in relation to any Device, whether or not it is owned by You. </p>
<p><strong>d.</strong> You will be solely responsible, at Your own expense, for acquiring, installing, maintaining and updating all connectivity equipment as may be necessary for Your Device to connect to, access, and use Zerved App as permitted by this Agreement.</p>
<h3>7. LIABILITY</h3>
<p><strong>a.</strong> The parties’ liability to each other for death, personal injury, fraudulent misrepresentation or any other liability that cannot be excluded by law shall not be limited.</p>
<p><strong>b.</strong> Subject to Section  7a. Zerved shall not be liable to You whether in contract, tort, breach of statutory duty, or otherwise, even if foreseeably, arising under or in connection with the Service, the Zerved App or the Website for: loss of profits, sales, business or revenue; loss of goodwill; indirect or inconsequential loss or loss or corruption of data.</p>
<p><strong>c.</strong> Subject to Sections 7a. and b. above, Zerved’s total liability to You shall not exceed 100% of the price of Your order.</p>
<h3>8. DATA PROTECTION</h3>
<p><strong>a.</strong> Zerved is committed to protecting Your privacy and security. Any personal data that we collect from You will be minimal and will be processed in accordance with our Privacy Policy, which is available <a href="./privacy">here</a>.</p>
<h3>9. MISCELLANEOUS</h3>
<p><strong>a.</strong> All notices or other communications required under this Agreement shall be communicated via mobile push notification on the Zerved App whilst You are using the Zerved App or the next time You launch the Zerved App. Any notices shall be deemed served one day after the date the push notification is sent to Your mobile device.</p>
<p><strong>b.</strong> Zerved reserve the right to amend this Agreement from time to time by changing the terms and conditions on the Zerved App. Where this Agreement is varied, the new terms of use may be displayed on-screen on the Zerved App and You may be required to read and accept them to continue Your use of the Service.</p>
<p><strong>c.</strong> If any term of this Agreement is held to be unenforceable in whole or in part, that term shall to the extent necessary be deemed not to form part of this Agreement but the enforceability of the remainder of such term and of the remainder of this Agreement shall not be affected. The following Sections of this Agreement shall survive termination of this Agreement: 1(d), (f) and (g), 5 and 9(c).</p>
<p><strong>d.</strong> The failure by the Venue to enforce any term of this Agreement shall not be considered to be a waiver of the right to subsequently enforce any such term.</p>
<p><strong>e.</strong> This Agreement constitutes the entire agreement of the parties and supersedes any previous arrangements between the parties. Neither party has relied on any oral or written representation of the other party regarding this Agreement.</p>
<p><strong>f.</strong> This Agreement shall be governed by and construed in accordance with the law of the applicable contracting Zerved entity and the parties submit to the non-exclusive jurisdiction of the courts of the applicable contracting Zerved entity.</p>
<h3>10. ACCEPTANCE</h3>
<p><strong>a.</strong> By clicking the “accept” button, You acknowledge that You accept the terms of this Agreement without change. Your continued use of the Service constitutes Your acceptance of this Agreement.</p>

<a name="dk"></a><h2>Dansk</h2>
<div style="text-align:center">
	<h2>BRUGERBETINGELSER OG VILKÅR</h2>
	<h3>Betingelser og vilkår (”Aftalen”)</h3>
</div>
<p>Denne mobil-applikation (<strong>”Zerved App’en”</strong>) tillader dig (<strong>”Dig”</strong>) at anskaffe varer (defineret herunder) fra Zerved app’en (<strong>”Tjenesten”</strong>) hos udvalgte føde- og drikkevarebutikker og/eller underholdnings- og spillesteder (<strong>”Underholdningsstedet”</strong>).</p>
<p>Hvis Du bruger Zerved App’en i Storbritannien og Nordirland (UK) handler Du med Zerved UK Ltd; hvis Du bruger Zerved App’en i Danmark (DK) handler Du med Zerved Danmark; hvis Du bruger Zerved App’en i Spanien (ES) handler Du med Zerved Espania; og hvis Du bruger Zerved App’en i Sydafrika (SA) handler Du med Zerved Sydafrika, således at selskabet man binder kontrakt med, herefter kendes som <strong>”Zerved”</strong>.</p>
<p>Du ønsker at anskaffe dig visse goder inkluderende mad, drikkevarer og billetter til forskellige events (<strong>”Varer”</strong>) fra Zerved App’en, underlagt de vilkår der er i denne Aftale.</p>
<h3>1. KØBSBETINGELSER</h3>
<p><strong>a.</strong> For at bruge Zerved App’en må Du først sikre dig at Du: (i) har et velvirkende Apparat (defineret herunder); (ii) konfigurerer indstillingerne på dit Apparat så Du kan modtage push-notifikationer; og (iii) har en internetforbindelse.</p>
<p><strong>b.</strong> Forbeholdt at Du har overholdt det skrevne i sektion 1a, skal Tjenesten sikre at Du kan: (i) se de enkelte Varer der er til salg; (ii) anskaffe dig Varer via Tjenesten; (iii) følge din ordre af Varer; og (iv) modtage push-notifikationer, hvilke er underlagt kommunikation med Zerved App’en.</p>
<p><strong>c.</strong> Når Du anskaffer dig en Vare ved brug af Zerved App’en, skal Du betale for Varen med enten kredit- eller debitkort accepteret af Zerved App’en via en ekstern PCI-certificeret server eller ved at benytte en af Zerveds betalingsudbydere.</p>
<p><strong>d.</strong> Du repræsenterer, garanterer og påtager at: (i) Du lovligt er i stand til at indgå denne bindenden kontrakt; (ii) Du er mindst 18 år; (iii) Du kun benytter Tjenesten til personlig, ikke-kommercielt brug og ikke til omfordeling af Varen; og (iv) Du ikke vil krænke de intellektuelle ejendomsrettigheder (som defineret nedenfor) eller andre rettigheder, tilhørende tredjemand, hvis arbejde er inkluderet i Varerne.</p>
<p><strong>e.</strong> Du accepterer og vedkender, at det er en lovovertrædelse for enhver under 18 år at købe, eller forsøge at købe. alkohol eller for enhver person over 18 år at købe alkohol på vegne af person(er) under 18 år. Ordrer der indeholder alkohol vil derfor ikke blive accepteret af Tjenesten fra, eller på vegne af, personer under 18 år, og det er Underholdningsstedets personales ret at bede om gyldig legitimation vedrørende alder i Underholdningsstedets lokaler.</p>
<p><strong>f.</strong> Du må kun benytte softwaren tilgængelig for brug i forbindelse med Tjenesten (<strong>”Softwaren”</strong>) i forbindelse med Tjenesten. Du må ikke adskille nogen former for individuelle komponent/delelementer af Softwaren eller inkorporere Softwaren i Dine egne programmer eller manipulere med Softwaren på anden vis. Du må ikke, og vil ikke, forsøge på, opfordre til eller rådføre en given tredjepart til at ændre, foretage reverse engineering, dekompilere eller demontere Softwaren, hverken helt eller delvist eller skabe afledte værker af Softwaren.</p>
<p><strong>g.</strong> Du skal betale al moms og andre afgifter (<strong>”Afgifter”</strong>) i forbindelse med Din anskaffelse af Varer på Tjenesten. Tjenesten skal sikre at den angivne pris for en hvilken som helst Vare inkludere alle Afgifter.</p>
<p><strong>h.</strong> Du må ikke: (i) manipulere transaktioner på nogen måde, som er uretfærdig for andre brugere af Tjenesten; eller (ii) bruge Tjenesten i strid med gældende love eller tillade eller hjælpe andre til at gøre dette.</p>
<h3>2. BETALINGS- OG LEVERINGSBETINGELSER</h3>
<p><strong>a.</strong> Du behøver ikke registrere dig for at få adgang til Tjenesten, men Du vil være forpligtet til enten: (i) indtaste Dine betalingsoplysninger for at betale for Varerne med kredit- eller debitkort; eller (ii) logge ind og foretage betalingen gennem en af Zerveds betalingsudbydere. Hvis Du ønsker Dine betalingsoplysninger gemt, hvilke Zerved App’en gemmer på en sikker ekstern PCI-certificeret server, vil Du af Zerved App’en blive bedt om at vælge en PIN kode (<strong>”Zerved PIN”</strong>), som Du skal holde sikker. Denne feature er dog kun mulig for betaling med kreditkort. Ved afhentning eller modtagelse af Varerne kan det blive påkrævet at Du fremviser Dit ordrenummer på dit telefondisplay til personalet på det givne underholdningssted som bevis på identifikation. Du er ansvarlig for opbevaring af dit ordrenummer. Fra tid til anden kan der være forsinkelser ifm. gennemførelse af betalingen, hvilket kan resultere i at betalingen kan tage op til 30 dage, før den bliver trukket fra din bankkonto eller opkrævet på dit kreditkort.</p>
<p><strong>b.</strong> Zerved vil sikre, at en hvilken som helst information, så som Dine debit- eller kreditkortoplysninger, som udveksles mellem Zerved App’en og serveren, er krypteret med SSL (Secure Socket Layer). Dog erkender du, at transmission af information over internettet ikke er helt sikkert, og at Zerved ikke kan garantere for sikkerheden af dine data transmitteret gennem Zerved App’en, som er transmitteret på dit eget ansvar. Zerved hæfter ikke for eventuelle krav som følge af misbrug af Dit debit- eller kreditkort, når et sådant misbrug er et resultat af Din manglende evne til at holde Din debit- eller kreditkort-pinkode eller Zerved PIN sikker.</p>
<p><strong>c.</strong> I tilfælde hvor Varer er i stand til at blive leveret digitalt, såsom e-billetter til arrangementer, (<strong>”Digitale Varer”</strong>), skal der ved betaling af sådanne digitale varer, på den foreskrevne måde, genereres og vises en kvittering for den Digital Vare på Zerved App’en (<strong>”Digital Vare Kvittering”</strong>). Du skal bruge den Digitale Vare Kvittering til at indløse Din Digitale Vare på Underholdningsstedet eller hos en tredjepartsleverandør, som det foreskrives på den Digitale Vare Kvittering.</p>
<p><strong>d.</strong> I tilfælde med Varer der ikke kan leveres digitalt, såsom mad og drikke (<strong>”Materielle Varer”</strong>), skal Tjenesten levere de bestilte Varer inden for rimelig tid efter Din betaling af sådanne Materielle Varer via Tjenesten. Tjenesten kan muligvis give Dig et estimeret tidspunkt for Varernes modtagelse eller afhentning, men det understreges, at dette kun er et skøn og kan ikke tages for garanti.</p>
<p><strong>e.</strong> Tjenesten skal overholde alle gældende love og regler i relation til Din brug af Tjenesten, herunder, men ikke begrænset af, love og bestemmelser om fjernsalg, refundering og tilbagelevering, databeskyttelse og fødevaresikkerhed.</p>
<h3>3. ANNULERING, TVISTER OG REFUNDERING</h3>
<p><strong>a.</strong> I det øjeblik Du har afgivet og betalt for en ordre på Materielle Varer er Du berettiget til at ændre eller annullere denne ordre via Zerved App’en indtil Tjenesten har accepteret den. Tjenesten har beføjelser til at afvise din ordre, fx hvis Underholdningsstedet ikke længere har de pågældende Varer på lager, eller hvis Underholdningsstedet har for travlt til levere din ordre. Når Du afgiver og betaler for en ordre, vil Din bank eller kortudsteder reservere beløbet. Hvis Du annullerer en ordrer eller Tjenesten afviser den, vil Din bank eller kortudsteder sætte det betalte beløb tilbage på din konto (uden at overføre beløbet til Zerved). Der kan gå op til [7] arbejdsdage før pengene er disponible på din konto.</p>
<p><strong>b.</strong> Når Du afgiver og betaler for en ordre med et kreditkort, vil Din bank eller kortudsteder reservere beløbet. Hvis Du annullerer en ordre eller Tjenesten afviser den, vil Din bank eller kortudsteder sætte det betalte beløb tilbage på din konto (uden at overføre beløbet til Zerved). Der kan gå op til 30 arbejdsdage før pengene er disponible på din konto. Dette er kun relevant, hvis Du har valgt at betale med et kreditkort.</p>
<p><strong>c.</strong> Du vil ikke være berettiget til at ændre eller annullere Din ordre, såfremt der er tale om Digitale Varer. Du har udtrykkeligt givet samtykke til at de Digitale Varer leveres i overensstemmelse med §2c (kort efter Du placerer Din ordre), og Du anerkender at dette betyder, at Din ret til at annullere ordren bortfalder. Dette påvirker ikke Dine juridiske rettigheder, hvis de Digitale Varer er defekte eller ikke som beskrevet.</p>
<p><strong>d.</strong> Hvis Du har nogle former for tvister med Tjenesten, eller Du mener, at Du er berettiget til refundering, bør Du i første instans kontakte Underholdningsstedets personale, da dette i de fleste tilfælde øjeblikkeligt vil løse tvisten. Hvis tvisten ikke er løst til Din tilfredsstillelse på Underholdningsstedet, har Du ret til at anmelde det til Zerved inden for 24 timer efter Du foretog Din bestilling ved at kontakte Zerved gennem fanen ”Info” i Zerved App’en. Zerved skal da bestræbe sig på at løse den pågældende tvist efter bedste evne.</p>
<h3>4. VARIGHED</h3>
<p>a. Varigheden af Aftalen indledes fra det øjeblik Du gør brug af Tjenesten til og med det øjeblik, hvormed Dit brug af Tjenesten ophører.</p>
<h3>5. INTELLEKTUEL EJENDOMSRETTIGHED</h3>
<p><strong>a.</strong> Du anerkender at et hvilket som helst og alle patenter, varemærker, service mærker, designs, brugsmodeller, uregistrerede varemærker, handels- og varenavne (inklusiv internetdomænenavne, og e-mail adresser), ophavsret (herunder ophavsret i tv-udsendelser, computersoftware og databaser), halvleder designrettigheder, databaserettigheder og designrettigheder, opfindelser (inklusiv forbedringer på eller tilføjelser til opfindelser), opdagelser, know-how og alle andre tænkelige intellektuelle og industrielle ejendomsrettigheder, og rettigheder af lignende eller tilsvarende natur (<strong>”Intellektuelle Ejendomsrettigheder”</strong>), på www.zervedapp.com (”Internetsiden”), Zerved App’en og Tjenesten, inklusiv Zerved brandet, logo og opstilling, community features, underliggende software og teknologi og al information, forbrugerdata og andet materiale, der er skabt til driften af Internetsiden, Zerved App’en og Tjenesten tilhører Zerved eller dets licensgivere, og Du må ikke tilegne Dig eller gøre krav på nogen rettigheder, være berretiget til eller have interesse i det samme, ej heller skal nogen goodwill tilfalde dig i kraft af Aftalen.</p>
<h3>6. ADGANG TIL TJENESTEN</h3>
<p><strong>a.</strong> Zerved driver Tjenesten med det formål at tilbyde Dig uafbrudt adgang til Tjenesten. Du anerkender dog, at Zerved ikke er forpligtet til at Tjenesten er kontinuerlig til rådighed, og Zerved vil ikke være ansvarlig, hvis adgangen til Tjenesten er afbrudt (uanset om det midlertidig eller ej) uden varsel.</p>
<p><strong>b.</strong> Zerved vil bestræbe sig på, at al information på Internetsiden og Zerved App’en er korrekt. Du anerkender dog, at Zerved ikke er underlagt krav til at opdatere materialet på Internetsiden eller i Zerved App’en, og kan ikke love at disse er fejlfri eller fri af virus. Underholdningsstedet er ansvarlige for at give korrekte varebetegnelser, produktbeskrivelser og pris.</p>
<p><strong>c.</strong> Du vil antages at have indhentet tilladelse fra ejerne af mobiltelefonen eller den håndholdte enhed (<strong>”Enhed(er)”</strong>) som styres, men ikke ejes, af Dig til at downloade en kopi af Zerved App’en til Enheden/Enhederne. Du accepterer det tilhørende ansvar i overensstemmelse med denne Aftale for brug af Zerved eller i forhold til en hvilken som helst Enhed, uanset om den er ejet af Dig eller ej.</p>
<p><strong>d.</strong> Du vil være eneansvarlig og for egen regning stå til ansvar for at erhverve, installere, vedligeholde og opdatere alle former for tilslutningsudstyr, der evt. kan være nødvendig for at din Enhed kan oprette forbindelse og få adgang til, samt benytte, Zerved App’en som tilladt i denne Aftale.</p>
<h3>7. ERSTATNINGSANSVAR</h3>
<p><strong>a.</strong> Parternes erstatningsansvar overfor hinanden ifm. død, personskade, falske oplysninger eller andre former for erstatningsansvar, der ikke kan udelukkes ved lov, må ikke være begrænset.<p>
<strong>b.</strong> I henhold til punkt 7a. er Zerved ikke forpligtet over for Dig, hverken i kontrakt, ved skadegørende handling, ved brud på lovbestemt pligt eller på anden vis, selvom dette muligvis er forudsigeligt opstående under eller i forbindelse med Tjenesten, Zerved App’en eller Internetsiden for: tab af fortjeneste, salg, forretning eller indtægter; tab af goodwill; indirekte eller ubetydelig tab eller tab eller forvanskning af data.<p>
<strong>c.</strong> Omfattet af både punkt 7a og b ovenfor, kan Zerveds  samlede erstatningsansvar overfor Dig aldrig overstige 100% af prisen på Din ordre.</p>
<h3>8. DATABESKYTTELSE</h3>
<p><strong>a.</strong> Zerved er forpligtet til at beskytte Dit privatliv og sikkerhed. Alle personlige data, som vi indsamler fra Dig, vil være minimal og vil blive behandlet i overensstemmelse med vores privatlivspolitik, der er tilgængelig <a href="./privacy">her</a>.</p>
<h3>9. DIVERSE</h3>
<p><strong>a.</strong> Alle varsler og andre meddelelser, der kræves i henhold til denne Aftale, skal kommunikeres via mobile Push-notifikationer på Zerved App’en, mens Du bruger Zerved App’en eller næste gang, Du starter Zerved App’en. Alle meddelelser anses for leveret 1 dag efter den dato Push-notifikationen blev sendt til Din mobile Enhed.</p>
<p><strong>b.</strong> Zerved forbeholder sig retten til at ændre i Aftalen fra tid til anden ved at ændre “Betingelser og vilkår (”Aftalen”)” på Zerved App’en. Hvor Aftalen er ændret, vil de nye vilkår for brug vises på skærmen på Zerved App’en, og det kræves at Du læser og accepterer dem for at fortsætte Dit brug af Tjenesten.</p>
<p><strong>c.</strong> Hvis et vilkår i Aftalen anses for at være uden retskraft, helt eller delvist, skal dette vilkår i det omfang nødvendigt ikke være del af Aftalen, men håndhævelsen af det resterende af Aftalen må ikke påvirkes. Følgende Sektioner af Aftalen skal overholdes ved opsigelsen af Aftalen: 1(d), (f) and (g), 5 and 9(c).</p>
<p><strong>d.</strong> Undlades det af Underholdningsstedet at håndhæve nogle vilkår i Aftalen, skal dette ikke anses som værende et afkald på rettigheden til efterfølgende at kræve håndhævelse af vilkåret.</p>
<p><strong>e.</strong> Aftalen udgør hele aftalen mellem parterne og erstatter tidligere aftaler mellem parterne. Ingen af ​​parterne har påberåbt sig nogen mundtlig eller skriftlig fremstilling af den anden part vedrørende denne aftale.</p>
<p><strong>f.</strong> Aftalen skal reguleres efter, og fortolkes i overensstemmelse med, lovgivningen for den gældende kontrakt indgået med Zerved-enhed, og parterne accepterer den ikke-eksklusive jurisdiktion af domstolene for den gældende kontrakt indgået med Zerved-enheden.</p>
<h3>10. ACCEPT</h3>
<p><strong>a.</strong> Ved at klikke på knappen ”Accepter”, anerkender Du, at Du accepterer vilkårene i Aftalen uden ændring. Din fortsatte brug af Tjenesten udgør Din accept af Aftalen.</p>

<!--<a name="es"></a><h2>Español</h2>
<p>Los siguientes t&eacute;rminos y condiciones regulan el uso completo de la aplicaci&oacute;n Zerved (&quot;Aplicaci&oacute;n Zerved&quot;). L&eacute;alos detenidamente antes de realizar pedidos de productos mediante la aplicaci&oacute;n. La aplicaci&oacute;n se ofrece sujeta a su aceptaci&oacute;n sin modificaci&oacute;n de todos los t&eacute;rminos y condiciones aqu&iacute; contenidos as&iacute; como de los procedimientos que Zerved ApS (&acirc;€&oelig;Zerved&acirc;€) pueda publicar de forma peri&oacute;dica en este sitio (de manera colectiva, el &acirc;€&oelig;Contrato&acirc;€).</p>
<h3>1. Informaci&oacute;n sobre Zerved ApS</h3>
<p>1.1 Zerved es una empresa registrada en Dinamarca con n&uacute;mero de registro mercantil 34 59 04 51.</p>
<p>1.2 Zerved ofrece un m&eacute;todo para que los clientes de bares y restaurantes (&acirc;€&oelig;Comercios&acirc;€) puedan pedir y pagar sus bebidas y comidas en el establecimiento sin dirigirse al mostrador.</p>
<p>1.3 El servicio al cliente es nuestra prioridad n&uacute;mero uno. En el caso de que no quede satisfecho con la calidad del producto solicitado mediante Zerved, de acuerdo con el p&aacute;rrafo 3.3, Zerved le ayudar&aacute;, en lo posible, a procurarle el reembolso en el bar o restaurante por un importe m&aacute;ximo equivalente al valor del pedido original.</p>
<p>1.4 Al descargar la aplicaci&oacute;n Zerved acepta su vinculaci&oacute;n con los t&eacute;rminos y condiciones de este contrato. Zerved puede cambiarlos de forma peri&oacute;dica. Estar&aacute; sujeto a las normativas y los t&eacute;rminos y condiciones en vigor en el momento en que realice pedidos de productos con nosotros.</p>
<h3>2. Realizaci&oacute;n de pedidos mediante la aplicaci&oacute;n Zerved</h3>
<p>2.1 Cuando haya seleccionado su pedido en un restaurante o bar determinados mediante la aplicaci&oacute;n Zerved, tendr&aacute; la posibilidad de enviar su pedido haciendo clic en el bot&oacute;n &acirc;€&oelig;Realizar pedido&acirc;€. Tenga en cuenta que es importante verificar el pedido y su informaci&oacute;n antes de enviarlo.</p>
<p>2.2 Si decide no continuar con la compra, antes de hacer clic en el bot&oacute;n &acirc;€&oelig;Realizar pedido&acirc;€, solo tiene que anularlo.</p>
<p>2.3 Despu&eacute;s de que el bar o restaurante haya recibido su pedido, comenzar&aacute;n a procesarlo y Zerved le enviar&aacute; una notificaci&oacute;n push mediante la aplicaci&oacute;n para informarle de que el pedido se est&aacute; procesando.</p>
<p>2.4 Cuando alg&uacute;n pago que realice no est&eacute; autorizado, recibir&aacute; un aviso de cancelaci&oacute;n y no estaremos obligados a prestarle los servicios.</p>
<p>2.5 Tenga en cuenta que una vez haya recibido la confirmaci&oacute;n del comercio de que su pedido se est&aacute; procesando, no podr&aacute; anularlo ni tendr&aacute; derecho a un reembolso.</p>
<h3>3. Precio y pago</h3>
<p>3.1 Los precios ser&aacute;n los que se indiquen en la aplicaci&oacute;n. Estos precios incluyen IVA.</p>
<p>3.2 La aplicaci&oacute;n Zerved contiene un gran n&uacute;mero de men&uacute;s y siempre es posible que alguno de ellos no tenga los precios correctos. Si el precio correcto de un pedido es superior al precio indicado en la aplicaci&oacute;n, Zerved se pondr&aacute; en contacto con usted antes de que se sirva el pedido en cuesti&oacute;n. Zerved no tiene obligaci&oacute;n alguna de asegurarse de que el pedido se ofrece con un precio inferior incorrecto o de compensarle en relaci&oacute;n con precios incorrectos.</p>
<p>3.3 En el caso de que tenga alguna queja con respecto a la calidad de los alimentos, las bebidas o el servicio ofrecido por los comercios de la aplicaci&oacute;n Zerved, el restaurante o bar deber&aacute; buscar alguna compensaci&oacute;n directamente en el momento de la entrega. No obstante, Zerved asumir&aacute; la responsabilidad de cualquier reembolso, cuando el comercio no lo haga y usted tenga derecho a una compensaci&oacute;n. Zerved no ser&aacute;, sin embargo, responsable del reembolso de productos que se hayan consumido o utilizado parcial o completamente.</p>
<p>3.4 Interrupci&oacute;n: solo pertinente en Dinamarca.</p>
<p>3.5 El pago de todos los pedidos debe realizarse mediante tarjeta de cr&eacute;dito o d&eacute;bito seg&uacute;n se indica en la aplicaci&oacute;n.</p>
<p>3.6 Tenga en cuenta que de vez en cuando se producen demoras en el procesamiento de pagos y transacciones que, en circunstancias excepcionales, pueden tardar hasta sesenta (60) d&iacute;as en deducirse de su cuenta bancaria o tarjeta de cr&eacute;dito.</p>
<p>3.7 Para garantizar un uso r&aacute;pido y sencillo de la aplicaci&oacute;n Zerved, solo tendr&aacute; que introducir una vez sus datos de tarjeta de pago. Cuando introduce por primera vez la informaci&oacute;n de su tarjeta de cr&eacute;dito o d&eacute;bito, acepta (opcional) que esa informaci&oacute;n se almacene de forma segura en un portal de pago externo con certificaci&oacute;n PCI (denominado pago de suscripci&oacute;n).</p>
<p>Si decide guardar su tarjeta, se le pedir&aacute; que seleccione un c&oacute;digo PIN de cuatro d&iacute;gitos que deber&aacute; introducir para realizar cualquier pedido en el futuro.</p>
<p>En cualquier momento puede eliminar la informaci&oacute;n de tarjeta en la opci&oacute;n de men&uacute; &quot;Perfil&quot;. A partir de este momento, no podr&aacute; realizar ning&uacute;n pedido desde la aplicaci&oacute;n Zerved sin introducir de nuevo la informaci&oacute;n de la tarjeta de pago. Encontrar&aacute; m&aacute;s informaci&oacute;n sobre la seguridad de los pagos en 4.3.</p>
<p>3.8 Zerved har&aacute; todo lo posible por garantizar que los productos adquiridos est&eacute;n disponibles justo despu&eacute;s de la finalizaci&oacute;n del pedido; no obstante, Zerved no puede garantizar que no se produzcan demoras en la entrega de los productos. Cualquier demora ser&aacute; responsabilidad del comercio.</p>
<p>3.9 Para asegurarse de que obtiene los productos que ha adquirido con la aplicaci&oacute;n Zerved, tendr&aacute; que recoger los productos en el punto de recogida designado tras recibir una notificaci&oacute;n push (como se describe en la secci&oacute;n 2.3) que le informar&aacute; de que sus productos est&aacute;n listos. Si no lo hace, el comercio no est&aacute; obligado a reembolsarle el pedido o sustituir los productos que se deb&iacute;an recoger.</p>
<h3>4. Acceso a la aplicaci&oacute;n Zerved</h3>
<p>4.1 Si bien el objetivo de Zerved es garantizar que la aplicaci&oacute;n est&eacute; disponible las veinticuatro (24) horas del d&iacute;a, Zerved no ser&aacute; responsable si la aplicaci&oacute;n no est&aacute; disponible en alg&uacute;n momento o durante alg&uacute;n per&iacute;odo.</p>
<p>4.2 El acceso a la aplicaci&oacute;n se puede suspender de manera temporal y sin previo aviso.</p>
<p>4.3 Toda informaci&oacute;n que se env&iacute;e y reciba en la aplicaci&oacute;n Zerved y en los servidores asociados est&aacute; enormemente protegida mediante HTTPS cifrado. De esta forma se ofrece protecci&oacute;n frente a ataques de intermediarios y terceros, espionaje y alteraci&oacute;n o falsificaci&oacute;n del contenido de la comunicaci&oacute;n.</p>
<p>Toda informaci&oacute;n de tarjeta de cr&eacute;dito y/o d&eacute;bito se procesa y almacena en un portal de pago con certificaci&oacute;n PCI. Ni la aplicaci&oacute;n Zerved, ni los servidores de Zerved, ni ning&uacute;n empleado de Zerved ni el smartphone que ejecuta la aplicaci&oacute;n tienen en ning&uacute;n momento acceso a la informaci&oacute;n de tarjeta real.</p>
<p>El acceso del smartphone a los datos del usuario en el servidor (historial de facturaci&oacute;n, correo electr&oacute;nico, etc.) est&aacute; protegido por un inicio de sesi&oacute;n que se almacena de forma segura en el smartphone.</p>
<p>Adem&aacute;s, no es posible realizar ning&uacute;n pedido sin introducir el c&oacute;digo PIN de 4 d&iacute;gitos mencionado en la secci&oacute;n 3.7 (creado por el usuario en su primera compra realizada con la aplicaci&oacute;n Zerved).</p>
<p>Incluso aunque nos esforzamos enormemente por adoptar todas las precauciones posibles al transmitir sus datos, no podemos garantizar la seguridad de estos ya que toda transmisi&oacute;n corre cierto riesgo.</p>
<h3>5. Distribuci&oacute;n de alcohol</h3>
<p>5.1 Es responsabilidad de cada comercio cumplir con las leyes locales de restricci&oacute;n de edad para el consumo de alcohol. Asimismo tambi&eacute;n ser&aacute; responsable de cumplir con las normativas locales sobre la distribuci&oacute;n de alcohol a menores, etc.</p>
<p>Zerved no puede en modo alguno controlar o determinar c&oacute;mo se distribuye el alcohol ni a qu&eacute; personas.</p>
<p>5.2 Zerved recomienda a los comercios que soliciten una identificaci&oacute;n con foto v&aacute;lida cuando el comercio tenga dudas sobre si el cliente consumidor cumple con las leyes locales relativas a la edad m&iacute;nima para la compra de alcohol.</p>
<p>5.3 Zerved queda eximida de cualquier responsabilidad si el comercio infringe las leyes locales sobre el alcohol.</p>
<h3>6. Renuncia de responsabilidad</h3>
<p>6.1 Si bien el objetivo de Zerved es garantizar que toda la informaci&oacute;n incluida en el sitio web y en la aplicaci&oacute;n Zerved es correcta, no podemos garantizar que sea precisa o est&eacute; completa. Zerved puede realizar cambios en el material sobre la aplicaci&oacute;n en cualquier momento y sin previo aviso. En concreto, no garantizamos que la informaci&oacute;n facilitada por los comercios que se muestra en la aplicaci&oacute;n, como los men&uacute;s, la asignaci&oacute;n de precios y los tiempos estimados de servicio, sea correcta o est&eacute; actualizada.</p>
<p>6.2 Zerved le proporciona acceso a la aplicaci&oacute;n y a nuestros servicios partiendo de la base de que, hasta donde permita la ley, renunciamos a toda responsabilidad, garant&iacute;a, condiciones y otros t&eacute;rminos (incluidas todas las condiciones impl&iacute;citas por ley que pudieran aplicarse para estos t&eacute;rminos en relaci&oacute;n con la aplicaci&oacute;n y los servicios que prestamos).</p>
<p>6.3 Usted ser&aacute; responsable de la seguridad del c&oacute;digo PIN que ha utilizado para registrar la aplicaci&oacute;n. A menos que Zerved revele por descuido su c&oacute;digo PIN a terceros, Zerved no ser&aacute; responsable de ninguna transacci&oacute;n no autorizada realizada con su nombre y contrase&ntilde;a.</p>
<p>6.4 NOTA: Si bien Zerved realiza un esfuerzo enorme por facilitar informaci&oacute;n precisa, nombres de art&iacute;culos, descripciones, precios, preferencias como los niveles de especias y/o advertencias sobre alergias en este sitio web, los men&uacute;s los facilitan en &uacute;ltima estancia los comercios. Si tiene alguna duda sobre las advertencias sobre alergias o el contenido de un plato, se recomienda aclararla directamente con el restaurante antes de realizar el pedido.</p>
<h3>7. Terminaci&oacute;n</h3>
<p>7.1 Zerved puede finalizar o suspender (a nuestro criterio absoluto) su derecho a utilizar la aplicaci&oacute;n y su uso de los servicios, de manera inmediata y mediante una notificaci&oacute;n por escrito (incluida por correo electr&oacute;nico), si ha realizado un uso inadecuado de la aplicaci&oacute;n o si ha infringido alg&uacute;n c&oacute;digo general de conducta, incluidas la publicaci&oacute;n, la carga o la transmisi&oacute;n en un sitio web o la aplicaci&oacute;n de cualquier material que infrinja cualquier ley local, nacional o internacional vigente como, por ejemplo, la publicidad no autorizada, o que contenga virus o cualquier otro programa nocivo.</p>
<h3>8. Responsabilidad</h3>
<p>8.1 Zerved ApS y cualquiera de nuestras empresas del grupo, as&iacute; como los ejecutivos, directores, empleados, accionistas o agentes de cualquiera de ellas, rechazan toda responsabilidad de cualquier cantidad o tipo de p&eacute;rdida o da&ntilde;o que pueda afectarle a usted o a terceros (incluidos cualquier da&ntilde;o o p&eacute;rdida directos, indirectos, punitivos o resultantes, o cualquier p&eacute;rdida de ingresos, beneficios, cr&eacute;ditos mercantiles, datos, contratos, o da&ntilde;os o p&eacute;rdidas derivados o relacionados de alg&uacute;n modo con la interrupci&oacute;n del negocio, la p&eacute;rdida de oportunidades, la p&eacute;rdida de ahorros previstos, gesti&oacute;n desaprovechada del tiempo de oficina y ya sea por agravios [incluida la negligencia], contrato u otros motivos, incluso sin son predecibles) en relaci&oacute;n con nuestros servicios y esta aplicaci&oacute;n o en relaci&oacute;n con el uso, la imposibilidad de uso o los resultados de la utilizaci&oacute;n de la aplicaci&oacute;n o cualquier sitio web vinculado a la aplicaci&oacute;n.</p>
<p>8.2 Zerved acepta toda la responsabilidad sobre el contenido de la aplicaci&oacute;n y la comunicaci&oacute;n de pedidos a los comercios, como se ha dispuesto en estos t&eacute;rminos. El equipo de asistencia de Zerved, sujeto a su cumplimiento de estos t&eacute;rminos y a su cooperaci&oacute;n, utilizar&aacute; todos los medios razonables para resolver los problemas que surjan del env&iacute;o de pedidos mediante la aplicaci&oacute;n, incluido el procesamiento de todos los reembolsos y cargos de tarjeta de cr&eacute;dito o d&eacute;bito seg&uacute;n corresponda. Sin embargo, tenga en cuenta que el contrato legal para el suministro y la compra de alimentos y bebidas se realiza entre usted y los comercios en los que realiza el pedido. Zerved no puede comprometerse a que los alimentos y bebidas de los pedidos realizados a los comercios con la aplicaci&oacute;n tengan una calidad satisfactoria y, por lo tanto, Zerved renuncia a toda responsabilidad. Del mismo modo, Zerved tampoco puede comprometerse a garantizar que los tiempos de servicio estimados indicados en la aplicaci&oacute;n sean precisos. Estas exenciones de responsabilidad no afectan a sus derechos legales ante los comercios.</p>
<p>8.3 La responsabilidad completa de Zerved hacia usted en relaci&oacute;n con su uso de la aplicaci&oacute;n y los servicios que prestamos, incluida (aunque sin limitarse a) la responsabilidad por la infracci&oacute;n de estos t&eacute;rminos y otros actos il&iacute;citos (entre otros, la negligencia), se limita a un importe equivalente al doble del valor de su pedido o 600 coronas danesas, la menor de estas dos cifras.</p>
<h3>9. Ley aplicable</h3>
<p>9.1 Toda disputa o reclamaci&oacute;n que surja en relaci&oacute;n con la compra mediante la aplicaci&oacute;n se regir&aacute; por las Leyes danesas.</p>-->
