<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDDWSLIoXEJYYnrJE0KtVMrIt8CYFRkwSg",
    authDomain: "zervedapp.firebaseapp.com",
    databaseURL: "https://zervedapp.firebaseio.com",
    projectId: "zervedapp",
    storageBucket: "zervedapp.appspot.com",
    messagingSenderId: "835471220397"
  };
  firebase.initializeApp(config);
</script>