{% extends "front/subpage-merchants.html" %}
{% block title %}{% trans %}Zerved Customer Cases{% endtrans %}{% endblock %}
{% block description %}{% trans %}Read what our customers have gained from introducing mobile ordering and payment with Zerved.{% endtrans %}{% endblock %}
{% block subpage_content %}    
<div class="section">

    <div class="row">
        <div class="text-center">
            <h1>{% trans %}Customer Cases{% endtrans %}</h1>
            <p class="lead">{% trans %}We let our customers speak for themselves.{% endtrans %}</p>
       </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/front/img/customercase_koncertsal.jpg" style="width: 100%; margin-top:25px;">
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>{% trans %}Koncerthuset - Northern Europe's Largest Concert Hall{% endtrans %}</h3>
            <p>{% trans %}In partnership with Zerved Scandinavia's premier Concert venue helps more than 1,800 guests improve their experience by removing queues at the bar.{% endtrans %}</p>
            <p>{% trans %}Pre ordering through smartphones makes it possible to target an audience who are unaccustomed to ordering for the interval.{% endtrans %}</p>
            <p>{% trans %}With Zerved concert halls experience:{% endtrans %}</p>
            <ul>
                <li>{% trans %}Increasing number of purchases.{% endtrans %}</li>
                <li>{% trans %}Increased employee capacity by removing time spent for receiving orders and payment.{% endtrans %}</li>
                <li>{% trans %}Improved customer experience.{% endtrans %}</li>
            </ul>
            <blockquote><p>{% trans %}The solution keeps giving us new opportunities for up selling and reaching a client segment we have had dificulties with before. Furthermore, Zerved's keep developing useful new features that add value to us and our guests.{% endtrans %}</p><small><em>Patrick Høgh - Operations manager, Koncerthuset, Coor Service Management</em></small>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>{% trans %}PARKEN - Denmark's National Arena{% endtrans %}</h3>
            <p>{% trans %}Home to FC Copenhagen, PARKEN has hosted both Champions League and Europa League matches.{% endtrans %}</p>
            <p>{% trans %}With a capacity of 45,000 seats, Zerved enables fans to order food and beverage any time and be directed to the appropriate bar for pick up.{% endtrans %}</p>
            <blockquote><p>{% trans %}Both PARKEN and Eurest, which handles all the stalls in PARKEN, are constantly working to make the experience for our guests better. Zerved gives us both the opportunity to minimize queue time for our guests as well as improve the working environment for our employees as payment and decision-making is done before the guests hit the stalls.{% endtrans %}</p><p>{% trans %}We believe that guests using Zerved in PARKEN will get to experience both shorter queues and faster delivery of goods.{% endtrans %}</p><small><em>Henrik Niclasen - Food & Beverage manager, Eurest</em></small>
            </blockquote>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="/front/img/customercase_parken.jpg" style="width: 100%; margin-top:25px;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h3>{% trans %}Hear More About The Possibilities{% endtrans %}</h3>
            <p>{% trans %}Contact us today and let us analyse your existing order flow.{% endtrans %}</p>
            <p>{% trans %}Order flows may vary greatly across businesses and industries. We are aware of this and want the best possible solution for every merchant using Zerved.{% endtrans %}</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <a href="/contact" class="btn btn-success btn-large btn-block">{% trans %}Contact us now!{% endtrans %}</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}