{% extends "front/subpage-merchants.html" %}
{% block title %}{% trans %}Zerved Industries{% endtrans %}{% endblock %}
{% block description %}{% trans %}Read about how Zerved can facilitate mobile ordering and payment in your industry{% endtrans %}{% endblock %}
{% block subpage_content %}    
<div class="section">

    <div class="row">
        <div class="text-center">
            <h1>{% trans %}Industries{% endtrans %}</h1>
            <p class="lead">{% trans %}Learn how Zerved implements mobile ordering in different industries.{% endtrans %}</p>
       </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_stadiums.jpg" style="width: 100%; margin-top:25px;">
        </div>
        <div class="col-xs-12 col-md-8">
            <h3>{% trans %}Stadiums{% endtrans %}</h3>
            <p class="lead">{% trans %}Let the crowd focus on the event at the same time as increasing revenue at the serving points...{% endtrans %}</p>
            <h4>{% trans %}Large Crowds Create Backlogs and Deter Orders{% endtrans %}</h4>
            <p>{% trans %}Many fans do not buy food and drink during the break, because the queues are too long. Reduce barriers by allowing them to order and pay via their mobile phone.{% endtrans %}</p>
            <p>{% trans %}Mobile orders are received on a dedicated tablet behind the counter. This prevents wasted staff time relating to taking the order and payment. This extra bandwidth can now be utilised making and delivering the increased flow of orders.{% endtrans %}</p>
            <p>{% trans %}Guest automatically receive a message when the order is ready and are able to collect it without delay or payment hassle.{% endtrans %}</p>
            <p>{% trans %}Some Stadiums permit seat service. If so fans can input their seat number and enjoy their order without having to hail a waiter. Zerved lets them focus entirely on the game.{% endtrans %}</p>
            <h4>{% trans %}”Fast Lane” Service{% endtrans %}</h4>
            <p>{% trans %}With a part of the counter dedicated to collection of mobile orders (”Fast Lane”), the pressure on the traditional bar is relieved.{% endtrans %}</p>
            <p>{% trans %}This improves overall efficiency for the entire stadium as the guests who have not booked via smartphone also get a faster service.{% endtrans %}</p>
            <h4>{% trans %}Ticket Sales{% endtrans %}</h4>
			<p>{% trans %}Buying tickets at the entrance are also available through the app - all without payment hassle.{% endtrans %}</p>
            <p>{% trans %}Offer your guests to download the app before and during the game or in the queue and enjoy a number of benefits:{% endtrans %}</p>
            <ul>
            	<li>{% trans %}The ability to collect pre orders before an event{% endtrans %}</li>
                <li>{% trans %}More buying customers.{% endtrans %}</li>
                <li>{% trans %}Consistent use of up-selling opportunities.{% endtrans %}</li>
                <li>{% trans %}Targeted special offers.{% endtrans %}</li>
                <li>{% trans %}Targeted marketing to spectators direct to their phone.{% endtrans %}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
			<h3>{% trans %}Theatres{% endtrans %}</h3>
            <p class="lead">{% trans %}Zerved increases staff efficiency and drives F&B revenues...{% endtrans %}</p>
            <h4>{% trans %}Increase Staff Efficiency{% endtrans %}</h4>
            <p>{% trans %}Improve your management of the half time rush. Zerved's state-of-the-art remote order and payment system allows staff to service customers faster and maximising revenue streams.{% endtrans %}</p>
            <p>{% trans %}Utilising our advanced workflow module entirely removes the time wasted by staff taking orders and payments. This allows staff to focus on making and delivering drinks before the interval begins.{% endtrans %}</p>
            <p>{% trans %}A smart bar collection point ensures queues are short and manageable which results in customers dispersing quickly throughout the bar area and creates a more relaxed and social atmosphere.{% endtrans %}</p>
            <h4>{% trans %}Drive Increased Sales {% endtrans %}</h4>
            <p>{% trans %}A faster better-managed bar service means more customers will buy refreshments.{% endtrans %}</p>
            <p>{% trans %}With pre-order capabilities customers can order interval refreshments from their seats, up to 1 minute before the show starts. Orders are prepared and ready at the interval increasing the chances of a second sitting.{% endtrans %}</p>
            <p>{% trans %}Invite your guests to download the App when they arrive and generate more customers, more orders and more efficient staff.{% endtrans %}</p>
            <h4>{% trans %}Key Benefits{% endtrans %}</h4>
            <ul>
                <li>{% trans %}The ability to collect pre orders before an event.{% endtrans %}</li>
                <li>{% trans %}Increased sales.{% endtrans %}</li>
                <li>{% trans %}Improved customer service.{% endtrans %}</li>
                <li>{% trans %}Second sitting and up selling opportunities.{% endtrans %}</li>
                <li>{% trans %}Increased staff serving capacity.{% endtrans %}</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_theatres.jpg" style="width: 100%; margin-top:25px;">
        </div>
    </div>

 	<div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_cafees.jpg" style="width: 100%; margin-top:25px;">
        </div>
        <div class="col-xs-12 col-md-8">
            <h3>{% trans %}Fast Food and Cafe&prime;s{% endtrans %}</h3>
            <p class="lead">{% trans %}Difficulty keeping up during peak hours? Zerved increases turnover and employee capacity...{% endtrans %}</p>
            <h4>{% trans %}Increase Turnover{% endtrans %}</h4>
            <p>{% trans %}Zerved lets customers who do not wish to stand in line order directly from their phone and in their own time.{% endtrans %}</p>
            <p>{% trans %}For the user it manages their expectations and saves them time, for the merchant it maximises turnover without stressing their customer.{% endtrans %}</p>
            <h4>{% trans %}Employee Capacity{% endtrans %}</h4>
            <p>{% trans %}By seamlessly receiving mobile order employee efficiency is optimised as they are not wasting time taking orders or handling money.{% endtrans %}</p>
            <p>{% trans %}Invite your guests to download the App when they arrive and receive more customers, more orders and more efficient staff in addition to having the ability to deliver targeted marketing to your customer base in a way never previously possible.{% endtrans %}</p>
            <ul>
                <li>{% trans %}More customers.{% endtrans %}</li>
                <li>{% trans %}Better utilization of the staff.{% endtrans %}</li>
                <li>{% trans %}Ability to maximise up-sell opportunities.{% endtrans %}</li>
                <li>{% trans %}Make special offers.{% endtrans %}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
			<h3>{% trans %}Canteens{% endtrans %}</h3>
            <p class="lead">{% trans %}Its an age old problem - everyone wants to eat at the same time. Zerved helps canteens manage the busiest periods by allowing customers to pay in advance and avoid waiting in line...{% endtrans %}</p>
            <h4>{% trans %}Increase Turnover{% endtrans %}</h4>
            <p>{% trans %}The Zerved technology reduces lost revenue and inadequate employee capacity.{% endtrans %}</p>
            <p>{% trans %}Offering a service that let's customers pre-order food and beverages directly from the Smartphone encourages orders even during peak hours.{% endtrans %}</p>
            <p>{% trans %}Customers avoid wasting time in queues and are alerted when their order is ready to collect, and in turn the venue maximises their revenue and encourages orders even at peak times. Everyone benefits.{% endtrans %}</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_canteens.jpg" style="width: 100%; margin-top:25px;">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_nightclubs.jpg" style="width: 100%; margin-top:25px;">
        </div>
        <div class="col-xs-12 col-md-8">
            <h3>{% trans %}Nightclubs and Bars{% endtrans %}</h3>
            <p class="lead">{% trans %}Trouble keeping up at busy times? Zerved seamlessly increases turnover and employee work capacity...{% endtrans %}</p>
            <h4>{% trans %}Increase Turnover{% endtrans %}</h4>
            <p>{% trans %}Zerved allows customers who do not wish to stand at a crowded bar order remotely from their phone in their own time. They can have drinks delivered to their table or made available for collection at a designated collection point at the bar.{% endtrans %}</p>
            <p>{% trans %}For the user Zerved manages their expectations and saves them time, for the merchant it maximises turnover without stressing their customer.{% endtrans %}</p>
            <h4>{% trans %}Employee Work Capacity{% endtrans %}</h4>
            <p>{% trans %}By seamlessly receiving smartphone orders employee efficiency is optimized as they are not wasting time taking orders or handling money.{% endtrans %}</p>
            <h4>{% trans %}Key Benefits{% endtrans %}</h4>
            <ul>
                <li>{% trans %}Increased sales.{% endtrans %}</li>
                <li>{% trans %}Improved customer service.{% endtrans %}</li>
                <li>{% trans %}More second sitting and up selling opportunities.{% endtrans %}</li>
                <li>{% trans %}Better utilization of staff.{% endtrans %}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
			<h3>{% trans %}Restaurants{% endtrans %}</h3>
            <p class="lead">{% trans %}Difficulty keeping up during peak hours? Zerved increases turnover and employee capacity...{% endtrans %}</p>
            <h4>{% trans %}Increase Turnover{% endtrans %}</h4>
            <p>{% trans %}Zerved lets customers who do not wish to stand in line order or wait for service order directly from their phone and in their own time. This can be for seat delivery or collection to go.{% endtrans %}</p>
            <p>{% trans %}For the user it manages their expectations and saves them time, for the merchant it maximises turnover without stressing their customer.{% endtrans %}</p>
            <h4>{% trans %}Employee Capacity{% endtrans %}</h4>
            <p>{% trans %}By seamlessly receiving mobile order employee efficiency is optimised as they are not wasting time taking orders or handling money.{% endtrans %}</p>
            <p>{% trans %}Invite your guests to download the App when they arrive and receive more customers, more orders and more efficient staff in addition to having the ability to deliver targeted marketing to your customer base in a way never previously possible.{% endtrans %}</p>
            <ul>
                <li>{% trans %}More customers.{% endtrans %}</li>
                <li>{% trans %}Better utilization of the staff.{% endtrans %}</li>
                <li>{% trans %}Ability to maximise up-sell opportunities.{% endtrans %}</li>
                <li>{% trans %}Make special offers.{% endtrans %}</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_restaurants.jpg" style="width: 100%; margin-top:25px;">
        </div>
    </div>

 	<div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_hotels.jpg" style="width: 100%; margin-top:25px;">
        </div>
        <div class="col-xs-12 col-md-8">
            <h3>{% trans %}Hotels{% endtrans %}</h3>
            <p class="lead">{% trans %}Zerved maximises revenues by ensuring guests can order and reach the relevant team any time (eg. room service) and from anywhere within a hotel environment...{% endtrans %}</p>
            <h4>{% trans %}Increase Turnover{% endtrans %}</h4>
            <p>{% trans %}Increase room service orders by letting guests order through their smart phone. This leads to more time for receptionists and less time used for updating physical meues in rooms.{% endtrans %}</p>
            <p>{% trans %}Zerved is also ideal for pool bars letting guests order directly from their chair.{% endtrans %}</p>
            <h4>{% trans %}Improved Customer Service{% endtrans %}</h4>
            <p>{% trans %}Remove phone ordering anxiety and language barriers with seamless app orders and multilanguage menus.{% endtrans %}</p>
            <h4>{% trans %}Remove Inaccuracies{% endtrans %}</h4>
            <p>{% trans %}Keep staff interactions personal and positive with the automated order and payment systems.{% endtrans %}</p>
            <h4>{% trans %}Many Advantages{% endtrans %}</h4>
            <p>{% trans %}Invite your guests to download the app when they arrive and receive more customers, more orders and more efficient staff in addition to having the ability to deliver targeted marketing to your customer base in a way never previously possible.{% endtrans %}</p>
            <ul>
                <li>{% trans %}More customers.{% endtrans %}</li>
                <li>{% trans %}Better utilization of the staff.{% endtrans %}</li>
                <li>{% trans %}Ability to maximise up-sell opportunities.{% endtrans %}</li>
                <li>{% trans %}Make special offers.{% endtrans %}</li>
                <li>{% trans %}Eradicate ordering errors.{% endtrans %}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
			<h3>{% trans %}Amusement Parks{% endtrans %}</h3>
            <p class="lead">{% trans %}Are long queues a problem? With Zerved time used on orders and payments will be reduced...{% endtrans %}</p>
            <h4>{% trans %}Reduce the waiting at the entrance{% endtrans %}</h4>
            <p>{% trans %}Process guests at the gates without stressing them with long queues.{% endtrans %}</p>
            <p>{% trans %}Zerved allows guests to buy tickets on their smartphone and once inside the venue order food, beverage and merchandise anytime from their phone.{% endtrans %}</p>
            <p>{% trans %}The customer experience is dramatically improved during peak season and a consequence is that guests spend more.{% endtrans %}</p>
            <p>{% trans %}Fast lane upgrades can be bought real time for amusement parks with rides so the venue can up sell their fast track service at any time and maximise their revenues.{% endtrans %}</p>
            <h4>{% trans %}Optimize employee capacity{% endtrans %}</h4>
            <p>{% trans %}By receiving mobile orders on a dedicated tablet it avoids wasted time related to order receiving and payment.{% endtrans %}</p>
            <h4>{% trans %}Many Benefits{% endtrans %}</h4>
            <p>{% trans %}Offer your guests to download the app when they arrive, or in your marketing and achieve:{% endtrans %}</p>
            <ul>
                <li>{% trans %}A better customer experience where their day is free from queuing.{% endtrans %}</li>
                <li>{% trans %}More buying guests at the stalls.{% endtrans %}</li>
                <li>{% trans %}Better utilization of staff.{% endtrans %}</li>
                <li>{% trans %}Consistent use of up-selling opportunities.{% endtrans %}</li>
                <li>{% trans %}Ability to run special offers.{% endtrans %}</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="/front/img/industry_amusement.jpg" style="width: 100%; margin-top:25px;">
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <a href="/contact" class="btn btn-success btn-large btn-block">{% trans %}Contact us now!{% endtrans %}</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}