{% extends "front/subpage-merchants.html" %}
{% block title %}{% trans %}Zerved Overview{% endtrans %}{% endblock %}
{% block description %}{% trans %}Get an overview of the Zerved mobile ordering app and system{% endtrans %}{% endblock %}
{% block subpage_content %}     

    <div class="row text-center">
        <h1>{% trans %}Overview{% endtrans %}</h1>
        <p class="lead">{% trans %}Zerved explained in 2 minutes...{% endtrans %}</p>
        <img src="/front/img/the-system.png" style="margin:30px 0 -20px 0; width:100%; max-width: 779px" />
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <a href="/contact" class="btn btn-success btn-large btn-block">{% trans %}Contact us now!{% endtrans %}</a>
            </div>
        </div>
    </div>
   
    <div class="row"> 
        <h2 class="blue text-center">{% trans %}Why?{% endtrans %}</h2>
        <div class="col-md-6">
            <div class="col-md-2">
                <div class="icon more-buying-customers"></div>
            </div>
            <div class="col-md-10">
                <h4>{% trans %}More Buying Customers{% endtrans %}</h4>
                <p>{% trans %}Reduce the queue and thereby avoid lost sales due to customers who do not want to wait.{% endtrans %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-2">
                <div class="icon work-capacity"></div>
            </div>
            <div class="col-md-10">
                <h4>{% trans %}Improved Employee Capacity{% endtrans %}</h4>
                <p>{% trans %}No wasted time related to receiving orders and payment.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-2">
                <div class="icon optimized-order-handling"></div>
            </div>
            <div class="col-md-10">
                <h4>{% trans %}Optimized Order Management{% endtrans %}</h4>
                <p>{% trans %}All orders are coming in at a dedicated tablet - <a href="/for-merchants/pos-integration">POS-integration</a> can be developed*.{% endtrans %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-2">
                <div class="icon customer-service"></div>
            </div>
            <div class="col-md-10">
                <h4>{% trans %}Improved Customer Service{% endtrans %}</h4>
                <p>{% trans %}Guests receive their orders faster - while traditional buyers experience a shorter queue.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <h2 class="blue text-center">{% trans %}How?{% endtrans %}</h2>
    <p class="lead text-center">{% trans %}The solution comprises three parts:<br />A smartphone app, an order management interface and an admin module.{% endtrans %}</p>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-3">
                <div class="icon app"></div>
            </div>
            <div class="col-xs-9">
                <h3>{% trans %}The Zerved App{% endtrans %}</h3>
                <p class="lead">{% trans %}This is the only part of the system, that is open to guests.{% endtrans %}</p>
                <p>{% trans %}The smartphone app provides an intuitive way for guests to order and pay for whatever the merchant may want to sell through the platform.{% endtrans %}</p>
                <p>{% trans %}After the first order the app saves the credit card data (safely and behind a personal password) on an external PCI-certified server. This lowers the barrier for future purchases and increases the number of orders.{% endtrans %}</p>
                <p>{% trans %}Through the app, it is also possible to get an overview of pending and completed orders - as well as the ability to send bills by e-mail.{% endtrans %}</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="/front/img/feature01.png" style="width:100%; max-height:500px; max-width: 473px">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/front/img/feature02_overview.png" style="width:100%; max-height:516px; max-width: 613px">
        </div>          
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-3">
                <div class="icon order-management"></div>
            </div>
            <div class="col-xs-9">
                <h3>{% trans %}Order Management Interface{% endtrans %}</h3>
                <p class="lead">{{ _('This is the 100%% web-based interface for managing orders coming in from the guests.') }}</p>
                <p>{% trans %}The interface is optimized for viewing on a tablet, making it extremely easy for the staff to processing orders via the touch screen.{% endtrans %}</p>
                <p>{% trans %}The module displays all necessary information in order to produce and process each order.{% endtrans %}</p>
                <p>{% trans %}Money is reserved, withdrawn or refused on the customers credit cards as the orders are being produced, completed or denied.{% endtrans %}</p>
                <p>{% trans %}<span class="label label-info">Info</span> If you have chosen to integrate Zerved into your existing POS system, this interface is optional.{% endtrans %}</p>
                <em><p>{% trans %}*<a href="/for-merchants/pos-integration">POS integration</a> can be developed in most cases, depending on the existing POS system.{% endtrans %}</p></em>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-3">
                <div class="icon admin"></div>
            </div>
            <div class="col-xs-9">
                <h3>{% trans %}Admin Backend{% endtrans %}</h3>
                <p class="lead">{% trans %}This is your control center - where the menu, settings and turnover can be accessed.{% endtrans %}</p>
                <p>{% trans %}In the admin interface you change the menu and bar settings on a day to day basis. It is also here you set up everything about your locations, serving areas and discounts.{% endtrans %}</p>
                <p>{{ _('This interface is 100%% web-based and can thus be accessed from any computer or tablet with internet access.') }}</p>
                <p>{% trans %}It is also here that all information about sales, revenues and statistics are available.{% endtrans %}</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="/front/img/feature03_overview.png" style="width:100%; max-height:509px; max-width: 448px">
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <a href="/contact" class="btn btn-success btn-large btn-block">{% trans %}Contact us now!{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
