{% extends "front/subpage-merchants.html" %}
{% block title %}{% trans %}Zerved POS Integration{% endtrans %}{% endblock %}
{% block description %}{% trans %}Read about how you can accept mobile orders directly into any POS system with Zerved{% endtrans %}{% endblock %}
{% block subpage_content %}    
<div class="section">
        <div class="row">
            <div class="text-center">
                <h1>{% trans %}POS Integration{% endtrans %}</h1>
                <p class="lead">{% trans %}Receive mobile orders on your existing cash register.{% endtrans %}</p>
           </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-3">
                    <div class="icon pos1"></div>
                </div>
                <div class="col-xs-9">
                    <h3>{% trans %}Maximum Flexibility{% endtrans %}</h3>
                    <p class="lead">{% trans %}Receive mobile orders by integrating Zerved into your existing POS system.{% endtrans %}</p>
                    <p>{% trans %}Some businesses demand that both Smartphone and traditional orders are run through the same system.{% endtrans %}</p>
                    <p>{% trans %}Zerved has a direct API feed which can be integrated into existing POS systems.{% endtrans %}</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="/front/img/feature01_pos.png" style="width: 100%; max-width: 420px; max-height: 530px;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="/front/img/feature02_pos.png" style="max-width: 559px; max-height: 499px; width: 100%;">
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-3">
                    <div class="icon pos2"></div>
                </div>
                <div class="col-xs-9">
                    <h3>{% trans %}Easy Integration{% endtrans %}</h3>
                    <p>{% trans %}All the Zerved app needs is information about your existing categories, products and variants - while your POS system needs information about the mobile orders ticking in from the Zerved platform.{% endtrans %}</p>
                    <p>{% trans %}This way you accept mobile orders without disrupting your existing sales flow.{% endtrans %}</p>
                    <p>{% trans %}Depending on the flexibility of the existing POS system, some features may not be supported.{% endtrans %}</p>
                    <p><em>{% trans %}Any solution will depend on the existing POS system and the opportunities offered by the POS manufacturer. The integration may incur additional charges for the merchant.{% endtrans %}</em></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>{% trans %}Hear More About The Possibilities{% endtrans %}</h3>
                <p>{% trans %}Contact us today and let us analyse your existing order flow.{% endtrans %}</p>
                <p>{% trans %}Order flows may vary greatly across businesses and industries. We are aware of this and want the best possible solution for every merchant using Zerved.{% endtrans %}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <a href="/contact" class="btn btn-success btn-large btn-block">{% trans %}Contact us now!{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}