{% extends "front/subpage-merchants.html" %}
{% block title %}Modtag betaling med Paii i Zerved{% endblock %}
{% block description %}Læs om Zerveds integration til Paii som betalingsmiddel.{% endblock %}
{% block subpage_content %}    
<div class="section">
    <div class="row text-center">
		<h1>Paii betalingsmiddel</h1>
		<p class="lead">Med Zerved og Paii er kreditkortet overflødigt.</p>
        <img src="/front/img/paii.jpg" style="margin:0 0 20px 0; width:100%; max-width:840px;">
        <p class="lead">Vælg Paii i <strong>Zerved App</strong> - Godkend med pinkode i <strong>Paii</strong> - Nyd bestillingen.<br /><em>- helt uden at have betalingskortet oppe af lommen.</em></p>
        
    </div>
	<div class="row">
        <div class="col-md-12 well">
            <h3 style="margin-top:0;">Om Paii</h3>
            <ul>
                <li>Paii er skabt af de fire mobilselskaber <a href="http://tdc.dk/paii/">TDC</a>, <a href="http://www.telenor.dk/privat/mobilabonnementer/mobilabonnementer/services/paii/">Telenor</a>, <a href="http://nyheder.telia.dk/2014/02/19/paii-mobilbetaling-for-alle/">Telia</a> og <a href="http://www.3.dk/l/paii/">3</a>.</li>
                <li>Paii er en digital pung på mobilen, så man slipper for plastikkortet, når man handler på nettet eller i apps som Zerved.</li>
                <li>Man kan også overføre penge til andre.</li>
                <li>Understøtter VISA/Dankort, MasterCard, VISA Electron og Maestro.</li>
            </ul>
        </div>
    
    	<div class="col-md-6">
            <h3>Glem alt om kortnummer, udløbsdato og sikkerhedskode</h3>
            <p>Zerved-brugere, der allerede benytter Paii, kan med et enkelt tryk godkende deres betaling <i>uden</i> at skulle finde kreditkortet frem.</p>
            <p>Efter bestilling i Zerved føres kunden over i Paii app&rsquo;en og godkender med en personlig 4-cifret PIN-kode.</p>
            <p>Det er hurtigt, nemt og sikkert - og kunden undgår altså at skulle taste de 23 cifre fra et betalingskort.</p>
        </div>
        <div class="col-md-6">
            <h3>Fordele ved Paii</h3>
            <ul>
                <li>Giver et hurtigt og nemt check-out-flow, og kunden undgår at skulle taste de 23 cifre fra et kreditkort.</li>
                <li>Kan anvendes fra mere end 7 millioner danske SIM-kort.</li>
                <li>Sikrer høj grad af sikkerhed med NemID brugervalidering og CPR-tjek under sign-up.</li>
            </ul>
			<div class="row text-center">
			<a href="https://www.paii.dk/" class="btn btn-primary btn-large" target="_blank">Tilmeld dig Paii her</a>
			</div>
        </div>
    </div>
	<div class="row">
    	<div class="col-md-12 text-center">
			<p class="lead">Med Zerved og Paii bliver det ganske enkelt ikke nemmere at bestille og betale med mobiltelefonen.</p>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="row">
                <a href="/contact" class="btn btn-success btn-large btn-block">Kontakt os her!</a>
            </div>
		</div>
	</div>
     
{% endblock %}