<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Zerved{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/merchants/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/styles.css?v=1" type="text/css" media="screen" charset="utf-8"/>
    
	<link rel="stylesheet" href="/merchants/css/bootstrap.min.css" type="text/css" media="print" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/print.css" type="text/css" media="print" charset="utf-8"/>
    
    <link rel="stylesheet" href="/merchants/css/datepicker.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/merchants/css/introjs.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/admin.js" type="text/javascript" charset="utf-8"></script>
    <script src="/merchants/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/merchants/js/intro.js"></script>
	{% block head_additional %}{% endblock %}
</head>
<body>
    
<script type="text/javascript">
// Fix for bootstrap dropdown in Mobile Safari
// https://github.com/twitter/bootstrap/issues/4550#issuecomment-8525357
$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
</script>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><img src="/front/img/zerved_white.png" style="width:86px; height:19px;" /></a>
      		<div class="nav-collapse collapse">
                <ul class="nav">
                    {% if users.is_current_user_admin() %}
                    <li class="dropdown{% if active_module in ['merchant', 'settlements'] %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Administration{% endtrans %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li{% if active_module == 'merchant' %} class="active"{% endif %}><a href="{{ uri_for('merchant-list') }}">{% trans %}Merchants{% endtrans %}</a></li>
                            <li{% if active_module == 'settlements' %} class="active"{% endif %}><a href="{{ uri_for('settlements') }}">{% trans %}Settlements{% endtrans %}</a></li>
                            <li{% if active_module == 'pricetiers' %} class="active"{% endif %}><a href="{{ uri_for('pricetiers-edit') }}">{% trans %}Default Prices{% endtrans %}</a></li>
                            <li{% if active_module == 'orders' %} class="active"{% endif %}><a href="{{ uri_for('list-orders') }}">{% trans %}Orders{% endtrans %}</a></li>
                            <li{% if active_module == 'news' %} class="active"{% endif %}><a href="{{ uri_for('news-list') }}">{% trans %}News{% endtrans %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if user_merchant %}
                    <li{% if active_module == 'dashboard' %} class="active"{% endif %}><a href="{{ uri_for('dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
                    <li class="dropdown{% if active_module in ['taxclass', 'location', 'bar'] %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Account{% endtrans %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">{% if user_merchant %}{{ user_merchant.name }}{% endif %}</li>
                            <li><a href="{{ uri_for('profile-edit') }}">{% trans %}Edit Profile{% endtrans %}</a></li>
                            <li{% if active_module == 'location' or active_module == 'bar' %} class="active"{% endif %}><a href="{{ uri_for('location-list') }}">{% trans %}Locations &amp; Bars{% endtrans %}</a></li>
                            <li{% if active_module == 'taxclass' %} class="active"{% endif %}><a href="{{ uri_for('taxclass-list') }}">{% trans %}Tax Classes{% endtrans %}</a></li>
                            <li{% if active_module == 'menupreview' %} class="active"{% endif %}><a href="{{ uri_for('menupreview') }}">{% trans %}Menu Preview{% endtrans %}</a></li>
                            <li><a href="{{ uri_for('pricetiers-view') }}">{% trans %}Price List{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">{{ users.get_current_user().email() }}</li>
                            <li><a href="{{ uri_for('user-merchants') }}">{% trans %}Switch Account{% endtrans %}</a></li>
                            <li><a href="{{ users.create_logout_url(uri_for('product-list', group='menu')) }}">{% trans %}Log Out{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_module in ['category', 'product', 'menu', 'menupreview', 'ticket', 'pricerule', 'schedule'] %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Catalogue{% endtrans %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li{% if active_module == 'menu' %} class="active"{% endif %}><a href="{{ uri_for('menu-list') }}">{% trans %}Menu Cards{% endtrans %}</a></li>
                            <li id="li-menu-categories"><a href="{{ uri_for('category-list', group='menu') }}">{% trans %}Menu Categories{% endtrans %}</a></li>
                            <li id="li-menu-items"><a href="{{ uri_for('product-list', group='menu') }}">{% trans %}Menu Items{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li id="li-ticket-categories"><a href="{{ uri_for('category-list', group='entrance') }}">{% trans %}Ticket Categories{% endtrans %}</a></li>
                            <li id="li-tickets"><a href="{{ uri_for('product-list', group='entrance') }}">{% trans %}Tickets{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li{% if active_module == 'schedule' %} class="active"{% endif %}><a href="{{ uri_for('schedule-list') }}">{% trans %}Weekly Schedules{% endtrans %}</a></li>
                            <li{% if active_module == 'pricerule' %} class="active"{% endif %}><a href="{{ uri_for('pricerule-list') }}">{% trans %}Price Rules{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_module in ['event'] %} active{% endif %}">
                        <a href="{{ uri_for('event-list') }}">{% trans %}Events{% endtrans %}</a>
                    </li>
                    <li class="dropdown{% if active_module in ['revenue', 'invoice'] %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Sales{% endtrans %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li{% if active_module == 'productsopen' %} class="active"{% endif %}><a href="{{ uri_for('productsopen') }}">{% trans %}Open Product Sales{% endtrans %}</a></li>
                            <li{% if active_module == 'productssold' %} class="active"{% endif %}><a href="{{ uri_for('productssold') }}">{% trans %}Completed Product Sales{% endtrans %}</a></li>
                            <li{% if active_module == 'revenue' %} class="active"{% endif %}><a href="{{ uri_for('revenue') }}">{% trans %}Daily Revenue{% endtrans %}</a></li>
                            <li{% if active_module == 'invoices' %} class="active"{% endif %}><a href="{{ uri_for('invoice-list') }}">{% trans %}Settlements{% endtrans %}</a></li>
                            <li{% if active_module == 'orders' %} class="active"{% endif %}><a href="{{ uri_for('list-merchant-orders') }}">{% trans %}Orders{% endtrans %}</a></li>
                        </ul>
                    </li>
                    {% if user_merchant.has_bars %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Process Orders{% endtrans %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% set multiple_locations = user_merchant.get_locations()|length > 1 %}
                            {% for location in user_merchant.get_locations() %}
                            {% for bar in location.get_bars() %}
                            <li><a href="{{ uri_for('serve', bar_id=bar.key().id()) }}">{{ bar.name_with_location if multiple_locations else bar.name }}</a></li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ available_languages[current_language] }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for locale_code, locale_name in available_languages.items() %}
                            <li{% if locale_code == current_locale %} class="active"{% endif %}><a href="?lang={{ locale_code }}">{{ locale_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% for flash, level in flashes %}
    <div class="alert alert-{{ level }}">{{ flash }}</div>
    {% endfor %}

{% block content %}{% endblock %}
</div>

<script type="text/javascript">
$('.dropdown-toggle').dropdown();
var intro;
function loadAndStartTutorial(url) {
    intro = introJs();
    intro.setOptions({
        showStepNumbers: false,
        nextLabel: "{%trans%}Next{%endtrans%} &rarr;",
        prevLabel: "&larr; {%trans%}Previous{%endtrans%}",
        skipLabel: "{%trans%}Skip{%endtrans%}",
        doneLabel: "{%trans%}Done{%endtrans%}",
    });
    $.getJSON(url, function(json) {
        intro.setOptions({steps: json});
    }).done(function() {
        intro.start();
    });
}
</script>

</body>
</html>
