<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Zerved {% trans %}Error{% endtrans %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/merchants/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/bootstrap-responsive.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/styles.css" type="text/css" media="screen" charset="utf-8"/>
	<link href="//fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/admin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container">
    <div class="alert">{{ message }}</div>
</div>

</body>
</html>
