{#
    Form control
    Use this macro to render a standard form element in an edit page
    
    field: The form field
    prepend: Text label before input field
    append: Text label after input field
    help: Help text
    Additional keyword arguments: Will be added as parameters to the input element
#}
{% macro control(field, prepend=None, append=None, help=None) -%}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class="control-label") }}
    <div class="controls">
        <div class="input {% if prepend %}input-prepend{% endif %}{% if append %} input-append{% endif %}">
        {% if prepend %}<span class="add-on">{{ prepend }}</span>{% endif %}{{ field(**kwargs) }}{% if append %}<span class="add-on">{{ append }}</span>{% endif %}
        </div>
        {% if field.errors %}
        <span class="errors help-inline">{% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% else %}
            {% if help %}
            <span class="help-inline">{{ help }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}