<div class="pagination pagination-{{ alignment }}">
    <ul>
        {# Previous #}
        {% if page == 1 %}
        <li class="disabled"><a href="#">«</a></li>
        {% else %}
        <li><a href="?page={{ page-1 }}">«</a></li>
        {% endif %}
        
        {# Pages current +/- 2 #}
        {% for i in pages %}
        <li{% if page == i%} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        
        {# Next #}
        {% if page == query.page_count() %}
        <li class="disabled"><a href="#">»</a></li>
        {% else %}
        <li><a href="?page={{ page+1 }}">»</a></li>
        {% endif %}
    </ul>
</div>
