/*********************************************/
/*		GENERAL AND BOOTSTRAP OVERWRITING 	 */
/*********************************************/

html, body {
	background: rgb(230,230,230);
	font-family: "Lato", sans-serif;
}

body {
	//padding-top:50px;
	font-size:15px;
}
/*
.zerved {
	background-image:url(/front/img/zerved_grey.png);
	background-position:center;
	background-size:100%;
	color:rgba(255,255,255,0);
	background-repeat:no-repeat;
	white-space:nowrap;
	text-shadow:none;
}

h1 .zerved,
h2 .zerved,
h3 .zerved,
h4 .zerved,
h5 .zerved,
.sign-up .zerved {
	background-image:url(/front/img/zerved_blue.png);
}

.footer .zerved,
.dropdown-menu > li > a:hover .zerved, .dropdown-menu > li > a:focus .zerved {
	background-image:url(/front/img/zerved_white.png);
}

.footer .zerved {
	opacity:0.7;
}

.footer a:hover .zerved {
	opacity:1;
}
*/
.navbar-brand {
	height: 50px;
	padding:11px 15px 16px 15px;
}

.navbar-brand img {
	width: 102px;
	height: 22px;
}

.large {
	font-size: 30px;
}

.blue, h1, h2, h3, h4, h5 {
	color: rgb(0, 135, 202);
}

h1, h2, h3, h4, h5 {
	font-family: "Lato", sans-serif;
	font-weight: 200;
}

p, ul, ol {
	color: #555;
}

blockquote p {
	font-size:inherit;
}

.btn {
	font-size:18px;
	font-weight:100;
}

.btn-primary {
	background-color: #0088cc;
}

.btn-success {
	background-color: #4cd964;
}

.btn-primary, .btn-success {
	border: none;
}

.form-control:not(select) {
    border-radius: 0px;
    padding: 6px 4px;
    border: solid 1px #0088cc;
    margin: 0 auto 5px auto; 
	-webkit-appearance: none;
}

.form-control:active,
.form-control:focus {
	border: solid 1px #32B6E6;
}

.icon-apple.icon-white,
.icon-android.icon-white {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("/front/img/market-sprite.png") no-repeat;	
}

.icon-apple.icon-white {
	background-position:0 0;
}

.icon-android.icon-white {
	background-position:-25px 0;
}

/*********************************************/
/* 					ICONS 					 */
/*********************************************/

.icon.more-buying-customers {
	background: url('/front/img/icon_front_sprite.png') no-repeat -129px 0;
	background-size: 319px 88px;
	width: 44px;
	height: 44px;
}

.icon.work-capacity {
	background: url('/front/img/icon_front_sprite.png') no-repeat -176px 0;
	background-size: 319px 88px;
	width: 52px;
	height: 44px;
}

.icon.optimized-order-handling {
	background: url('/front/img/icon_front_sprite.png') no-repeat -232px 0;
	background-size: 319px 88px;
	width: 40px;
	height: 44px;
}

.icon.customer-service {
	background: url('/front/img/icon_front_sprite.png') no-repeat -275px 0;
	background-size: 319px 88px;
	width: 44px;
	height: 44px;
}

.icon.no-queue {
	background: url('/front/img/icon_front_sprite.png') no-repeat 0 -2px;
	background-size: 478px 131px;
	width: 70px;
	height: 61px;
}

.icon.easy-payment {
	background: url('/front/img/icon_front_sprite.png') no-repeat -76px -3px;
	background-size: 478px 131px;
	width: 31px;
	height: 60px;
	margin-left:35%;
}

.icon.fast-delivery {
	background: url('/front/img/icon_front_sprite.png') no-repeat -115px -3px;
	background-size: 478px 131px;
	width: 71px;
	height: 60px;
}

.icon.app {
	background: url('/front/img/icon_front_sprite.png') no-repeat 0 -66px;
	background-size: 478px 131px;
	width: 65px;
	height: 65px;
}

.icon.order-management {
	background: url('/front/img/icon_front_sprite.png') no-repeat -68px -68px;
	background-size: 478px 131px;
	width: 76px;
	height: 60px;
}

.icon.admin {
	background: url('/front/img/icon_front_sprite.png') no-repeat -145px -68px;
	background-size: 478px 131px;
	width: 76px;
	height: 60px;
}

.icon.pos1 {
	background: url('/front/img/icon_front_sprite.png') no-repeat -223px -67px;
	background-size: 478px 131px;
	width: 71px;
	height: 62px;
}

.icon.pos2 {
	background: url('/front/img/icon_front_sprite.png') no-repeat -297px -67px;
	background-size: 478px 131px;
	width: 77px;
	height: 62px;
}




/*********************************************/
/* 					NAVBAR 					 */
/*********************************************/

.navbar-zerved {
	background: rgba(244,244,244,0.9);
	border-bottom: none;
	padding-right: 0;	
	z-index: 300;
}

.navbar-zerved a,
.dropdown-menu > li > a {
	font-weight:200;
	font-size:14px;	
}

.navbar-zerved, .navbar-form, .navbar-collapse {
	padding-right: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:transparent;
} 

.navbar .dropdown.download > a,
.navbar .dropdown.merchant-admin > a {
	color: white;
	border-radius: 5px;
	padding: 9px;
	line-height: 14px;
	margin-top: 0;
}

.navbar .dropdown.download > a,
.navbar-default .navbar-nav > li.download > a:focus {
	background-color: #4cd964;
	color: white;
}

.navbar .dropdown.merchant-admin > a,
.navbar-default .navbar-nav > li.merchant-admin > a:focus {
	background-color: #0088cc;
	color: white;
}

.navbar .dropdown.download > a:hover,
.navbar-default .navbar-nav > .open.dropdown.download > a,
.navbar-default .navbar-nav > .open.dropdown.download > a:hover,
.navbar-default .navbar-nav > .open.dropdown.download > a:focus {
	color: white;
	background-color: #47a447;
}

.navbar .dropdown.merchant-admin > a:hover,
.navbar-default .navbar-nav > .open.dropdown.merchant-admin > a,
.navbar-default .navbar-nav > .open.dropdown.merchant-admin > a:hover,
.navbar-default .navbar-nav > .open.dropdown.merchant-admin > a:focus {
	color: white;
	background-color:#3276b1;
}

.navbar-default .navbar-nav > .dropdown.download > a .caret,
.navbar-default .navbar-nav > .dropdown.download.open > a .caret,
.navbar-default .navbar-nav > .dropdown.download > a .caret:hover,
.navbar-default .navbar-nav > .dropdown.download:hover > a .caret,
.navbar-default .navbar-nav > .dropdown.merchant-admin > a .caret,
.navbar-default .navbar-nav > .dropdown.merchant-admin.open > a .caret,
.navbar-default .navbar-nav > .dropdown.merchant-admin > a .caret:hover,
.navbar-default .navbar-nav > .dropdown.merchant-admin:hover > a .caret {
  	border-top-color: white;
  	border-bottom-color: white;
}

@media (max-width: 1200px) {
	#nav-triangle {	
		display:none;
	}
}

@media (min-width: 768px) {
	.navbar-collapse form .navbar-nav.navbar-right:last-child {
	margin-right: 0px;
	}
}


/*********************************************/
/* 					SECTIONS	 			 */
/*********************************************/

.section {
	float:left;
	width:100%;
}

.section.white {
	background: #fff;
}

.section.download {
	display: none;
	padding-top: 100px;
	margin-bottom: 50px;
}

.section.download.download-page {
	display:block;
	padding-top: 200px;
	margin-bottom: 200px;
}

.section.download a,
.section.download.download-page a {
	margin: 0px 10% 15px;
	width: 80%;
}




/*********************************************/
/* 					LANDING		 			 */
/*********************************************/

.section.landing {
	padding-top: 50px;
	position: relative;
	height: 350px;
	/*background: url(/front/img/featurebanner.jpg) no-repeat center center;
	background: linear-gradient(to bottom, white 75%, #DFDFDF 100%);*/
	background: linear-gradient(to bottom, white 50%, rgb(146,204,233) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#92cce9')";
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#frontpage-slogan {
	width:478px;
	height:75px;
	position: absolute;
	top: 40px;
	left: 15px;
}

#feature-pic {
	position: absolute;
	right: 40px;
	top: 8px;
}

#feature-pic2 {
	background: url(/front/img/feature_pic2.png) no-repeat 0 0;
	width:1008px;
	height: 320px;
	background-size: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

#feature-pic3 {
	background: url(/front/img/feature_pic3.png) no-repeat 0 0;
	width: 512px;
	height: 280px;
	background-size: 100%;
	position: absolute;
	right: 15px;
	bottom: 0;
}

#feature-pic4 {
	background: url(/front/img/feature_pic4.png) no-repeat 0 0;
	width: 630px;
	height: 280px;
	background-size: 100%;
	position: absolute;
	right: 40px;
	bottom: 0;
}

#feature-pic5 {
	background: url(/front/img/feature_pic5.png) no-repeat 0 0;
	width: 498px;
	height: 280px;
	background-size: 100%;
	position: absolute;
	right: 15px;
	bottom: 0;
}

#slogan {
	position: absolute;
	top: 140px;
	left: 15px;
	font-size: 22px;
	width: 380px;
	line-height: 1.3em;
}

#slogan p {
	color: black;
}

.section.landing .market-logos {
	position: absolute;
	height: 25px;
	width:175px;
	left: 15px;
	bottom: 43px;
}

.section.landing .market-logo {
	float:left;
	display: block;
	background: url(/front/img/market-logos.png) no-repeat 0 0;
	background-size: 170px 25px;
	width: 85px;
	height: 25px;
}

.section.landing .market-logo.app-store {
	background-position: -85px 0;	
	margin-right:5px;
}

.section.landing .container {
	position:relative;
	height: 300px;
}



/*********************************************/
/* 					VIDEO BTN	 			 */
/*********************************************/

.section.btn-video {
	height:50px;
	text-align: center;

}

#btn-video {
	height:100px;
	width:100px;
	margin-bottom: -50px;
	background:	 url(/front/img/featureplaybutton_sprite.png) no-repeat 0px center; 
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom:0;
	background-size:200%;
	z-index: 100;
}

#btn-video:hover {
	background-position: -100px center;
}

/*********************************************/
/* 				VIDEO + OVERLAY 			 */
/*********************************************/

#overlay {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index: 9999999;
	background: rgba(0,0,0,0.4);
	background: -webkit-radial-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.8));
	background: -moz-radial-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.8));
	background: -o-radial-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.8));
	background: radial-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.8));
}


.iframe-container {
	left: 50%;
    margin-left: -320px;
    position: absolute;
	top:50%;
	margin-top:-240px;
}

.close-btn {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	color: #fff;
	background: #000;
	border-radius: 30px;
	text-align:center;
	font-size: 30px;
	line-height: 23px;
	font-weight:bold;
	border: solid 2px #fff;
	cursor:pointer;
}




/*********************************************/
/* 				FEATURED VENUES	 			 */
/*********************************************/

.section.featured-venues {
	height: 314px;
	padding-bottom: 80px;
}

.section.featured-venues .venues-container{
	z-index: 0;
	position:relative;
	width:100%;
	height:314px;
}

.section.featured-venues .venues-container h4{
	position:absolute;
	top: 30px;
	left: 20px;
}

.section.featured-venues .venues-container .venues-shadow {
	position: absolute;
	top: 0;
	width:8px;
	height:100%;
	background: url(/front/img/end_shadow_feature_sprite.png) no-repeat;
}

.section.featured-venues .venues-container .venues-shadow.left {
	left: -7px;
	background-position: left center;
}

.section.featured-venues .venues-container .venues-shadow.right {
	right: -7px;
	background-position: right center;
}

.section.featured-venues .venues-container .venues-images {
	position:absolute;
	top: 97px;
	height: 160px !important;
	left: 0;
	right:0;
	width: 100% !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.section.featured-venues .venues-container .venues-images ul {
	list-style:none;
	width: 100%;
	margin: 0;
	padding:0;
}

.section.featured-venues .venues-container .venues-images ul li {
	float:left;
	width: 100%;
	margin: 0;
	padding:0;
	text-align:center;
}

.section.featured-venues .venues-container .venues-images ul li img{
	margin: 0px 9px;
}

.section.featured-venues .venues-container .venues-images ol.dots {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.section.featured-venues .venues-container .venues-images ol.dots  {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
}

.section.featured-venues .venues-container .venues-images ol.dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid rgb(0, 135, 202);
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.section.featured-venues .venues-container .venues-images ol.dots li.active {
	background: rgb(0, 135, 202);
	opacity: 1;
}




/*********************************************/
/* 				HOW IT WORKS	 			 */
/*********************************************/

.section.how-it-works h1 {
	margin-bottom: 30px;
}

.section.how-it-works p {
	float:left;
}

.section.how-it-works > .container {
	/*margin-top:50px;	*/
}

/*********************************************/
/* 					WHY ZERVED	 			 */
/*********************************************/

.section.why-zerved .row {
	margin: 100px 0 0 0;
}

.section.why-zerved .row h1 {
	margin-top:0;
}

.section.download-btns {
	background: #fff;
}

.section.download-btns .row {
	margin-top: 25px;
	margin-bottom: 70px;
}




/*********************************************/
/* 					FOOTER	 			 	 */
/*********************************************/

.section.footer {
	background: rgb(47, 178, 227);
	padding: 25px 0px 10px;
	color: #c1e8f7;
	font-weight: 100;
	font-size: 13px;
}

.section.footer a,
.section.footer p {
	color: #c1e8f7;
}

.section.footer a:hover {
	text-decoration: none;
	color: #fff;
}

.section.footer .partners {
	margin-bottom: 50px;
}

.section.footer h4 {
	margin-bottom: 70px;
	color:white;
}

.section.footer .partners a {
	display:inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.section.footer .partners a img {
	width:102px;
	height:65px;
}

.section.footer .partners a:last-child img {
	margin-right: 0px;
}

.section.footer .separator {
	float:left;
	width:100%;
	height:1px;
	background: rgba(240,240,240, 0.7);
	margin: 10px 0px;
}

.section.footer .social-icon {
	display:inline-block;
	height: 24px;
	width: 24px;
	border-radius: 24px;
	background: url(/front/img/socialfooter_sprite.png) no-repeat 0px center; 
	opacity: 0.7;
}

.section.footer .social-icon:hover {
	opacity: 1;
}

.section.footer .social-icon,
.section.footer .social-icon:hover {
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
}

.section.footer .social-icon.facebook {
	background-position: 0px center;
}

.section.footer .social-icon.twitter {
	background-position: -26px center; 
}

.section.footer .right-icons {
	height: 24px;
}

.section.footer .payment-logos {
	height: 24px;
	margin: -19px 5px 0px 0px;
}





/*********************************************/
/* 				SUBPAGE LAYOUT 			 	 */
/*********************************************/

.row.row-subpage {
	margin: 100px 0px 50px ;
	background: #fff;
	box-shadow: 0px 0px 16px rgba(120, 120, 120, 0.1);
	position: relative;
}

.row.row-subpage .nav-menu {
	position: absolute;
	left: 0;
	top:0;
	height: 100%;
	padding: 0;
	margin: 0;
	border-right: #dedede 1px solid;
	background: rgb(240, 240, 240);
}

.row.row-subpage ul.menu {
	width:100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.row.row-subpage ul.menu li a{
	float:left;
	width:100%;
	min-height: 40px;
	line-height: 40px;
	border-bottom: #dedede 1px solid;
	padding: 0px 15px;
	color: #aaa;
	font-weight: 200;
	overflow:hidden;
}

.row.row-subpage ul.menu li a:hover{
	text-decoration: none;
	color: #555;
}

.row.row-subpage ul.menu li a,
.row.row-subpage ul.menu li a:hover{
	transition: color .2s;
}

.row.row-subpage ul.menu li.active a{
	background: #fff;
	font-weight: 300;
	color: #555;
	width: 101%;
}

.row.row-subpage .subpage-content {
	background:#fff;
}

.row.row-subpage .subpage-content .row {
	margin: 30px 0px;
}





/*********************************************/
/* 					FAQ 					 */
/*********************************************/

.panel-group {
	margin-bottom:-1px;	
}

.panel-title span.glyphicon {
	top: 0;
	font-weight: 100;
	font-size: 12px;
}

.panel-heading, .panel-group .panel {
	border-radius: 0px;
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}





/*********************************************/
/* 					NEWS 					 */
/*********************************************/

.news-entry {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: solid 1px rgb(213, 213, 213);
}

.news-entry:last-child {
	border:none;
	margin-bottom:0;
}

.news-entry h1{
	margin-top: 0px;
}

span.news-date {
	color: rgb(180,180,180);
	font-size: 18px;
	font-weight: 100;
}





/*********************************************/
/* 					CONTACT 				 */
/*********************************************/

#contactform {
	min-height:500px;
}

#row-mediakit h3, #row-mediakit h4 {
	margin-top:10px;
}

#row-mediakit img {
	margin:0 5px 5px 0;
	width:100px;
}

/*********************************************/
/* 					SIGN UP 				 */
/*********************************************/

.container.sign-up {
	margin: 150px auto;
}

.container.sign-up div.col-md-4.col-md-offset-4:first-child {
	padding-left: 0;
	margin-bottom: 40px;
}

.sign-up-box {
	background: #fff;
	border-radius : 4px;
	padding: 20px;
	box-shadow: 0px 2px 16px rgba(60,60,60,0.1);
	border: solid 1px rgb(200,200,200);
}

.container.sign-up #back {
	vertical-align: -10%;
	margin-right: 10px;
	color: rgb(200,200,200);
}

.container.sign-up #back:hover {
	cursor:pointer;
	color:inherit;
	transition: color .2s;
}

.container.sign-up #back,
.container.sign-up #back:hover {
	transition: color .2s;
}

.container.sign-up .col-md-6:first-child {
	padding-left: 0;
	padding-right: 0;
}

.container.sign-up .col-md-6:last-child {
	padding-right: 0;
}





/*********************************************/
/* 					RESPONSIVE 				 */
/*********************************************/

@media (max-width: 1200px) {

	.row.row-subpage {
		margin-top: 100px;
	}

	.nav > li > a {
		font-size: 14px;
		padding-left: 0px;
	}
	#feature-pic2 {
		width: 880px;
		height: 292px;
		right: 0;
		top: 8PX;
	}
	.section.how-it-works p.lead {
		font-size:17px;
	}
}

@media (max-width: 991px) {
	.container.sign-up .col-md-6:first-child {
		padding-left: 0;
		padding-right: 0;
	}

	.container.sign-up .col-md-6:last-child {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}

	.row.row-subpage .nav-menu {
		float:left;
		height: auto;
		position:relative;
	}

	.row.row-subpage ul.menu li.active a{
		width: 100%;
	}

	.row.row-subpage {
		margin-top: 100px;
	}

	.footer .partners, .footer .separator {
		display: none;
	}

	.footer .pull-left a {
		display: block;
	}

	form h4 {
		font-size: 16px;
	}
	.navbar-form {
		margin-top: 10px;
	}

	.navbar-form .btn {
		font-size: 12px;
	}
	#feature-pic5 {
		width: 425px;
		height: 239px;
	}
	#frontpage-slogan {
		width:370px;
		height:58px;
	}
	#slogan {
		font-size: 18px;
		width:290px;
	}
	.section.how-it-works p.lead {
		font-size:15px;
	}
}

@media (min-width: 767px) and (max-width: 991px) {

	.row.row-subpage {
		margin-top: 100px;
	}
	
	.subpage-content {
		width: 100%;
	}
	.nav > li > a {
		font-size: 11px;
		padding-left: 0px;
	}
	.navbar-brand img {
		width: 57px;
		height: 13px;
	}
}

@media (max-width: 767px) {
	.row.row-subpage {
		margin-top: 100px;
	}

	.row.row-subpage .nav-menu {
		float:left;
		height: auto;
		position:relative;
		width:100%;
	}

	.row.row-subpage ul.menu li.active a{
		width: 100%;
	}

	.subpage-content {
		float:left;
		width: 100%;
	}

	.row.row-subpage {
		margin: 0;
		margin-top: 50px;
	}
	.section .container {
		padding: 0;
	}

	.section.footer {
		padding: 25px 0px;
		/*position:fixed;
		bottom: 0;*/
	}

	.section.footer .payment-logos {
		height: 16px;
	}

	.section.footer .container {
		padding: 0px 15px;
	}

	.landing, .btn-video, .featured-venues, .how-it-works, .why-zerved, .download-btns {
		display: none;
	}

	.section.download {
		display:block;
		min-height:400px;
	}
	.section.download .container .row {
		margin:0;
	}
	.nav > li {
		margin-left:15px;
	}
}

/*********************************************/
/* 					FACEBOOK 				 */
/*********************************************/

.fb_download .btn {
	width:150px;
}