body {
	padding:0;
	background:white;
}

.signupnow {
	display:none;
}

.navbar, #display-wrapper, .subnav, .footer {
	display:none;
}

.phone_download {
	float:left;
}

.phone_download:first-child {
	margin-right:100px;
}

.konkurrence-april {
	background:transparent url(/front/img/fb-contest-april/konkurrence-april.jpg);
	width:760px;
	height:800px;
	position:relative;
	margin:auto;
}

.konkurrence-april.fangate {
	background:transparent url(/front/img/fb-contest-april/konkurrence-april-fangate.jpg);
}

.container {
	margin:0;
	width:100%;
}

form#contest-april, #thankyou {
	width:350px;
	position:absolute;
	top:200px;
	left:380px;
	margin-left:-175px;
}

label {
	margin:30px 0;
}

input[type=text] {
	font-size:22px;
	line-height:22px;
	height:inherit;
}