#feature-pic2 {
	background: url(/front/img/feature_pic2_IE.png) no-repeat 0 0;
}

#btn-video {
	background:	 url(/front/img/featureplaybutton_sprite_IE.png) no-repeat 0px center; 
}

.icon.more-buying-customers {
	background: url('/front/img/icon_front_sprite_IE_small.png') no-repeat -130px 0;
}

.icon.work-capacity {
	background: url('/front/img/icon_front_sprite_IE_small.png') no-repeat -176px 0;
}

.icon.optimized-order-handling {
	background: url('/front/img/icon_front_sprite_IE_small.png') no-repeat -234px 0;
}

.icon.customer-service {
	background: url('/front/img/icon_front_sprite_IE_small.png') no-repeat -277px 0;
}

.icon.no-queue {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat 0 -2px;
}

.icon.easy-payment {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -76px -3px;
}

.icon.fast-delivery {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -115px -3px;
}

.icon.app {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat 0 -66px;
}

.icon.order-management {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -68px -68px;
}

.icon.admin {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -145px -68px;
}

.icon.pos1 {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -223px -67px;
}

.icon.pos2 {
	background: url('/front/img/icon_front_sprite_IE.png') no-repeat -297px -67px;
}

.section.landing .market-logo {
	background: url(/front/img/market-logos_IE.png) no-repeat 0 0;
}