@media (max-width: 767px) {
#contactform textarea {
	width:97%;
}
body {
		background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #dde3e7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#dde3e7));
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#dde3e7 100%);
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#dde3e7 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#dde3e7 100%);
	background: radial-gradient(ellipse at center,  #ffffff 0%,#dde3e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dde3e7',GradientType=1 );
}
.navbar-fixed-top .brand {
	float: left;
}
}

@media (max-width: 979px) and (min-width: 768px) {
body {
	padding-top: 0px;
}
.navbar-fixed-top {
	position: absolute;
	z-index:10;
	margin-bottom: 0;
}
#display-wrapper {
	display:none;
}
#contactform textarea {
	width:425px;
	height:100px;
}
#contactform .span3 {
	margin-left: 0;
}
.navbar-fixed-top .brand {
	float: left;
}
.btn.login-btn {
	top: 41px;
	z-index:-10;
	transition:none;
	-moz-transition:none; /* Firefox 4 */
	-webkit-transition:none; /* Safari and Chrome */
	-o-transition:none; /* Opera */
}
.section .row:first-child .lead,
.advantages .lead	 {
	font-size: 18px;
	line-height: 24px;
	margin-top:0;
}
.frontpic, .frontpic-da, .frontpic-da-ie8 {
	height:364px;
}
.advantages h3 {
	font-size: 20px;
	line-height: 25px;
}

.ill.feature1 {
	background: url('/front/img/feature01.png') no-repeat 0 0;
	width: 410px;
	margin:0;
	position:absolute;
	right:1px;
}

.ill.feature2 {
	background: url('/front/img/feature02.png') no-repeat -167px 0;
	width: 470px;
}
.ill.feature3 {
	background: url('/front/img/feature03.png') no-repeat 0 0;
	width: 380px;
	right:1px;
}

.overview .ill.feature1 {
	width: 360px;
}

.overview .ill.feature2 {
	background: url('/front/img/feature02_overview.png') no-repeat -457px 0;
}

.overview .ill.feature3 {
	background: url('/front/img/feature03_overview.png') no-repeat 496px 0;
}

.pos .ill.feature1 {
	width:325px;
}

.pos .ill.feature2 {
	background: url('/front/img/feature02_pos.png') no-repeat -142px 0;
	margin-left:-18px;
}

.no-queue-text-wrapper {
	margin-top: 30px;
}

.ill {
	width: 216px;
	height: 274px;
}
.bs-docs-sidenav {
	width: 228px;
}
.signupnow {
	top:51px;
	z-index:0;
}
.frontpic ul,
.frontpic-da ul,  
.frontpic-da-ie8 ul  {
font-size: 21px;
}
.container > .section > .row h1:first-child {
	margin-top:80px;
}
}
/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
.subnav-fixed {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-color: #d5d5d5;
	border-width: 0 0 1px; /* drop the border on the fixed edges */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	   -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
			box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
.subnav-fixed .nav {
	width: 938px;
	margin: 0 auto;
	padding: 0 1px;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
-webkit-border-radius: 0;
   -moz-border-radius: 0;
		border-radius: 0;
}
.frontpic, .frontpic-da, .frontpic-da-ie8 {
	height:442px;
}
.section .row:first-child .lead,
.advantages .lead {
	font-size: 19px;
	line-height: 27px
}
.advantages h3 {
	font-size: 20px;
	line-height: 35px;
}
}

@media (min-width: 1200px) {

/* Update subnav container */
.subnav-fixed .nav {
	width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
}
#contactform textarea {
	width:719px;
	height:100px;
}
.frontpic, .frontpic-da, .frontpic-da-ie8 {
	height:550px;
}
#display-wrapper {
height: 300px;
}
.container.display_wrapper {
height: 300px;
}
.section .row:first-child .lead {
	font-size: 21px;
	line-height: 30px;
}
.ill.feature2 {
	background: url('/front/img/feature02.png') no-repeat 0 0;
}
.ill.feature3 {
	right: 1px;
	background: url('/front/img/feature03.png') no-repeat 0 0;
}

.overview .ill.feature2 {
	background: url('/front/img/feature02_overview.png') no-repeat -280px 0;
}

.overview .ill.feature3 {
	background: url('/front/img/feature03_overview.png') no-repeat 292px 0;
}

.pos .ill.feature1 {
	width: 519px;
	position:inherit;
	margin:0 auto;
}

.pos .ill.feature2 {
	background: url('/front/img/feature02_pos.png') no-repeat 0 0;
}

.advantages h3 {
	font-size: 24.5px;
	line-height: 40px;
}
.icon.more-buying-customers {
	background: url('/front/img/icon_front_sprite.png') no-repeat -193px 0;
	background-size: 478px 131px;
	width: 66px;
	height: 66px;
}

.icon.work-capacity {
	background: url('/front/img/icon_front_sprite.png') no-repeat -263px 0;
	background-size: 478px 131px;
	width: 77px;
	height: 66px;
}

.icon.optimized-order-handling {
	background: url('/front/img/icon_front_sprite.png') no-repeat -348px 0;
	background-size: 478px 131px;
	width: 60px;
	height: 66px;
}

.icon.customer-service {
	background: url('/front/img/icon_front_sprite.png') no-repeat -413px 0;
	background-size: 478px 131px;
	width: 65px;
	height: 66px;
}
.section.well h3 {
	line-height:30px;
}
.bs-docs-sidenav {
	width: 370px;
}
}