@media (max-width: 767px) {
html, body {
	height:100%;
}


/*
body {	
	
	display:-webkit-box;
	display:-moz-box;
	
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
h1, h2, p {
	color:#CBCBCB;
	text-shadow:none;
}*/
.btn-primary {
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
	margin-bottom:30px;
}
}