<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Error</title>
        <meta name = "viewport" content = "initial-scale = 1, user-scalable = no, width = device-width">
            <style type="text/css" media="screen">
                body {
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					width:320px;
					height:100%;
					margin:0;
					padding:0;
					color:#474747;
					text-shadow: 0 1px 0 white;
					-webkit-text-size-adjust:none;
					font-size:15px;
				}
				
				#background {
					position:fixed;
					background-size:100% 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index:-5;
					display: -webkit-box;
					-webkit-box-orient: horizontal;
					-webkit-box-pack: center;
					-webkit-box-align: center;
					background:-webkit-linear-gradient(top, white, #D1D1D1);
					padding:20px;
				}
				
				#background p, a {
					font-size:30px;
					color:#636363;
					text-shadow:0 1px white;
					text-align:center;
					font-weight:bold;
				}
				
				a {
					text-decoration:none;
				}
				
				.btn {
					display: inline-block;
					padding: 0.25em 1em;
					margin-bottom: 0;
					text-align: center;
					vertical-align: middle;
					cursor: pointer;
					background-color: whiteSmoke;
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
					background-image: -webkit-linear-gradient(top, white, #E6E6E6);
					background-image: linear-gradient(top, white, #E6E6E6);
					background-repeat: repeat-x;
					border: 1px solid #CCC;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					border-color: #E6E6E6 #E6E6E6 #BFBFBF;
					border-bottom-color: #B3B3B3;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					}
			</style>
            <script type="text/javascript">
                function app(action, params) {
                    var iframe = document.createElement("IFRAME");
                    iframe.setAttribute("src", "js-frame:"+action+":0:"+encodeURIComponent(JSON.stringify(params)));
                    document.documentElement.appendChild(iframe);
                    iframe.parentNode.removeChild(iframe);
                    iframe = null;
                    return false;
                }
            </script>
    </head>
    <body>
        <div id="background"><p>{{ message }}<br><br><a href="#" class="btn" onclick="app('reload')">Reload</a>
</p>
        </div>
    </body>
</html>