<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Error</title>
        <meta name = "viewport" content = "initial-scale = 1, user-scalable = no, width = device-width">
            <style type="text/css" media="screen">
                body {
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					width:320px;
					height:100%;
					margin:0;
					padding:0;
					color:#474747;
					text-shadow: 0 1px 0 white;
					-webkit-text-size-adjust:none;
					font-size:15px;
				}
				
				#background {
					position:fixed;
					background-size:100% 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index:-5;
					display: -webkit-box;
					-webkit-box-orient: horizontal;
					-webkit-box-pack: center;
					-webkit-box-align: center;
					background:-webkit-linear-gradient(top, white, #D1D1D1);
					padding:20px;
				}
				
				#background p, a {
					font-size:18px;
					color:#636363;
					text-shadow:0 1px white;
					text-align:center;
					font-weight:bold;
				}
				
				#background b {
				    font-size: 30px;
				}
				
				#background .message {
				    color: #999;
				}
                </style>
            </head>
    <body>
        <div id="background">
            <p><b>#{{ queue_number }}</b><br/>{{ location_name }}<br/><br/><span class="message">{{ message }}</span></p>
        </div>
    </body>
</html>