{% extends "iphone/base.html" %}
{% block content %}
{% if categories %}
<ul class="clearfix menu">
    {% for category in categories %}
	<li class="entry category">
        <a href="#" onclick="app('showProducts', {{ {'merchant_id': bar.key().id()|str, 'merchant_name': bar.name, 'category_id': category.key().id()|str, 'category_name': category.name }|quoted_json }});" class="wrapper clearfix">
            <div class="arrow_wrapper">
                <div class="arrow-right shadow"></div>
                <div class="arrow-right"></div>
            </div>
            <h1 class="no_text_overflow">{{ category.name|e }}</h1>
        </a>
    </li>
    {% else %}
    <div id="background" class="transparent">
        {% if group == 'entrance' %}
    	<p>{% trans %}Not possible to buy entrance tickets.{% endtrans %}</p>
        <div class="helptxt"><p>{% trans %}Press the Menu tab...{% endtrans %}</p><div class="arrow-down menu"></div></div>
    	{% elif group == 'menu' %}
    	<p>{% trans %}No menu available.{% endtrans %}</p>
        <div class="helptxt"><p>{% trans %}Press the Entrance tab...{% endtrans %}</p><div class="arrow-down entrance"></div></div>
        {% endif %}
    </div>
    {% endfor %}
</ul>
{% else %}

{% endif %}
<script type="text/javascript">
$(document).ready(function() {
    app('updateCart', {'items': '{{ count_items }}' });
});
</script>
{% endblock %}