*     { background:none !important; text-align:left !important; }
html  { margin:0 !important; padding:0 !important; }
body  { font-size:9pt !important; padding:0 !important; margin:10px !important; }
a     { color:#2976c9 !important; }
th,td { color:#2f2f2f !important;  border-color:#ccc !important; }

.navbar, p.lead, p.lead + .row { display:none !important; }

body {
	background-image:url(/merchants/img/letterhead_uk.jpg) !important; 
	background-size:100% !important; 
	background-repeat:no-repeat !important; 
	width: 100% !important; 
	margin:0px !important;
	height: 850px !important; 
}

.container {
	width: 75% !important; 
	margin-top: 20% !important; 
	height: 100% !important; 
}

h1, h2, .invoice-number .number, h1 small, .invoice-number .title, .invoice-number .subtitle {
	font-size:14px;
}