@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
.column {
	width:100%;
	float:left;
}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape)	 { 
.column {
	width:50%;
	float:left;
}

.column.left .inner_wrapper {
	margin-right:5px;
}

.column.right .inner_wrapper {
	margin-left:5px;
}
}