body.serve {
	background: black;
	padding: 0;
    font-size: 15px;
	text-shadow: 0 1px white;
}

#status-bar {
	width: 100%;
	height: 20px;
	background-color: gainsboro;
	font-size: 14px;
	line-height: 20px;
}

#status-bar > div {
	text-align: center;
}

#serve_top {
	width:100%;
}

#serve_top .btn,
thead .btn {
	margin-bottom:0;
}

#serve_top .left {
    float:left;
}

#serve_top .right {
	float:right;
}

#serve_top .right,
#serve_top .left {
	margin:10px;
}

#serve_top p {
    float: left;
    margin: 5px 10px 0 0;
	color:white;
	text-shadow:none;
	font-size:20px;
}

#serve_top .realtime-label {
	color: white;
	display: inline;
	font-size: 14px;
	text-shadow: none;
	margin: 0px 10px;
	vertical-align: middle
}

#lastmessagedate {
    color: #ccc;
    text-shadow: none;
    display: inline;
    font-size: 12px;
}

@-webkit-keyframes blink {
    0% { background: red; color:white; }
    24% { background: red; color:white; }
    25% { background: white; color:red; }
    74% { background: white; color:red; }
    75% { background: red; color:white; }
    100% { background: red; color:white; }
}

@keyframes blink {
    0% { background: red; color:white; }
    24% { background: red; color:white; }
    25% { background: white; color:red; }
    74% { background: white; color:red; }
    75% { background: red; color:white; }
    100% { background: red; color:white; }
}

.layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-shadow: none;
	z-index: 999999;
}

#order_warning {
	font-weight: bold;
	font-size: 50px;
	-webkit-animation: blink 2s;
	-webkit-animation-iteration-count: infinite;
	animation: blink 2s;
	animation-iteration-count: infinite;
}

.layer {
	background-color: rgba(0,0,0,0.8);
}

#order_warning.layer p {
	color:inherit;
}

.layer p {
	color:white;
}

.layer > div {
	text-align:center; 
		
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
	
	width:100%;
	height:100%;
}

#order_warning h1 {
	font-size:100px;
	margin-bottom:50px;
}

.column {
	width:50%;
	float:left;
}

.column.left .inner_wrapper {
	margin-right:5px;
}

.column.right .inner_wrapper {
	margin-left:5px;
}

.column.left {
	clear:both;
}

.table {
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-bottom: 8px;
	border:0;
}

.left,
.serve-orders tr.subheader td.left {
	text-align:left;
}

.right,
.serve-orders tr.subheader td.right {
	text-align:right;
}

th {
	font-size:15px;
}

.serve-orders td {
    border: 0;
}

tr,
tr:hover td,
tbody tr:hover th {
	background: -moz-linear-gradient(top,  #ffffff 0%, #d1d1d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d1d1d1 100%); /* W3C */
}

tr.selected,
tr.selected:hover td,
tbody tr.selected:hover th {
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

tr.selected td.time,
tr.selected:hover td.time {
	color: #dedede;
	text-shadow: none;
}

tr.selected td.time span.number,
tr.selected:hover td.time span.number {
	color: #fff;
}

/* To make IE happy */

tr td,
tr.subheader td {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

/* end */

.serve-orders tbody tr.important td {
    background: -webkit-linear-gradient(top, #ffb2b2, #d19292);
	background: -moz-linear-gradient(top,  #ffb2b2 0%, #d19292 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb2b2), color-stop(100%,#d19292)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb2b2 0%,#d19292 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb2b2 0%,#d19292 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb2b2 0%,#d19292 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb2b2 0%,#d19292 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb2b2', endColorstr='#d19292',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px #ffcfcf;
}

.serve-orders tbody tr.very-important td {
    /*background: -webkit-linear-gradient(top, #ff6969, #d15656);*/
	-webkit-animation: pulsate 2s;
	-webkit-animation-iteration-count: infinite;
	animation: pulsate 2s;
	animation-iteration-count: infinite;
	text-shadow: none;
}

@keyframes pulsate {
	0% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	25% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	50% { background: -webkit-linear-gradient(top, #ff6969, #d15656);  }
	75% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	100% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
}

@-webkit-keyframes pulsate {
	0% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	25% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	50% { background: -webkit-linear-gradient(top, #ff6969, #d15656);  }
	75% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
	100% { background: -webkit-linear-gradient(top, #ffb2b2, #d19292);  }
}

.serve-orders tr.important td.time,
.serve-orders tr.very-important td.time {
	color:inherit;
}

.serve-orders tbody tr.important span.number,
.serve-orders tbody tr.very-important span.number {
    color:red;
}

.serve-orders th {
	background: #b5b5b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5b5b5 1px, #b5b5b5 1px, #808080 1px, #c0c0c0 50%, #d1d1d1 80%, #b5b5b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px,#b5b5b5), color-stop(1px,#b5b5b5), color-stop(1px,#808080), color-stop(50%,#c0c0c0), color-stop(80%,#d1d1d1), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5b5b5 1px,#b5b5b5 1px,#808080 1px,#c0c0c0 50%,#d1d1d1 80%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5b5b5 1px,#b5b5b5 1px,#808080 1px,#c0c0c0 50%,#d1d1d1 80%,#b5b5b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5b5b5 1px,#b5b5b5 1px,#808080 1px,#c0c0c0 50%,#d1d1d1 80%,#b5b5b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5b5b5 1px,#b5b5b5 1px,#808080 1px,#c0c0c0 50%,#d1d1d1 80%,#b5b5b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.serve-orders thead th,
.serve-orders tr.subheader td {
	text-transform:uppercase;
	font-weight:bold;
}

.serve-orders thead th {
	color:white;
	line-height:10px;
	text-shadow: 0 1px grey;
}

.serve-orders tr.subheader td {
	line-height:12px;
	font-size:80%;
	padding:4px 4px;
	vertical-align:middle;
}

.serve-orders .time,
.serve-orders th,
.serve-orders tr.subheader td {
    text-align: center;
}

.serve-orders tr.subheader td {
	color:#333;
}

td:first-child, .small {
	width:70px;
}


td:first-child + td {
	width:80px;
}

.serve-orders td.time,
.serve-orders .queuenumber,
.serve-orders .tablenumber {
    text-align: center;
    color: #999;
}

.serve-orders td.select-row {
	text-align: center;
	color: #999;
	padding-top: 5px;
}

.serve-orders td.select-row .btn-group {
	float:left;
}

.serve-orders td.select-row p.info {
	float:left;
	width:100%;
	display:inline-block;
}

#btn-complete-selected {
	margin-left: 4px;
	text-overflow: ellipsis;
	max-width: 175px;
	white-space: nowrap;
	overflow: hidden;
}

.serve-orders .number,
.serve-orders .queue,
.serve-orders .tableno {
	display:block;
	font-size: 32px;
    color: #333;
	line-height:31px;
	height:31px;
}

.serve-orders .queue,
.serve-orders .tableno {
	background-color:white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	text-shadow: white 0 1px 0;
	height:34px;
	line-height:34px;
	border:1px solid rgba(0, 0, 0, 0.25);
	border-top:none;
}

.serve-orders .queuenumber .badge {
	margin-top: 5px;
}

.serve-orders .address-badge {
	white-space: normal;
}

.serve-orders .comment .label {
    vertical-align: baseline;
}

.serve-orders .orderitems li {
	background-color:white;
	border:1px solid rgba(0, 0, 0, 0.25);
	padding:3px;
	border-radius:3px;
	margin-bottom:5px;
	text-shadow:0 1px white;
}

.serve-orders .orderitems li .pull-right {
	color:grey;
	font-size:12px;
}

.serve-orders .item-options li,
#table-product-summary .item-options li{
	border:1px solid rgba(0, 0, 0, 0.25);
	background-color:#F0F5FF;	
	padding-left:6px;
	font-size:12px;
}

.serve-orders .item-options li:last-child,
#table-product-summary .item-options li:last-child {
	margin-bottom:0;
}

.serve-orders .item-options,
#table-product-summary .item-options li,
.serve-orders p.comment {
    /*font-size: 13px;*/
	border-radius:3px;
	text-shadow:none;
}

.serve-orders .item-options .label,
.serve-orders p.comment .label {
    /*vertical-align: baseline;*/
	margin:-3px 0 0 -3px;
}

.serve-orders .queuenumber .label {
	display:block;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.serve-orders .delivery-date {
	white-space: normal;
	overflow: hidden;
	width: 70px;
}

.serve-orders .actions {
	text-align:center;
	width:82px;
}

.serve-orders .actions .dropdown-menu {
    right: 0;
    left: auto;
    text-align: left;
    min-width: auto;
}

.serve-orders .cancel {
    width: 70px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.table th {
	padding: 8px 4px;
}

.table td {
	padding:4px;
}

.table td.no-orders-msg {
	text-align:center;
	font-size:22px;
	line-height:33px;
	padding:16px;
}

.btn {
	margin-bottom:10px;
	background-image:none;
}

.btn.active {
	background-color: /*#979797*/ rgb(45, 189, 45);
	-webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset inset 0 4px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow:none;
	color:white;
}

.modal {
	position: absolute;
	top: 50px;
	margin-top: 0;
}

.input-modal-wide {
    width: 515px;
}

.modal-footer .btn, .btn-more-actions {
	margin-bottom:0;
}

/* Completed orders */

#table-complete .queuenumber,
#table-complete .served {
    text-align: center;
}

#table-complete .queue {
    display:block;
    color: #333;
    background-color:white;
    border-radius: 3px;
    border:1px solid rgba(0, 0, 0, 0.25);
}

#table-complete .queue,
#table-complete .tableno {
    font-size: 22px;
    line-height: 28px;
    height: auto;
}

#table-complete .ordernumber {
    margin-top: 10px;
}

#table-complete .ordertime {
    margin-top: 10px;
    color: #999;
}

#table-complete .total {
    text-align: right;
}

#table-complete .moreinfo {
    text-align: right;
}

#table-complete .moreinfo .btn {
    margin-bottom: 0;
}

#table-complete .full {
    display: none;
}

.select-bar {
	width: 40%;
	text-align: center;
	margin: 0 auto;
}

.select-bar .btn-group {
	width: 100%;
}

.select-bar .btn-group-vertical .btn-large:first-child:last-child {
	border-radius: 6px;
}

.select-bar .btn {
	margin: 0;
	width: 100%;
}

.select-bar .btn-back {
	margin-top: 1em;
}

.serve .no-bars {
	text-shadow: none;
	color: white;
}

#table-product-summary tr, #table-product-summary tr td {
	background: none;
}

