body {
    padding-top: 60px;
}

.tabs-left .tab-content {
    width: auto;
}
/*
.zerved {
	background-image:url(/front/img/zerved_white.png);
	background-position:center;
	background-size:100%;
	color:rgba(255,255,255,0);
	background-repeat:no-repeat;
	opacity:0.7;
	white-space:nowrap;
	text-shadow:none;
}

.zerved:hover {
	opacity:1;
}*/

.navbar-inverse .navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #4C4C4C, #222222);
  background-image: -ms-linear-gradient(top, #4C4C4C, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4C4C4C), to(#222222));
  background-image: -webkit-linear-gradient(top, #4C4C4C, #222222);
  background-image: -o-linear-gradient(top, #4C4C4C, #222222);
  background-image: linear-gradient(top, #4C4C4C, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C', endColorstr='#222222', GradientType=0);
}

.navbar .brand {
	padding-right: 0;
	padding-left: 0;
	padding-bottom:0;
	padding-top:7px;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: rgba(255, 255, 255, .8);
	/*color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);*/
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	opacity:0.7;
}

.navbar .brand:hover {
	opacity:1;
}

.navbar .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    /* Mobile Safari bug causes wrong position of the fixed navbar when an input field is selected.
       Remove fixed position for tablet screen size and below. */
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        position: static;
        width: 100%;
        margin-bottom: 19px;
    }
}

@media (max-width: 979px) {
    .navbar .brand {
	    float: left;
    }
}

.input {
	display: inline-block;
	margin-bottom: 0;
}

span + input {
	width:183px;
}

.help-block, .help-inline {
	color: #DDD;
	font-size:0.9em;
	-webkit-transition: color linear 0.2s;
	-moz-transition: color linear 0.2s;
	-ms-transition: color linear 0.2s;
	-o-transition: color linear 0.2s;
	transition: color linear 0.2s;
}

.control-group:hover .help-block,
.control-group:hover .help-inline {
	color: #767676;
	font-size:0.9em;
}

textarea#description {
	height:100px;
}

input.error {
    color: #B94A48;
    border-color: #B94A48;
}

.control-input-label {
    display: block;
    padding-top: 5px;
}

.disabled-control-text {
    color: #999;
}

.empty-list {
    text-align: center;
    margin: 4em 0;
    color: #999;
    font-size: 28px;
}

.table .form-inline {
    margin: 0;
}

.modal-footer .form-inline {
    marign: 0;
    display: inline;
}

.table-revenue .col-date p {
    margin: 0;
}

.table-schedulehours td, .table-schedulehours th {
    text-align: center;
}

.table-schedulehours td.row-title {
    text-align: left;
}

.invoice-number {
    background-color: #ddd;
    padding: 19px;
    text-align: center;
    border-radius: 10px;
}

.invoice-number .title,
.invoice-number .subtitle {
    font-size: 16px;
    color: #999;
}

.invoice-number .number {
    font-size: 24px;
}

#products ul li h4 {
	cursor:pointer;
}

.badge-fillcell {
    display: block;
    text-align: center;
}

#notifications .default-notification,
#adminsettings .default-fee-rate {
    display: block;
    padding-top: 5px;
}

.sort-list li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: move;
}

.sort-list .product-price {
    color: #999;
}

#locationlist tr.bar td {
    padding: 2px 8px;
    border: 0;
}

#locationlist tr.bar td:first-child {
    padding-left: 50px;
}

#locationlist tr.newbar td {
    padding-top: 2px;
    padding-bottom: 12px;
    border: 0;
}

#locationlist tr.newbar td:first-child {
    padding-left: 50px;
}

#map_canvas img {
    max-width: none;
}

.table.calendar-table {
    margin-bottom: 0;
    border-bottom: solid 1px #ddd;
}

.table.calendar-table td {
    height: 80px;
    width:14.2857142857143%;
    border-right: solid 1px #ddd;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.table.calendar-table td:first-child {
    border-left: solid 1px #ddd;
}

.table.calendar-table td.disabled {
    background: #efefef;
}

.table.calendar-table td.today {
    background: #f0f0fa;
    font-weight: bold;
}
.table.calendar-table td.selected {
    color: #4af !important;
    background: #efefff;
    font-weight: bold;
}

.calendar-legend {
    border-top: solid 1px #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.calendar-legend:before, .calendar-legend:after {
    display: table;
    line-height: 0;
    content: "";
}

.calendar-legend:after {
    clear: both;
}

.calendar-legend .alert {
    margin-right: 10px;
}

.event-box {
    cursor:pointer;
    font-size: 12px; 
    font-weight: normal; 
    line-height: normal;
}

.dashboard-news p {
    text-align: justify;
}

.dashboard-news tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.dashboard-news tr.active {
    color: #fff !important;
    background: #0088cc !important;
}

.dashboard-news tr.active a {
    color: #fff !important;
}

.dashboard-news tr.unread .title {
    font-weight: bold;
}

.dashboard-news td:first-child {
    white-space: nowrap;
}

.location-cover {
    background: url(http://www.diamondcoast.ie/upload/sequencer_images/bar-02.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 250px;
    position: relative;
}

.location-cover h1 {
    color: #fff;
}

.location-cover-footer {
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 5px 10px;
}

.location-thumbnail {
    width:123px;
    height:123px;
    border:solid 1px #ddd;
    float:left;
    margin: 0px 23px 23px 23px;
    cursor:move;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.location-thumbnail-delete {
    display:none;
    float:left;
    height: 25px;
    line-height: 25px;
    width: 123px;
    margin-top: 98px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.location-thumbnail:hover .location-thumbnail-delete {
    display:block;
}

#drag-info {
    display:none;
    margin-left: 23px;
}

.search-results {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    width: auto;
    min-width: 25%;
    position: absolute;
    z-index: 1029;
    display: none;
}

.search-results ul {
    list-style: none;
    margin:0;
    padding:0;
}

.search-results li {
    width: 100%;    
    padding: 8px 8px 4px 16px;
    border-bottom: solid 1px #dedede;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.search-results li h5 {
    margin-top: 0;
    margin-bottom: 6px;
    padding-top: 0;
}

.search-results li:not(.no-actions):hover {
    cursor: pointer;
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

.search-results li:not(.no-actions):hover h5,
.search-results li:not(.no-actions):hover h5 span.muted,
.search-results li:not(.no-actions):hover p {
    color: #fff !important;
}

.search-results li:first-child {
    border-radius: 3px 3px 0px 0px;
}

.search-results li:last-child {
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}