{% extends "merchants/base.html" %}
{% block title %}{% trans customer_id=consumer.key().id() %}Customer #{{ customer_id }}{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans customer_id=consumer.key().id() %}Customer #{{ customer_id }}{% endtrans %}
    </h1>
</div>

<dl class="dl-horizontal pull-left">
    <dt>{% trans %}Device{% endtrans%}</dt>
    <dd>{{ consumer.device }}</dd>
</dl>

<legend>{% trans %}Orders{% endtrans %}</legend>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>#</th>
			<th>{% trans %}Date Created{% endtrans %}</th>
        	<th>{% trans %}Date Completed{% endtrans %}</th>
        	<th>{% trans %}Location{% endtrans %}</th>
	        <th>{% trans %}Bar{% endtrans %}</th>
	        <th>{% trans %}Total excl. Tax{% endtrans %}</th>
	        <th>{% trans %}Tax{% endtrans %}</th>
	        <th>{% trans %}Total incl. Tax{% endtrans %}</th>
	        <th>{% trans %}Status{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	{% for order in orders %}
		<tr>
			<td><a href="{{ uri_for('order-view', order_id = order.key().id()) }}">#{{ order.order_number }}</a></td>
            <td>{{ order.date_created_formatted }}</td>
            <td>
                {% if order.status == 'complete' %}
                    {{ order.date_completed_formatted }}
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{ order.location_name|e }}</td>
            <td>{{ order.bar_name|e }}</td>
            <td>{{ order.format_currency(order.total_excl_tax) }}</td>
            <td>{{ order.format_currency(order.total_tax) }}</td>
            <td>{{ order.format_currency(order.total_incl_tax) }}</td>
            <td>
                {% if order.status == 'complete' %}
                    <span class="label label-success">{{ order.status_label }}</span>
                {% elif order.status == 'pending' %}
                    <span class="label label-info">{{ order.status_label }}</span>
                {% elif order.status == 'preparing' %}
                    <span class="label label-warning">{{ order.status_label }}</span>
                {% elif order.status == 'cancelled' %}
                    <span class="label label-important">{{ order.status_label }}</span>
                {% else %}
                    <span class="label">{{ order.status_label }}</span>
                {% endif %}
            </td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}