{% extends "merchants/base.html" %}
{% block title %}{% trans %}New Invoice{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}New Invoice{% endtrans %}
    </h1>
</div>

<div class="row-fluid">
    

    <form class="form-inline" method="POST">
        <legend>{% trans %}Bill to{% endtrans %}</legend>
        <select name="merchant">
            {% for m in merchants %}
                <option value="{{ m.key() }}">{{ m.name|e }}</option>
            {% endfor %}
        </select>

    <div id="merchant-info" class="pull-right">
    </div>



        <legend>{% trans %}Items Invoiced{% endtrans %}</legend>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <table class="table well">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}Description{% endtrans %}</th>
                        <th>{% trans %}Quantity{% endtrans %}</th>
                        <th>{% trans %}Tax Rate{% endtrans %}</th>
                        <th>{% trans %}Unit Price excl. Tax{% endtrans %}</th>
                        <th>{% trans %}Total Tax{% endtrans %}</th>
                        <th>{% trans %}Total excl. Tax{% endtrans %}</th>
                        <th> </th>
                    </tr>
                <thead>
                <tbody>
                    <tr>                            
                        <td colspan="8">
                            <button type="button" class="btn btn-block" onclick="$(this).closest('tr').before(addRow()); updateCurrency();"><i class="icon-plus-sign"></i> {% trans %}Add a new line{% endtrans %}</button>
                        </td>
                    </tr>   
                </tbody>
            </table>

            <div class="totals">
                <p style="text-align:right !important"><strong>{% trans %}Total excl. Tax{% endtrans %}</strong>: <span id="s_total_excl_tax"></span> <span class="currency"></span></p>
                <p style="text-align:right !important"><strong>{% trans %}Total Tax{% endtrans %}</strong>: <span id="s_total_tax"></span> <span class="currency"></span></p>
                <p style="text-align:right !important"><strong>{% trans %}Total incl. Tax{% endtrans %}</strong>: <span id="s_total_incl_tax"></span> <span class="currency"></span></p>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> {% trans %}Save Invoice{% endtrans %}</button>
                <button type="button" class="btn" onclick="window.location='{{ uri_for('settlements') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
    </form>
</div>  

<script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
<script id="invoice-row-template" type="text/x-jquery-tmpl">
<tr>
    <td>${ row_nr }</td>
    <td>
        <div class="input input">
            <input name="description[]" type="text" placeholder="{% trans %}Description{% endtrans %}" required class="input-xlarge" />
        </div>
    </td>
    <td>
        <div class="input input">
            <input name="quantity[]" type="text" placeholder="0" required class="input-small quantity" pattern="\d+" onKeyUp="calculatePrices($(this).closest('tr'));"/>
        </div>
    </td>
    <td>
        <div class="input input-append">
            <input name="tax_rate[]" type="text" placeholder="0" required class="input-small rate"  pattern="[-+]?[0-9]*[.]?[0-9]+" value="${ default_rate }" onKeyUp="calculatePrices($(this).closest('tr'));"/>
            <span class="add-on">%</span>
        </div>
    </td>
    <td>    
        <div class="input input-append">
            <input name="unit_price_excl_tax[]" type="text" placeholder="0.00" required class="input-small unit_price_excl_tax" pattern="[-+]?[0-9]*[.]?[0-9]+"  onKeyUp="calculatePrices($(this).closest('tr'));"/>
            <span class="add-on currency"></span>
        </div>
    </td>
    <td>
        <div class="input input-append">
            <span class="input-xlarge uneditable-input span1 total_tax">0.00</span>
            <span class="add-on currency"></span>
        </div>
    </td>
    <td>
        <div class="input input-append">
            <span class="input-xlarge uneditable-input span1 total_excl_tax">0.00</span>
            <span class="add-on currency"></span>
        </div>
    </td>
    <td>
        {{ '{{' }}if row_nr > 1{{ '}}' }}
            <button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove(); updateIndexes(); updateCurrency();"><i class="icon-minus-sign"></i></button>
        {{ '{{' }}/if{{ '}}' }} 
   </td>
</tr>
</script>

<script type="text/javascript">

// Row management
function addRow() {
    return $.tmpl("invoice-row-template", { row_nr : $("table tbody tr").index() + 1, default_rate : default_rate });
}
function updateIndexes() {
    $("table tbody tr").each(function() {
        if($(this).find("td").length > 1)
            $(this).find("td:first-child").html($(this).index() + 1);
    });
}

// Get merchants currency and country
var merchants_currency = [];
var merchants_country= [];
var merchants_info= [];

var default_rate = "25";
var rates = {{ rates|replace('Decimal(','')|replace(')','')  }};

{% for m in merchants %}
    merchants_currency.push({'{{ m.key() }}' : '{{ m.currency }}'});
    merchants_country.push( {'{{ m.key() }}' : '{{ m.country }}' });
    merchants_info.push( {'{{ m.key() }}' : '<address><strong>{{ m.name|e }}</strong><br/>{% if m.address %}{{ m.address|e|replace("\r\n","<br/>") }}{% else %}<em>{%trans%}No address{%endtrans%}</em>{% endif %}<br/> {% if m.vat_number %}{% trans %}VAT no.{% endtrans %} {{ m.vat_number|e }}{% else %}<em>{% trans %}No VAT no.{% endtrans %}</em>{% endif %}</address>' });
{% endfor %}

function updateCurrency() {
     $("select").trigger('change');
}

function calculatePrices(row) {
    var tax_rate = parseFloat(row.find(".rate").val());
    var unit_price_excl_tax = parseFloat(row.find(".unit_price_excl_tax").val());
    var quantity = parseInt(row.find(".quantity").val());
    var total_excl_tax = unit_price_excl_tax * quantity;
    var total_tax = (unit_price_excl_tax * (tax_rate / 100)) * quantity;

    row.find(".total_excl_tax").html(displayPrice(total_excl_tax));
    row.find(".total_tax").html(displayPrice(total_tax));
    updateTotals();
}

function displayPrice(p){
    return isNaN(parseFloat(p)) ? "-" : "" + (Math.round(p * 100) / 100).toFixed(2);
}

function updateTotals() {
    var s_total_excl_tax = 0,
        s_total_tax = 0;

    $("table tbody tr").each(function(){
        if($(this).find("td").length > 1) {
            s_total_tax += parseFloat($(this).find('.total_tax').html());
            s_total_excl_tax += parseFloat($(this).find('.total_excl_tax').html());
        }
    });

   $("#s_total_tax").html(displayPrice(s_total_tax));
   $("#s_total_incl_tax").html(displayPrice(s_total_tax + s_total_excl_tax));
   $("#s_total_excl_tax").html(displayPrice(s_total_excl_tax));

}

$(document).ready(function() {
    $.template('invoice-row-template', $("#invoice-row-template"));

    $("table tbody").prepend(addRow());

    $("select").on('change', function(){
        for(var i=0; i<merchants_currency.length; i++){
            if($(this).val() == Object.keys(merchants_currency[i])[0]) {
                $(".currency").html(merchants_currency[i][$(this).val()]);
                $("#merchant-info").html(merchants_info[i][$(this).val()]);
                default_rate = parseFloat(rates[merchants_country[i][$(this).val()]] * 100);
            }
        }
        $("table tbody tr").each(function(){
            calculatePrices($(this));
        });
    }).trigger('change');

});


</script>

{% endblock %}