{% extends "merchants/base.html" %}
{% block title %}{% trans %}Settlement{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Order Revenue{% endtrans %}
        <small>{% trans invoice_number=invoice.invoice_number %}Settled in invoice #{{invoice_number}}{% endtrans %}</small>
    </h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Order Number{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Quantity{% endtrans %}</th>
            <th>{% trans %}Product{% endtrans %}</th>
            <th>{% trans %}Total excl. Tax{% endtrans %}</th>
            <th>{% trans %}Total incl. Tax{% endtrans %}</th>  
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        {% for item in order.items %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ loop.length }}">{{ order.order_number }}</td>
            <td rowspan="{{ loop.length }}">{{ user_merchant.format_datetime(order.date_completed) }}</td>
            {% endif %}
            <td>{{ item.quantity }}</td>
            <td>{{ item.name }}</td>
            <td>{{ format_currency(item.total_excl_tax, order.currency) }}</td>
            <td>{{ format_currency(item.total_incl_tax, order.currency) }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}