{% extends "merchants/base.html" %}
{% block title %}{% trans %}Settlements{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Settlements{% endtrans %}
    </h1>
</div>

<p class="lead">{% trans %}We sum up your sales and fees every monday and credit your account within a few days.{% endtrans %}</p>

{% if invoices %}

{{ pager }}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Invoice No.{% endtrans %}</th>
        <th>{% trans %}Invoice Date{% endtrans %}</th>
        <th>{% trans %}Order Revenue{% endtrans %}</th>
        <th>{% trans %}Costs{% endtrans %}</th>
        <th>{% trans %}Total Settlement{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for invoice in invoices %}
    <tr>
        <td><a href="{{ uri_for('invoice-view', invoice_id=invoice.key().id()) }}">{{ invoice.invoice_number }}</a></td>
        <td>{{ user_merchant.format_date(invoice.invoice_date) }}</td>
        <td>{{ format_currency(invoice.order_revenue, invoice.currency) }}</td>
        <td>{{ format_currency(invoice.total_positive, invoice.currency) }}</td>
        <td>{{ format_currency(invoice.total_incl_tax, invoice.currency) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{ pager }}

{% endif %}

{% endblock %}