{% extends "merchants/base.html" %}
{% block title %}{% trans %}Orders{% endtrans %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% if merchant %}
            {% trans merchant_name=merchant.name|e %}Orders for {{ merchant_name }}{% endtrans %}
        {% else %}
            {% trans %}Orders{% endtrans %}
        {% endif %}
    </h1>
</div>
<select name="statuses" id="select-status" class="pull-left" onchange="window.location.href='?status=' + $(this).val()">
    <option value='all' {% if status == 'all' %} selected {% endif %}>{% trans %}All{% endtrans %}</option>
    <option value='complete' {% if status == 'complete' %} selected {% endif %}>{% trans %}Complete{% endtrans %}</option>
    <option value='preparing' {% if status == 'preparing' %} selected {% endif %}>{% trans %}Preparing{% endtrans %}</option>
    <option value='pending' {% if status == 'pending' %} selected {% endif %}>{% trans %}Pending{% endtrans %}</option>
    <option value='cancelled' {% if status == 'cancelled' %} selected {% endif %}>{% trans %}Cancelled{% endtrans %}</option>
</select>
  
{% if orders %}

{{ pager }}

<table class="table table-striped">
    <thead>
    <tr>
        <th><input type="checkbox"/></th>
        <th>{% trans %}#{% endtrans %}</th>
        <th>{% trans %}Date Created{% endtrans %}</th>
        <th>{% trans %}Date Completed{% endtrans %}</th>
        {% if merchant == None %}
            <th>{% trans %}Merchant{% endtrans %}</th>
        {% endif %}     
        <th>{% trans %}Location{% endtrans %}</th>
        <th>{% trans %}Bar{% endtrans %}</th>
        <th>{% trans %}Total excl. Tax{% endtrans %}</th>
        <th>{% trans %}Tax{% endtrans %}</th>
        <th>{% trans %}Total incl. Tax{% endtrans %}</th>
        <th>{% trans %}Status{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for order in orders %}

        <tr>
            <td>
                <input type="checkbox" {% if order.status not in ['pending', 'preparing'] %} disabled {% endif %} name="{{ order.key() }}"/>
            </td>
            <td><a href="{{ uri_for('order-view', order_id = order.key().id()) }}">#{{ order.order_number }}</a></td>
            <td>{{ order.date_created_formatted }}</td>
            <td>
                {% if order.status == 'complete' %}
                    {{ order.date_completed_formatted }}
                {% else %}
                -
                {% endif %}
            </td>
            {% if merchant == None %}
                <td><strong>{{ order.merchant_name|e }}</strong></td>
            {% endif %}    
            <td>{{ order.location_name|e }}</td>
            <td>{{ order.bar_name|e }}</td>
            <td>{{ order.format_currency(order.total_excl_tax) }}</td>
            <td>{{ order.format_currency(order.total_tax) }}</td>
            <td>{{ order.format_currency(order.total_incl_tax) }}</td>
            <td>
                {% if order.status == 'complete' %}
                    <span class="label label-success">{{ order.status_label }}</span>
                {% elif order.status == 'pending' %}
                    <span class="label label-info">{{ order.status_label }}</span>
                {% elif order.status == 'preparing' %}
                    <span class="label label-warning">{{ order.status_label }}</span>
                {% elif order.status == 'cancelled' %}
                    <span class="label label-important">{{ order.status_label }}</span>
                {% else %}
                    <span class="label">{{ order.status_label }}</span>
                {% endif %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
    {% if status in ['all', 'preparing', 'pending'] %}
    <tfoot>
        <tr>
            <td colspan="{% if merchant == None %}11{% else %}10{% endif %}">
                <button class="btn btn-danger pull-right" disabled>{% trans %}Cancel selected orders{% endtrans %}</button>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>

{{ pager }}

{% else %}
    <p class="lead empty-list">{% trans %}No orders.{% endtrans %}</p>
{% endif %}

<script type="text/javascript">
    $(".pagination.pagination-right ul li a").each(function(){
        $(this).attr("href", $(this).attr("href") + "&status={{ status }}");
    });

    // Select/Deselect all orders
    $("thead tr th:first-child input").click(function(){
        var chkbx = $(this);
        var checkboxes = $("tbody").find("input[type='checkbox']");
        var n = 0;
        checkboxes.each(function(){
            if(!$(this).prop("disabled"))
                $(this).prop("checked", chkbx.prop("checked"));
        
            if($(this).prop("checked"))
                n++;
        });
        $("tfoot .btn.btn-danger").prop("disabled", n == 0);
    });
    // Select orders
    $("tbody").find("input[type='checkbox']").click(function(){
        var n = 0;
        var all = 0;
        $("tbody").find("input[type='checkbox']").each(function(){
            if($(this).prop("checked"))
                n++;
            else if(!$(this).prop("disabled")){
                $("thead tr th:first-child input").prop("checked", false);
            }
            if(!$(this).prop("disabled"))
                all++;
        });
        $("tfoot .btn.btn-danger").prop("disabled", n == 0);  
        $("thead tr th:first-child input").prop("checked", n == all);
    });      
    // Cancel selected orders
    $("tfoot .btn.btn-danger").click(function(){
        var selectedRows = [];
        $("tbody input[type='checkbox']").each(function(){
            if($(this).prop("checked"))
              selectedRows.push($(this).attr("name"));
        });
        $.post("/merchants/orders/cancel", {'order_keys' : selectedRows}, function(data){
            $("input[type='checkbox']").prop("checked", false);
            for(var i=0; i < selectedRows.length; i++){
                $("input[name='"+selectedRows[i]+"']").prop("disabled", true);
            }
            $("tfoot .btn.btn-danger").prop("disabled", true);
            $(".page-header").parent(".container").prepend('<div class="alert alert-info">{% trans %}Selected orders are being cancelled{% endtrans %} &mdash; <a href="#" onclick="location.reload(); return false;">{% trans %}refresh list{% endtrans %}</a></div>');
        });
    });

</script>

{% endblock %}