{% extends "merchants/base.html" %}
{% block title %}{% trans %}Open Product Sales{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Open Product Sales{% endtrans %}
    </h1>
</div>

<p class="lead">{% trans %}Products in all open orders, including tickets not yet redeemed and menu items not yet served.{% endtrans %}</p>

<form class="form-inline" action="{{ uri_for('productsopen') }}" method="get">
    <div class="well">
        <label for="place">{% trans %}Location or bar{% endtrans %}</label>
        <select name="place" id="place">
            <option value="">{% trans %}Anywhere{% endtrans %}</option>
            {% for loc in user_merchant.get_locations() %}
            <option value="loc-{{ loc.key().id() }}"{% if location|int == loc.key().id()|int %} selected{% endif %}>{{ loc.name }} {% trans %}(including all bars){% endtrans %}</option>
            {% for b in loc.get_bars() %}
            <option value="bar-{{ b.key().id() }}"{% if bar|int == b.key().id()|int %} selected{% endif %}> - {{ b.name }}</option>
            {% endfor %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">{% trans %}Load Report{% endtrans %}</button>
    </div>
</form>

{% if report %}

<a class="pull-right" href="{{ csvlink }}"><i class="icon-download"></i> CSV</a>

<table class="table table-productssold">
    <thead>
        <tr>
            <th>{% trans %}Product{% endtrans %}</th>
            <th>{% trans %}Quantity{% endtrans %}</th>
            <th>{% trans %}Total incl. Tax{% endtrans %}</th>
            <th>{% trans %}Total excl. Tax{% endtrans %}</th>
            <th>{% trans %}Total Tax{% endtrans %}</th>
            <th>{% trans %}Discounts incl. Tax{% endtrans %}</th>
            <th>{% trans %}Discounts excl. Tax{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>{% trans %}Sum{% endtrans %}</td>
            <td>{{ report.get_sum('count_quantity') }}</td>
            <td>{{ format_currency(report.get_sum('total_incl_tax'), user_merchant.currency) }}</td>
            <td>{{ format_currency(report.get_sum('total_excl_tax'), user_merchant.currency) }}</td>
            <td>{{ format_currency(report.get_sum('total_tax'), user_merchant.currency) }}</td>
            <td>{{ format_currency(report.get_sum('total_discount_incl_tax'), user_merchant.currency) }}</td>
            <td>{{ format_currency(report.get_sum('total_discount_excl_tax'), user_merchant.currency) }}</td>
        </tr>
    </tfoot>
    <tbody>
        {% for signature, product in report.get_products().iteritems() %}
        <tr>
            <td><p>{{ product.name }}
                {% for option in product.options %}
                <br/><small>{{ option }}</small>
                {% endfor %}
                </p>
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ format_currency(product.total_incl_tax, user_merchant.currency) }}</td>
            <td>{{ format_currency(product.total_excl_tax, user_merchant.currency) }}</td>
            <td>{{ format_currency(product.total_tax, user_merchant.currency) }}</td>
            <td>{{ format_currency(product.total_discount_excl_tax, user_merchant.currency) }}</td>
            <td>{{ format_currency(product.total_discount_incl_tax, user_merchant.currency) }}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}

{% endblock %}