{% extends "merchants/base.html" %}
{% block title %}{% trans %}Settlements{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Settlements{% endtrans %}
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ uri_for('invoice-new') }}">{% trans %}Create Custom Invoice{% endtrans %}</a>
        </div>
    </h1>
</div>

{{ pager }}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Invoice No.{% endtrans %}</th>
        <th>{% trans %}Invoice Date{% endtrans %}</th>
        <th>{% trans %}Merchant{% endtrans %}</th>
        <th>{% trans %}Total in Merchant's Favour{% endtrans %}</th>
        <th>{% trans %}Transfer To{% endtrans %}</th>
        <th width="100">{% trans %}Settled{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for invoice in invoices %}
    <tr>
        <td><a href="{{ uri_for('invoice-view', invoice_id=invoice.key().id()) }}">{{ invoice.invoice_number }}</a></td>
        <td>{{ user_merchant.format_date(invoice.invoice_date) }}</td>
        <td>{{ invoice.merchant_name|e }}</td>
        <td>{{ format_currency(-invoice.total_incl_tax, invoice.currency) }}</td>
        <td>{{ invoice.merchant_bank_account }}</td>
        <td><input type="checkbox" name="settled" value="{{ invoice.key() }}" onclick="toggleSettlement(this)"{% if invoice.settled %} checked="checked"{% endif %}/></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
function toggleSettlement(el) {
    var msg = $('<span class="muted"> {% trans %}Saving...{% endtrans %}</span>');
    var checkbox = $(el);
    $(el).after(msg);
    $.post('{{ uri_for('save-settlement') }}', 
        { 'invoice_key': $(el).val(), 'settled': $(el).is(":checked") ? '1' : '0', '_csrf_token': '{{ csrf_token }}' }, 
        function(data) {
            msg.removeClass('muted');
            msg.html(' {% trans %}Saved{% endtrans %}');
            msg.fadeOut(2000, function() { $(this).remove() });
        });
}
</script>

{{ pager }}
{% endblock %}