{% extends "merchants/base.html" %}
{% block title %}{% trans %}Settlement{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans invoice_number=invoice.invoice_number %}Invoice/Credit Memo #{{invoice_number}}{% endtrans %}
        <small>{{ user_merchant.format_date(invoice.invoice_date, 'long') }}</small>
    </h1>
</div>

<div class="pull-right">
    <address>
    <strong>{{ invoice.get_company_data('name') }}</strong><br/>
    {{ invoice.get_company_data('address')|replace("\n","<br/>") }}<br/>
    {% trans %}VAT no.{% endtrans %} {{ invoice.get_company_data('vat') }}
    </address>
    <h4>{% trans %}Bill to{% endtrans %}</h4>
    <address>
    <strong>{{ invoice.merchant_name|e }}</strong><br/>
    {{ invoice.merchant_address|e|replace("\n","<br/>") }}<br/>
    {% if invoice.merchant_vat_number %}{% trans %}VAT no.{% endtrans %} {{ invoice.merchant_vat_number|e }}{% endif %}
    </address>
</div>
{% if invoice.order_count > 0 %}
<p class="lead">{% trans count=invoice.order_count, start=user_merchant.format_datetime(invoice.first_order_date_completed), end=user_merchant.format_datetime(invoice.last_order_date_completed), startlink='<a href="'+uri_for('invoice-orders', invoice_id=invoice.key().id())+'">', endlink='</a>' %}Covering {{ startlink }}{{ count }} orders{{ endlink }} completed between {{ start }} and {{ end }}{% endtrans %}</p>
{% endif %}
<div class="row">
    {% if invoice.order_count > 0 %}
    <div class="span2 invoice-number lead">
        <div class="title">{% trans %}Order Revenue{% endtrans %}</div>
        <div class="number">{{ format_currency(invoice.order_revenue, invoice.currency) }}</div>
        <div class="subtitle" style="text-transform: lowercase;">{% trans %}Total{% endtrans %}</div>
    </div>
    {% endif %}
    <div class="span2 invoice-number lead">
        <div class="title">{% trans %}Fees{% endtrans %}</div>
        <div class="number">{{ format_currency(invoice.total_positive, invoice.currency) }}</div>
        <div class="subtitle">{% trans %}in our favour{% endtrans %}</div>
    </div>
    <div class="span2 invoice-number lead">
        <div class="title">{% trans %}Total Settlement{% endtrans %}</div>
        <div class="number">{{ format_currency(invoice.total_incl_tax|abs, invoice.currency) }}</div>
        <div class="subtitle">{% if invoice.total_incl_tax < 0 %}{% trans %}in your favour{% endtrans %}{% else %}{% trans %}in our favour{% endtrans %}{% endif%}</div>
    </div>
</div>

<h2>{% trans %}Items Invoiced{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Amount Excl. Tax{% endtrans %}</th>
            <th>{% trans %}Tax Rate{% endtrans %}</th>
            <th>{% trans %}Tax{% endtrans %}</th>
            <th>{% trans %}Amount Incl. Tax{% endtrans %}</th>  
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><strong> </strong></td>
            <td><strong>{% trans %}Total invoiced{% endtrans %}</strong></td>
            <td><strong>{{ format_currency(invoice.total_excl_tax, invoice.currency) }}</strong></td>
            <td></td>
            <td><strong>{{ format_currency(invoice.total_tax, invoice.currency) }}</strong></td>
            <td><strong>{{ format_currency(invoice.total_incl_tax, invoice.currency) }}</strong></td>
        </tr>
    </tfoot>
    <tbody>
        {% for item in lines %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.sku_name }}</td>
            <td>{{ format_currency(item.total_excl_tax, invoice.currency) }}</td>
            <td>{{ item.tax_rate }} %</td>
            <td>{{ format_currency(item.total_tax, invoice.currency) }}</td>
            <td>{{ format_currency(item.total_incl_tax, invoice.currency) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}