{% extends "merchants/base.html" %}
{% block title %}{% trans order_number=order.order_number %}Order #{{ order_number }}{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans order_number=order.order_number %}Order #{{ order_number }}{% endtrans %}
        {% if order.status in ['pending', 'preparing'] %}
            <button class="btn btn-danger pull-right">{% trans %}Cancel order{% endtrans %}</button>
        {% endif %}
    </h1>
</div>

<small class="pull-left">{% trans datetime=order.date_created_formatted %}Placed {{ datetime }}{% endtrans %}</small>
{% if order.date_completed %}
<small class="pull-right">{% trans datetime=order.date_completed_formatted %}Completed {{ datetime }}{% endtrans %}</small>
{% endif %}
<div class="clearfix"></div>
{% if order.status == 'pending_payment' %}
<div class="progress progress-info progress-striped"><div class="bar" style="width: 10%">{{ order.status_label }}</div></div>
{% elif order.status == 'pending' %}
<div class="progress progress-info progress-striped"><div class="bar" style="width: 33%">{{ order.status_label }}</div></div>
{% elif order.status == 'preparing' %}
<div class="progress progress-warning progress-striped"><div class="bar" style="width: 66%">{{ order.status_label }}</div></div>
{% elif order.status == 'cancelled' %}
<div class="progress progress-danger progress-striped"><div class="bar" style="width: 100%">{{ order.status_label }}</div></div>
{% elif order.status == 'complete' %}
<div class="progress progress-success progress-striped"><div class="bar" style="width: 100%">{% trans timediff=order.processing_time %}Completed in {{ timediff }}{% endtrans %}</div></div>
{% endif %}

<dl class="dl-horizontal pull-left">
    <dt>{% trans %}Merchant{% endtrans%}</dt>
    <dd>{{ order.merchant_name|e }}</dd>
    <dt>{% trans %}Location{% endtrans%}</dt>
    <dd>{{ order.location_name|e }}</dd>
    {% if order.bar %}
    <dt>{% trans %}Bar{% endtrans%}</dt>
    <dd>{{ order.bar_name|e }}</dd>
    {% endif %}
</dl>

<dl class="dl-horizontal pull-left">
    <dt>{% trans %}Service Type{% endtrans%}</dt>
    <dd>{% if order.service == 'counter' %}{% trans %}Pickup at counter{% endtrans %}{% elif order.service == 'table' %}{% trans %}Serve at table{% endtrans %}{% elif order.service == 'entrance' %}{% trans %}Ticket{% endtrans %}{% endif %}</dd>
    {% if order.service == 'table' %}
    <dt>{% trans %}Table no.{% endtrans%}</dt>
    <dd>{{ order.table_number }}</dd>
    {% endif %}
    {% if order.event_name %}
    <dt>{% trans %}Event{% endtrans %}</dt>
    <dd>{{ order.event_name|e }}<br/>{{ order.event_time_label|e }}</dd>
    {% endif %}
    {% if order.date_delivery %}
    <dt>{% trans %}Delivery Time{% endtrans %}</dt>
    <dd>{{ order.date_delivery_formatted }}</dd>
    {% endif %}
</dl>

<dl class="dl-horizontal pull-left">
    <dt>{% trans %}Unique Order ID{% endtrans %}</dt>
    <dd>{{ order.key().id() }}</dd>
    <dt>{% trans %}Merchant Order No.{% endtrans %}</dt>
    <dd>{{ order.order_number }}</dd>
    <dt>{% trans %}Queue No.{% endtrans %}</dt>
    <dd>{{ order.queue_number }}</dd>
    {% if order.consumer %}
    <dt>{% trans %}Customer ID{% endtrans%}</dt>
    <dd><a href="{{ uri_for('consumer-view', consumer_id=order.consumer.key().id()) }}">{{ order.consumer.key().id() }}</a></dd>
    {% endif %}
</dl>

<div class="clearfix"></div>

<legend>{% trans %}Order Items{% endtrans %}</legend>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>#
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Category{% endtrans %}</th>
            <th>{% trans %}Quantity{% endtrans %}</th>
            <th>{% trans %}Base Price incl. Tax{% endtrans %}</th>
            <th>{% trans %}Total excl. Tax{% endtrans %}</th>
            <th>{% trans %}Tax Rate{% endtrans %}</th>
            <th>{% trans %}Total tax{% endtrans %}</th>
            <th>{% trans %}Total incl. Tax{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}
                {% if item.get_options() %}
                <ul class="unstyled">
                {% for option in item.get_options() %}
                <li><small>{{ option['option_name'] }}: {{ option['values']|join(', ', attribute='value_label') }}</small></li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td>{{ item.category_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ order.format_currency(item.base_price_incl_tax) }}</td>
            <td>{{ order.format_currency(item.total_excl_tax) }}</td>
            <td>{{ '%.2f'|format(item.tax_rate) }} %</td>
            <td>{{ order.format_currency(item.total_tax) }}</td>
            <td>{{ order.format_currency(item.total_incl_tax) }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"></td>

            <td><strong>{% trans %}Total{% endtrans %} {{ order.currency }}</strong></td>
            <td><strong>{{ order.format_currency(order.total_excl_tax) }}</strong></td>
            <td><strong>{{ order.format_currency(order.total_tax) }}</strong></td>
            <td><strong>{{ order.format_currency(order.total_incl_tax) }}</strong></td>
        </tr>
    </tfoot>
</table>
{% if order.status in ['pending', 'preparing'] %}
<script type="text/javascript">
    // Cancel order
    $(".page-header .btn.btn-danger").click(function(){
        $.post("/merchants/orders/cancel", {'order_key' : "{{ order.key() }}"}, function(data){
            $(".page-header .btn.btn-danger").prop("disabled", true);
            $(".page-header").parent(".container").prepend('<div class="alert alert-info">{% trans %}This order is being cancelled{% endtrans %} &mdash; <a href="#" onclick="location.reload(); return false;">{% trans %}refresh{% endtrans %}</a></div>');
        });
    });
</script>
{% endif %}
{% endblock %}