{% extends "merchants/base.html" %}
{% block title %}{% trans %}Categories{% endtrans %}{% endblock %}
{% block head_additional %}
<script type="text/javascript">
$(document).ready(function(){
    {% if group == 'menu' %}
        $("#li-menu-categories").addClass("active");
    {% elif group == 'entrance' %}
        $("#li-ticket-categories").addClass("active");
    {% endif %}
});
</script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% if group == 'menu' %}
            {% trans %}Menu Categories{% endtrans %}
        {% else %}
            {% trans %}Ticket Categories{% endtrans %}
        {% endif %}
        <div class="pull-right">
            {% if categories.count(2) > 1 %}
                <button type="button" class="btn" onclick="window.location='{{ uri_for('category-sort', group=group) }}'"><i class="icon-resize-vertical"></i> {% trans %}Edit Sort Order{% endtrans %}</button>
            {% endif %}
            <a class="btn btn-primary" href="{{ uri_for('category-new', group=group) }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Category{% endtrans %}</a>
        </div>
    </h1>
</div>

{% if categories.count(limit=1) %}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Enabled{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for category in categories %}
    <tr>
        <td><a href="{{ uri_for('category-edit', group=group, category_id=category.key().id()) }}"><i class="icon-pencil"></i> {{ category.name|e }}</a></td>
        <td>{% if category.enabled %}{% trans %}Enabled{% endtrans %}{% else %}{% trans %}Disabled{% endtrans %}{% endif %}</td>
        <td><form action="{{ uri_for('category-delete', group=group, category_id=category.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

    {% if group == 'menu' %}
        <p class="lead empty-list">{% trans %}Organize your menu with categories such as softdrinks, beer, food etc.{% endtrans %}</p>
    {% else %}
        <p class="lead empty-list">{% trans %}Organize your tickets in categories such as entrance, events etc.{% endtrans %}</p>
    {% endif %}

{% endif %}

{% endblock %}