{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/taxclassform.html' as taxclassform %}
{% block title %}{% trans %}Edit Tax Class{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{% if tax_class %}{{ tax_class.name|e }}{% else %}{% trans %}New Tax Class{% endtrans %}{% endif %}</h1>
</div>

<form action="{{ uri_for('taxclass-save') }}" method="post" class="form-horizontal" id="taxclassform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    {% if tax_class %}
    <input type="hidden" name="_id" value="{{ tax_class.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Tax Class Details{% endtrans %}</legend>
        {{ taxclassform.taxclassform(form) }}
        {{ forms.control(form.is_default, help=_('Use this as default when creating new products')) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Tax Class{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('taxclass-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>

{% endblock %}