{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/priceruleform.html' as priceruleform %}
{% import 'merchants/catalog/productoptionform.html' as productoptionform %}
{% import 'merchants/catalog/taxclassform.html' as taxclassform %}
{% import 'merchants/catalog/categoryform.html' as categoryform %}
{% import 'merchants/catalog/menuform.html' as menuform %}
{% block title %}{% trans %}Edit Product{% endtrans %}{% endblock %}
{% block head_additional %}
<script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/productoptions.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery.ui.touch-punch.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="row tabbededitor">
    <div class="span2">
        <div class="well" style="padding: 8px 0">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans %}Product Data{% endtrans %}</li>
            <li class="active"><a href="#general" onclick="return false;"><i class="icon-home"></i> {% trans %}General{% endtrans %}</a></li>
            <li><a href="#placement" onclick="return false;"><i class="icon-folder-open"></i> {% trans %}Placement{% endtrans %}</a></li>
            <li><a href="#pricerules" onclick="return false;"><i class="icon-tag"></i> {% trans %}Price Rules{% endtrans %}</a></li>
            <li><a href="#variants" onclick="return false;"><i class="icon-list"></i> {% trans %}Variants{% endtrans %} &amp; {% trans %}Options{% endtrans %}</a></li>
        </ul>
        </div>
    </div>
    <div class="span10">
        <div class="page-header">
            <h1>{% if product %}{{ product.name|e }}{% else %}{% if group == 'menu' %}{% trans %}New Menu Item{% endtrans %}{% else %}{% trans %}New Ticket{% endtrans %}{% endif %}{% endif %}</h1>
        </div>

        <form action="{{ uri_for('product-save', group=group) }}" method="post" class="form-horizontal" id="productform" enctype="multipart/form-data" onSubmit='$("#category_group").prop("disabled", false);'>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
            <input type="hidden" name="continue_tutorial" id="continue_tutorial" value=""/>
            {% if product and not clone %}
            <input type="hidden" name="_id" value="{{ product.key().id() }}"/>
            {% endif %}
            <input type="hidden" name="clone" value="{% if clone %}1{% else %}0{% endif %}"/>
            {{ form.clone_image_from_product() }}
            <fieldset id="general">
                <legend>{% trans %}Product Details{% endtrans %}</legend>
                {{ forms.control(form.name, required="required", prepend='<i class="icon-tag"></i>', autofocus="autofocus") }}
                {{ forms.control(form.description, help=_('Write a helpful description. For drinks and food we recommend a list of ingredients.')) }}
                {{ forms.control(form.price, class='span1', pattern=form.price.get_pattern(), required="required", prepend=user_merchant.currency, help=(_('Incl. VAT.') if user_merchant.prices_include_tax else _('Excl. VAT.'))) }}
                {#{ forms.control(form.sort_order, class='span1', help=_('Affects which order the products are displayed in (in the app).'), prepend='<i class="icon-resize-vertical"></i>') }#}
                {#{ forms.control(form.enabled) }#}
                <div class="control-group{% if form.image.errors %} error{% endif %}">
                    <label class="control-label" for="image">{% trans %}Image{% endtrans %}</label>
                    <div class="controls">
                        {% if product and product.image %}
                        <p>
                        <img src="{{ uri_for('image', entity_key=product.key(), width=60, height=60) }}" width="60" height="60"/>
                        <input type="checkbox" name="image-delete" value="1"> {% trans %}Delete{% endtrans %}
                        </p>
                        {% endif %}
                        {% trans %}New image:{% endtrans %} {{ form.image() }}
                    </div>    
                    {% if form.image.errors %}
                    <span class="errors help-inline">{% for error in form.image.errors %}{{ error }}{% endfor %}</span>
                    {% endif %}
                </div>
                {{ forms.control(form.select_tax_class) }}
                <div id="taxclassform" style="display: none" class="well">
                    <div class="control-group">
                        <h4>{% trans %}New Tax Class{% endtrans %}</h4>
                    </div>
                    {{ taxclassform.taxclassform(taxclasswtform) }}
                </div>
                <script type="text/javascript">
                $("#{{ form._prefix }}select_tax_class").change(function() {
                    $("#taxclassform").toggle($(this).val()=='new');
                });
                 $("#taxclassform").toggle($("#{{ form._prefix }}select_tax_class").val()=='new');
                </script>
                {{ forms.control(form.exclude_from_loyalty, help=_('Check if this product should be excluded from the merchants Loyalty Discount program.')) }}
            </fieldset>
            <fieldset id="placement" style="display: none">
                <legend>{% trans %}Placement{% endtrans %}</legend>

                {% if group == 'menu' %}
                <div class="control-group">
                    <label class="control-label">{% trans %}Menu Cards{% endtrans %}</label>
                    <div class="controls">
                        <div class="input">
                            <label class="control-input-label">{% trans %}Included in:{% endtrans %}</label>
                            {{ form.menus(class="unstyled") }}
                            <label class="checkbox">
                                <input id="new-menu" name="new_menu" type="checkbox" value="new"> 
                                <label for="new-menu">{% trans %}New menu card{% endtrans %}</label>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="menuform" class="well" style="display: none;">
                    <div class="control-group">
                        <h4>{% trans %}New Menu Card{% endtrans %}</h4>
                    </div>
                    {{ menuform.menuformbar(mform, user_merchant, bars) }}
                </div>
            
                {% endif %}

                {{ forms.control(form.select_category) }}
                <div id="categoryform" style="display: none" class="well">
                    <div class="control-group">
                        <h4>{% trans %}New Category{% endtrans %}</h4>
                    </div>
                    {{ categoryform.categoryform(categorywtform) }}
                </div>
                {% if group == 'entrance' %}
                <div class="control-group" id="product-locations">
                    <label class="control-label">{% trans %}Locations{% endtrans %}</label>
                    <div class="controls">
                        <div class="input">
                            <div id="product-locations-list">
                                <label class="control-input-label">{% trans %}Sell product at:{% endtrans %}</label>
                                {{ form.enabled_locations(class="unstyled") }}
                                {% if form.enabled_locations.errors %}
                                <span class="errors help-inline">{% for error in form.enabled_locations.errors %}{{ error }}{% endfor %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <script type="text/javascript">
                $("#new-menu").change(function() {
                    $("#menuform").toggle();
                });
                function onSelectCategory() {
                    var selectedVal = $("#{{ form._prefix }}select_category").val();
                    $("#categoryform").toggle(selectedVal=='new');
                }
                $("#{{ form._prefix }}select_category").change(onSelectCategory);
                onSelectCategory();
                </script>
            </fieldset>
            <fieldset id="pricerules" style="display: none">
                <legend>{% trans %}Price Rules{% endtrans %}</legend>
                <ul class="unstyled">
                    {% for price_rule in allpricerules %}
                    <li><label><input type="checkbox" name="price_rules" value="{{ price_rule.key() }}"{% if price_rule.key() in product.price_rules %} checked{% endif %}/> {{ price_rule }}</label></li>
                    {% endfor %}
                    <li><label>{{ form.new_price_rule() }} <strong>{% trans %}Create new price rule{% endtrans %}</strong></label></li>
                </ul>
                <div id="priceruleform" style="display: none">
                    <h4>{% trans %}New Price Rule{% endtrans %}</h4>
                    {{ priceruleform.priceruleform(pricerulewtform, user_merchant) }}
                </div>
                <script type="text/javascript">
                $("#new_price_rule").change(function() {
                    $("#priceruleform").toggle($(this).is(":checked"));
                });
                 $("#priceruleform").toggle($("#new_price_rule").is(":checked"));
                </script>
            </fieldset>
            <fieldset id="variants" style="display: none">
                <legend>{% trans %}Variants{% endtrans %} &amp; {% trans %}Options{% endtrans %}</legend>
                {# The option_forms field holds the number of options on the page and is used to instantiate the same number of form objects #}
                {{ form.option_forms }}
                {# jQuery template for the option HTML to add options dynamically #}
                <script id="option-template" type="text/x-jquery-tmpl">
                {{ productoptionform.productoptionform(js_optionform, '${option_index}') }}
                </script>
                {# jQuery template for the option value HTML to add values dynamically #}
                <script id="option-value-template" type="text/x-jquery-tmpl">
                <tr>
                    <td><a class="btn btn-small sort-option-value" title="{% trans %}Drag to change position{% endtrans %}"><i class="icon-resize-vertical"></i></a></td>
                	<td><input type="text" class="${option_prefix}value-label" value=""/></td>
                    <td><input type="text" class="${option_prefix}value-price" value="" pattern="-?\d+(\.\d{1,2})?"/></td>
                    <td><button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button></td>
                </tr>
                </script>
                {# Render existing options #}
                <div id="product-options">
                {% for optionform in optionforms %}
                    {{ productoptionform.productoptionform(optionform, loop.index0) }}
                {% endfor %}
                </div>
                <button class="btn btn-block" type="button" id="add-option"><i class="icon-plus"></i> {% trans %}Add New Option{% endtrans %}</button>
                {# Initialize javascript to add/remove options dynamically #}
                <script type="text/javascript">
                $(document).ready(function() {
                    $('#product-options').productOptions({
                        'form': $('#productform'),
                        'optionTemplate': $('#option-template'),
                        'optionValueTemplate': $('#option-value-template'),
                        'addButton': $('#add-option'),
                        'optionFormsField': $("#{{ form.option_forms.id }}")
                    });
                });
                </script>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Product{% endtrans %}</button>
                <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
                <button type="button" class="btn" onclick="window.location='{{ uri_for('product-list', group=group) }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    if(window.location.href.indexOf("tutorial=true") > 0) {
        loadAndStartTutorial("{{ uri_for('tutorial-json', page='product-new') }}");
          intro.onexit(function(){ $('#continue_tutorial').val(''); }); 
          if(window.location.href.indexOf("cont=true") > 0) {
            $('#continue_tutorial').val('1');
            intro.oncomplete(function(){
                window.location.href = "{{ uri_for('tutorial-end') }}";
            });
        }
    }
});
</script>
{% endblock %}