{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/priceruleform.html' as priceruleform %}
{#% import 'merchants/catalog/scheduleform.html' as scheduleform %#}
{% block title %}{% trans %}Edit Price Rule{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{% if pricerule %}{{ pricerule.name|e }}{% else %}{% trans %}New Price Rule{% endtrans %}{% endif %}</h1>
</div>

<form action="{{ uri_for('pricerule-save') }}" method="post" class="form-horizontal" id="priceruleform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    {% if pricerule %}
    <input type="hidden" name="_id" value="{{ pricerule.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Rule{% endtrans %}</legend>
        {{ priceruleform.priceruleform(form, user_merchant) }}
    </fieldset>
    <fieldset id="products">
        <legend>{% trans %}Products{% endtrans %}</legend>
        <p><em>{% trans %}The rule applies to each product individually. For product combination offers/bundles, use product variations.{% endtrans %}</em></p>
        {% for category in allcategories %}
        <ul class="unstyled span2 pricerule-products">
            <li><h4>{{ category.name }}</h4></li>
            {% for product in category.products %}
            <li><label class="checkbox"><input type="checkbox" name="products" value="{{ product.key() }}"{% if product.key().__str__() in product_keys %} checked{% endif %}/> {{ product }}</label></li>
            {% endfor %}
        </ul>
        {% endfor %}
        <script type="text/javascript">
        // Click categories to select/deselect all products
        $(".pricerule-products h4").click(function() {
            var checkboxes = $(this).closest('ul').find('input');
            var checkboxes_checked = checkboxes.filter(":checked");
            var col_checked = (checkboxes_checked.length < checkboxes.length);
            checkboxes.prop('checked', col_checked);
        });
        </script>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Price Rule{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('pricerule-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>

{% endblock %}