{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/menuform.html' as menuform %}
{% block title %}{% trans %}Edit Menu{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{% if menu %}{{ menu.name|e }}{% else %}{% trans %}New Menu{% endtrans %}{% endif %}</h1>
</div>

<form action="{{ uri_for('menu-save') }}" method="post" class="form-horizontal" id="menuform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    <input type="hidden" name="continue_tutorial" id="continue_tutorial" value=""/>
    {% if menu %}
    <input type="hidden" name="_id" value="{{ menu.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Menu{% endtrans %}</legend>
        {{ menuform.menuform(form, user_merchant) }}
    </fieldset>
    <fieldset id="bars">
        <legend>{% trans %}Bars{% endtrans %}</legend>
        {% for bar in bars %}
        <ul class="unstyled span2 menu-bars">
            <li><label class="checkbox"><input type="checkbox" name="bars" value="{{ bar.key() }}"{% if bar.key().__str__() in bar_keys or bars.count() == 1%} checked{% endif %}/> {{ bar.name }}</label></li>
        </ul>
        {% endfor %}
    </fieldset>
    <fieldset id="products">
        <legend>{% trans %}Menu Items{% endtrans %}</legend>
        {% if allcategories.count() > 0 %}
        {% for category in allcategories %}
        <ul class="unstyled span2 menu-products">
            <li><h4>{{ category.name }}</h4></li>
            {% for product in category.products %}
            <li><label class="checkbox"><input type="checkbox" name="products" value="{{ product.key() }}"{% if product.key().__str__() in product_keys %} checked{% endif %}/> {{ product }}</label></li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% else %}
        <p>{% trans %}You don't have products yet.{% endtrans %} <a href="{{ uri_for('product-new', group='menu') }}">{% trans %}Create a new product{% endtrans %}</a>.</p>
        {% endif %}
        <script type="text/javascript">
        // Click categories to select/deselect all products
        $(".menu-products h4").click(function() {
            var checkboxes = $(this).closest('ul').find('input');
            var checkboxes_checked = checkboxes.filter(":checked");
            var col_checked = (checkboxes_checked.length < checkboxes.length);
            checkboxes.prop('checked', col_checked);
        });
        </script>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Menu{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('menu-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    if(window.location.href.indexOf("tutorial=true") > 0) {
        loadAndStartTutorial("{{ uri_for('tutorial-json', page='menu-new') }}");
        intro.onexit(function(){ $('#continue_tutorial').val(''); }); 
        if(window.location.href.indexOf("cont=true") > 0) {
            $('#continue_tutorial').val('1');
            intro.oncomplete(function(){
                window.location.href = "{{ uri_for('category-new', group='menu', tutorial='true', cont='true') }}";
            });
        }
    }
});
</script>
{% endblock %}