{% extends "merchants/base.html" %}
{% import 'merchants/catalog/scheduleform.html' as scheduleform %}
{% block title %}{% trans %}Edit Schedule{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{% if schedule %}{{ schedule.name|e }}{% else %}{% trans %}New Schedule{% endtrans %}{% endif %}</h1>
</div>

<form action="{{ uri_for('schedule-save') }}" method="post" class="form-horizontal" id="scheduleform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    {% if schedule %}
    <input type="hidden" name="_id" value="{{ schedule.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Schedule Details{% endtrans %}</legend>
        {{ scheduleform.scheduleform(schedule) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Schedule{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('schedule-list') }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>

{% endblock %}