{% extends "merchants/base.html" %}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/categoryform.html' as categoryform %}
{% block title %}{% trans %}Edit Category{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
    {% if category %}
        {{ category.name|e }}
    {% else %}
        {% if group == 'menu' %}{% trans %}New Menu Category{% endtrans %}{% else %}{% trans %}New Ticket Category{% endtrans %}{% endif %}
    {% endif %}
    </h1>
</div>

<form action="{{ uri_for('category-save', group=group) }}" method="post" class="form-horizontal" id="categoryform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" name="continue_edit" id="continue_edit" value=""/>
    <input type="hidden" name="continue_tutorial" id="continue_tutorial" value=""/>
    {% if category %}
    <input type="hidden" name="_id" value="{{ category.key().id() }}"/>
    {% endif %}
    <fieldset id="general">
        <legend>{% trans %}Category Details{% endtrans %}</legend>
        {{ categoryform.categoryform(form) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans %}Save Category{% endtrans %}</button>
        <button type="submit" class="btn" onclick="$('#continue_edit').val('1');"><i class="icon-ok"></i> {% trans %}Save and Continue Edit{% endtrans %}</button>
        <button type="button" class="btn" onclick="window.location='{{ uri_for('category-list', group=group) }}'"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    if(window.location.href.indexOf("tutorial=true") > 0) {
        loadAndStartTutorial("{{ uri_for('tutorial-json', page='category-new') }}");
        intro.onexit(function(){ $('#continue_tutorial').val(''); }); 
        if(window.location.href.indexOf("cont=true") > 0) {
            $('#continue_tutorial').val('1');
            intro.oncomplete(function(){
                window.location.href = "{{ uri_for('product-new', group='menu', tutorial='true', cont='true') }}";
            });
        }
    }
});
</script>
{% endblock %}