{% extends "merchants/base.html" %}
{% block title %}{% trans %}Menus{% endtrans %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% trans %}Menu Cards{% endtrans %}
        <div class="pull-right">
            <button type="button" class="btn" onclick="window.location='{{ uri_for('menupreview') }}'"><i class="icon-eye-open"></i> {% trans %}Menu Preview{% endtrans %}</button>
             {% if menus.count(2) > 1 %}
                <button type="button" class="btn" onclick="window.location='{{ uri_for('menu-sort') }}'"><i class="icon-resize-vertical"></i> {% trans %}Edit Sort Order{% endtrans %}</button>
            {% endif %}
            <a class="btn btn-primary" href="{{ uri_for('menu-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Menu{% endtrans %}</a>
        </div>
    </h1>
</div>

<p class="lead">{% trans %}Define separate menus for separate times of the day or week{% endtrans %}</p>
<p><span class="label label-info">{% trans %}Example{% endtrans %}</span> {% trans %}Lunch menu, dinner menu{% endtrans %}</p>

{% if menus.count(limit=1) %}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        {% for bar in bars %}
            <th>{{ bar.name|e }}</th>
        {% endfor %}
        <th>{% trans %}Effective in{% endtrans %}</th>
        <th>{% trans %}Applies to{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for menu in menus %}
    <tr>
        <td><a href="{{ uri_for('menu-edit', menu_id=menu.key().id()) }}"><i class="icon-pencil"></i> {{ menu.name|e }}</a></td>
        {% for bar in bars %}
            <td>
            {% if bar.key() in menu.bars %}
                <span class="badge badge-success badge-fillcell"><i class="icon icon-white icon-ok"></i></span>
            {% endif %}
            </td>
        {% endfor %}
        <td>{% if menu.schedule %}{{ menu.schedule|e }}{% else %}{% trans %}Never{% endtrans %}{% endif %}</td>
        <td>{% trans count=menu.products.count() %}{{ count }} products{% endtrans %}</td>
        <td><form action="{{ uri_for('menu-delete', menu_id=menu.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
