{% macro menuform(form, user_merchant) -%}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/scheduleform.html' as scheduleform %}
{% if form._prefix %}
{{ forms.control(form.name, placeholder=_('Dinner Menu')) }}
{% else %}
{{ forms.control(form.name, placeholder=_('Dinner Menu'), autofocus="autofocus") }}
{% endif %}
{{ forms.control(form.select_schedule, class='span4') }}
<script type="text/javascript">
$("#{{ form._prefix }}select_schedule").change(function() {
    $("#{{ form._prefix }}scheduleform").toggle($(this).val()=='new');
});
</script>
<div id="{{ form._prefix }}scheduleform" style="display: none">
    <div class="control-group">
        <h4>{% trans %}New Schedule{% endtrans %}</h4>
    </div>
    {{ scheduleform.scheduleform(field_prefix='menu_schedule_') }}
</div>
{% endmacro %}

{% macro menuformbar(form, user_merchant, bars) -%}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/scheduleform.html' as scheduleform %}
{% if form._prefix %}
{{ forms.control(form.name, placeholder=_('Dinner Menu')) }}
{% else %}
{{ forms.control(form.name, placeholder=_('Dinner Menu'), autofocus="autofocus") }}
{% endif %}
 <div class="control-group">
    <label class="control-label">{% trans %}Bars{% endtrans %}</label>
    <div class="controls">
        <div class="input control-input-label">
            {% for bar in bars %}
            <ul class="unstyled span2 menu-bars">
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="bars" value="{{ bar.key() }}"{% if bar.key().__str__() in bar_keys or bars.count() == 1 %} checked{% endif %}/> {{ bar.name }}
                    </label>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{{ forms.control(form.select_schedule, class='span4') }}
<script type="text/javascript">
$("#{{ form._prefix }}select_schedule").change(function() {
    $("#{{ form._prefix }}scheduleform").toggle($(this).val()=='new');
});
</script>
<div id="{{ form._prefix }}scheduleform" style="display: none">
    <div class="control-group">
        <h4>{% trans %}New Schedule{% endtrans %}</h4>
    </div>
    {{ scheduleform.scheduleform(field_prefix='menu_schedule_') }}
</div>
{% endmacro %}