{% extends "merchants/base.html" %}
{% block title %}{% trans %}Menu Preview{% endtrans %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% trans %}Menu Preview{% endtrans %}
    </h1>
</div>

<p class="lead">{% trans %}Get a preview of your menu in the app before going live.{% endtrans %}</p>

<p>{% trans %}Follow the instructions to see all your locations and bars while they are still disabled for customers.{% endtrans %}</p>

<div class="row">
    <div class="span6">
        <h2>{% trans %}iPhone{% endtrans %}</h2>
        <ol>
            <li>{% trans %}Open the Settings app.{% endtrans %}</li>
            <li>{% trans %}Choose Zerved.{% endtrans %}</li>
            <li>{% trans %}Enter your merchant ID.{% endtrans %}
                <p><div class="alert alert-info">{% trans %}Your merchant ID is:{% endtrans %} <strong>{{ user_merchant.key().id() }}</strong></div></p>
            </li>
            <li>{% trans %}Open the Zerved app and you should see your menu in Locations > Mine. Click reload if necessary.{% endtrans %}</li>
        </ol>
    </div>
    <div class="span6">
        <h2>{% trans %}Android{% endtrans %}</h2>
        <ol>
            <li>{% trans %}In the Zerved app, push the upper left Zerved logo to reveal the navigation, and choose For merchants.{% endtrans %}</li>
            <li>{% trans %}Enter your merchant ID.{% endtrans %}
                <p><div class="alert alert-info">{% trans %}Your merchant ID is:{% endtrans %} <strong>{{ user_merchant.key().id() }}</strong></div></p>
            </li>
            <li>{% trans %}You should now be able to see your menu in Locations > Mine.{% endtrans %}</li>
        </ol>
    </div>
</div>

{% endblock %}