{% macro priceruleform(form, user_merchant) -%}
{% import 'merchants/forms.html' as forms %}
{% import 'merchants/catalog/scheduleform.html' as scheduleform %}
{% if form._prefix %}
{{ forms.control(form.name, placeholder=_('Large beers'), help=_('For internal use only')) }}
{% else %}
{{ forms.control(form.name, placeholder=_('Large beers'), help=_('For internal use only'), autofocus="autofocus") }}
{% endif %}
<div class="control-group">
    <label class="control-label">{% trans %}Calculation{% endtrans %}</label>
    <div class="controls">
        {{ form.calculation(class='span4') }}
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <span id="calctext-start"></span>
        {{ form.quantity(class='input-mini'+(' error' if form.quantity.errors else '')) }}
        <span id="calctext-middle"></span>
        <div class="input input-append">{{ form.amount(class='input-mini'+(' error' if form.amount.errors else ''), pattern=form.amount.get_pattern()) }}{#<span class="add-on" id="amount-addon-fixed" style="display: none">{{ user_merchant.currency }}</span><span class="add-on" id="amount-addon-percent" style="display: none">%</span>#}</div>
        <span id="calctext-end"></span>
        <script type="text/javascript">
        function updateCalculationDescription() {
            selected_text = $("#{{ form._prefix }}calculation option:selected").text();
            selected_text_parts = selected_text.split(/[XY]/);
            $("#calctext-start").html(selected_text_parts[0]);
            $("#calctext-middle").html(selected_text_parts[1]);
            $("#calctext-end").html(selected_text_parts[2]);
            // Toggle percent / fixed add-on symbol
            //var is_percent = ($("#{{ form._prefix }}calculation").val() == 'percentdiscount' || $("#{{ form._prefix }}calculation").val() == 'percentdiscount_interval');
            //$("#amount-addon-fixed").toggle(!is_percent);
            //$("#amount-addon-percent").toggle(is_percent);
        }
        updateCalculationDescription();
        $("#{{ form._prefix }}calculation").change(updateCalculationDescription);
        </script>
        <dl>
            <dt>{% trans %}"Buy X" rules{% endtrans %}</dt>
            <dd>{% trans %}Apply to full intervals of X items{% endtrans %}</dd>
            <dt>{% trans %}"Buy X or more" rules{% endtrans %}</dt>
            <dd>{% trans %}Apply to every item when X or more is selected{% endtrans %}</dd>
        </dl>
    </div>
</div>
{{ forms.control(form.select_schedule, class='span4') }}
<script type="text/javascript">
$("#{{ form._prefix }}select_schedule").change(function() {
    $("#scheduleform").toggle($(this).val()=='new');
});
</script>
<div id="scheduleform" style="display: none">
    <div class="control-group">
        <h4>{% trans %}New Schedule{% endtrans %}</h4>
    </div>
    {{ scheduleform.scheduleform(field_prefix='schedule_') }}
</div>
{% endmacro %}