{% extends "merchants/base.html" %}
{% block title %}{% trans %}Price Rules{% endtrans %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>
        {% trans %}Price Rules{% endtrans %}
        <a class="btn btn-primary pull-right" href="{{ uri_for('pricerule-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Price Rule{% endtrans %}</a>
    </h1>
</div>

<p class="lead">{% trans %}Define price tiers based on quantities and weekly schedules{% endtrans %}</p>
<p><span class="label label-info">{% trans %}Example{% endtrans %}</span> {% trans %}Buy 2 drinks and get 50 percent discount in happy hour friday-saturday{% endtrans %}</p>

{% if pricerules.count(limit=1) %}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Rule{% endtrans %}</th>
        <th>{% trans %}Effective in{% endtrans %}</th>
        <th>{% trans %}Applies to{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for pricerule in pricerules %}
    <tr>
        <td><a href="{{ uri_for('pricerule-edit', pricerule_id=pricerule.key().id()) }}"><i class="icon-pencil"></i> {{ pricerule.name|e }}</a></td>
        <td>{{ pricerule.summary }}</td>
        <td>{% if pricerule.schedule %}{{ pricerule.schedule|e }}{% else %}{% trans %}Never{% endtrans %}{% endif %}</td>
        <td>{% trans count=pricerule.products.count() %}{{ count }} products{% endtrans %}</td>
        <td><form action="{{ uri_for('pricerule-delete', pricerule_id=pricerule.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
