{% extends "merchants/base.html" %}
{% block title %}{% trans %}Products{% endtrans %}{% endblock %}
{% block head_additional %}
<script src="/merchants/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
    {% if group == 'menu' %}
        $("#li-menu-items").addClass("active");
    {% elif group == 'entrance' %}
        $("#li-tickets").addClass("active");
    {% endif %}
});
</script>
{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% if group == 'entrance' %}
            {% trans %}Tickets{% endtrans %}
        {% elif group == 'menu' %}
            {% trans %}Menu items{% endtrans %}
        {% endif %}
        <div class="pull-right">
            {% if products|length > 1 %}
                {% if category_id and category_id != '0' %}
                <button type="button" class="btn" onclick="window.location='{{ uri_for('product-sort', category_id=category_id, group=group) }}'"><i class="icon-resize-vertical"></i> {% trans %}Edit Sort Order{% endtrans %}</button>
                {% else %}
                <button type="button" class="btn" onclick="alert('{% trans %}Please select a category first{% endtrans %}');"><i class="icon-resize-vertical"></i> {% trans %}Edit Sort Order{% endtrans %}</button>
                {% endif %}
            {% endif %}
            <a class="btn btn-primary" href="{{ uri_for('product-new', group=group) }}"><i class="icon-plus icon-white"></i> 
                {% if group == 'menu' %}
                    {% trans %}Add New Menu Item{% endtrans %}
                {% else %}
                    {% trans %}Add New Ticket{% endtrans %}
                {% endif %}
            </a>
        </div>
    </h1>
</div>

<select name="category" onchange="window.location=this.value;" class="pull-left" id="select-category">
    <option value="{{ uri_for('product-list-category', category_id=0, group=group) }}">{% trans %}All categories{% endtrans %}</option>
    {% for category in categories %}
    <option value="{{ uri_for('product-list-category', category_id=category.key().id(), group=group) }}"{% if category.key().id()|str == category_id|str %} selected="selected"{% endif %}>{{ category }}</option>
    {% endfor %}
</select>

{% if products %}

{{ pager }}

<table class="table">
    <thead>
    <tr>
        <th rowspan="2">{% trans %}Name{% endtrans %}</th>
        <th rowspan="2">{% trans %}Price{% endtrans %}</th>
        <th rowspan="2">{% trans %}Category{% endtrans %}</th>
        {% if group == 'menu' %}
        {% for menu in user_merchant.get_menus() %}
            <th rowspan="2">{{ menu.name|e }}</th>
        {% endfor %}
        {% else %}
        {% for location in user_merchant.get_locations() %}
            <th rowspan="2">{{ location|e }}</th>
        {% endfor %}
        {% endif %}
        <th rowspan="2">{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td><a href="{{ uri_for('product-edit', product_id=product.key().id(), group=group) }}"><i class="icon-pencil"></i> {{ product.name|e }}</a></td>
        <td>{{ format_currency(product.price, user_merchant.currency) }}</td>
        <td>{% if product.category %}{{ product.category.name|e }}{% endif %}</td>
        {% if group == 'menu' %}
        {% for menu in user_merchant.get_menus() %}
            <td>
                {% if menu.key() in product.menus %}
                    <span class="badge badge-success badge-fillcell"><i class="icon icon-white icon-ok"></i></span>
                {% endif %}
            </td>
        {% endfor %}
        {% else %}
        {% for location in user_merchant.get_locations() %}
            <td>
            {% if location.key() in product.enabled_locations %}
                <span class="badge badge-fillcell"><i class="icon icon-white icon-ok"></i></span>
            {% endif %}
            </td>        
        {% endfor %}
        {% endif %}
        <td><form action="{{ uri_for('product-delete', product_id=product.key().id(), group=group) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><a href="{{ uri_for('product-clone', product_id=product.key().id(), group=group) }}" class="btn btn-mini">{% trans %}Clone{% endtrans %}</a> <button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{ pager }}

{% else %}
<p class="lead empty-list">
    {% if group == 'menu' %}
    {% trans %}Create your menu items here.{% endtrans %}
    {% else %}
    {% trans %}Create your ticket products here.{% endtrans %}
    {% endif %}
</p>
{% endif %}

{% endblock %}