{% macro productoptionform(optionform, option_index) -%}
{% import 'merchants/forms.html' as forms %}
<div class="product-option well" id="option-{{ option_index }}">
    <button class="btn btn-danger pull-right delete-option" type="button" data-option-index="{{ option_index }}">{% trans %}Delete{% endtrans %}</button>
    {{ optionform.option_id() }}
    {{ optionform.deleted() }}
    {{ forms.control(optionform.name, help=_('E.g. Size, Alcohol amount, Extras...'), class="option-name") }}
    {{ forms.control(optionform.selection_type) }}
    {{ forms.control(optionform.required) }}
    {{ forms.control(optionform.sort_order) }}
    {{ optionform.value_labels(style='display: none') }}
    {{ optionform.value_prices(style='display: none') }}
    
    <div class="control-group">
        <label class="control-label">{% trans %}Choices{% endtrans %}</label>
        <div class="controls">
            <table class="table">
            	<thead>
                	<tr>
                	    <th></th>
                    	<th>{% trans %}Description{% endtrans %}</th>
                        <th>{% trans %}Additional Cost{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="10"><button type="button" class="btn btn-small pull-right" onclick="$.tmpl('option-value-template', {'option_prefix': '{{ optionform._prefix }}'}).appendTo($(this).closest('table').find('tbody'));$(this).closest('table').find('input.{{ optionform._prefix }}value-label').last().focus();"><i class="icon-plus-sign"></i></button></td>
                    </tr>
                </tfoot>
                <tbody id="{{ optionform._prefix }}values">
                {% for option_value in optionform.get_option_values() %}
            	<tr>
            	    <td><a class="btn btn-small sort-option-value" title="{% trans %}Drag to change position{% endtrans %}"><i class="icon-resize-vertical"></i></a></td>
                	<td><input type="text" class="{{ optionform._prefix }}value-label" value="{{ option_value.label|e }}"/></td>
                    <td><input type="text" class="{{ optionform._prefix }}value-price" value="{{ option_value.price }}" pattern="-?\d+(\.\d{1,2})?"/></td>
                    <td><button type="button" class="btn btn-small pull-right" onclick="$(this).closest('tr').remove();"><i class="icon-minus-sign"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}