{% extends "merchants/base.html" %}
{% block title %}{% trans %}Weekly Schedules{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Weekly Schedules{% endtrans %}
        <a class="btn btn-primary pull-right" href="{{ uri_for('schedule-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Schedule{% endtrans %}</a>
    </h1>
</div>

<p class="lead">{% trans %}Define weekly schedules for your menus and for pricing purposes{% endtrans %}</p>
<p><span class="label label-info">{% trans %}Example{% endtrans %}</span> {% trans %}Happy hour thursday 22-23 and friday 23-24.{% endtrans %}</p>

{% if schedules.count(limit=1) %}
<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Hours{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for schedule in schedules %}
    <tr>
        <td><a href="{{ uri_for('schedule-edit', schedule_id=schedule.key().id()) }}"><i class="icon-pencil"></i> {{ schedule.name|e }}</a></td>
        <td>{{ schedule.hours_summary }}</td>
        <td><form action="{{ uri_for('schedule-delete', schedule_id=schedule.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
