{% macro scheduleform(schedule=None, field_prefix='') -%}
<div class="control-group">
    <label class="control-label" for="name">{% trans %}Name{% endtrans %}</label>
    <div class="controls">
        <div class="input">
            <input type="text" name="{{ field_prefix }}name" id="name" value="{{ schedule.name|e }}" placeholder="{% trans %}Happy hour{% endtrans %}"{% if not field_prefix %}autofocus="autofocus"{% endif %} />
        </div>
    </div>
</div>
<div class="control-group">
    <label class="control-label">{% trans %}Valid Hours{% endtrans %}</label>
    <div class="controls">
        <button type="button" class="btn" onclick="$('.checkbox-hour').prop('checked', true)">{% trans %}Select All{% endtrans %}</button>
        <button type="button" class="btn" onclick="$('.checkbox-hour').prop('checked', false)">{% trans %}Deselect All{% endtrans %}</button>
        <table class="table table-condensed table-schedulehours" id="{{ field_prefix }}hourtable">
            <col width="23%"/>
            <col width="11%"/>
            <col width="11%"/>
            <col width="11%"/>
            <col width="11%"/>
            <col width="11%"/>
            <col width="11%"/>
            <col width="11%"/>
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans %}Monday{% endtrans %}</a></th>
                    <th>{% trans %}Tuesday{% endtrans %}</th>
                    <th>{% trans %}Wednesday{% endtrans %}</th>
                    <th>{% trans %}Thursday{% endtrans %}</th>
                    <th>{% trans %}Friday{% endtrans %}</th>
                    <th>{% trans %}Saturday{% endtrans %}</th>
                    <th>{% trans %}Sunday{% endtrans %}</th>
                </tr>
            </thead>
            {% for hour in range(24) %}
            <tr>
                <td class="row-title">{{ "%02d:00"|format(hour) }} &mdash; {{ "%02d:59"|format(hour) }}</td>
                {% for day in range(7) %}
                <td><input type="checkbox" name="{{ field_prefix }}hours" value="{{ day }},{{ hour }}" class="checkbox-hour"{% if schedule and schedule.valid_hour(day, hour) %} checked="checked"{% endif %}></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <script type="text/javascript">
        // Click-and-drag
        $("#{{ field_prefix }}hourtable").dragCheck('td');
        
        // Column selectors
        $("#{{ field_prefix }}hourtable thead th").click(function () {
            if ($(this).index() > 0) {
                column = $(this).index()+1;
                checkboxes = $("#{{ field_prefix }}hourtable tr td:nth-child("+column+") input");//.prop('checked', true);
                checkboxes_checked = checkboxes.filter(":checked");
                col_checked = (checkboxes_checked.length < checkboxes.length);
                checkboxes.prop('checked', col_checked);
            }
        });
        
        // Row selectors
        $("#{{ field_prefix }}hourtable tbody td.row-title").click(function() {
            row = $(this).parent().index()+1;
            checkboxes = $("#{{ field_prefix }}hourtable tbody tr:nth-child("+row+") input");
            checkboxes_checked = checkboxes.filter(":checked");
            row_checked = (checkboxes_checked.length < checkboxes.length);
            checkboxes.prop('checked', row_checked);
        });
        </script>
    </div>
</div>
{% endmacro %}