{% extends "merchants/base.html" %}
{% block title %}{% trans %}Sort Products{% endtrans %}{% endblock %}
{% block head_additional %}
<script src="/merchants/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery.ui.touch-punch.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}

<form action="{{ uri_for('product-sort', category_id=category.key().id(), group=group) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    
    <div class="page-header">
        <h1>
            {% trans category_name=category.name %}Sort {{ category_name }}{% endtrans %}
            <div class="pull-right">
                <button type="button" class="btn" onclick="window.history.back()"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-primary" disabled="disabled" id="save-sort"><i class="icon-ok icon-white"></i> {% trans %}Save Sort Order{% endtrans %}</button>
            </div>
        </h1>
    </div>
    
    <p><em>{% trans %}Click and drag to rearrange products{% endtrans %}</em></p>

    <ol id="product-sort-list" class="sort-list unstyled row span4">
        {% for product in products %}
        <li>
            <i class="icon-resize-vertical"></i>
            <span class="product-name">{{ product.name }}</span>
            <span class="product-price">{{ format_currency(product.price, user_merchant.currency) }}</span>
            <input type="hidden" name="product_id[]" value="{{ product.key()|str }}"/>
        </li>
        {% endfor %}
    </ol>

    <script type="text/javascript">
    $("#product-sort-list").sortable({stop: function(event, ui) { $('#save-sort').removeAttr("disabled"); }});
    </script>

</form>

{% endblock %}