{% extends "merchants/base.html" %}
{% block title %}{% trans %}Sort Menu Cards{% endtrans %}{% endblock %}
{% block head_additional %}
<script src="/merchants/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/merchants/js/jquery.ui.touch-punch.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}

<form action="{{ uri_for('menu-sort') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    
    <div class="page-header">
        <h1>
            {% trans %}Sort Menu Cards{% endtrans %}
            <div class="pull-right">
                <button type="button" class="btn" onclick="window.history.back()"><i class="icon-remove"></i> {% trans %}Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-primary" disabled="disabled" id="save-sort"><i class="icon-ok icon-white"></i> {% trans %}Save Sort Order{% endtrans %}</button>
            </div>
        </h1>
    </div>
    
    <p><em>{% trans %}Click and drag to rearrange menu cards{% endtrans %}</em></p>

    <ol id="menu-sort-list" class="sort-list unstyled row span4">
        {% for menu in menus %}
        <li>
            <i class="icon-resize-vertical"></i>
            <span class="menu-name">{{ menu.name }}</span>
            <input type="hidden" name="menu_id[]" value="{{ menu.key()|str }}"/>
        </li>
        {% endfor %}
    </ol>

    <script type="text/javascript">
    $("#menu-sort-list").sortable({stop: function(event, ui) { $('#save-sort').removeAttr("disabled"); }});
    </script>

</form>

{% endblock %}