{% extends "merchants/base.html" %}
{% block title %}{% trans %}Tax Classes{% endtrans %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>
        {% trans %}Tax Classes{% endtrans %}
        <a class="btn btn-primary pull-right" href="{{ uri_for('taxclass-new') }}"><i class="icon-plus icon-white"></i> {% trans %}Add New Tax Class{% endtrans %}</a>
    </h1>
</div>

{% if tax_classes.count(limit=1) %}

<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Rate{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    <thead>
    <tbody>
    {% for tax_class in tax_classes %}
    <tr>
        <td><a href="{{ uri_for('taxclass-edit', taxclass_id=tax_class.key().id()) }}"><i class="icon-pencil"></i> {{ tax_class.name|e }}</a></td>
        <td>{{ tax_class.rate }} %</td>
        <td><form action="{{ uri_for('taxclass-delete', taxclass_id=tax_class.key().id()) }}" method="post" class="form-inline" onsubmit="return confirm('{% trans %}Are you sure you want to delete this?{% endtrans %}')"><input type="hidden" name="_csrf_token" value="{{ csrf_token }}"><button type="submit" class="btn btn-danger btn-mini">{% trans %}Delete{% endtrans %}</button></form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}