<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% trans %}Select Bar{% endtrans %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/merchants/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/styles.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/merchants/css/serve.css?v=1" type="text/css" media="screen" charset="utf-8"/>
	<link href="//fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/admin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="serve">

<div id="serve_top">
    <div class="left">
        {% if bars %}
        <p>{% trans %}Choose bar to start service{% endtrans %}</p>
        {% endif %}
    </div>
    <div class="right btn-toolbar">
        <a class="btn btn-danger" href="{{ logout_link }}">{% trans %}Log Out{% endtrans %}</a>
    </div>
</div>

<div class="clearfix"></div>
<div class="select-bar">

{% if bars %}
    <div class="btn-group btn-group-vertical">
            {% for bar in bars %}
                <a class="btn btn-large btn-block" href="{{ uri_for('serve-bars') }}?bar={{ bar.key() }}">{{ bar.name_with_location }}</a>
            {% endfor %}
    </div>
{% else %}
<div class="no-bars">
    <h2>{% trans %}No Zerved bars found for this account{% endtrans %}</h2>
    <p>{% trans %}Make sure your merchant and bar profile is set up.{% endtrans %}</p>
</div>
{% endif %}

{% if is_admin %}
    <a class="btn btn-large btn-block btn-back" href="#" onclick="history.back(); return false;">{% trans %}Back{% endtrans %}</a>
{% endif %}

</div>

</body>
</html>
