<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% trans %}Select Merchant{% endtrans %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/merchants/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/styles.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/merchants/css/serve.css?v=1" type="text/css" media="screen" charset="utf-8"/>
	<link href="//fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/admin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="serve">

<div id="serve_top">
    <div class="left">
        <p>{% trans %}Choose merchant{% endtrans %}</p>
    </div>
    <div class="right btn-toolbar">
        <a class="btn btn-danger" href="{{ logout_link }}">{% trans %}Log Out{% endtrans %}</a>
    </div>
</div>

<div class="clearfix"></div>
<div class="select-bar">
{% if merchants %}
    <div class="btn-group btn-group-vertical">
    {% for merchant in merchants %}
    <a class="btn btn-large btn-block" href="{{ uri_for('serve-bars') }}?merchant={{ merchant.key() }}">{{ merchant.name|e }}</a>
    {% endfor %}
</div>
{% endif %}
</div>

</body>
</html>
