{% import 'merchants/serve/servetables.html' as tables %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ bar.name|e }}</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale = 1, user-scalable = no" />
	<link rel="stylesheet" href="/merchants/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="/merchants/css/serve.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/merchants/css/serve_portrait.css" type="text/css" media="only screen and (max-width: 768px)" >
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/merchants/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
    {% include "_firebase_config.html" %}
     <script src="/merchants/js/firebase.js"></script>
    <script>
      initFirebase('{{ client_auth_token }}', '{{ channel_id }}');
    </script>
	<script src="/merchants/js/serve.js" type="text/javascript" charset="utf-8"></script>
s</head>
<body class="serve">

<script type="text/javascript">
// Fix for bootstrap dropdown in Mobile Safari
// https://github.com/twitter/bootstrap/issues/4550#issuecomment-8525357
$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
</script>

<div class="layer" id="order_warning" style="display: none">
	<div>
    	<div>
            <h1>{% trans %}New Order{% endtrans %}</h1>
            <p>{% trans %}Tap to proceed{% endtrans %}</p>
		</div>
    </div>
</div>

<div class="layer" id="load_layer" style="display: none">
	<div>
    	<div>
            <img src="/merchants/img/spiffygif_32x32.gif">
            <p id="load_layer_text_loading" style="display:none">{%trans%}Loading{%endtrans%}...</p>
            <p id="load_layer_text_lost_connection" style="display:none">{%trans%}Connection seems lost{%endtrans%}.<br>{%trans%}Trying to fetch orders{%endtrans%}...</p>
		</div>
    </div>
</div>

<div class="layer" id="multiple_orders_handle" style="display: none">
	<div>
        <div>
            <div id="orders_processing_progressbar">Loading...</div>
		</div>
    </div>
</div>

<div class="layer" id="error500_layer" style="display: none">
	<div>
    	<div>
            <img style="width:40px; height:40px" src="/merchants/img/warning.gif">
            <p>{%trans%}The server is experiencing problems{%endtrans%}.<br>{%trans%}Please try to reload{%endtrans%}.</p>
            <input type="button" class="btn btn-danger" value="{%trans%}Reload Page{%endtrans%}" onclick="location.reload()">
            <p><small><i>{%trans%}If this problem consists please contact support.{%endtrans%}</i></small></p>
		</div>
    </div>
</div>

<div id="status-bar">
	<div>
	    {{ bar.name|e }}
	</div>
</div>

<div id="serve_top" class="clearfix">
 
	<div class="left btn-toolbar">
        <div class="btn-group">
            <button class="btn" id="btn-quit"><i class="icon-arrow-left"></i> {% trans %}Admin{% endtrans %}</button>
        </div>
        <div class="btn-group"> 
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="btn-filterorders">
                <i class="icon-list-alt"></i> 
                <span id="filter-pull-orders-description" data-key="realtime" data-name="realtime">
                    {% trans %}Realtime orders{% endtrans %}
                </span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="filter-pull-orders">
                <li data-key="realtime" data-name="realtime" class="active">
                <a href="#" onclick="set_pull_filter($(this).parent());return false;">{% trans %}Realtime orders{% endtrans %}</a>
                </li>

                {% for event in events %}
				<li data-key="{{ event.key() }}" data-name="{{ event.name }}_{{ event.time_label }}_{{ event.format_date_with_timezone(event.date_delivery, 'Europe/Copenhagen') }}">
				<a href="#" onclick="set_pull_filter($(this).parent());return false;">{{ event.name }} {{ event.time_label }} {{ event.format_date_with_timezone(event.date_delivery, 'Europe/Copenhagen') }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group">
            <button id="btn-product-summary" class="btn" data-toggle="modal" data-target="#product-summary" onclick="getProductSummary()"><i class="icon-th"></i> {% trans %}Product summary{% endtrans %}</button>
        </div>
    </div>
    <div class="right btn-toolbar">
        <div class="btn-group" id="btn-group-status" style="display: none">
            <button id="btn-open" class="btn">{% trans %}Open{% endtrans %}</button>
            <button id="btn-paused" class="btn" data-toggle="modal" data-target="#edit-paused-msg">{% trans %}Pause{% endtrans %}</button>
            <button id="btn-closed" class="btn">{% trans %}Close{% endtrans %}</button>
        </div>
        {#
        <div class="btn-group" id="btn-group-stop" style="display: none">
            <button id="btn-stop" class="btn" data-toggle="modal" data-target="#edit-paused-msg"><i class="icon-pause"></i> {% trans %}Pause taking orders{% endtrans %}</button>
        </div>
        <div class="btn-group" id="btn-group-paused-msg" style="display: none">
            <button id="btn-paused-msg" class="btn" data-toggle="modal" data-target="#edit-paused-msg"><i class="icon-comment"></i> {% trans %}Edit pause message{% endtrans %}</button>
        </div>
        #}
        <div class="btn-group">
            <a class="btn" data-toggle="modal" href="#custom-waitingtime" id="btn-waitingtime">
                <i class="icon-time"></i> {% trans %}Est. waiting time{% endtrans %}
                <span id="waitingtime-description">
                {% if bar.estimated_waiting_time > 0 %}
                {% trans min=bar.estimated_waiting_time %}{{ min }} min.{% endtrans %}
                {% else %}
                {% trans %}unknown{% endtrans %}
                {% endif %}
                /
                {% if bar.estimated_waiting_time_delivery > 0 %}
                {% trans min=bar.estimated_waiting_time_delivery %}{{ min }} min.{% endtrans %}
                {% else %}
                {% trans %}unknown{% endtrans %}
                {% endif %}
                </span>
            </a>
        </div>
        {#
        <div class="btn-group">
            <button class="btn" onclick="location.reload()"><i class="icon-refresh"></i> {% trans %}Refresh{% endtrans %}</button>
        </div>
        #}
	</div>
</div>

<div class="column left">
    <div class="inner_wrapper">
        {{ tables.pendingtable() }}
    </div>
</div>
<div class="column right">
    <div class="inner_wrapper">
        {{ tables.preparingtable() }}
        {{ tables.completetable() }}
    </div>
</div>

<script id="order-template" type="text/x-jquery-tmpl">
<tr id="${key}" data-age="${sort_age}" style="display: none" class="order-row incomplete {{ '{{' }}if sort_age > 300 && status == 'pending'{{ '}}' }}very-important{{ '{{' }}else sort_age > 180 && status == 'pending'{{ '}}' }} important{{ '{{' }}/if{{ '}}' }}">
    
    <td class="time">
        {{ '{{' }}if event_name{{ '}}' }}
        <span class="label label-warning delivery-date"><span class="event-name"></span> ${delivery_date}</span>
        {{ '{{' }}else{{ '}}' }}
        <span class="label label-success delivery-date">${delivery_date}</span>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    <td class="queuenumber">
        <!-- if service type counter and service type delivery -->
		{{ '{{' }}if service == 'counter' || service == 'delivery'{{ '}}' }}
        <span class="label">{% trans %}queue number{% endtrans %}</span><span class="queue">${queue_number}</span>
        {{ '{{' }}/if{{ '}}' }}
        <!-- if service type table -->
		{{ '{{' }}if service == 'table'{{ '}}' }}
        <span class="label label-success">{% trans %}table number{% endtrans %}</span><span class="tableno">${table_number}</span>
        {{ '{{' }}/if{{ '}}' }}
        <!-- if service type counter and to_go -->
		{{ '{{' }}if service == 'counter' && to_go{{ '}}' }}
        <span class="badge badge-important">{% trans %}to go{% endtrans %}</span>
        {{ '{{' }}/if{{ '}}' }}
		<!-- if service type counter and not to_go -->
		{{ '{{' }}if service == 'counter' != to_go{{ '}}' }}
        <span class="badge badge-success">{% trans %}to stay{% endtrans %}</span>
        {{ '{{' }}/if{{ '}}' }}
		<!-- if delivery_name -->
		{{ '{{' }}if delivery_name{{ '}}' }}
        <span class="badge badge-important address-badge"><i class="icon-map-marker icon-white"></i> ${delivery_name}...</span>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    <td class="orderitems">
        <ul class="unstyled">
        {{ '{{' }}each items{{ '}}' }}
        <li><strong>${$value.category_name}:</strong><br><span class="pull-right">${$value.total_incl_tax}</span>
            ${$value.quantity} &times; ${$value.name}
            {{ '{{' }}if $value.options !== undefined && 'length' in $value.options && $value.options.length{{ '}}' }}
            <ul class="unstyled item-options">
                {{ '{{' }}each $value.options{{ '}}' }}
                <li>
                    <span class="label label-info">${$value.option_name}</span>
                    {{ '{{' }}html $value.values.join(" + "){{ '}}' }}
                </li>
                {{ '{{' }}/each{{ '}}' }}
            </ul>
            {{ '{{' }}/if{{ '}}' }}
        </li>
        {{ '{{' }}/each{{ '}}' }}
        </ul>
        {{ '{{' }}if comment{{ '}}' }}
        <p class="comment"><span class="label label-info">{% trans %}Comment{% endtrans %}</span> ${comment}</p>
        {{ '{{' }}/if{{ '}}' }}
        {{ '{{' }}if delivery_instructions{{ '}}' }}
        <p class="comment"><span class="label label-info">{% trans %}Delivery Instructions{% endtrans %}</span> ${delivery_instructions}</p>
        {{ '{{' }}/if{{ '}}' }}
        {{ '{{' }}if loyalty_code{{ '}}' }}
        <p class="comment"><span class="label label-info">{% trans %}Loyalty code{% endtrans %}</span> ${loyalty_code} (Discount: ${total_loyalty_discount_incl_tax_formatted})</p>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    {{ '{{' }}if status != 'complete'{{ '}}' }}
    <td class="actions">
    {{ '{{' }}if status == 'pending'{{ '}}' }}

    <button class="btn btn-primary btn-startpreparing" data-order="${key}">{% trans %}Start preparing{% endtrans %}</button>

    <div class="btn-group ipad">
        <a class="btn dropdown-toggle btn-more-actions" data-toggle="dropdown" href="#">
        {% trans %}More{% endtrans %} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" class="btn-print" data-order="${key}">{% trans %}Print{% endtrans %}</a></li>
            <li><a href="#" class="btn-reject" data-order="${key}">{% trans %}Reject{% endtrans %}</a></li>            
        </ul>
    </div>

    <div class="btn-group computer">
        <button class="btn btn-reject" data-order="${key}">{% trans %}Reject{% endtrans %}</button>
    </div>

    
    {{ '{{' }}/if{{ '}}' }}
    {{ '{{' }}if status == 'preparing'{{ '}}' }}
    {% if bar.merchant.serve_with_consumer_device %}
        <button class="btn btn-cancel" data-order="${key}">{% trans %}Cancel{% endtrans %}</button>
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-more-actions" data-toggle="dropdown" href="#">
            {% trans %}More{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="btn-complete-withpin" data-order="${key}">{% trans %}Serve & Complete{% endtrans %}</a></li>
                <li><a href="#" class="btn-print" data-order="${key}">{% trans %}Print{% endtrans %}</a></li>
            </ul>
        </div>
    {% else %}
        <button class="btn btn-success btn-complete" data-order="${key}">{% trans %}Serve & Complete{% endtrans %}</button>
        
        <div class="btn-group ipad">
            <a class="btn dropdown-toggle btn-more-actions" data-toggle="dropdown" href="#">
            {% trans %}More{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="btn-print" data-order="${key}">{% trans %}Print{% endtrans %}</a></li>
                <li><a href="#" class="btn-cancel" data-order="${key}">{% trans %}Cancel{% endtrans %}</a></li>            
            </ul>
        </div>

        <div class="btn-group computer">
            <button class="btn btn-cancel" data-order="${key}">{% trans %}Cancel{% endtrans %}</button>
        </div>

	{% endif %}
    {{ '{{' }}/if{{ '}}' }}
    </td>
    {{ '{{' }}/if{{ '}}' }}
    {{ '{{' }}if status == 'complete'{{ '}}' }}
    <td class="time"><span class="number">${completed_age}</span> {% trans %}min. ago{% endtrans %}</td>
    {{ '{{' }}/if{{ '}}' }}
</tr>
</script>

<script id="order-complete-template" type="text/x-jquery-tmpl">
<tr id="${key}" data-age="${sort_age}" style="display: none" class="order-row">
    <td class="queuenumber">
        <span class="queue">${queue_number}</span>
        {{ '{{' }}if service == 'table'{{ '}}' }}
        <div class="ordernumber full">
        <span class="label label-success">{% trans %}table number{% endtrans %}</span><span class="tableno">${table_number}</span>
        </div>
        {{ '{{' }}/if{{ '}}' }}
        {{ '{{' }}if to_go{{ '}}' }}
        <span class="badge badge-important full">{% trans %}to go{% endtrans %}</span>
        {{ '{{' }}/if{{ '}}' }}
		{{ '{{' }}if service == 'counter' != to_go{{ '}}' }}
        <span class="badge badge-success full">{% trans %}to stay{% endtrans %}</span>
        {{ '{{' }}/if{{ '}}' }}
        {{ '{{' }}if delivery_name{{ '}}' }}
        <div class="full"><span class="badge badge-important address-badge"><i class="icon-map-marker icon-white"></i> ${delivery_city}...</span></div>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    <td class="served">
        ${time_completed}
        <div class="full ordertime">{% trans %}Ordered{% endtrans %} ${time_created}</div>
    </td>
    <td class="orderitems">
        <div class="summary">
            {{ '{{' }}if items_length == 1{{ '}}' }}
                {{ '{{' }}each items{{ '}}' }}
                ${$value.quantity} &times; ${$value.name},
                {{ '{{' }}/each{{ '}}' }}
            {{ '{{' }}else{{ '}}' }}
                ${total_quantity} {% trans %}items{% endtrans %},
            {{ '{{' }}/if{{ '}}' }}
            ${total_incl_tax}
        </div>
        <ul class="unstyled full">
        {{ '{{' }}each items{{ '}}' }}
        <li><strong>${$value.category_name}:</strong><br><span class="pull-right">${$value.total_incl_tax}</span>
            ${$value.quantity} &times; ${$value.name}
            {{ '{{' }}if $value.options !== undefined && 'length' in $value.options && $value.options.length{{ '}}' }}
            <ul class="unstyled item-options">
            {{ '{{' }}each $value.options{{ '}}' }}
            <li>
                <span class="label label-info">${$value.option_name}</span>
                {{ '{{' }}html $value.values.join(" + "){{ '}}' }}
            </li>
            {{ '{{' }}/each{{ '}}' }}
            </ul>
            {{ '{{' }}/if{{ '}}' }}
        </li>
        {{ '{{' }}/each{{ '}}' }}
        </ul>
		{{ '{{' }}if loyalty_code{{ '}}' }}
        <p class="comment"><span class="label label-info">{% trans %}Loyalty code{% endtrans %}</span> ${loyalty_code} (Discount: ${total_loyalty_discount_incl_tax_formatted})</p>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    <td>
        <button class="btn btn-print full" data-order="${key}">{% trans %}Print{% endtrans %}</button>
    </td> 
    <td class="moreinfo">
        <button class="btn btn-more summary"><i class="icon-plus"></i></button>
        <button class="btn btn-less full"><i class="icon-minus"></i></button>
    </td>
</tr>
</script>

<script id="empty-table-template" type="text/x-jquery-tmpl">
<tr class="no-orders-row"><td colspan="6" class="no-orders-msg">${msg}</td></tr>
</script>

<script id="empty-pending-open-template" type="text/x-jquery-tmpl">
<tr class="no-orders-row"><td colspan="6" class="no-orders-msg">
{% trans %}Waiting for new orders{% endtrans %}
</td></tr>
</script>

<script id="empty-pending-closed-template" type="text/x-jquery-tmpl">
<tr class="no-orders-row"><td colspan="6" class="no-orders-msg">
{% trans %}Closed for realtime orders – press Open to start{% endtrans %}
{% if bar.location.upcoming_events.count(limit=1) > 0 %}
<br/>{% trans %}Open for event preorders{% endtrans %}
{% endif %}
</td></tr>
</script>

<script id="waitingtime-description-template" type="text/x-jquery-tmpl">
{{ '{{' }}if min > 0{{ '}}' }}
{% trans %}${min} min.{% endtrans %}
{{ '{{' }}else{{ '}}' }}
{% trans %}unknown{% endtrans %}
{{ '{{' }}/if{{ '}}' }}
{{ '/' }}
{{ '{{' }}if min_delivery > 0{{ '}}' }}
{% trans %}${min_delivery} min.{% endtrans %}
{{ '{{' }}else{{ '}}' }}
{% trans %}unknown{% endtrans %}
{{ '{{' }}/if{{ '}}' }}
</script>

<script id="product-summary-row-template" type="text/x-jquery-tmpl">
<tr>
    <td>
        <strong>${ name }</strong>
        {{ '{{' }}if options !== undefined && 'length' in options && options.length{{ '}}' }}
        <ul class="unstyled item-options">
        {{ '{{' }}each options{{ '}}' }}
        <li>
            <span class="label label-info">${$value.option_name}</span>
            {{ '{{' }}html $value.values.join(" + "){{ '}}' }}
        </li>
        {{ '{{' }}/each{{ '}}' }}
        </ul>
        {{ '{{' }}/if{{ '}}' }}
    </td>
    <td>${ qty_pending }</td>
    <td>${ qty_preparing }</td>
    <td>${ qty_complete }</td>
</tr>
</script>

<script type="text/javascript">
var CSRF_TOKEN = '{{ csrf_token }}';
var emptyTableMessages = { 'table-pending' : '{% trans %}Waiting for new orders{% endtrans %}', 'table-preparing': '{% trans %}No orders being prepared{% endtrans %}', 'table-complete': '{% trans %}No completed orders{% endtrans %}' };
var CHANNEL_CLIENT_ID = '{{ client_id }}';
var BAR_ID = '{{ bar.key().id() }}';
var DEVICE = '{{ device }}';
var STATUS_LABELS = {
    'open' : "{% trans %}Open{% endtrans %}",
    'paused' : "{% trans %}Paused{% endtrans %}",
    'closed' : "{% trans %}Closed{% endtrans %}"
};
var STATUS_CLASSES = {
    'open' : "text-success",
    'paused' : "text-warning",
    'closed' : "text-error"
};
</script>


<div class="modal hide" id="confirmReject" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans %}Reject Order{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans %}Are you sure you want to reject this order? This action cannot be undone.{% endtrans %}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Keep Order{% endtrans %}</button>
        <button class="btn btn-danger btn-confirm-reject" data-order="">{% trans %}Reject Order{% endtrans %}</button>
    </div>
</div>

<div class="modal hide" id="edit-paused-msg" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans %}Message when paused{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <label for="input-paused-msg">{% trans %}Temporary message displayed to customers in app when paused for orders{% endtrans %}</label>
        <input type="text" id="input-paused-msg" class="input-modal-wide" name="message_when_paused" placeholder="{% trans %}Closed for orders{% endtrans %}"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %}</button>
        <button id="btn-save-paused-msg" class="btn btn-primary">{% trans %}Pause service with this message{% endtrans %}</button>
    </div>
</div>

<div class="modal hide" id="custom-waitingtime" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans %}Estimated Waiting Time{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <label for="input-custom-waitingtime">{% trans %}On location{% endtrans %}</label>
        <div class="input-append">
            <input type="text" id="input-custom-waitingtime" class="input-small" name="estimated_waiting_time" pattern="\d*" placeholder="{% trans %}Unknown{% endtrans %}" /><span class="add-on">{% trans %}min.{% endtrans %}</span>
        </div>
        <label for="input-custom-waitingtime-delivery">{% trans %}Address delivery{% endtrans %}</label>
        <div class="input-append">
            <input type="text" id="input-custom-waitingtime-delivery" class="input-small" name="estimated_waiting_time_delivery" pattern="\d*" placeholder="{% trans %}Unknown{% endtrans %}" /><span class="add-on">{% trans %}min.{% endtrans %}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %}</button>
        <button id="btn-save-waitingtime" class="btn btn-primary">{% trans %}Set Waiting Time{% endtrans %}</button>
    </div>
</div>

<div class="modal hide" id="confirmComplete" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans %}Complete Order{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <p><span class="label label-warning">{% trans %}Warning{% endtrans %}</span> {% trans %}Only use this if you are unable to complete the order from the customer's phone.{% endtrans %}</p>
        <label for="staffpin">{% trans %}Enter staff PIN to complete order manually.{% endtrans %}</label>
        <input id="staffpin" name="staffpin" type="text" class="input-small" maxlength="4" pattern="\d*" />
        <span class="label label-important" id="staffpin-error" style="display: none">{% trans %}Wrong PIN{% endtrans %}</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel-complete" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %}</button>
        <button class="btn btn-primary btn-confirm-complete" data-order="">{% trans %}Serve & Complete{% endtrans %}</button>
    </div>
</div>

<div class="modal hide" id="confirm-quit" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans %}Open for orders{% endtrans %}</h3>
{#        <h3 id="myModalLabel">{% trans %}Close for orders{% endtrans %}</h3>#}
    </div>
    <div class="modal-body">
        <p>{% trans %}Do you wish to keep the bar open and accept orders even though you are leaving this screen?{% endtrans %}</p>
{#        <p>{% trans %}Are you sure you want to stop accepting realtime orders and leave this screen?{% endtrans %}</p>#}
        <div id="noValidSchedulesErrorMessage" class="well alert-danger hide">
            <p>{% trans %}Not allowed - activate a custom schedule for menus in this bar.{% endtrans %}</p>
            <p>{% trans %}Please note that the bar must be opened manually for the next available timeslot.{% endtrans %}</p>
{#            <p>{% trans %}Ikke muligt - aktiver tidsskema under menu{% endtrans %}</p>#}
{#            <p>{% trans %}OBS, vær opmærksom på at baren skal åbnes manuelt igen for næste åbne tidsperiode{% endtrans %}</p>#}
        </div>
        <div id="unknownErrorMessage" class="well alert-danger hide">
            <p>{% trans %}Unknown error occurred{% endtrans %}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a id="btn-confirm-quit-stop-computer" class="btn btn-danger hide" href="{{ uri_for('dashboard') }}">{% trans %}Stop and leave{% endtrans %}</a>
        <a id="btn-confirm-quit-keep-open-computer" class="btn btn-success hide" href="{{ uri_for('dashboard') }}">{% trans %}Keep open and leave{% endtrans %}</a>
        <a id="btn-confirm-quit-stop-ipad" class="btn btn-danger hide" href="{{ uri_for('serve-bars') }}">{% trans %}Stop and leave{% endtrans %}</a>
        <a id="btn-confirm-quit-keep-open-ipad" class="btn btn-success hide" href="{{ uri_for('dashboard') }}">{% trans %}Keep open and leave{% endtrans %}</a>
    </div>
</div>

<div class="modal hide" id="product-summary" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans %}Product summary{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <table class="table" id="table-product-summary">
            <thead>
                <tr>
                    <th class="span6">{% trans %}Product{% endtrans %}</th>
                    <th>{% trans %}Pending{% endtrans %}</th>
                    <th>{% trans %}Preparing{% endtrans %}</th>
                    <th>{% trans %}Complete{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Close{% endtrans %}</button>
    </div>
</div>

<div class="modal hide" id="address-info" tabindex="-1">
    <div class="modal-body" id="address-summary">
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Close{% endtrans %}</button>
    </div>
</div>

<audio id="order-sound" src="/merchants/sounds/zerved_new_msg.wav"></audio>
<audio id="warning-sound" src="/merchants/sounds/zerved_splash_sound.wav"></audio>

</body>
</html>
