{% macro pendingpreparingtable(title, identifier) -%}
        <table class="table serve-orders" id="table-{{ identifier }}">
            <thead>
                <tr>
                    <th colspan="5">{{ title }} {% if identifier == "pending" %}<span id="n-rl-pending" style="display:none">(0)</span><span id="n-po-pending" style="display:none">(0)</span>{% else %}<span id="n-rl-preparing" style="display:none">(0)</span><span id="n-po-preparing" style="display:none">(0)</span>{% endif %}</th>
                </tr>
                
                <tr>
                    <td class="select-row" colspan="4">
                        <div class="btn-group pull-left">
                          <button class="btn btn-select-all">{% trans %}Select all{% endtrans %}</button>
                          <button class="btn btn-deselect-all">{% trans %}Deselect all{% endtrans %}</button>
                        </div>
                        {% if identifier == "pending" %}
                            <button disabled class="btn btn-primary pull-right" id="btn-prepare-selected"><i class="fa fa-refresh fa-spin"></i> {% trans %}Prepare selected{% endtrans %}</button>
                        {% else %}
                            <button disabled class="btn btn-success pull-right" id="btn-complete-selected"><i class="fa fa-refresh fa-spin"></i> {% trans %}Serve & Complete selected{% endtrans %}</button>
                            <button disabled class="btn pull-right" id="btn-cancel-selected"><i class="fa fa-refresh fa-spin"></i> {% trans %}Cancel selected{% endtrans %}</button>
                        {% endif %}
                        <p class="info text-error" style="display:none">{% trans %}Multiple actions is not allowed for the current selection{% endtrans %}</p>
                    </td>
                </tr>
                
                <tr class="subheader">
                    <td>{% trans %}Delivery{% endtrans %}</td>
                    <td>{% trans %}Serve To{% endtrans %}</td>
                    <td class="left">{% trans %}Items{% endtrans %}</td>
                    <td class="actions">{% trans %}Actions{% endtrans %}</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot style="display: none;">
            </tfoot>
        </table>
{% endmacro %}

{% macro pendingtable() -%}
	{{ pendingpreparingtable(_("Pending"), "pending") }}
{% endmacro %}

{% macro preparingtable() -%}
	{{ pendingpreparingtable(_("Preparing"), "preparing") }}
{% endmacro %}

{% macro completetable() -%}
        <table class="table serve-orders" id="table-complete">
            <thead>
                <tr>
                    <th colspan="5">{% trans %}Completed Orders (last 10){% endtrans %}</th>
                </tr>
                <tr class="subheader">
                    <td>{% trans %}Queue No.{% endtrans %}</td>
                    <td>{% trans %}Served{% endtrans %}</td>
                    <td class="left">{% trans %}Items{% endtrans %}</td>
                    <td>{% trans %}Actions{% endtrans %}</td>
                    <td class="actions">{% trans %}More{% endtrans %}</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
{% endmacro %}
