{% macro create_options_modal(product_index, option_index, option, left_button_mode) %}
    <div id="ze-modal-view-{{ product_index }}-{{ option_index }}" class="ze-modal-view ze-options-modal">
        {# Nav bar #}
        <div class="ze-nav-bar ze-has-right-button">
            {% if left_button_mode == 'cancel' %}
                <span class="ze-nav-bar-button ze-nav-bar-left-button" data-type="cancel">{% trans %}Cancel{% endtrans %}</span>
            {% elif left_button_mode == 'back' %}
                <span class="ze-nav-bar-button ze-nav-bar-left-button" data-type="back"><span class="fa fa-chevron-left"></span></span>
            {% endif %}
            <h1 class="ze-nav-bar-title">{{ option.name }}</h1>
            <span class="ze-nav-bar-button ze-nav-bar-right-button">{% trans %}Done{% endtrans %}</span>
        </div>

        {# Content #}
        <div class="ze-content-container">
            {# Table view #}
            <div class="ze-table-view-container">
                {% if option.selection_type == 'single' %}
                    {% if option.required %}
                        <div class="ze-table-view-section-header">{% trans %}Select one{% endtrans %}</div>
                    {% else %}
                        <div class="ze-table-view-section-header">{% trans %}Select one (optional){% endtrans %}</div>
                    {% endif %}
                {% else %}
                    {% if option.required %}
                        <div class="ze-table-view-section-header">{% trans %}Select at least one{% endtrans %}</div>
                    {% else %}
                        <div class="ze-table-view-section-header">{% trans %}Select one or more (optional){% endtrans %}</div>
                    {% endif %}
                {% endif %}
                {% for entry in option['values'] %}
                    <div class="ze-table-view-cell ze-label-value-cell" data-row="{{ loop.index0 }}">
                        <div class="ze-title">{{ entry.label }}</div>
                        <div class="ze-value">{{ entry.price_label }}</div>
                        <span class="ze-selection-indicator fa fa-check"></span>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endmacro %}