{% extends "iphone/base.html" %}
{% block title %}Recommend a Venue{% endblock %}
{% block content %}
<div id="page_wrapper">
    <div class="row center recommendavenue">
        <p><b>{% trans %}Thank you for your tip!{% endtrans %}</b></p>
        <p>{% trans %}We will get back to you if we need any more information :){% endtrans %}</p>
        <p><i>{% trans %}The Zerved team{% endtrans %}</i></p>
    </div>
</div>
{% endblock %}